<include file="Public/header" />
<title>论坛-建材装潢</title>
  <link rel="stylesheet" href="__PUBLIC__/css/bbs.css">
</head>
<body>
<!--页面头部-->
<!--<include file="Public/bbstop" />-->
<include file="Public/top" />
<!--主导航-->
<nav id="nav">
  <div class="breadcrumbs bbsbread">
    我的位置：<a href="/">首页</a><span>&nbsp;＞&nbsp;论坛</span>
  </div>
</nav>
<!--侧边栏-->
<!--主体内容-->
<section id="main">
  <div class="ctnLf lf">
    <div class="hotTitle clear">
      <div>
        <div class="lf clear topic">
          <a href="?filter=hot"><span class="hotTopic <if condition="$Think.get.filter eq 'hot'">topicColor</if>">热门话题</span></a>
          <b class="seperate"></b>
          <a href="?filter=recommend"><span class="selectedTopic <if condition="$Think.get.filter eq 'recommend'">topicColor</if>">精选话题</span></a>
        </div>
        <ul>
          <li class="issueTopic topicColor rt"><a href="{:U('Home/Bbs/Post')}">发表帖子</a></li>
        </ul>
      </div>
    </div>

    <volist name="bbses" id="vo">    
    <ul class="topicList">
      <li class="topicTitle"><a href="{:U('Home/Bbs/Show', array('id'=>$vo['id']))}">{$vo.title}</a></li>
      <li class="topicName ">版主：{$vo.name}</li>
      <li class="topicTime">
        {$vo.changed|date='m月d号 H:i',###}
      </li>
      <li class="topicShare "><span class="hidden-xs">{$vo.viewnum}</span></li>
      <li class="topicComments "><span class="hidden-xs">{$vo.commentnum}</span></li>
      <li class="topicLikes "><span class="hidden-xs">{$vo.collectnum}</span></li>
    </ul>
    </volist>

    <div class="moreStyle">
      {$page}
    </div>
    <div class="returnHome">
      <a href="/"> 返回首页</a>
    </div>
  </div>
  <div class="ctnRt rt hidden-xs">
    <div class="asideBox">
      <div class="clear titleWrapper">
        <h2 class="asideBoxTitle lf">论坛公告</h2>
      </div>
      <ul class="hotSearch">
      <volist name="notices" id="vo">    
        <li><a href="{:U('/Home/Bbs/Notice', array('id'=>$vo['id']))}">{$vo.title}</a></li>
        </volist>
      </ul>
    </volist>
      <div class="forcus clear">
        <div class="btnHalf lf">
          <span class="weibo btnForcus">
            <span class="plusForcus" style="background: url('__PUBLIC__/images/bbs/diz_weibo.png') no-repeat center left">+关注</span>
            <div class="bbsdetailBtn">装修论坛</div>
          </span>
        </div>
        <div class="btnHalf lf">
          <span class="weibo btnForcus">
            <span class="plusForcus" style="background: url('__PUBLIC__/images/bbs/diz_heart.png') no-repeat center left"></span>
            <div class="bbsdetailBtn"><a href="{:U('/Home/Bbs/Mine')}">我的帖子</a></div>
          </span>
        </div>
      </div>
    </div>
    <div class="asideBox">
      <div class="clear titleWrapper">
        <h2 class="asideBoxTitle lf">广告专区</h2>
      </div>
      <div class="addImg"><a href="javascript:;"><img src="__PUBLIC__/images/bbs/diz_adds.png" alt=""></a></div>
      <div class="addImg"><a href="javascript:;"><img src="__PUBLIC__/images/bbs/diz_adds.png" alt=""></a></div>
    </div>
  </div>
</section>
<!--页面底部-->
<include file="Public/bottom" /> 

<include file="Public/footer" />
