<include file="Public/header" />
<title>{$notice.title}-论坛-建材装潢</title>
<link rel="stylesheet" href="__PUBLIC__/css/bbs.css">
<!--[if lt IE 9]>
  <script src="__PUBLIC__/js/html5shiv.min.js"></script>
  <script src="__PUBLIC__/js/respond.min.js"></script>
  <![endif]-->
</head><body>
<!--页面头部-->
<include file="Public/top" />
<!--搜索框-->
<div id="top-main"> <img src="__PUBLIC__/images/bbs/bbs-banner.png" alt=""> </div>
<!--主体内容-->
<section id="main">
  <div class="ctnLf lf" style="width: 80%">
    <div class="breadcrumbs"> 我的位置：<a href="/">主页</a>&nbsp;＞&nbsp;<a href="{:U('Home/Bbs/Index')}">论坛</a> &nbsp;＞&nbsp;<span>公告详情</span> </div>
    <div class="topTitle"> {$notice.title} </div>
    
    
    <div class="bbsMsg">
      <div class="msgDetail">
        <p style="font-size:16px;margin-bottom:10px;"><span><?php echo nl2br($notice['content']);?></span> </p>
       
      </div>
    </div>
    
    
    <div class="returnHome"> <a href="/">返回首页</a> </div>
  </div>
  <div class="ctnRt rt hidden-xs" style="width: 19%">
    <div class="asideBox">
      <div class="clear titleWrapper">
        <h2 class="asideBoxTitle lf">热点话题</h2>
      </div>
      <!--div class="bbsAdds lf"><img src="__PUBLIC__/images/bbs/bbs-add-1.png" alt=""></div>
      <div class="bbsAdds lf"><img src="__PUBLIC__/images/bbs/bbs-adds-2.png" alt=""></div-->
      <div> 话题 <a class="rt" href="{:U('Home/Bbs/Index')}">更多</a> </div>
      <ul class="hotSearch">
      <foreach name="bbses" item="v" key="k">
        <li>{$k+1}.<a href="{:U('/Home/Bbs/Show', array('id'=>$v['id']))}">{:mb_substr($v['title'],0,16)}</a></li>
        </foreach>
      </ul>
    </div>
    <div id="lfSideBar" class=" lf clear hidden-xs">
      <div class="subSideLeft">
        <div class="subSideTitle">
          <h1>猜你爱看</h1>
          <!--a href="#" class="rt titleChange">换一下</a--> </div>
        <div class="subSideMain">
          <ul class="subSideList clear">
          <foreach name="newsTypes" item="v" key="k">
            <li class="<if condition="$k eq 0">current</if> seltype" vle="{$k}">{$v.name}</li>
            </foreach>         
          </ul>
          <foreach name="news" item="secnews" key="k">
          <div class="subSideDetail optype" <if condition="$k gt 0">style="display:none;"</if>>
            <ul class="subDetail-1">
            <foreach name="secnews" item="v" key="seck">
            <if condition="$seck eq 0">
              <li><a href="{$v.url}" target="_blank" class="lf subDetail-top"><img src="__PUBLIC__/{$v.picture}" style="width:75px;height:55px;"></a> 
              <a href="{$v.url}" target="_blank">{:mb_substr($v['title'],0,26)}</a></li>
            <else/>
            <li><a href="{$v.url}" target="_blank">{$seck}.{:mb_substr($v['title'],0,16)}</a></li>
            </if>
            </foreach>  
            </ul>
          </div>
          </foreach>
          
        </div>
      </div>
      <div class="subSideLeft">
        <div class="subSideTitle">
          <h1>热点</h1>
        </div>
        <div class="subSideMain">
          <ul class="subSideList clear">
            <foreach name="entTypes" item="v" key="k">
            <li class="<if condition="$k eq 0">current</if> seltype1" vle="{$k}">{$v.name}</li>
            </foreach>
          </ul>
          <foreach name="ents" item="secent" key="k">
          <div class="subSideDetail optype1" <if condition="$k gt 0">style="display:none;"</if>>
            <ul class="subDetail-1">
            <foreach name="secent" item="v" key="seck">
            <if condition="$seck eq 0">
              <li><a href="{$v.url}" target="_blank" class="lf subDetail-top"><img src="__PUBLIC__/{$v.picture}" style="width:194px;height:60px"></a></li>
              <else/>
            <li><a href="{$v.url}" target="_blank">{$seck}.{:mb_substr($v['title'],0,16)}</a></li>
            </if>
            </foreach> 
            </ul>
          </div>
          </foreach>
        </div>
      </div>
    </div>
  </div>
</section>
<!--页面底部-->
<include file="Public/bottom" />
<script>
$(function(){
	$('.seltype').click(function() {
	    var i = Number($(this).attr('vle'));
	    $(".optype").each(function(index, ele) {
	      if(i == index) {
	        $(ele).show();
	      } else $(ele).hide();
	    });
	    
	  });
	
	$('.seltype1').click(function() {
	    var i = Number($(this).attr('vle'));
	    $(".optype1").each(function(index, ele) {
	      if(i == index) {
	        $(ele).show();
	      } else $(ele).hide();
	    });
	    
	 });
})
</script>
<include file="Public/footer" />