<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>权限管理>添加角色</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Rbac/index')}" class="ul_button">返回</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="add">
        <form action="{:U('Admin/Rbac/addRoleHandle')}" method="post">
            <ul class="add_blank">
                <li><div class="blank_left"><span class="blank_color">*</span>角色名称</div><div class="blank_right"><input type="text" name="name" class="ul_text"/>&nbsp;<span class="blank_color">使用字母单词表示</span></div><div class="fn-clear"></div></li>
                <li><div class="blank_left"><span class="blank_color">*</span>角色描述</div><div class="blank_right"><input type="text" name="remark" class="ul_text"/>&nbsp;<span class="blank_color">使用汉字表示</span></div><div class="fn-clear"></div></li>
                <li><div class="blank_left">是否启用</div><div class="blank_right">
                <input type="radio" name="status" value="1"  class="ul_middle" checked="checked"/>&nbsp;开启&nbsp;&nbsp;<input type="radio" name="status" value="0" class="ul_middle" />&nbsp;关闭
                </div><div class="fn-clear"></div></li>

                <li class="ul_word"><input type="submit" class="ul_add" value="保存"/><input type="button" class="ul_cancel"  onclick="history.go(-1);"  value="取消"/></li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>