<include file='Common:top'/>

<script type="text/javascript">
    $(function () {
        $('.add-role').click(function () {
            var obj = $(this).parents('li').clone();
            obj.find('.add-role').remove();
            $('#last').before(obj);
        });
    });
</script>

</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>权限管理>添加管理员</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Rbac/index')}" class="ul_button">返回</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="add">
        <form action="{:U('Admin/Rbac/addUserHandle')}" method="post">
            <ul class="add_blank">
                <li><div class="blank_left"><span class="blank_color">*</span>登录账号</div><div class="blank_right"><input type="text" name="email" class="ul_text" value="{$user.email}"/>&nbsp;<span class="blank_color">管理员的登录账号</span></div><div class="fn-clear"></div></li>
                <li><div class="blank_left"><span class="blank_color">*</span>昵称</div><div class="blank_right"><input type="text" name="name" class="ul_text" value="{$user.name}"/>&nbsp;<span class="blank_color">管理员昵称</span></div><div class="fn-clear"></div></li>

                <li><div class="blank_left"><span class="blank_color">*</span>{$type}登录密码</div><div class="blank_right"><input type="password" name="password" class="ul_text" />&nbsp;<span class="blank_color">登录密码</span></div><div class="fn-clear"></div></li>
                <li><div class="blank_left">是否启用</div><div class="blank_right">
                    <input type="radio" name="status" value="1"  class="ul_middle" checked="checked"/>&nbsp;开启&nbsp;
                    &nbsp;<input type="radio" name="status" value="0" class="ul_middle" />&nbsp;关闭


                </div><div class="fn-clear"></div></li>

                <!--<li><div class="blank_left"><span class="blank_color">*</span>{$type}所属角色</div><div class="blank_right">-->
                    <!--<select name="role_id[]">-->
                        <!--<option value="">请选择角色</option>-->
                        <!--<foreach name="role" item="v">-->
                            <!--<option value="{$v['id']}">{$v.name}({$v.remark})</option>-->
                        <!--</foreach>-->
                    <!--</select>-->
                    <!---->
                    <!--&nbsp;-->
                    <!--<span class="blank_color add-role" style="cursor: pointer;border: 1px solid blue;border-radius: 5px;" >添加一个角色</span></div><div class="fn-clear"></div></li>-->

                <li class="ul_word" id="last">
                    <input type="hidden" name="id" value="{$user.id}">
                    <input type="submit" class="ul_add" value="添加"/>
                    <input type="button" class="ul_cancel"  onclick="history.go(-1);"  value="取消"/>
                </li>
            </ul>
        </form>
    </div>
    <p>添加说明：添加应用时填写的是后台、前端的名称，如Admin/Home，控制器是指IndexController.class.php中的Index,动作方法是控制器中的方法</p>
</div>
</body>
</html>