<include file='Common:top'/>

<script type="text/javascript">
    $(function () {
        $('.add-role').click(function () {
            var obj = $(this).parents('li').clone();
            obj.find('.add-role').remove();
            $('#last').before(obj);
        });
    });
</script>

</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>权限管理>修改密码</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Rbac/index')}" class="ul_button">返回</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="add">
        <form action="{:U('Admin/Rbac/changePwd')}" class="js-form" method="post">
            <ul class="add_blank">
                <li><div class="blank_left"><span class="blank_color"></span>登录账号</div><div class="blank_right"><input type="text" name="email" class="ul_text" readonly="readonly" value="{$user.email}"/>&nbsp;<span class="blank_color">管理员的登录账号</span></div><div class="fn-clear"></div></li>
                <li><div class="blank_left"><span class="blank_color"></span>昵称</div><div class="blank_right"><input type="text" name="name" class="ul_text" readonly="readonly" value="{$user.name}"/>&nbsp;<span class="blank_color">管理员昵称</span></div><div class="fn-clear"></div></li>

                <li><div class="blank_left"><span class="blank_color">*</span>{$type}原密码</div><div class="blank_right"><input type="password" name="password" class="ul_text js-password" />&nbsp;<span class="blank_color">原密码</span></div><div class="fn-clear"></div></li>
                <li><div class="blank_left"><span class="blank_color">*</span>{$type}登录密码</div><div class="blank_right"><input type="password" name="newpwd" class="ul_text js-newpwd" />&nbsp;<span class="blank_color">新密码</span></div><div class="fn-clear"></div></li>
                <li><div class="blank_left"><span class="blank_color">*</span>{$type}确认密码</div><div class="blank_right"><input type="password" name="repwd" class="ul_text js-repwd" />&nbsp;<span class="blank_color">确认密码</span></div><div class="fn-clear"></div></li>
                <!--<li><div class="blank_left"><span class="blank_color">*</span>{$type}所属角色</div><div class="blank_right">-->
                    <!--<select name="role_id[]">-->
                        <!--<option value="">请选择角色</option>-->
                        <!--<foreach name="role" item="v">-->
                            <!--<option value="{$v['id']}">{$v.name}({$v.remark})</option>-->
                        <!--</foreach>-->
                    <!--</select>-->
                    <!---->
                    <!--&nbsp;-->
                    <!--<span class="blank_color add-role" style="cursor: pointer;border: 1px solid blue;border-radius: 5px;" >添加一个角色</span></div><div class="fn-clear"></div></li>-->

                <li class="ul_word" id="last">
                    <input type="hidden" class="js-id" name="id" value="{$user.id}">
                    <input type="button" class="ul_add js-sub" value="确认修改"/>
                    <input type="button" class="ul_cancel"  onclick="history.go(-1);"  value="取消"/>
                </li>
            </ul>
        </form>
    </div>
    <p>添加说明：添加应用时填写的是后台、前端的名称，如Admin/Home，控制器是指IndexController.class.php中的Index,动作方法是控制器中的方法</p>
</div>
</body>
<script>
    $(function(){
        $(".js-sub").click(function(){
            var id = $('.js-id').val();
            var password = $('.js-password').val();
            var newpwd = $(".js-newpwd").val();
            var repwd = $(".js-repwd").val();
            if(id==''){
                alert('参数错误');
                return false;
            }
            var flag = true;
            var msg = '';
            if(password==''){
                flag = false;
                msg+='原密码,';
            }
            if(newpwd==''){
                flag = false;
                msg+='新密码,';
            }
            if(!flag){
                msg.replace(/(^,*)|(,*$)/g,'');
                msg+='不能为空';
                alert(msg);
                return false;
            }
            if(newpwd.length<6){
                alert('密码长度不能小于6位');
                return false;
            }else if(newpwd!=repwd){
                alert('密码前后不一致');
                return false;
            }
            $(".js-form").submit();
        });
    });
</script>
</html>