<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>权限管理>用户列表</h1>
        </div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
            <!--<a href="{:U('Admin/Role/add', array('rpid' => $date['id'],'uid' => $_SESSION[C('USER_AUTH_KEY')]))}" class="ul_button">添加用户组</a>-->
            <!--<a href="{:U('Admin/Node/index')}" class="ul_button">权限设置</a>-->
            <!--<a href="#" onclick="del();" class="ul_button">删除用户组</a>-->
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="template_middle">
        <table class="ul_table">
            <tbody class="ul_table">
            <tr class="ul_box">
            	<th style="width:5%">ID</th>
                <th style="width:10%">用户账号</th>
                <th style="width:10%">用户昵称</th>
                <th style="width:15%">上一次登录时间</th>
                <th style="width:15%">上一次登录ip</th>
                <th style="width:10%">开启状态</th>
                <th style="width:20%">用户所属别组</th>
                <th style="width:10%">操作</th>


            </tr>
                <foreach name="sysuser" item="v">
                    <tr class="ul_box1">
                        <td>{$v.id}</td>
                        <td>{$v.email}</td>
                        <td>{$v.name}</td>
                        <td>{$v.logined|date='y-m-d H:i',###}</td>
                        <td>{$v.ip}</td>
                        <td><if condition="$v['status']">开启<else/>关闭</if></td>
                        <td>
                            <if condition="$v['email'] eq C('RBAC_SUPERADMIN')">
                                超级管理员
                            <else/>
                                <ul>
                                    <foreach name="v.role" item="value">
                                        <li>{$value.name}({$value.remark})</li>
                                    </foreach>
                                </ul>
                            </if>
                        </td>
                        <td>
                            <if condition="$v['status']">
                                <a href="{:U('Admin/Rbac/changeStatus',array('id'=>$v['id'],'status'=>0))}">屏蔽</a>
                            <else/>
                                <a href="{:U('Admin/Rbac/changeStatus',array('id'=>$v['id'],'status'=>1))}">开启</a>
                            </if>
                            <if condition="$v.email neq 'admin'">
                                <a class="js-del-sysuser" href="{:U('Admin/Rbac/delUser',array('id'=>$v['id']))}">删除</a>
                            </if>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
</body>
</html>