<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>权限管理>节点列表</h1>
        </div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
            <!--<a href="{:U('Admin/Role/add', array('rpid' => $date['id'],'uid' => $_SESSION[C('USER_AUTH_KEY')]))}" class="ul_button">添加用户组</a>-->
            <!--<a href="{:U('Admin/Node/index')}" class="ul_button">权限设置</a>-->
            <!--<a href="#" onclick="del();" class="ul_button">删除用户组</a>-->
        </div>
        <div class="fn-clear"></div>
    </div>
    <div id="wrap">
        <a href="{:U('Admin/Rbac/addNode')}">添加应用</a>
        <foreach name="node" item="app">
            <div class="app">
                <p>
                    <strong>{$app.title}</strong>
                    【<a href="{:U('Admin/Rbac/addNode',array('pid'=>$app['id'],'level'=>2))}">添加控制器</a>】
                    【<a href="">修改</a>】
                    【<a href="">删除</a>】
                </p>

                <foreach name="app.child" item="action">
                    <dl>
                        <dt>
                            <strong>{$action.title}</strong>
                            【<a href="{:U('Admin/Rbac/addNode',array('pid'=>$action['id'],'level'=>3))}">添加方法</a>】
                        </dt>
                        <foreach name="action.child" item="method">
                            <dd>
                                <span>{$method.title}</span>
                                【<a href="">修改</a>】
                                【<a href="">删除</a>】
                            </dd>
                        </foreach>
                    </dl>
                </foreach>
            </div>
        </foreach>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
</body>
</html>