<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/personal.css">
    <title>我的维币</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<!--维沃柯首页-->
<!--header登录注册-->
<include file="Public/top"/>
<!--header logo end-->
<!--导航条-->
<include file="Public/nav"/>
<!--导航条 end-->
<!--图片轮播-->
<div class="carousel slide" id="myCarousel">
    <ol class="carousel-indicators icon">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner imgco">
        <div class="item active">
            <img src="__PUBLIC__/images/personal/banner.png" alt="banner"/>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel"  data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel"  data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--图片轮播 end-->

<!--主要内容部分 start-->
<section>
    <div class="main">
        <!--左边导航-->
        <div class="leftNav">
            <ul>
                <if condition="$Think.session.userinfo.role eq 1">
                    <li ><a class="poi g3c" href="{:U('Home/User/editInfo')}">用户资料</a></li>
                    <else/>
                    <li class="poi g3c"><a class="g3c"  href="{:U('Home/Company/editComInfo')}">企业资料</a></li>
                </if>
                <li ><a class="poi g3c" href= "{:U('Home/Activity/activityMange')}" >活动管理</a></li>
                <li ><a class="poi g3c" href="{:U('Home/Order/orderMange')}" >订单管理</a></li>
                <li ><a class="b9a poi wh" href="{:U('Home/Vcoin/myWallet')}">我的维币</a></li>
            </ul>
        </div>
        <!--右边切换-->
        <div class="rightTab ">
            <div class="tabTitle ">
                <p class=" b rel lastBottom">
                    <span class="actLi g9a poi">我的维币</span>
                    <span class="actLi g9 poi">维币充值</span>
                </p>
            </div>
            <div class="tabDetail signMangeTab getMemory payMoney">
                <p class="walletPro">
                    维币: <span class="sumWei">{$Think.session.userinfo.name|getVcoin=###}</span>
                    <span class="actLi g9 poi" >立即充值</span>
                </p>
                <table class="table myWallet actMangeTab ">
                    <tr><td class="" colspan="6" >维币获得记录</td></tr>
                    <tr class="bgf0 orderFirst">
                        <td>操作</td><td >主办方</td><td >详情</td><td >维币个数</td><td>时间</td>
                    </tr>
                    <foreach name="log" item="v">
                        <tr>
                            <td >
                                {$v.action}
                            </td>
                            <td>发布者</td>
                            <td >{$v.organizer}</td>
                            <td >{$v.value}</td>
                            <td>
                                {$v.created|date='Y-m-d H:i:s',###}
                            </td>
                        </tr>
                    </foreach>
                </table>
                <form class="actMangeTab recharge dn js-wx-form" action="{:U('Home/Vcoin/buyVcoin')}" method="post" >
                    <div class="payStyle">
                        <span class="before">支付方式：</span>
                    <!--<span class="payDetail ">-->
                        <!--<img src="__PUBLIC__/images/personal/pay_zhi.png" alt="支付宝" title="支付宝"/>-->
                        <span class="select rel selected"></span>
                        <img class="wei" src="__PUBLIC__/images/personal/pay_wei.png" alt="微信" title="微信"/>
                        <span class="select rel"></span>
                    </span>
                    </div>
                    <div>
                        <span class="before">充值 :</span>
                        <span class="needMoney">
                            <input id="vbi" class="weiSelect js-vcoin" name="num" placeholder="最低充值10元" type="text"/>
                            <input class="weiSelect" name="type" value="1" type="hidden"/>
                            <input class="js-user-name" value="{$Think.session.userinfo.name}" type="hidden"/>
                            <span class="weibi rel">元</span>
                            <span class=" rel">共 <span id="rmb" class="RMB js-rmb"> 0</span>维币</span>
                        </span>
                        <span class="js-alert db" style="color:red;margin-left: 60px;"></span>
                    </div>
                        <p class="payDetail gc RMBPro" >
                            人民币  0.1 元 = 1 维币  最低10元起充
                        </p>
                    <div class="submit">
                        <input class="b9a wh load js-pay-sub" type="button" value="立即付款"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--主要内容部分 end-->
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<script src="__PUBLIC__/scripts/distpicker.data.js"></script>
<script src="__PUBLIC__/scripts/distpicker.js"></script>
<script src="__PUBLIC__/scripts/personal.js"></script>
<script type="text/javascript">
    $(function(){
       $(".js-vcoin").blur(function(){
           //获取充值现金
            var num = $(this).val();
           //取小说的后2位
           num = Number(num).toFixed(2);
           //为空或者为0报错
           if(num==0||isNaN(num)){
               $('.js-alert').text("金额有误");
               $(".js-pay-sub").attr('disabled',true);
           }else if(num<10){
               //充值小于100提示
//               alert("充值金额不能小于10元");
               $('.js-alert').text("充值金额不能小于10元");
               $(this).val(num);
               $(".js-pay-sub").attr('disabled',true);
           }else{
               $(this).val(num);
               $('.js-alert').text("");
               $(".js-pay-sub").attr('disabled',false);
           }
       });
//        提交购买申请
        $(".js-pay-sub").click(function(){
//            alert("正在开发中");
//            return false;
            //获取充值现金金额
            var num = $(".js-vcoin").val();
            var name = $(".js-user-name").val();
            if(name==''){
                alert("请先登录");
                return false;
            }
            //取小说的后2位
            num = Number(num).toFixed(2);
            if(num==0||num<10||isNaN(num)){
                alert("金额有误");
                $(".js-vcoin").focus();
                return false;
            }else{
                $(".js-vcoin").val(num);
                $(".js-wx-form").submit();
//                $.post("{:U('Home/Vcoin/buyVcoin')}",{'num':num},function(data){
//                    if(data.status==1){
//                        alert(data.msg);
//                        window.location.href="{:U('Home/Vcoin/myWalletSuccess')}";
//                    }else{
//                        alert(data.msg);
//                    }
//                });
            }
        });
    });
    $('.leftNav li:nth-child(4) a').hover(function () {
        $(this).css('color','#fff');
    });
//    单位换算
    $('#vbi').keyup(function () {
        var num=parseInt($(this).val())*10;
        if(!isNaN(num)){
            $('#rmb').text(num);
        }
    })
</script>
</body>
</html>