<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/personal.css">
    <title>我的维币-支付成功</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <include file="Public/top1"/>

</div>
<section>
    <div class="main">
        <div class=" payMoney paySuccess bgwh">
            <div class="tabDetail g6">
                <div>
                    <img src="__PUBLIC__/images/personal/pay_success.png" alt=""/>
                </div>
                <p class="g3">维币充值成功！</p>
                <div>
                    <input class="wh b9a bdn backWallet" type="button" value='回到 "我的维币"'/>
                </div>
            </div>
        </div>
    </div>
</section>
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<script src="__PUBLIC__/scripts/distpicker.data.js"></script>
<script src="__PUBLIC__/scripts/distpicker.js"></script>
<script src="__PUBLIC__/scripts/personal.js"></script>
</body>
</html>