<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/postDetails.css">
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
<!--分享-->
<script src="__PUBLIC__/scripts/ZeroClipboard.js"></script>
<script src="__PUBLIC__/scripts/base.js"></script>
<script src="__PUBLIC__/scripts/postDetails.js"></script>
<!--微信分享显示图片描述的配置-->
<script>
    $(function(){
        var description = $("meta[name=description]");
        var desc = description.attr("content");
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '<?php echo $signPackage["appId"];?>', // 必填，公众号的唯一标识
            timestamp: '<?php echo $signPackage["timestamp"];?>', // 必填，生成签名的时间戳
            nonceStr: '<?php echo $signPackage["nonceStr"];?>', // 必填，生成签名的随机串
            signature: '<?php echo $signPackage["signature"];?>',// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone','startRecord', 'stopRecord','onVoiceRecordEnd'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function () {
            // 在这里调用 API
            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: '{$article.title}', // 分享标题
                link:"http://www.91wework.com/index.php/Home/Article/articleDetails/id/{$article.articleid}/fromid/{$info.uid}", // 分享链接
                imgUrl: "http://www.91wework.com/Public{$article.picture}", // 分享图标
                success: function () {
                    share();
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            //分享给微信好友
            wx.onMenuShareAppMessage({
                title: '{$article.title}', // 分享标题
                desc:desc, // 分享描述
                link: "http://www.91wework.com/index.php/Home/Article/articleDetails/id/{$article.articleid}/fromid/{$info.uid}", // 分享链接
                imgUrl: "http://www.91wework.com/Public{$article.picture}", // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    share();
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
        var share =  function(){
            var id = $(".js-arc-id").val();
//            if(user==''){
//                alert("请先登录");
//                return false;
//            }
//            alert(id);
            if(id==''||id==undefined){
                alert("参数错误");
                return false;
            }
            $.post("{:U('Home/Article/addshare')}",{id:id},function(data){
                if(data.status==1){
//                        alert(data.msg);
//                $(this).attr("disabled",true);
//                setTimeout($('.js-share').attr("disabled",false),6000);
                }else{
//                        alert(data.msg);
                }
            });
        }
    });
</script>
<!--微信分享显示图片描述的配置-->
    <title>{$article.title}</title>
<meta name="description" content="{:mb_substr($article['intro'],0,200)}" />
</head>
<body class="articleDetails">
<!--帖子详情articleDetails-->
<!--header登录注册-->
<include file="Public/top"/>
<!--header logo end-->
<!--导航条-->
<include file="Public/nav"/>
<!--导航条 end-->
<!--content-->
<div class="content fn-clear">
    <div class="contentL l bgwh">
        <div class="title">
            <h3 class="g3c">{$article.title}</h3>
            <h4 class="g8c f12">本帖子由{$article.author}于{$article.created|date='Y-m-d',###}编辑完成</h4>
            <ul class="interaction hidden-xs">
                <li class="dib f12 g8c">
                    <label for="see">浏览</label>
                    <span id="see">{$article.browsenum}&nbsp&nbsp|</span>
                </li>
                <li class="dib f12 g8c">
                    <label for="comment">&nbsp&nbsp评论</label>
                    <span id="comment">{$article.commentNum}</span>
               </li>
                <if condition="$article.type eq 2">
                    <li class="dib f12 g8c">
                        <label for="vcoin">|&nbsp&nbspV币</label>
                        <span id="vcoin">{$article.vcoin}</span>
                    </li>
                </if>
            </ul>
            <div id="edit" class="tc">{$article.content}</div>
            <div class="g3c">
                <p value="{$article.articleid}" class="dib collect <if condition="$article.collect eq 1">collect-green</if>">
                <if condition="$article.collect eq 1">
                    已收藏&nbsp;
                    <else/>
                    收藏&nbsp;
                </if>
                </p>
                <div class="share-platform dib fn-clear">
                    <p class="dib l">分享：</p>
                    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare bdsharebuttonbox dib" data="{'url':<?php echo 'http://'.$_SERVER['SERVER_NAME'].':'.$_SERVER['SERVER_PORT'].$_SERVER['REQUEST_URI'].'/fromid/'.$info['uid']; ?>,'title':'<?php echo $article['title'] ?>','pic':'<?php echo 'http://106.14.65.213/Public/'.$article['picture'] ?>'}">
                        <a href="javascript:;" class="bds_weixin js-share" data-cmd="weixin" title="分享到微信"></a>
                        <a href="javascript:;" class="bds_tsina js-share" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="javascript:;" class="bds_qzone js-share" data-cmd="qzone" title="分享到QQ空间"></a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div>
            <table class="pinghuifu">
                <foreach name="comments" item="vo" key="k">
                    <tr>
                        <td valign="top"  align="left" >
                            <div class="pl-touxang">
                                <if condition="$vo.avatar eq ''">
                                    <img src="__PUBLIC__/images/postDetails/header.png" alt="">
                                    <else/>
                                    <img src="__PUBLIC__{$vo.avatar}" alt="">
                                </if>
                            </div>
                        </td>
                        <td valign="top" class="commentTitle">
                            <h5 class="dib g3c">{$vo.name}</h5>
                            <i class="dib time">{$vo.created|date='Y-m-d',###}</i>
                            <p class="phPar g8c">{$vo.content}</p><!--phPar/-->
                            <foreach name="vo.reply" item="val">
                                <p>{$val.content}</p>
                            </foreach>
                            <if condition="$replyStatus eq 1">
                                <div class="g8c">
                                    <div class="huifu-s dib">
                                        <span class="re-show">回复</span>
                                        <span class="re-hide">收起回复</span>
                                    </div><!--huifu-s/-->
                                    <div value="{$vo.commentid}" user="{$Think.session.userinfo.name}" class="dib js-support support <if condition="$vo.support neq 0">support-green</if> ">支持</div>
    </div>
                            </if>
                            <div class="reply">
                                <form action="#" method="">
                                    <input type="hidden" value="{$vo.commentid}" user="{$Think.session.userinfo.name}" class="js-hufui-id" name="commentid"/>
                                    <textarea class="hfCon"></textarea>
                                    <div class="re-tijiao">
                                        <input class="b9a wh submitHF" type="button" value="提交回复" />
                                    </div><!--re-tijiao/-->
                                </form>
                            </div><!--reply/-->
                        </td>
                    </tr>
                </foreach>
        <tr style="display: none;">
            <td valign="top"  align="left" >
                <div class="pl-touxang"><img src="__PUBLIC__{$avatar.avatar}"/></div>
            </td>
            <td valign="top" class="commentTitle">
                <h5 class="dib g3c">{$Think.session.userinfo.name}</h5>
                <i class="dib time"></i>
                <p class="phPar g8c"></p><!--phPar/-->
                <div class="g8c">
                    <!--<div class="huifu-s dib">-->
                        <!--<span class="re-show">回复</span>-->
                        <!--<span class="re-hide">收起回复</span>-->
                    <!--</div>-->
                    <!--<div value="" user="$Think.session.userinfo.name}" class="dib js-support support <if condition="$vo.support neq 0">support-green</if> ">支持</div>-->
    </div>
    <div class="reply">
        <form action="#" method="get">
            <textarea class="hfCon"></textarea>
            <div class="re-tijiao">
                <input class="b9a wh submitHF" type="button" value="提交回复" />
            </div><!--re-tijiao/-->
        </form>
    </div><!--reply/-->
    </td>
    </tr>
            </table>
            <form action="{:U('Home/Article/comment')}" method="post" class="tjpl-form">
                <input type="hidden" class="js-arc-id" name="id" value="{$article.articleid}"/>
                <input type="hidden" class="js-user" name="user" value="{$Think.session.userinfo.name}"/>
                <textarea class="text"></textarea>
                <div class="tjpl">
                    <input class="b9a wh submitPL" type="button" value="发表评论" />
                </div><!--tjpl/-->
            </form>
        </div>
    </div>
    <div class="contentR r">
        <if condition="$type neq 1">
            <a href="javascript:;" class="post bgwh db js-post">
                <input class="js-user" type="hidden" value="{$Think.session.userinfo.name}">
                <input class="g9a wh" type="text" value="发帖" readonly="readonly">
            </a>
        </if>
        <div class="g3c bgwh case hidden-xs hidden-sm">
            <h3 class="rel">热门主题<i class="g8c">hot</i></h3>
            <ul>
                <foreach name="push1" key="k" item="vo">
                    <li class="fn-clear g3c">
                        <a href="{:U('Home/Article/articleDetails',array('id'=>$vo['articleid']))}" class="g3c" >
                        <p class="l">{$k+1} {:mb_substr($vo['title'],0,6)}</p>
                        <p class="r">&lt {$vo.created|date='Y.m.d',###} &gt</p>
                        </a>
                    </li>
                </foreach>
            </ul>
        </div>
        <div class="g3c bgwh case hidden-xs hidden-sm">
            <h3 class="rel">精品文贴<i class="g8c">Auslese</i></h3>
            <ul>
                <foreach name="push2" item="vo" key="k">
                    <li class="fn-clear g3c">
                        <a href="{:U('Home/Article/articleDetails',array('id'=>$vo['articleid']))}" class="g3c" >
                        <p class="l">{$k+1}  {:mb_substr($vo['title'],0,6)}</p>
                        <p class="r">&lt {$vo.created|date='Y.m.d',###} &gt</p>
                       </a>
                    </li>
                </foreach>
            </ul>
        </div>
        <if condition="$banner1.picture neq ''">
            <a href="{$banner1.url}"><img class="hidden-xs hidden-sm" src="__PUBLIC__{$banner1.picture}" alt="pic"></a>
        <else/>
            <img class="hidden-xs hidden-sm" src="__PUBLIC__/images/postDetails/bar.png" alt="pic">
        </if>
    </div>
</div>
<!--<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>-->
<!--&lt;!&ndash;分享&ndash;&gt;-->
<!--<script src="__PUBLIC__/scripts/ZeroClipboard.js"></script>-->
<!--<script src="__PUBLIC__/scripts/base.js"></script>-->
<script src="__PUBLIC__/scripts/postDetails.js"></script>
<script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    window._bd_share_config={"common":{"bdSnsKey":{},"bdUrl":"<?php echo 'http://'.$_SERVER['SERVER_NAME'].':'.$_SERVER['SERVER_PORT'].$_SERVER['REQUEST_URI'].'/fromid/'.$info['uid'];  ?>","bdPopTitle":"<?php echo $article['title'] ?>","bdText":"<?php echo $article['title'] ?>","bdMini":"1","bdMiniList":["bdxc","tqf","douban","bdhome","sqq","thx","ibaidu","meilishuo","mogujie","diandian","huaban","duitang","hx","fx","youdao","sdo","qingbiji","people","xinhua","mail","isohu","yaolan","wealink","ty","iguba","fbook","twi","linkedin","h163","evernotecn","copy","print"],"bdPic":"<?php echo 'http://106.14.65.213/Public/'.$article['picture'] ?>","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
//    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/share.js?v=89860593.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<script type="text/javascript">
    var href = this.location.href;
    var fromid = "{$info.uid}";
    href+="/fromid/"+fromid;
    $(function(){
        //支持
        $(".js-support").click(function(){
            var flag = $(this).hasClass("support-green");
            var commentid = $(this).attr("value");
            var user = $(this).attr("user");
            if(!flag){
                if(user==''){
                    var flag = confirm("您还未登录，是否现在登录");
                    var url = location.href;
                    if(flag){
                        window.location.href="/index.php/Home/User/login?url="+url;
                    }
                    return false;
                }else if(commentid==''){
                    alert("操作异常");
                }else{
                    $(this).toggleClass('support-green');
                    $.post("{:U('Home/Article/support')}",{'commentid':commentid},function(data){
                        if(data.status==1){
                            alert(data.msg);
                        }else{
                            alert(data.msg);
                        }
                    });
                }
            }
        });
//        //收藏
        $('.collect').click(function () {
            var user = $(".js-user").val();
            var flag = $(this).hasClass("collect-green");
            var collect = $(this);
            var id = $(".js-arc-id").val();
            if(user==''){
                var flag = confirm("您还未登录，是否现在登录");
                var url = location.href;
                if(flag){
                    window.location.href="/index.php/Home/User/login?url="+url;
                }
                return false;
            }
//            alert(id);
            if(id==''){
                alert("操作异常");
                return false;
            }
            //添加收藏
            if(flag==false){
                $.post("{:U('Home/Article/addCollect')}",{id:id},function(data){
                    if(data.status==1){
                        alert(data.msg);
                        collect.html('已收藏&nbsp;');
                        collect.toggleClass('collect-green');
                    }else{
                        alert(data.msg);
                    }
                });
            }
            if(flag==true){
                $.post("{:U('Home/Article/delCollect')}",{id:id},function(data){
                    if(data.status==1){
                        alert(data.msg);
                        collect.html('收藏&nbsp;');
                        collect.toggleClass('collect-green');
                    }else{
                        alert(data.msg);
                    }
                });
            }
//            $(this).toggleClass('collect-green')
        });
        //分享
        $('.js-share').click(function () {
//            var user = $(".js-user").val();
//            var flag = $(this).hasClass("collect-green");
//            var collect = $(this);
            var id = $(".js-arc-id").val();
//            if(user==''){
//                alert("请先登录");
//                return false;
//            }
//            alert(id);
            if(id==''||id==undefined){
                alert("参数错误");
                return false;
            }
                $.post("{:U('Home/Article/addshare')}",{id:id},function(data){
                    if(data.status==1){
//                        alert(data.msg);
                        $(this).attr("disabled",true);
                        setTimeout($('.js-share').attr("disabled",false),6000);
                    }else{
//                        alert(data.msg);
                    }
                });
//            $(this).toggleClass('collect-green')
        });
        //登录判断发帖
        $('.js-post').click(function(){
            var user = $(".js-user").val();
            var url = location.href;
            if(user==''){
                var flag = confirm('你还没有登录，是否现在去登录');
                if(flag){
                    window.location.href="/index.php/Home/User/login?url="+url;
                }else{
                    return false;
                }
            }else{
                window.location.href="/index.php/Home/Article/posted";
            }
        });
    });


</script>
<include file="Public/footer3"/>
</body>
</html>