<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/experience.css">
<meta name="description" content="{$key.intro}" />
<meta name="keywords" content="{$key.keyword}" />
<title>{$key.title}</title>
<style>
    html, body, .mainBg {height: 100%;}
    .mainBg {height: auto; min-height: 100%;}
    .mainBg{padding-bottom: 160px;}
    .mainBg::after {content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;}
    .mainBg{display: inline-block;}
    .mainBg{display:block;}
    .footer,.footerT{position: relative;
        clear:both;}
</style>
</head>
<body style="position:relative;">
<!--经验交流experience-->
<div class="mainBg">
    <!--header登录注册-->
    <include file="Public/top"/>
    <!--header登录注册 end-->
    <!--header logo-->
    <!--header logo end-->
    <!--导航条-->
    <include file="Public/nav"/>
    <!--导航条 end-->
    <!--banner-->
    <div class="banner">
        <if condition="$banner.picture eq ''">
            <img src="__PUBLIC__/images/trained/banner.jpg" alt="banner">
            <else/>
            <img src="__PUBLIC__{$banner.picture}" alt="banner">
        </if>
    </div>
    <!--banner end-->
    <!--content-->
    <!--主题文贴   |  企业交流-->
    <div class="content fn-clear">
        <div class="contentL bgwh l">
            <!--tab标题-->
            <div class="title fn-clear">
                <ul class="main-tab l" id="main-tab">
                    <li class="g3c dib theme rel "><a href="{:U('Home/Article/index',array('type'=>1,'type2'=>$type2))}"  class=" <if condition="$type eq 1">greenColor<else/>g3c</if>"> 主题文贴</a></li>
                    <li class="g3c dib theme <?php if($type==2){echo 'greenColor'; }; ?> "><a href="{:U('Home/Article/index',array('type'=>2,'type2'=>$type2))}"  class=" <if condition="$type eq 2">greenColor<else/>g3c</if>"> 企业交流</a></li>
                </ul>
                <ul class="screen r">
                    <li class="g8c dib"><a href="{:U('Home/Article/index',array('type'=>$type,'type2'=>1))}"  class=" <if condition="$type2 eq 1">greenColor<else/>g3c</if>">热门</a></li>
                    <li class="g8c dib"><a href="{:U('Home/Article/index',array('type'=>$type,'type2'=>2))}"  class=" <if condition="$type2 eq 2">greenColor<else/>g3c</if>">最新</a></li>
                    <li class="g8c dib"><a href="{:U('Home/Article/index',array('type'=>$type,'type2'=>3))}"  class=" <if condition="$type2 eq 3">greenColor<else/>g3c</if>">排行</a></li>
                </ul>
            </div>
            <ul id="content" class="rel">
                <!--主题文贴-->
                <li>
                    <!--模块一-->
                    <ul class="model-one fn-clear">
                        <volist name="articles" id="vo" offset="0" length="3">
                            <li onclick="window.open('/index.php/Home/Article/articleDetails/id/{$vo.articleid}','_self')" class="g8c f12 l">
                                <h3 class="g9a">{:mb_substr($vo['title'],0,12)} </h3>
                                <p>作者 {$vo.author}</p>
                                <img src="__PUBLIC__{$vo.picture}" alt="pic">
                                <ul class="interaction hidden-xs">
                                    <li class="dib f12">
                                        <label>浏览</label>
                                        <span>{$vo.browsenum}&nbsp&nbsp|</span>
                                    </li>
                                    <li class="dib f12">
                                        <label>&nbsp&nbsp评论</label>
                                        <span>{$vo.commentNum}</span>
                                    </li>
                                </ul>
                                <p class="hidden-xs hHidden">{:mb_substr($vo['intro'],0,30)}</p>
                                <ul class="fn-clear other">
                                    <li class="g8c f12 l time hidden-xs">{$vo.created|date='Y-m-d',###}</li>
                                    <li class="f12 r"><a href="{:U('Home/Article/articleDetails',array('id'=>$vo['articleid']))}" class="g8c hidden-xs">查看更多&gt</a></li>
                                </ul>
                            </li>
                        </volist>
                        <!--<li onclick="window.open('Home/Article/articleDetails','_self')"  class="g8c f12 l">-->
                            <!--<h3 class="g9a">上海市维沃珂企业自助营销 </h3>-->
                            <!--<p>作者 余秋雨</p>-->
                            <!--<img src="__PUBLIC__/images/experience/contentLPic.jpg" alt="pic">-->
                            <!--<ul class="interaction hidden-xs">-->
                                <!--<li class="dib f12">-->
                                    <!--<label for="see">浏览</label>-->
                                    <!--<span>8653497&nbsp&nbsp|</span>-->
                                <!--</li>-->
                                <!--<li class="dib f12">-->
                                    <!--<label for="comment">&nbsp&nbsp评论</label>-->
                                    <!--<span>497</span>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>-->
                            <!--<ul class="fn-clear other">-->
                                <!--<li class="g8c f12 l time hidden-xs">2016-11-24</li>-->
                                <!--<li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>
                    <ul class="model-one fn-clear">
                        <volist name="articles" id="vo" offset="3" length="3">
                            <li onclick="window.open('/index.php/Home/Article/articleDetails/id/{$vo.articleid}','_self')" class="g8c f12 l">
                                <h3 class="g9a">{:mb_substr($vo['title'],0,12)} </h3>
                                <p>作者 {$vo.author}</p>
                                <img src="__PUBLIC__{$vo.picture}" alt="pic">
                                <ul class="interaction hidden-xs">
                                    <li class="dib f12">
                                        <label >浏览</label>
                                        <span>{$vo.browsenum}&nbsp&nbsp|</span>
                                    </li>
                                    <li class="dib f12">
                                        <label>&nbsp&nbsp评论</label>
                                        <span>{$vo.commentNum}</span>
                                    </li>
                                </ul>
                                <p class="hidden-xs  hHidden">{:mb_substr($vo['intro'],0,30)}</p>
                                <ul class="fn-clear other">
                                    <li class="g8c f12 l time hidden-xs">{$vo.created|date='Y-m-d',###}</li>
                                    <li class="f12 r"><a href="{:U('Home/Article/articleDetails',array('id'=>$vo['articleid']))}" class="g8c">查看更多&gt</a></li>
                                </ul>
                            </li>
                        </volist>
                        <!--<li onclick="window.open('Home/Article/articleDetails','_self')"  class="g8c f12 l">-->
                        <!--<h3 class="g9a">上海市维沃珂企业自助营销 </h3>-->
                        <!--<p>作者 余秋雨</p>-->
                        <!--<img src="__PUBLIC__/images/experience/contentLPic.jpg" alt="pic">-->
                        <!--<ul class="interaction hidden-xs">-->
                        <!--<li class="dib f12">-->
                        <!--<label for="see">浏览</label>-->
                        <!--<span>8653497&nbsp&nbsp|</span>-->
                        <!--</li>-->
                        <!--<li class="dib f12">-->
                        <!--<label for="comment">&nbsp&nbsp评论</label>-->
                        <!--<span>497</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--<p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>-->
                        <!--<ul class="fn-clear other">-->
                        <!--<li class="g8c f12 l time hidden-xs">2016-11-24</li>-->
                        <!--<li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                    </ul>
                    <!--模块二-->
                    <div class="model-two">
                        <ul>
                            <volist name="articles" id="vo" offset="6" length="20">
                                <li>
                                    <hr>
                                    <a href="{:U('Home/Article/articleDetails',array('id'=>$vo['articleid']))}" class="g9a">
                                    <!--<img src="__PUBLIC__{$vo.picture}" alt="bar">-->
                                         <h4 class="g9a">{:mb_substr($vo['title'],0,25)}</h4>
                                    </a>
                                    <p class="g3c">{:mb_substr($vo['intro'],0,50)}</p>
                                        <ul class="interaction">
                                            <li class="dib f12 g8c">
                                                <label >浏览</label>
                                                <span >{$vo.browsenum}</span>
                                            </li>
                                            <li class="dib f12 g8c">
                                                <label>评论</label>
                                                <span>{$vo.commentNum}</span>
                                            </li>
                                        </ul>
                                </li>
                            </volist>
                            <!--<li>-->
                                <!--<hr>-->
                                <!--<img src="__PUBLIC__/images/experience/contentLBar.jpg" alt="bar">-->
                                <!--<ul class="interaction">-->
                                    <!--<li class="dib f12 g8c">-->
                                        <!--<label >浏览</label>-->
                                        <!--<span >8653497</span>-->
                                    <!--</li>-->
                                    <!--<li class="dib f12 g8c">-->
                                        <!--<label>评论</label>-->
                                        <!--<span>497</span>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <!--<h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销</h4>-->
                                <!--<p class="g3c hidden-xs">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销.</p>-->
                            <!--</li>-->
                        </ul>
                        <!--<ul id="modelMore" style="display: none">-->
                            <!--<volist name="articles" id="vo" offset="6" length="1">-->
                                <!--<li>-->
                                    <!--<hr>-->
                                    <!--<a href="{:U('Home/Article/articleDetails',array('id'=>$vo['articleid']))}" class="g9a" target="_blank"><img src="__PUBLIC__{$vo.picture}" alt="bar"></a>-->
                                    <!--<ul class="interaction">-->
                                        <!--<li class="dib f12 g8c">-->
                                            <!--<label >浏览</label>-->
                                            <!--<span >{$vo.browsenum}</span>-->
                                        <!--</li>-->
                                        <!--<li class="dib f12 g8c">-->
                                            <!--<label>评论</label>-->
                                            <!--<span>{$vo.commentNum}</span>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                    <!--<h4 class="g9a">{$vo.title}</h4>-->
                                    <!--<p class="g3c hidden-xs">{$vo.intro}</p>-->
                                <!--</li>-->
                            <!--</volist>-->
                        <!--</ul>-->
                        <div class="template_page paging center" id="paging" style="font-size: 20px;text-align: center;">
                            {$page}
                        </div>
                    </div>
                </li>
                <!--企业交流- -->
                <!--<li style="display: none">-->
                    <!--&lt;!&ndash;模块一&ndash;&gt;-->
                    <!--<ul class="model-one fn-clear">-->
                        <!--<li onclick="window.open('Home/Article/postDetails','_self')" class="g8c f12 l">-->
                            <!--<h3 class="g9a">上海市维沃珂企业自助营销 </h3>-->
                            <!--<p>作者 余秋雨</p>-->
                            <!--<img src="__PUBLIC__/images/experience/contentLPic.jpg" alt="pic">-->
                            <!--<ul class="interaction hidden-xs">-->
                                <!--<li class="dib f12">-->
                                    <!--<label for="see">浏览</label>-->
                                    <!--<span id="see">8653497&nbsp&nbsp|</span>-->
                                <!--</li>-->
                                <!--<li class="dib f12">-->
                                    <!--<label for="comment">&nbsp&nbsp评论</label>-->
                                    <!--<span id="comment">497</span>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>-->
                            <!--<ul class="fn-clear other">-->
                                <!--<li class="g8c f12 l time hidden-xs">2016-11-24</li>-->
                                <!--<li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li onclick="window.open('Home/Article/postDetails','_self')" class="g8c f12 l">-->
                            <!--<h3 class="g9a">上海市维沃珂企业自助营销 </h3>-->
                            <!--<p>作者 余秋雨</p>-->
                            <!--<img src="__PUBLIC__/images/experience/contentLPic.jpg" alt="pic">-->
                            <!--<ul class="interaction hidden-xs">-->
                                <!--<li class="dib f12">-->
                                    <!--<label for="see">浏览</label>-->
                                    <!--<span>8653497&nbsp&nbsp|</span>-->
                                <!--</li>-->
                                <!--<li class="dib f12">-->
                                    <!--<label for="comment">&nbsp&nbsp评论</label>-->
                                    <!--<span>497</span>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>-->
                            <!--<ul class="fn-clear other">-->
                                <!--<li class="g8c f12 l time hidden-xs">2016-11-24</li>-->
                                <!--<li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li onclick="window.open('Home/Article/postDetails','_self')" class="g8c f12 l">-->
                            <!--<h3 class="g9a">上海市维沃珂企业自助营销 </h3>-->
                            <!--<p>作者 余秋雨</p>-->
                            <!--<img src="__PUBLIC__/images/experience/contentLPic.jpg" alt="pic">-->
                            <!--<ul class="interaction hidden-xs">-->
                                <!--<li class="dib f12">-->
                                    <!--<label for="see">浏览</label>-->
                                    <!--<span>8653497&nbsp&nbsp|</span>-->
                                <!--</li>-->
                                <!--<li class="dib f12">-->
                                    <!--<label for="comment">&nbsp&nbsp评论</label>-->
                                    <!--<span>497</span>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>-->
                            <!--<ul class="fn-clear other">-->
                                <!--<li class="g8c f12 l time hidden-xs">2016-11-24</li>-->
                                <!--<li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--&lt;!&ndash;模块二&ndash;&gt;-->
                    <!--<ul class="theme-model-two">-->
                        <!--<li class="fn-clear">-->
                            <!--<hr>-->
                            <!--<img class="l" src="__PUBLIC__/images/experience/theme.jpg" alt="theme">-->
                            <!--<div class="r model-two-con">-->
                                <!--<h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴</h4>-->
                                <!--<h5 class="g3c hidden-xs">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人...</h5>-->
                                <!--<div class="fn-clear hidden-xs">-->
                                    <!--<p class="l">作者 余秋雨      发表于 2016-11-24 13:28:36</p>-->
                                    <!--<ul class="interaction r">-->
                                        <!--<li class="dib f12">-->
                                            <!--<label for="see">浏览</label>-->
                                            <!--<span>8653497&nbsp&nbsp|</span>-->
                                        <!--</li>-->
                                        <!--<li class="dib f12">-->
                                            <!--<label for="comment">&nbsp&nbsp评论</label>-->
                                            <!--<span>497</span>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="fn-clear">-->
                            <!--<hr>-->
                            <!--<img class="l" src="__PUBLIC__/images/experience/theme.jpg" alt="theme">-->
                            <!--<div class="r model-two-con">-->
                                <!--<h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴</h4>-->
                                <!--<h5 class="g3c hidden-xs">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人...</h5>-->
                                <!--<div class="fn-clear hidden-xs">-->
                                    <!--<p class="l">作者 余秋雨      发表于 2016-11-24 13:28:36</p>-->
                                    <!--<ul class="interaction r">-->
                                        <!--<li class="dib f12">-->
                                            <!--<label for="see">浏览</label>-->
                                            <!--<span>8653497&nbsp&nbsp|</span>-->
                                        <!--</li>-->
                                        <!--<li class="dib f12">-->
                                            <!--<label for="comment">&nbsp&nbsp评论</label>-->
                                            <!--<span>497</span>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="fn-clear">-->
                            <!--<hr>-->
                            <!--<img class="l" src="__PUBLIC__/images/experience/theme.jpg" alt="theme">-->
                            <!--<div class="r model-two-con">-->
                                <!--<h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴</h4>-->
                                <!--<h5 class="g3c hidden-xs">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人...</h5>-->
                                <!--<div class="fn-clear hidden-xs">-->
                                    <!--<p class="l">作者 余秋雨      发表于 2016-11-24 13:28:36</p>-->
                                    <!--<ul class="interaction r">-->
                                        <!--<li class="dib f12">-->
                                            <!--<label for="see">浏览</label>-->
                                            <!--<span>8653497&nbsp&nbsp|</span>-->
                                        <!--</li>-->
                                        <!--<li class="dib f12">-->
                                            <!--<label for="comment">&nbsp&nbsp评论</label>-->
                                            <!--<span>497</span>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<ul style="display: none" class="theme-model-two" id="comment-two">-->
                        <!--<li class="fn-clear">-->
                            <!--<hr>-->
                            <!--<img class="l" src="__PUBLIC__/images/experience/theme.jpg" alt="theme">-->
                            <!--<div class="r model-two-con">-->
                                <!--<h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴</h4>-->
                                <!--<h5 class="g3c hidden-xs">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人...</h5>-->
                                <!--<div class="fn-clear hidden-xs">-->
                                    <!--<p class="l">作者 余秋雨      发表于 2016-11-24 13:28:36</p>-->
                                    <!--<ul class="interaction r">-->
                                        <!--<li class="dib f12">-->
                                            <!--<label for="see">浏览</label>-->
                                            <!--<span>8653497&nbsp&nbsp|</span>-->
                                        <!--</li>-->
                                        <!--<li class="dib f12">-->
                                            <!--<label for="comment">&nbsp&nbsp评论</label>-->
                                            <!--<span>497</span>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<span  id="more-two" class="g9a more db">查看更多内容>></span>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="contentR r">
                <a href="javascript:;" class="post bgwh db js-post">
                    <input class="js-user" type="hidden" value="{$Think.session.userinfo.name}">
                    <input class="g9a wh" type="text" value="发帖" readonly="readonly">
                </a>
            <div class="g3c bgwh case hidden-xs hidden-sm"> 
                <h3 class="rel">热门主题<i class="g8c">case</i></h3>
                <foreach name="push1" item="vo">
                    <a href="{:U('Home/Article/articleDetails',array('id'=>$vo['articleid']))}" class="g3c"><p>{:mb_substr($vo['title'],0,15)}</p></a>
                </foreach>
                <!--<p>6 热门文贴、关乎产品、企业推广</p>-->
            </div>
            <div class="g3c bgwh case hidden-xs hidden-sm">
                <h3 class="rel">精品文贴<i class="g8c">case</i></h3>
                <foreach name="push2" item="vo">
                    <a href="{:U('Home/Article/articleDetails',array('id'=>$vo['articleid']))}" class="g3c"><p>{:mb_substr($vo['title'],0,15)}</p></a>
                </foreach>
            </div>
            <if condition="$banner1.picture eq ''">
                <img class="hidden-xs hidden-sm" src="__PUBLIC__/images/experience/contentRPic.jpg" alt="pic">
                <else/>
                <a href="{$banner1.url}"><img class="hidden-xs hidden-sm" src="__PUBLIC__{$banner1.picture}" alt="pic"></a>
            </if>
            <if condition="$banner2.picture eq ''">
                <img class="hidden-xs hidden-sm" src="__PUBLIC__/images/experience/contentRPic.jpg" alt="pic">
                <else/>
                <a href="{$banner2.url}"><img class="hidden-xs hidden-sm" src="__PUBLIC__{$banner2.picture}" alt="pic"></a>
            </if>
        </div>
    </div>
    <!--悬浮链接 end-->
</div>
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<!--悬浮链接-->
<include file="Public/footer2"/>

<!--共用js-->
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
<script src="__PUBLIC__/scripts/base.js"></script>
<script src="__PUBLIC__/scripts/experience.js"></script>
<script>
    $(function(){
        $('.js-post').click(function(){
            var user = $(".js-user").val();
            var url = location.href;
            if(user==''){
                var flag = confirm('你还没有登录，是否现在去登录');
                if(flag){
                    window.location.href="/index.php/Home/User/login?url="+url;
                }else{
                    return false;
                }
            }else{
                window.location.href="/index.php/Home/Article/posted";
            }
        });
    });
</script>
</body>
</html>