<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta name="description" content="">
    <title>用户登录</title>
    <link rel="stylesheet" href="/Application/Home/View/Public/Css/normalize.css">
    <link rel="stylesheet" href="/Application/Home/View/Public/Css/login.css">
    <script type="text/javascript" src="/Application/Home/View/Public/Js/jquery.js"></script>
</head>
<body>
<div class="box">
    <!--登录面板-->
    <div class="login">
        <div class="header">
            <span>用户登录</span>
        </div>
        <div>
            <div class="logo">
                <img src="/Application/Home/View/Public/Image/logo01.jpg">
            </div>
            <div class="division"></div>
            <div class="form">
                <form action="{:U('Home/Login/userLogin')}" method="post">
                    <div>
                        <label for="user">用户名</label><input type="text" id="user" name="name">
                    </div>
                    <!--<div>-->
                        <!--<label for="password">密&nbsp;&nbsp;码</label><input type="password" id="password" name="password">-->
                    <!--</div>-->
                    <div>
                        <input type="submit" id="submit" value="登录" >
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!--页脚-->
    <footer>

    </footer>
</div>
</body>
</html>
