<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/newsDetails.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/newsMore.css">
    <title>新闻资讯-更多</title>
</head>
<body>
<!--newsMore-->
<!--header logo-->
<div class="logo bgwh fn-clear">
    <div>
        <a class="l dib" href="#"><img src="__PUBLIC__/images/index/logo.png" alt="logo"></a>
        <h1 class="f40 dib g9a b">企业自助推广营销平台</h1>
    </div>
</div>
<!--header logo end-->
<!--导航条-->
<include file="Public/nav"/>
<!--导航条 end-->
<!--content-->
<div class="content fn-clear">
    <div class="contentL l bgwh">
        <ul>
            <foreach name="news" item="vo">
                <li class="fn-clear">
                    <img  onclick="window.open('/index.php/Home/News/newsDetails/id/{$vo.id}','_self')" class="l" src="__PUBLIC__{$vo.picture}" alt="pic">
                    <div  onclick="window.open('/index.php/Home/News/newsDetails/id/{$vo.id}','_self')" class="title r">
                        <h2 class="f20 g9a">{$vo.title}</h2>
                        <h3 class="f16 g3c">{$vo.intro}</h3>
                        <div class="fn-clear">
                            <ul class="l">
                                <!--<li class="f14 g8c dib">-->
                                    <!--<label>作者</label>-->
                                    <!--<span>{$vo.authar}</span>-->
                                <!--</li>-->
                                <li class="f14 g8c dib">
                                    <label>发表于</label>
                                    <span>{$vo.created|date='Y-m-d H:i:s',###}</span>
                                </li>
                            </ul>
                            <h4 class="f12 g8c r">浏览 <span>{$vo.num}</span></h4>
                        </div>
                    </div>
                </li>
            </foreach>
        </ul>
        <h5 class="f14 g3c" id="more"> <div class="template_page paging" id="paging" style="font-size: 20px;">
            {$page}
        </div></h5>
    </div>
    <div class="contentR r bgwh">
        <div class="g3c case f12">
            <h3 class="rel f18">热门资讯<i class="g8c">hot</i></h3>
            <foreach name="articles" item="v" key="k">
                <a class="g3c" href="{:U('Home/Article/articleDetails',array('id'=>$v['articleid']))}"><p>{$k + 1}&nbsp;{$v.title}</p></a>
            </foreach>
        </div>
    </div>
</div>
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<!--共用js-->
<script src="__PUBLIC__/scripts/base.js"></script>
<script src="__PUBLIC__/scripts/bootstrap.js"></script>
<script src="__PUBLIC__/scripts/news.js"></script>
</body>
</html>