
<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>系统管理>公司优势列表</h1>
        </div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
            <a href="{:U('Admin/Index/addAdvantage')}" class="ul_button">添加平台优势</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="template_middle">
    <table class="ul_table">
         	<tbody class="ul_table">
    		<tr>
    		<td width="60%" style="text-align:left">
	    		<form action="{:U('Admin/Index/adView')}" method="get">
				标题：<input type="text" name="keyword" value="{$Think.get.keyword}" />
				<select name="status">
				<option value="">状态</option>
				<option value="1">正常</option>
				<option value="0">屏蔽</option>
				</select>
				<input type="submit" value="查询" />
				<input type="reset" value="清空" />
	      		</form>
    		</td>
      	</tr></tbody>
     	</table>
        <table class="ul_table">
            <tbody class="ul_table">
            <tr class="ul_box">
            	<th style="width:5%">ID</th>
                <th style="width:15%">标题</th>
                <th style="width:15%">图片</th>
                <th style="width:10%">日期</th>
                <th style="width:10%">状态</th>
                <th style="width:10%">操作</th>
            </tr>
                <foreach name="advs" item="v">
                    <tr class="ul_box1">
                        <td>{$v.id}</td>
                        <td>{$v.title}</td>
                        <td>
                            <if condition="$v.picture eq ''">
                                暂无图片
                                <else/>
                                <a href="/Public/{$v.picture}" target="_blank">预览</a>
                            </if>
                        </td>
                        <td>{$v.created|date='y-m-d H:i',###}</td>
                        <td><if condition="$v.status eq 1">正常<else />屏蔽</if></td>
                        <td><a href="{:U('Admin/Index/addAdvantage', array('id' => $v['id']))}">编辑</a></td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
</body>
</html>