<include file='Common:top'/>
<!--引入日期插件文件开始-->
<script language="javascript" type="text/javascript" src="__ROOT__/Public/datepicker/WdatePicker.js"></script>
<!--引入日期插件文件结束-->
<style>
    .recruit{margin-left:-70px;}
    .recruit_job{width:168px;}
    .blank_right textarea{width:168px;}
    .blank_right select{width:168px;}
    .blank_right select option{text-align:center;}
    .blank_right .post{width:500px;}
</style>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>人才对接管理>添加推荐招聘简章</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Job/company')}" class="ul_button">返回</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="add">
    
    <form name="adminForm" id="js-form" action="{:U('Admin/Job/addCompanyJobHandle')}"  method="post" enctype="multipart/form-data">
        <ul class="add_blank">                       
            <li><div class="blank_left">公司名称</div><div class="blank_right"><input type="text" class="js-name" value="{$job.name}" name="name" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">公司注册号</div><div class="blank_right"><input type="text" value="{$job.registernum}" name="registernum" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">图片</div><div class="blank_right"><input type="file"   name="picture" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">招聘日期</div><div class="blank_right"><input type="text" name="starttime"
onClick="WdatePicker()" <if condition="$job['starttime'] neq 0"> value="{$job.starttime|date='Y-m-d',###}" </if> class="js-starttime" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">截止日期</div><div class="blank_right"><input type="text" name="endtime" onClick="WdatePicker()" <if condition="$job['starttime'] neq 0"> value="{$job.endtime|date='Y-m-d',###}"</if>   class="js-endtime"  /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">招聘紧急程度</div><div class="blank_right"><input type="radio" name="level" value="1" <eq name="job['level']" value="1">checked</eq> />一般<input type="radio" name="level" value="2" <eq name="job['level']" value="2">checked</eq> />紧急</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">类型</div><div class="blank_right"><select name="type">
                <option value="">选择类型</option>
                <foreach name="types" item="vo">
                    <option value={$vo}>{$vo}</option>
                </foreach>
            </select></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">公司规模</div><div class="blank_right"><select name="scale">
                <option value="">选择规模</option>
                <foreach name="scale" item="val">
                    <option value={$val}>{$val}</option>
                </foreach>
            </select></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">简介</div><div class="blank_right"><textarea name="intro">{$job.intro}</textarea></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">作品及简历的注意事项</div><div class="blank_right"><textarea name="notice">{$job.notice}</textarea></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">公司座机</div><div class="blank_right"><input type="text" name="telphone" value="{$job.telphone}" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">传真</div><div class="blank_right"><input type="text" name="fax"
value="{$job.fax}" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">公司地址</div><div class="blank_right"><input type="text" name="address" value="{$job.address}" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">公司网址</div><div class="blank_right"><input type="text" name="link"  value="{$job.link}"/></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">备注</div><div class="blank_right"><input type="text" name="note" value="{$job.note}" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">公司联系人</div><div class="blank_right"><input type="text" name="contact" value="{$job.contact}"  /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">联系人职位</div><div class="blank_right"><input type="text" name="position" value="{$job.position}" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">联系人手机</div><div class="blank_right"><input type="text" class="js-phone" name="phone" value="{$job.phone}" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">联系人QQ</div><div class="blank_right"><input type="text" class="js-qq" name="qq" value="{$job.qq}" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">联系人E-mail</div><div class="blank_right"><input type="text" name="email" value="{$job.email}" /></div><div class="fn-clear"></div></li>
            <li><div class="blank_left recruit">招聘</div><div class="blank_right">
                <div class="js-job">
                招聘职位：<input type="text"class="js-job-name recruit_job" name="job" size="15"/>&nbsp;&nbsp;
                招聘人数：<input type="text" class="js-num" name="num" size="5" />人&nbsp;&nbsp;
                薪资范畴：<input type="text" class="js-wage" name="wage" size="10"/><br /><br/>
            </div>
            </div><div class="fn-clear"></div></li>
            <li><div class="blank_left">职位要求</div><div class="blank_right"><textarea name="intro" class="post">{$job.intro}</textarea></div><div class="fn-clear"></div></li>
                <!--<div><input type="button"value="添加职位" class="js-add-job"/></div>-->
            <li><div class="blank_left"><span class="blank_color">*</span>状态</div><div class="blank_right">
            <input type="radio" name="status" value="1"  class="ul_middle" checked/>&nbsp;正常&nbsp;&nbsp;
            <input type="radio" name="status" value="0" class="ul_middle" />&nbsp;屏蔽
            </div><div class="fn-clear"></div></li>
            <input type="hidden" name="id" value="{$job.jobid}"/>
            <li class="ul_word"><input type="button" class="ul_add js-sub" value="保存"/><input type="button" class="ul_cancel" onclick="history.go(-1);"  value="取消"/></li>
        </ul></form>
    </div>
</div>
<script>
    var ue = UE.getEditor('editor');
</script>
<script>
    $(function () {
        $('.js-sub').click(function(){
            var name = $('.js-name').val();
            var phone = $(".js-phone").val();
            var qq = $(".js-qq").val();
            var job = $(".js-job-name").val();
            var num = $(".js-num").val();
            var wage = $(".js-wage").val();
            var descp = $(".js-descp").val();
            var status = true;
            var msg = '';
            if(name == ''){
                status = false;
                msg+="公司名称,";
            }
            if(phone == ''){
                status = false;
                msg+="负责人电话,";
            }
            if(qq == ''){
                status = false;
                msg+="负责人qq,";
            }
            if(job == ''){
                status = false;
                msg+="职位,";
            }
            if(num == ''){
                status = false;
                msg+="招聘人数,";
            }
            if(wage == ''){
                status = false;
                msg+="薪资,";
            }
            if(descp == ''){
                status = false;
                msg+="职位描述,";
            }
            if(status){
                $("#js-form").submit();
            }else{
                //正则取出逗号，
                var reg=/,$/gi;
                msg=msg.replace(reg,"");
                msg+="不能为空";
                alert(msg);
            }
        });
      //添加职位
    $(".js-add-job").click(function () {
     var html = $(".js-job").html();
    $(".js-job").append(html);
    });
   //添加职位
     $(".js-job-del").click(function () {
         alert('a');
      var obj = $(this).parent();
       obj.html('');
     });
    });
    function delfile(e) {
    if (confirm("确认要删除此表单吗？")) {
    $(e).closest("tr").remove();
    trCount = trCount - 1;
    var _id = $(e).closest("tr").attr("id").replace("_tr", "");
    //                for (var i = _id; i++; i <= trCount) {
    //                    alert($("#_tr" + i).html());
    //                }
    }
    }
</script>
</body>
</html>