<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>人才管理>企业简章详情</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Job/company')}" class="ul_button">返回</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="add">

        <form name="adminForm" method="post" enctype="multipart/form-data">
            <ul class="add_blank">
                <li><div class="blank_left">企业名称</div><div class="blank_right">{$job.name}</div><div class="fn-clear"></div></li>
                <li><div class="blank_left">公司注册号</div><div class="blank_right">{$job.registernum}</div><div class="fn-clear"></div></li>
                <li><div class="blank_left">类型</div><div class="blank_right">{$job.type}</div><div class="fn-clear"></div></li>
                <li><div class="blank_left">公司规模</div><div class="blank_right">{$job.scale}</div><div class="fn-clear"></div></li>
                <li><div class="blank_left">营业执照</div><div class="blank_right"><if condition="$job.picture eq ''">暂无<else/><a href="__ROOT__/Public{$job.picture}" target="_blank">预览</a></if></div><div class="fn-clear"></div></li>
                <li><div class="blank_left">公司座机</div><div class="blank_right">{$job.telphone}</div><div class="fn-clear"></div></li>
                <li><div class="blank_left">公司地址</div><div class="blank_right">{$job.address}</div><div class="fn-clear"></div></li>
                <li><div class="blank_left">公司联系人</div><div class="blank_right">{$job.contact}</div><div class="fn-clear"></div></li>
                <li><div class="blank_left">联系人手机</div><div class="blank_right">{$job.phone}</div><div class="fn-clear"></div></li>
                <li><div class="blank_left">联系人QQ</div><div class="blank_right">{$job.qq}</div><div class="fn-clear"></div></li>
                <<li><div class="blank_left">招聘</div><div class="blank_right">
                <foreach name="job.jobs" item="v">
                <div class="js-job">
                    招聘职位：<input type="text" value="{$v.job}" size="15" disabled/>&nbsp;&nbsp;
                    招聘人数：<input type="text" value="{$v.num}" size="5" disabled/>人&nbsp;&nbsp;
                    薪资范畴：<input type="text" value="{$v.wage}" size="10"disabled/><br /><br/>
                    职位要求：<br /><textarea  cols="75" rows="4" disabled>{$v.descp}</textarea>
                    <!--<input type="button" value="删除职位" class="js-job-del"/>-->
                    <br/><br/>
                </div>
                </foreach>
                <!--<div><input type="button"value="添加职位" class="js-add-job"/></div>-->
            </div><div class="fn-clear"></div></li>
                <li><div class="blank_left"><span class="blank_color">*</span>状态</div><div class="blank_right">
                    <input type="radio" name="status" value="1"  class="ul_middle" <eq name="job['status']" value="1">checked</eq>/>&nbsp;正常&nbsp;&nbsp;
                    <input type="radio" name="status" value="0" class="ul_middle" <eq name="job['status']" value="0">checked</eq>/>&nbsp;屏蔽
                </div><div class="fn-clear"></div></li>
                <input type="hidden" name="id" value="{$job.jobid}" />
                <li class="ul_word"><input type="submit" class="ul_add" value="保存"/><input type="button" class="ul_cancel" onclick="history.go(-1);"  value="取消"/>&nbsp;&nbsp;<a href="{:U('Admin/Job/addCompanyJob',array('id'=>$job['jobid']))}">添加到推荐</a></li>
            </ul></form>
    </div>
</div>
</body>
</html>