<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>申请管理>申请列表</h1>
        </div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
            <!--<a href="{:U('Admin/Role/add', array('rpid' => $date['id'],'uid' => $_SESSION[C('USER_AUTH_KEY')]))}" class="ul_button">添加申请组</a>-->
            <!--<a href="{:U('Admin/Node/index')}" class="ul_button">权限设置</a>-->
            <!--<a href="#" onclick="del();" class="ul_button">删除申请组</a>-->
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="template_middle">
    <table class="ul_table">
         	<tbody class="ul_table">
    		<tr>
    		<td width="60%" style="text-align:left">
	    		<form action="{:U('Admin/Designer/apply')}" method="get">
				姓名：<input type="text" name="keyword" value="{$Think.get.keyword}" />
				<select name="status">
				<option value="">状态</option>
				<option value="0" <if condition="$Think.get.status eq '0'">selected</if>>未审核</option>
				<option value="1" <if condition="$Think.get.status eq 1">selected</if>>已通过</option>
				<option value="2" <if condition="$Think.get.status eq 2">selected</if>>未通过</option>
				</select>
				<input type="submit" value="查询" />
				<input type="reset" value="清空" />
	      		</form>
    		</td>
      	</tr></tbody>
     	</table>
        <table class="ul_table">
            <tbody class="ul_table">
            <tr class="ul_box">
            	<th style="width:5%">ID</th>
                <th style="width:30%">姓名</th>
                <th style="width:10%">手机</th>
                <th style="width:10%">身份证</th>
                <th style="width:10%">日期</th>
                <th style="width:10%">状态</th>
                <th style="width:10%">操作</th>
            </tr>
                <foreach name="applys" item="v">
                    <tr class="ul_box1">
                        <td>{$v.id}</td>
                        <td>{$v.realname}</td>
                        <td>{$v.phone}</td>
                        <td><a href="{$v.picture}" target="_blank">预览</a></td>
                        <td>{$v.created|date='y-m-d H:i',###}</td>
                        <td><if condition="$v.status eq 1">已通过<elseif condition="$v.status eq 2"/>未通过<else />未审核</if></td>
                        <td><a href="{:U('Admin/Designer/applyView', array('id' => $v['id']))}">编辑</a></td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
</body>
</html>