<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>作品管理>作品详情</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Company/work')}" class="ul_button">返回</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="add">
    
    <form name="adminForm" method="post">
        <ul class="add_blank">
            <li><div class="blank_left">作品名称</div><div class="blank_right">{$work.name}</div><div class="fn-clear"></div></li>  
            <li><div class="blank_left">设计师</div><div class="blank_right">{$work.realname}</div><div class="fn-clear"></div></li>                 
            <li><div class="blank_left">图片</div><div class="blank_right"><a href="{$work.picture}" target="_blank">预览</a></div><div class="fn-clear"></div></li>            
            <li><div class="blank_left">类型</div><div class="blank_right">{$work.type|companyWorkType=###}</div><div class="fn-clear"></div></li>            
            <li><div class="blank_left">价格</div><div class="blank_right">{$work.price}</div><div class="fn-clear"></div></li>            
            <li><div class="blank_left">面积</div><div class="blank_right">{$work.area}</div><div class="fn-clear"></div></li>            
            <li><div class="blank_left">摘要</div><div class="blank_right">{$work.summary}</div><div class="fn-clear"></div></li>       
            <!--li><div class="blank_left">内容</div><div class="blank_right">{$work.content}</div><div class="fn-clear"></div></li-->       
            <li><div class="blank_left"><span class="blank_color">*</span>状态</div><div class="blank_right">
            <input type="radio" name="status" value="1"  class="ul_middle" <eq name="work['status']" value="1">checked</eq>/>&nbsp;正常&nbsp;&nbsp;
            <input type="radio" name="status" value="0" class="ul_middle" <eq name="work['status']" value="0">checked</eq>/>&nbsp;屏蔽
            </div><div class="fn-clear"></div></li>
            
            <li><div class="blank_left"><span class="blank_color">*</span>推荐</div><div class="blank_right">
            <input type="radio" name="recommend" value="1"  class="ul_middle" <eq name="work['recommend']" value="1">checked</eq>/>&nbsp;是&nbsp;&nbsp;
            <input type="radio" name="recommend" value="0" class="ul_middle" <eq name="work['recommend']" value="0">checked</eq>/>&nbsp;否
            </div><div class="fn-clear"></div></li>
            
            <li><div class="blank_left">权重</div><div class="blank_right"><input type="number" name="weight" value="{$work.weight}" class="ul_text"/>值越大越靠前</div><div class="fn-clear"></div></li>            
            
            
            <input type="hidden" name="id" value="{$work.id}" />
            <li class="ul_word"><input type="submit" class="ul_add" value="保存"/><input type="button" class="ul_cancel" onclick="history.go(-1);"  value="取消"/></li>
        </ul></form>
    </div>
</div>
</body>
</html>