<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/personal.css">
    <title>活动-报名管理</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<include file="Public/top"/>
<!--header logo end-->
<!--导航条-->
<include file="Pubilc/nav"/>
<!--导航条 end-->
<!--广告部分-->
<div class="carousel slide" id="myCarousel">
    <div class="carousel-inner imgco">
        <div class="item active">
            <img src="__PUBLIC__/images/personal/banner.png" alt="banner"/>
        </div>
    </div>
</div>
<!--主要内容部分 start-->
<section>
    <div class="main">
        <!--左边导航-->
        <div class="leftNav ">
            <ul>
                <if condition="$Think.session.userinfo.role eq 1 ">
                    <li ><a class="poi g3c" href="{:U('Home/User/editInfo')}">用户资料</a></li>
                    <else/>
                    <li class="poi"><a class="g3c"  href="{:U('Home/Company/editComInfo')}">企业资料</a></li>
                </if>
                <li ><a class="b9a poi wh" style="color:white;" href= "{:U('Home/Activity/activityMange')}">活动管理</a></li>
                <li ><a class="poi g3c" href="{:U('Home/Order/orderMange')}" >订单管理</a></li>
                <li ><a class="poi g3c" href="{:U('Home/Vcoin/myWallet')}">我的维币</a></li>

            </ul>
        </div>
        <!--右边切换-->
        <!--活动管理   start-->
        <div class="rightTab activity ">
            <div class="tabTitle ">
                <p class=" b rel lastBottom">
                    <span class="actLi g9a poi">报名管理</span>
                    <input class="abs wh b9a bd_none pubAct button def" type="button" value="发布活动"/>
                </p>
            </div>
            <!--参加的活动 start-->
            <div class="tabDetail g6 actMangeTab " style="padding:0.2rem 2%;">
                    <div class="searchWrap">
                        <input class="search bdd js-keywords" type="search" name="keywords" placeholder="请输入姓名/手机号"/>
                        <input  type="hidden" class="js-id" name="id" value="{$Think.get.id}"/>
                        <input class=" wh b9a bd_none serSure js-search" type="button" value="搜索"/>
                    </div>
                    <p class=" lh30 mt10 rel">
                        <span class="g6">报名管理</span>
                    </p>
                    <table class="table table-border bld brd bbd">
                        <tr class="bge"><td>报名人</td><td>联系方式</td><td>数量</td><td>金额</td><td>时间</td><td>状态</td></tr>
                        <foreach name="applys" item="vo">
                            <tr><td>{$vo.name}</td><td>{$vo.mobile}</td><td>1</td><td>{$vo.pay}</td><td>{$vo.created|date="Y-m-d",###}</td><td>{$vo.ispay}</td></tr>
                        </foreach>
                    </table>

                <!--<table class="table bdd dn">-->
                <!--<tr class="bge"><td>报名人</td><td>联系方式</td><td>数量</td><td>金额</td><td>时间</td><td>状态</td></tr>-->
                <!--<foreach name="v.info" item="val">-->
                <!--<tr><td>{$val.name}</td><td>{$val.mobile}</td><td>1</td><td>{$val.pay}</td><td>{$val.created|date='Y-m-d',###}</td><td>{$val.ispay}</td></tr>-->
                <!--</foreach>-->
                <!--</table>-->

            </div><!--参加的活动 end-->
        </div><!--活动管理  endt-->
    </div>
</section>
<!--主要内容部分 end-->
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<script src="__PUBLIC__/scripts/distpicker.data.js"></script>
<script src="__PUBLIC__/scripts/distpicker.js"></script>
<script src="__PUBLIC__/scripts/personal.js"></script>
<script>
    $('.pubAct').click(function(){
        window.location.href='{:U("Home/Activity/activityPublish")}';
    });
    $('.leftNav li:nth-child(2) a').hover(function () {
        $(this).css('color','#fff');
    });
    $(function(){
        $(".js-search").click(function(){
            var keywords = $(".js-keywords").val();
            var id = $('.js-id').val();
            if(id==''||keywords==''){
                return false;
            }
            window.location.href="/index.php/Home/Activity/activitySignUp/id/"+id+"/keywords/"+keywords;
        });
    });
</script>
</body>
</html>