<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="__PUBLIC__/scripts/html5shiv.js"></script>
    <script src="__PUBLIC__/scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="__PUBLIC__/scripts/common.js"></script>
    <script src="__PUBLIC__/scripts/jquery-1.12.4.min.js"></script>
    <!--<script src="script/"></script>-->
    <link href="__PUBLIC__/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/styles/header.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/footer.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/personal.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/activity_publish.css"/>
    <title>发布活动</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<!--维沃柯首页-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <div class="topNav f14 g8c fn-clear">
        <div class="l">
            <p class="dib hidden-xs">维沃珂企业自助推广营销平台欢迎您！</p>
            <a href="#" class="g8c">登录</a>
            <span>  |  </span>
            <a href="#" class="g8c">注册</a>
        </div>
        <div class="r">
            <a href="#" class="g9a"> 收藏本站</a>
            <span>  |  </span>
            <a href="#"  class="g8c">在线留言</a>
            <span>  |  </span>
            <a href="#"  class="g8c">网站地图</a>
        </div>
    </div>
</div>
<!--header登录注册 end-->
<!--header logo-->
<div class="logo bgwh fn-clear">
    <div>
        <a class="l dib" href="#"><img src="__PUBLIC__/images/index/logo.png" alt="logo"></a>
        <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
    </div>
</div>
<!--header logo end-->
<!--导航条-->
<div class="menu rel">
    <div class="navbar-nav  navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--折叠部分-->
        <div class="collapse navbar-collapse" id="mycollapse">
            <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
            <ul class="nav navbar-nav">
                <li class="listBg"><a href="{:U('Home/index')}" >首页 </a></li>
                <li><a href="{:U('Home/Company/index')}" >企业展示 </a></li>
                <li><a href="{:U('Home/Shop/index')}" >企业店铺 </a></li>
                <li><a href="{:U('Home/Course/trained')}" >企业培训 </a></li>
                <li><a href="{:U('Home/Job/talents')}" >人才对接   </a></li>
                <li><a href="{:U('Home/Article/experience')}" >经验交流  </a></li>
                <li><a href="{:U('Home/Index/Cloudally')}" >商家云盟</a></li>
            </ul>
        </div>
    </div>
</div>
<!--导航条 end-->

<!--主要内容 start -->
<section>
    <div class="main">
        <div class="rightTab company actPublish">
            <div class="tabTitle ">
                <p class=" g9a lastBottom"><span class="b9a wh write">填写发布信息</span></p>
            </div>
            <div class="tabDetail g6">
                <form action="" onSubmit="return checkAll()">
                    <div>
                        <span >活动名称 <b>*</b></span>
                        <input type="text"/>
                    </div>
                    <div class="actTime">
                        <span>活动时间 <b>*</b></span>
                        <input class="startTime" type="text" readonly value="开始时间"/>
                        <input type="datetime-local" value="2016-10-18  10:30"/>
                        <input class="endTime" type="text" readonly value="结束时间"/>
                        <input type="datetime-local" value="2017-1-22 17:00"/>
                    </div>
                    <div class="address comAddress" data-toggle="distpicker">
                        <span>活动地点 <b>*</b></span>
                        <select id="province1">
                            <option value="">选择省份</option>
                        </select>

                        <select id="city">
                            <option value="">选择城市</option>
                        </select>
                    </div>
                    <div class="address">
                        <span> &nbsp;</span>
                        <input class="detailAdd" type="text" placeholder="请输入详细地址"/>
                    </div>
                    <div class="licence actNews">
                        <span>活动海报</span>
                        <img class="image liImg"  src="__PUBLIC__/images/personal/unImg.png"  value=""/>
                        <span class="gc abs prompt" style="max-width:400px;">
                            图片不得大于4M (jpg、gif、png、bmp)<br/>
                            推荐尺寸 472*280 px的图片<br/>
                            温馨提示：一张漂亮的海报，会起到意想不到的效果，<br/>
                            它会让你的活动显得更加有吸引力，更有品质；<br/>
                            这将会为您的活动带来更多的用户报名哦！<br/>
                        </span>
                        <input  class="b9a wh load" type="button" value="上传海报"/>
                        <input id="licence" type="file" value=" " onchange="selectImage(this)"/>
                    </div>
                    <div class="actType">
                        <span >活动类型</span>
                        <select>
                            <option value="">户外活动</option>
                            <option value="">自由活动</option>
                        </select>
                    </div>
                    <div class="abstract">
                        <span>活动详情</span>
                        <textarea></textarea>
                    </div>
                    <div class="signCost">
                        <span >报名费用</span>
                        <input class="freeAct g9a bd9" type="text" readonly value="免费活动"/>
                        <input class="" type="text" readonly value="收费活动"/>
                    </div>
                    <div class="numLimit">
                        <span>人数限制</span>
                        <input  type="text"/>
                    </div>
                    <div class="joinCost">
                        <span>参与金额</span>
                        <input type="text"/>
                    </div>
                    <div class="tel">
                        <span >联系方式</span>
                        <input type="text" placeholder="请输入11位联系号码，座机请输入‘区号-电话号-分机号’"/>
                    </div>
                    <div class="submit">
                        <input class="b9a wh load" type="button" value="确认修改"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="__PUBLIC__/scripts/distpicker.data.js"></script>
<script src="__PUBLIC__/scripts/distpicker.js"></script>
<script src="__PUBLIC__/scripts/personal.js"></script>
<script>
    $('.signCost input').click(function(){
        $('.signCost input').removeClass('bd9 g9a ');
        $(this).addClass('bd9 g9a ');
    })

//    表单验证

</script>
</body>
</html>