<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/personal.css">
    <title>报名成功</title>
<style>
    html, body, .main_suc{height: 100%;}
    .main_suc{height: auto; min-height: 100%;}
    .main_suc::after {content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;}
    .main_suc{display: inline-block;}
    .main_suc{display:block;}
    .footer,.footerT{position: relative;
        margin-top: -110px; /* footer高度的负值 */
        clear:both;}
</style>

</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<include file="Public/top1"/>
<section class="main_suc">
    <div class="main signSuccess">
        <div class=" bgwh tabDetail">
            <div class=" g6 ">
                <div>
                    <img src="__PUBLIC__/images/personal/pay_success.png" alt=""/>
                </div>
                <p class="g3">报名成功！</p>
                <div>
                    <p>活动主题：{$activity.title}</p>
                    <p>开始时间：{$activity.starttime|date='Y-m-d H:i:s',###}</p>
                    <p>活动地点：{$activity.city}{$activity.address}</p>
                </div>
            </div>
            <!--<div class="device" ></div>-->
            <!--<div class=" g6">-->
                <!--&lt;!&ndash;<div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<img class="twoCode" src="__PUBLIC__/images/personal/signSuccess.png" width="100px" height="100px" alt=""/>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="g3">扫描二维码，将您的 <span class="g9a">电子门票</span> 电子门票 保留至手机相册！</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    </div>
</section>
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<script src="__PUBLIC__/scripts/distpicker.data.js"></script>
<script src="__PUBLIC__/scripts/distpicker.js"></script>
<script src="__PUBLIC__/scripts/personal.js"></script>
</body>
</html>