<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>评价管理>评价列表</h1>
        </div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
            <!--<a href="{:U('Admin/Role/add', array('rpid' => $date['id'],'uid' => $_SESSION[C('USER_AUTH_KEY')]))}" class="ul_button">添加评价组</a>-->
            <!--<a href="{:U('Admin/Node/index')}" class="ul_button">权限设置</a>-->
            <!--<a href="#" onclick="del();" class="ul_button">删除评价组</a>-->
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="template_middle">
    <table class="ul_table">
         	<tbody class="ul_table">
    		<tr>
    		<td width="60%" style="text-align:left">
	    		<form action="{:U('Admin/Topic/comment')}" method="get">
				正文：<input type="text" name="keyword" value="{$Think.get.keyword}" />
				<select name="status">
				<option value="">状态</option>
				<option value="1" <if condition="$Think.get.status eq 1">selected</if>>正常</option>
				<option value="0" <if condition="$Think.get.status eq '0'">selected</if>>屏蔽</option>
				</select>				
				<input type="submit" value="查询" />
				<input type="reset" value="清空" />
	      		</form>
    		</td>
      	</tr></tbody>
     	</table>
        <table class="ul_table">
            <tbody class="ul_table">
            <tr class="ul_box">
            	<th style="width:5%">ID</th>
                <th style="width:25%">话题标题</th>
                <th style="width:30%">内容</th>
                <th style="width:10%">评价人</th>
                <th style="width:10%">日期</th>
                <th style="width:5%">状态</th>
                <th style="width:5%">操作</th>
                <th style="width:5%">删除</th>
            </tr>
                <foreach name="comments" item="v">
                    <tr class="ul_box1">
                        <td>{$v.commentid}</td>
                        <td>{:mb_substr($v['title'],0,15)}</td>
                        <td>{:mb_substr($v['content'],0,50)}</td>
                        <td>{:mb_substr($v['name'],0,5)}</td>
                        <td>{$v.created|date='y-m-d H:i',###}</td>
                        <td><if condition="$v['status']">正常<else/>屏蔽</if></td>
                        <td> <if condition="$v['status']">
                            <a href="{:U('Admin/Topic/comment',array('commentid'=>$v['commentid'],'status'=>0))}">屏蔽</a>
                            <else/>
                            <a href="{:U('Admin/Topic/comment',array('commentid'=>$v['commentid'],'status'=>1))}">开启</a>
                        </if></td>
                        <td><a class="js-del" value="{$v['commentid']}" href="javascript:;">删除</a></td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(".js-del").click(function(){
            var status = confirm("删除后不可找回，你确认删除吗？");
            if(status){
                var id = $(this).attr("value");
                if(id==''){
                    alert("参数错误");
                    return false;
                }
                window.location.href="/index.php/Admin/Topic/delComment/id/"+id;
            }
        }) ;
    });
</script>
</body>
</html>