@media (max-width: 767px) {
  .main form .actTime input {
    line-height: 30px;
    width: 150px;
    margin: 4px auto;
  }
  .main form .actTime .startTime,
  .main form .actTime .endTime {
    width: 120px;
    text-indent: 30px;
    background: url("../images/personal/calender_bg.png") no-repeat;
    background-position: 10px 6px;
    background-size: 15%;
  }
  .main form .actTime .startTime {
    margin-left: -60px;
  }
  .main form .signCost {
    margin-top: 5.4rem;
  }
  .main form .signCost input {
    width: 80px;
  }
  .main form .signCost .freeAct {
    margin-left: -50px;
    margin-right: 30px;
  }
  .main form .actNews .prompt {
    display: none;
  }
  .main form .tel input {
    width: 14rem;
    text-indent: .5rem;
  }
}
@media (min-width: 768px) {
  .main form div {
    margin: 20px auto;
    line-height: 30px;
  }
  .main form .actTime {
    margin: 20px auto;
  }
  .main form .actTime input {
    line-height: 30px;
    width: 150px;
  }
  .main form .actTime .startTime {
    margin-left: -60px;
  }
  .main form .actTime .startTime,
  .main form .actTime .endTime {
    width: 100px;
    text-indent: 30px;
    background: url('../images/personal/calender_bg.png') no-repeat;
    background-size: 15%;
    background-position: .2rem;
  }
  .main form .actType select {
    width: 160px;
    height: 30px;
    line-height: 30px;
  }
  .main form .signCost {
    margin-top: 150px;
  }
  .main form .signCost input {
    width: 160px;
  }
  .main form .signCost .freeAct {
    margin-left: -58px;
    margin-right: 60px;
  }
  .main form .actNews #licence,
  .main form .actNews .load {
    height: 40px;
    top: 170px;
  }
  .main form .tel input {
    width: 600px;
    text-indent: 10px;
  }
}
@media (min-width: 992px) {
  .main form .actTime input {
    line-height: 30px;
    width: 150px;
  }
  .main form .actTime .startTime,
  .main form .actTime .endTime {
    width: 120px;
    background-position: 10px 6px;
    background-size: 15%;
  }
  .main form .actTime .startTime {
    margin-left: -58px;
  }
  .main form .actTime .endTime {
    margin-left: 20px;
  }
  .main form .signCost {
    margin-top: 200px;
  }
}
@media (min-width: 1200px) {
  .main .actTime input {
    line-height: 50px;
    width: 200px;
  }
  .main .actTime .startTime,
  .main .actTime .endTime {
    width: 120px;
    background-position: 10px 6px;
    background-size: 10%;
  }
  .main .actTime .startTime {
    margin-left: -68px;
  }
  .main .actTime .endTime {
    margin-left: 20px;
  }
  .main .actType select {
    height: 50px;
    width: 160px;
  }
}
@media (max-width: 321px) {
  .main form .actTime input {
    width: 120px!important;
  }
  .main form .actTime .startTime,
  .main form .actTime .endTime {
    width: 90px!important;
  }
}
.main .tabDetail {
  border-top: none;
}
.main .actPublish {
  width: 100%;
}
.main .actPublish .tabTitle .write {
  padding: 10px;
}
.main .actPublish form div span b {
  color: red;
}
.main .actPublish form .actTime input {
  position: relative;
}
.main .actPublish form .signCost input {
  position: relative;
  text-align: center;
}
.main .actPublish form .signCost .freeAct {
  background: white;
  border: 1px solid #9ab126;
}
.main .actPublish form .numLimit input,
.main .actPublish form .joinCost input {
  width: 160px;
}
