.mainBg {
  background: url("../images/exhibition/bg.png") no-repeat 100%;
  width: 100%;
  height: 2773px;
  overflow: hidden;
}
input {
  border: none;
  background: none;
}
a:hover {
  text-decoration: none;
}
.company .greenColor {
  color: #9ab126;
}
.banner {
  margin: auto;
}
#paging .green {
  color: #fff;
  border: 1px solid #9ab126;
  background: #9ab126;
}
#paging #xifenye .whiteness {
  color: #9ab126;
  border: 1px solid #9ab126;
  background: #fff;
}
.company .typeList .borGreen {
  border: 1px solid #9ab126;
  overflow: hidden;
}
.company h3:before {
  content: "";
  width: 3px;
  height: 18px;
  background: #9ab126;
  position: absolute;
  left: 0;
  top: 20px;
}
.company .title {
  border-bottom: 1px solid #e1e1e1;
}
.company .typeList > li {
  border: 1px solid #ececec;
  float: left;
  overflow: hidden;
}
.type-list > li {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  text-align: center;
}
.type-list .update {
  display: block;
}
.company .typeList li {
  text-align: left;
}
.seeIcon {
  background: url("../images/exhibition/seeIcon.png") no-repeat top left;
}
.commentIcon {
  background: url("../images/exhibition/commentIcon.png") no-repeat top left;
}
.seeIconG {
  background: url("../images/exhibition/seeIconG.png") no-repeat top left;
  color: #9ab126 ;
}
.commentIconG {
  background: url("../images/exhibition/commentIconG.png") no-repeat top left;
  color: #9ab126 ;
}
.company h3:before {
  content: "";
  width: 3px;
  height: 18px;
  background: #9ab126;
  position: absolute;
  left: 0;
  top: 20px;
}
.interaction li {
  height: 24px;
}
.paging li {
  display: inline-block;
}
.paging li {
  background: #fafafa;
  border: 1px solid #dfdfdf;
}
.paging .xifenye {
  background: #fff;
  border: none;
  color: #8c8c8c;
}
.paging .xifenye #xiye,
.paging .xifenye #mo {
  background: #fafafa;
  border: 1px solid #dfdfdf;
  display: inline-block;
  color: #8c8c8c;
}
.banner img {
  width: 100%;
}
.applyFor {
  border: 1px solid #fff;
  border-radius: 1px;
  background: none;
  text-align: center;
}
.applyFor input {
  width: 100%;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .applyFor {
    width: 52px;
    line-height: 22px;
    left: 22%;
    top: 44px;
    cursor: pointer;
  }
  .mainBg {
    height: 1100px;
  }
  .company h3 {
    line-height: 24px;
    text-indent: 10px;
  }
  .company .title {
    line-height: 24px;
  }
  .company {
    width: 320px;
    margin: 10px auto;
  }
  .company {
    padding: 4px 8px 0;
  }
  .company .typeList {
    margin-top: 4px;
  }
  .company .typeList > li {
    width: 96px;
    border: 1px solid #ececec;
    margin: 4px 2px 0;
    float: left;
    overflow: hidden;
    padding: 4px 6px 0;
  }
  .type-list {
    height: 700px;
  }
  .type-list .update {
    display: block;
  }
  .company .title {
    margin: 0 2px;
  }
  .company .title ul > li {
    line-height: 24px;
    margin-left: 30px;
  }
  .company .typeList li {
    text-align: left;
  }
  .company .typeList li h4 {
    margin: 6px 0 2px;
  }
  .company .typeList li img {
    height: 72px;
  }
  .company .typeList li p {
    line-height: 12px;
  }
  .interaction li {
    width: 38px;
    margin-top: 0;
    text-indent: 12px;
  }
  .seeIcon,
  .commentIcon,
  .seeIconG,
  .commentIconG {
    background-size: 18px 18px;
  }
  .company h3:before {
    top: 6px;
    height: 12px;
    width: 2px;
  }
  .paging {
    width: 300px;
    margin: 12px auto 0;
  }
  .paging li {
    width: 44px;
    line-height: 30px;
  }
  .paging .xifenye {
    width: 84px;
    font-size: 14px;
  }
  .paging .xifenye #xiye,
  .paging .xifenye #mo {
    width: 30px;
    line-height: 30px;
    margin: 0 6px;
    font-size: 14px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .applyFor {
    width: 120px;
    line-height: 32px;
    left: 22%;
    top: 114px;
  }
  .mainBg {
    height: 1960px;
  }
  .company h3 {
    line-height: 44px;
    text-indent: 14px;
  }
  .company .title {
    line-height: 44px;
  }
  .company {
    width: 768px;
    margin: 16px auto;
  }
  .company {
    padding: 4px 20px 0;
  }
  .company .typeList {
    margin-top: 10px;
  }
  .company .typeList > li {
    width: 172px;
    border: 1px solid #ececec;
    margin: 6px 4px 0;
    float: left;
    overflow: hidden;
    padding: 10px 8px 10px;
  }
  .type-list {
    height: 1180px;
  }
  .type-list .update {
    display: block;
  }
  .company .title {
    margin: 0 6px;
  }
  .company .title ul > li {
    line-height: 46px;
    margin-left: 30px;
  }
  .company .typeList li {
    text-align: left;
  }
  .company .typeList li h4 {
    margin: 10px 0 4px;
  }
  .company .typeList li img {
    height: 130px;
  }
  .company .typeList li p {
    line-height: 14px;
  }
  .interaction li {
    width: 74px;
    margin-top: 10px;
    text-indent: 22px;
  }
  .seeIcon,
  .commentIcon,
  .seeIconG,
  .commentIconG {
    background-size: 18px 18px;
  }
  .company h3:before {
    top: 14px;
  }
  .paging {
    width: 400px;
    margin: 26px auto 0;
  }
  .paging li {
    width: 44px;
    line-height: 30px;
  }
  .paging .xifenye {
    width: 84px;
    font-size: 14px;
  }
  .paging .xifenye #xiye,
  .paging .xifenye #mo {
    width: 30px;
    line-height: 30px;
    margin: 0 6px;
    font-size: 14px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .applyFor {
    width: 160px;
    line-height: 40px;
    left: 22%;
    top: 144px;
  }
  .mainBg {
    height: 2530px;
  }
  .company h3 {
    line-height: 58px;
    text-indent: 14px;
  }
  .company .title {
    line-height: 58px;
  }
  .company {
    width: 992px;
    margin: 30px auto;
  }
  .company {
    padding: 8px 20px 0;
  }
  .company .typeList {
    margin-top: 12px;
  }
  .company .typeList > li {
    width: 226px;
    border: 1px solid #ececec;
    margin: 10px 6px 0;
    float: left;
    overflow: hidden;
    padding: 10px 8px 12px;
  }
  .type-list {
    height: 1500px;
  }
  .type-list .update {
    display: block;
  }
  .company .title {
    margin: 0 6px;
  }
  .company .title ul > li {
    line-height: 46px;
    margin-left: 30px;
  }
  .company .typeList li {
    text-align: left;
  }
  .company .typeList li h4 {
    margin: 20px 0 8px;
  }
  .company .typeList li img {
    height: 178px;
  }
  .company .typeList li p {
    line-height: 18px;
  }
  .interaction li {
    width: 84px;
    margin-top: 18px;
    text-indent: 28px;
  }
  .seeIcon,
  .commentIcon,
  .seeIconG,
  .commentIconG {
    background-size: 24px 24px;
  }
  .paging {
    width: 400px;
    margin: 46px auto 0;
  }
  .paging li {
    width: 54px;
    line-height: 38px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
  }
  .paging .xifenye {
    width: 100px;
    background: #fff;
    border: none;
    font-size: 14px;
    color: #8c8c8c;
  }
  .company h3:before {
    top: 20px;
  }
  .paging .xifenye #xiye,
  .paging .xifenye #mo {
    width: 38px;
    line-height: 38px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    display: inline-block;
    margin: 0 6px;
    font-size: 14px;
    color: #8c8c8c;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .applyFor {
    width: 160px;
    line-height: 40px;
    left: 22%;
    top: 208px;
  }
  .company h3 {
    line-height: 58px;
    text-indent: 14px;
  }
  .mainBg {
    height: 2800px;
  }
  .company h3:before {
    top: 20px;
  }
  .company .title {
    line-height: 58px;
  }
  .company {
    width: 1200px;
    margin: 40px auto;
  }
  .company {
    padding: 10px 20px 0;
  }
  .company .typeList {
    margin-top: 20px;
  }
  .company .typeList > li {
    width: 270px;
    border: 1px solid #ececec;
    margin: 10px 6px 0;
    float: left;
    overflow: hidden;
    padding: 18px 14px 20px;
  }
  .type-list > li {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    text-align: center;
  }
  .type-list {
    height: 1740px;
  }
  .type-list .update {
    display: block;
  }
  .company .title {
    margin: 0 6px;
  }
  .company .title ul > li {
    line-height: 46px;
    margin-left: 30px;
  }
  .company .typeList li {
    text-align: left;
  }
  .company .typeList li h4 {
    margin: 20px 0 8px;
  }
  .company .typeList li img {
    height: 204px;
  }
  .company .typeList li p {
    line-height: 24px;
  }
  .interaction li {
    width: 84px;
    margin-top: 18px;
    text-indent: 28px;
  }
  .seeIcon,
  .commentIcon,
  .seeIconG,
  .commentIconG {
    background-size: 24px 24px;
  }
  .paging {
    width: 400px;
    margin: 46px auto 0;
  }
  .paging li {
    width: 54px;
    line-height: 38px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
  }
  .paging .xifenye {
    width: 100px;
    background: #fff;
    border: none;
    font-size: 14px;
    color: #8c8c8c;
  }
  .paging .xifenye #xiye,
  .paging .xifenye #mo {
    width: 38px;
    line-height: 38px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    display: inline-block;
    margin: 0 6px;
    font-size: 14px;
    color: #8c8c8c;
  }
}
