/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .footer {
    background: #1e1e1e;
    text-align: center;
    margin-top: 12px;
  }
  .footer > div {
    width: 320px;
    height: 98px;
    margin: auto;
  }
  .fot-nav {
    width: 768px;
    line-height: 36px;
    background: #3c3c3c;
    top: -24px;
    left: 0;
  }
  .fot-nav li {
    display: inline-block;
    margin: 0 30px;
  }
  .fot-nav li a {
    color: #dfdfdf;
  }
  .footer h4 {
    margin: 0 0 6px;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer p {
    margin-bottom: 6px;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer p span {
    color: #9ab126;
    margin: 0 6px;
  }
  .footer img {
    height: 40px;
    margin: 14px 0 10px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .footer {
    background: #1e1e1e;
    text-align: center;
    margin-top: 42px;
  }
  .footer > div {
    width: 768px;
    height: 220px;
    margin: auto;
  }
  .fot-nav {
    width: 768px;
    line-height: 36px;
    background: #3c3c3c;
    top: -24px;
    left: 0;
  }
  .fot-nav li {
    display: inline-block;
    margin: 0 30px;
  }
  .fot-nav li a {
    color: #dfdfdf;
  }
  .footer h4 {
    margin: 0 0 10px;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer p {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer p span {
    color: #9ab126;
    margin: 0 14px;
  }
  .footer img {
    height: 70px;
    margin: 34px 0 20px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .footer {
    background: #1e1e1e;
    text-align: center;
    margin-top: 52px;
  }
  .footer > div {
    width: 992px;
    height: 300px;
    margin: auto;
  }
  .fot-nav {
    width: 992px;
    line-height: 40px;
    background: #3c3c3c;
    top: -24px;
    left: 0;
  }
  .fot-nav li {
    display: inline-block;
    margin: 0 40px;
  }
  .fot-nav li a {
    color: #dfdfdf;
  }
  .footer h4 {
    margin: 0 0 12px;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer p {
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer p span {
    color: #9ab126;
    margin: 0 24px;
  }
  .footer img {
    height: 70px;
    margin: 54px 0 40px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .footer {
    background: #1e1e1e;
    text-align: center;
    margin-top: 58px;
  }
  .footer > div {
    width: 1200px;
    height: 328px;
    margin: auto;
  }
  .fot-nav {
    width: 1200px;
    line-height: 50px;
    background: #3c3c3c;
    top: -24px;
    left: 0;
  }
  .fot-nav li {
    display: inline-block;
    margin: 0 40px;
  }
  .fot-nav li a {
    color: #dfdfdf;
  }
  .footer h4 {
    margin: 0 0 22px;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer p {
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer p span {
    color: #9ab126;
    margin: 0 24px;
  }
  .footer img {
    height: 90px;
    margin: 64px 0 40px;
  }
}
