.antistopBg {
  width: 100%;
  background: #1e1e1e;
}
.search input {
  background: none;
  border: 1px solid #8f8f8f;
}
.business li {
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
}
.date p,
.date a {
  display: inline-block;
}
.date {
  text-align: left;
}
.business .ml0 {
  margin-left: 0;
}
.business .mr0 {
  margin-right: 0;
}
.excellent h3 {
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}
h3 i {
  display: inline-block;
  font-style: normal;
}
.excellent ul li {
  cursor: pointer;
}
.excellent ul li .greenColor,
.recruit .greenColor,
.introductionR ul li > div .greenColor,
.type .type-tab .greenColor,
#type-business .greenColor,
.service .news .greenColor,
.link .greenColor {
  color: #9ab126;
}
.SEO {
  background: url("../images/index/SEObar.jpg") no-repeat;
  text-align: center;
}
.SEO > div {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.SEO > div a {
  border: 1px solid #fff;
  position: absolute;
  background: none;
}
.planningL ul li {
  overflow: hidden;
  border: 1px solid #fff;
  cursor: pointer;
}
.planningL .list .borGreen,
.type .typeList .borGreen {
  border: 1px solid #9ab126;
  overflow: hidden;
}
.recruit {
  margin: auto;
}
.recruitR li,
.recruitL {
  text-align: center;
  cursor: pointer;
}
.recruitL p {
  text-align: center;
}
.recruit h3,
.introduction h3,
.type .title {
  border-bottom: 1px solid #e1e1e1;
}
.recruitR li p {
  margin-bottom: 0;
}
.introduction,
.recruit,
.planning,
.excellent,
.type,
.collaborate,
.news,
.link {
  border-radius: 4px;
  webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  overflow: hidden;
}
.type-list > li {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.type-list > li:first-child {
  display: block;
}
a:hover {
  color: #9ab126;
}
.planning .list a:hover,
.introductionL a {
  color: #fff;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .antistopBg {
    height: 36px;
  }
  .antistop {
    width: 320px;
    margin: auto;
    overflow: hidden;
  }
  .antistop h3 {
    line-height: 36px;
  }
  .antistop p {
    margin-left: 10px;
    line-height: 36px;
  }
  .search input {
    width: 120px;
    height: 22px;
    line-height: 22px;
    text-indent: 10px;
    margin: 6px 0;
  }
  .search:after {
    content: "";
    width: 30px;
    height: 22px;
    background: #8f8f8f;
    position: absolute;
    right: 0;
    top: 6px;
  }
  .search:before {
    content: "";
    background: url("../images/index/search.png") no-repeat center;
    background-size: 14px 14px;
    width: 30px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
  }
  .main {
    width: 320px;
    margin: auto;
  }
  .date {
    margin: 10px 0 8px;
    line-height: 20px;
    text-align: center;
  }
  .business li {
    margin: 0 2px;
  }
  .business li a {
    width: 76px;
    height: 38px;
    line-height: 38px;
    text-indent: 26px;
    background-size: 20px 20px;
  }
  .enterprise {
    background: url("../images/index/enterprise.png") no-repeat 6px 10px;
  }
  .website {
    background: url("../images/index/website.png") no-repeat 6px 10px;
  }
  .activity {
    background: url("../images/index/activity.png") no-repeat 6px 10px;
  }
  .generalize {
    background: url("../images/index/generalize.png") no-repeat 6px 10px;
  }
  .business li .enterprise_wh {
    background: url("../images/index/enterprise_wh.png") no-repeat 6px 10px;
    color: #fff;
    background-size: 20px 20px;
  }
  .business li .website_wh {
    background: url("../images/index/website_wh.png") no-repeat 6px 10px;
    color: #fff;
    background-size: 20px 20px;
  }
  .business li .activity_wh {
    background: url("../images/index/activity_wh.png") no-repeat 6px 10px;
    color: #fff;
    background-size: 20px 20px;
  }
  .business li .generalize_wh {
    background: url("../images/index/generalize_wh.png") no-repeat 6px 10px;
    color: #fff;
    background-size: 20px 20px;
  }
  .excellent {
    margin-top: 14px;
  }
  .excellent h3,
  .recruit h3,
  .collaborate h3 {
    line-height: 40px;
    height: 40px;
    margin: 0 20px;
    text-indent: 14px;
    font-weight: 600;
  }
  .excellent h3 i,
  .type h3 i,
  .planning h3 i,
  .recruit h3 i,
  .collaborate h3 i,
  .service h3 i,
  .link h3 i {
    margin-right: 14px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .excellent h3:before,
  .recruit h3:before,
  .collaborate h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 12px;
  }
  .excellent ul {
    margin-top: 10px;
    text-align: center;
    padding: 0 4px;
  }
  .excellent ul li {
    margin: 0 10px;
  }
  .excellent ul li img {
    height: 56px;
  }
  .excellent ul li p {
    margin: 6px 0 8px;
  }
  .SEO {
    background-size: 100% 120px;
    width: 100%;
    height: 120px;
    margin-top: 12px;
  }
  .SEO > div {
    width: 200px;
    height: 64px;
  }
  .SEO h4 {
    padding-top: 22px;
  }
  .SEO h4:before {
    content: "";
    width: 26px;
    height: 2px;
    background: #9ab126;
    position: absolute;
    top: 6px;
    left: 46%;
  }
  .SEO p {
    line-height: 12px;
    text-transform: uppercase;
  }
  .SEO > div a {
    width: 88px;
    height: 26px;
    line-height: 26px;
    left: 54px;
    bottom: -14px;
  }
  .SEO > div a:before {
    content: "";
    width: 56px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: -56px;
    bottom: 12px;
  }
  .SEO > div a:after {
    content: "";
    width: 58px;
    height: 1px;
    background: #fff;
    position: absolute;
    right: -58px;
    bottom: 12px;
  }
  .planning {
    width: 320px;
    margin: 10px auto;
  }
  .planning .title {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #e5e5e5;
    margin: 8px 20px 0;
  }
  .planning .title h3,
  .introduction h3,
  .type h3,
  .service h3,
  .link h3 {
    line-height: 32px;
    text-indent: 14px;
  }
  .planning h3:before,
  .introduction h3:before,
  .type h3:before,
  .service h3:before,
  .link h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 10px;
  }
  .planning .title > div a {
    margin-left: 36px;
  }
  .planningL ul li {
    width: 180px;
    height: 60px;
    margin-left: 12px;
  }
  .planningL ul li .pic img {
    height: 50px;
    margin: 6px 12px 6px 14px;
  }
  .planning .title > div a {
    margin-left: 16px;
  }
  .title-con {
    margin: 10px 14px 0 8px;
  }
  .title-con h4 {
    margin: 10px 0;
  }
  .title-con img {
    height: 40px;
    margin-right: 4px;
  }
  .title-con p {
    margin-bottom: 0;
    line-height: 18px;
  }
  .title-con span {
    margin-top: 10px;
  }
  .planApply {
    text-align: center;
  }
  .planApply i {
    margin: 6px 0;
    font-style: normal;
  }
  .planApply button {
    width: 60px;
    height: 22px;
    line-height: 22px;
    background: #9ab126;
    border-radius: 10px;
  }
  .planningR {
    width: 128px;
  }
  .planningR .listPic {
    margin-top: 18px;
  }
  .planningR img {
    height: 26px;
    margin: 0 10px;
  }
  .recruit {
    width: 320px;
  }
  .recruitL {
    margin: 10px 8px 0 14px;
  }
  .recruitL img {
    height: 90px;
  }
  .recruit {
    padding-top: 10px;
  }
  .recruitR {
    width: 180px;
    margin-top: 4px;
  }
  .recruitR li {
    margin: 0 4px;
  }
  .recruitL p {
    padding: 4px 0 14px;
  }
  .recruit h3 {
    height: 38px;
    line-height: 38px;
  }
  .recruit h3:before {
    top: 12px;
  }
  .recruitR li img {
    margin: 4px 0;
    height: 32px;
  }
  .keyword {
    background: url("../images/index/SEOBar2.jpg") no-repeat;
    background-size: 100% 120px;
    height: 120px;
    text-align: center;
    margin: 10px 0;
  }
  .keyword .keywordCon {
    padding-top: 10px;
  }
  .keyword .keywordCon > div {
    background: url("../images/index/SEOPicBg.png") no-repeat;
    background-size: 76px 76px;
    width: 76px;
    height: 76px;
    margin: 0 auto 6px;
  }
  .keyword .keywordCon > div h4 {
    padding: 22px 0 8px;
    margin: 0;
  }
  .keyword .keywordCon > div span {
    line-height: 10px;
    text-transform: uppercase;
  }
  .keyword .keywordCon h4 {
    font-size: 12px;
  }
  .keyword .keywordCon h5 {
    margin-bottom: 2px;
  }
  .keyword .keywordCon p {
    line-height: 10px;
    margin-bottom: 0;
  }
  .keywordCon .arrow {
    height: 19px;
    margin-top: 14px;
  }
  .introduction {
    width: 320px;
    margin: 10px auto;
  }
  .introduction h3 {
    text-transform: uppercase;
  }
  .introductionL {
    width: 200px;
    padding: 10px 10px 0;
    height: 160px;
    overflow: hidden;
  }
  .introductionL img {
    margin-top: 20px;
    height: 80px;
  }
  .introductionL p {
    text-align: center;
    padding: 10px 0 20px;
  }
  .introductionL .title {
    width: 60px;
  }
  .introductionL .title h4 {
    margin: 22px 0 6px;
  }
  .introductionL .title p {
    line-height: 14px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .introductionL .title a {
    width: 60px;
    height: 22px;
    line-height: 22px;
    border-radius: 10px;
    text-align: center;
    margin-top: 12px;
  }
  .introductionR {
    width: 120px;
    height: 160px;
    padding: 12px 6px 18px;
  }
  .introductionR ul {
    margin-top: 10px;
  }
  .introductionR ul li {
    height: 42px;
    overflow: hidden;
  }
  .introductionR img {
    height: 30px;
    margin: 4px 4px 6px 0;
  }
  .introductionR ul li:before {
    content: "";
    background: url("../images/index/introductionRLine.png") no-repeat;
    background-size: 294px 1px;
    width: 294px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .introductionR ul li > div {
    margin-top: 10px;
  }
  .introductionR ul li > div h4 {
    margin: 0 0 6px 0;
  }
  .type {
    width: 320px;
    margin: auto;
  }
  .type {
    padding: 8px 10px 0;
  }
  .type .typeList {
    margin-top: 10px;
  }
  .type .typeList li {
    width: 92px;
    border: 1px solid #ececec;
    text-align: center;
    margin: 12px 4px 0;
    float: left;
    overflow: hidden;
    padding-bottom: 0;
  }
  .type .title {
    margin: 0 6px;
  }
  .type .title ul li {
    line-height: 30px;
    margin-left: 20px;
  }
  .type .typeList li h4 {
    margin: 8px 0 6px;
  }
  .type .typeList li img {
    height: 92px;
  }
  .type .typeList li p {
    line-height: 18px;
    padding: 0 10px;
  }
  .more {
    text-align: center;
    line-height: 46px;
  }
  .type-list {
    height: 320px;
  }
  .typeBar {
    background: url("../images/index/typeBar.jpg") 100% 120px;
    width: 100%;
    height: 120px;
    margin: 10px 0;
    overflow: hidden;
  }
  .type-business li {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
  }
  .type-business li img {
    height: 44px;
    margin-bottom: 12px;
  }
  .type-over {
    width: 280px;
    height: 120px;
    overflow: hidden;
  }
  .type-con {
    width: 320px;
    margin: auto;
    padding: 28px 20px 0;
  }
  .type-business {
    width: 3000px;
    transform: translateX(0);
  }
  .type-click img {
    height: 46px;
  }
  .type-left {
    position: absolute;
    left: -4px;
    top: 44px;
    z-index: 99;
    cursor: pointer;
  }
  .type-left img,
  .type-right img {
    height: 30px;
  }
  .type-right {
    position: absolute;
    right: -4px;
    top: 44px;
    z-index: 99;
    cursor: pointer;
  }
  .collaborate {
    width: 320px;
    margin: auto;
  }
  .collaborate h3,
  .tel-service h3 {
    border-bottom: 1px solid #e1e1e1;
    line-height: 36px;
    height: 36px;
  }
  .collaborate {
    padding: 8px 0 4px;
  }
  .collaborate h3:before {
    top: 10px;
  }
  .collaborate ul {
    margin: 8px 10px;
  }
  .collaborate ul li {
    width: 138px;
    height: 50px;
    border: 1px solid #f2f2f2;
    text-align: center;
    position: relative;
    margin: 8px 4px;
  }
  .collaborate ul li img {
    height: 32px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .service {
    width: 320px;
    margin: 10px auto;
  }
  .service > li {
    width: 156px;
    height: 210px;
    padding: 10px 8px 22px;
  }
  .service .title,
  .link .title {
    line-height: 40px;
    border-bottom: 1px solid #e1e1e1;
  }
  .sumTitle {
    margin: 10px 0 6px;
  }
  .news img {
    height: 42px;
  }
  .news h4 {
    width: 166px;
    line-height: 14px;
    margin-top: 0;
    font-size: 10px;
  }
  .service .news p {
    line-height: 18px;
    border-bottom: 1px dashed #e5e5e5;
    text-indent: 10px;
    position: relative;
    cursor: pointer;
  }
  .service .news p:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #3c3c3c;
    position: absolute;
    left: 0;
    top: 8px;
  }
  .service .news p:last-child {
    border-bottom: none;
  }
  .inf {
    margin: 0 6px 0 0 ;
  }
  .service .inf .title {
    margin-bottom: 10px;
  }
  .tel-service > div {
    margin: 4px 0;
  }
  .tel-service label {
    width: 62px;
    font-size: 14px;
    font-weight: 600;
    vertical-align: top;
  }
  .tel-service input {
    width: 70px;
    height: 24px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    text-indent: 4px;
  }
  .tel-service textarea {
    height: 40px;
    width: 70px;
    resize: none;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    text-indent: 4px;
  }
  .tel-service input[type="submit"] {
    width: 124px;
    line-height: 22px;
    height: 22px;
    background: #9ab126;
    margin-top: -2px;
  }
  .link {
    width: 320px;
    margin: auto;
    padding: 0 10px;
    line-height: 18px;
    height: 104px;
    overflow: hidden;
  }
  .link > div {
    margin-top: 4px;
  }
  .link p {
    margin-right: 32px;
  }
  .link > div p:nth-child(4) {
    margin-right: 0;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .antistopBg {
    height: 44px;
  }
  .antistop {
    width: 768px;
    margin: auto;
    overflow: hidden;
  }
  .antistop h3 {
    line-height: 44px;
  }
  .antistop p {
    margin-left: 14px;
    line-height: 44px;
  }
  .search input {
    width: 320px;
    height: 28px;
    line-height: 28px;
    text-indent: 18px;
    margin: 10px 0;
  }
  .search:after {
    content: "";
    width: 40px;
    height: 28px;
    background: #8f8f8f;
    position: absolute;
    right: 0;
    top: 10px;
  }
  .search:before {
    content: "";
    background: url("../images/index/search.png") no-repeat center;
    background-size: 18px 18px;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
  }
  .main {
    width: 768px;
    margin: auto;
  }
  .date {
    margin: 18px 0 20px;
    line-height: 28px;
    text-align: center;
  }
  .business li {
    margin: 0 6px;
  }
  .business li a {
    width: 180px;
    height: 58px;
    line-height: 58px;
    text-indent: 80px;
    background-size: 30px 30px;
  }
  .enterprise {
    background: url("../images/index/enterprise.png") no-repeat 32px 14px;
  }
  .website {
    background: url("../images/index/website.png") no-repeat 32px 14px;
  }
  .activity {
    background: url("../images/index/activity.png") no-repeat 32px 14px;
  }
  .generalize {
    background: url("../images/index/generalize.png") no-repeat 32px 14px;
  }
  .business li .enterprise_wh {
    background: url("../images/index/enterprise_wh.png") no-repeat 32px 14px;
    color: #fff;
    background-size: 30px 30px;
  }
  .business li .website_wh {
    background: url("../images/index/website_wh.png") no-repeat 32px 14px;
    color: #fff;
    background-size: 30px 30px;
  }
  .business li .activity_wh {
    background: url("../images/index/activity_wh.png") no-repeat 32px 14px;
    color: #fff;
    background-size: 30px 30px;
  }
  .business li .generalize_wh {
    background: url("../images/index/generalize_wh.png") no-repeat 32px 14px;
    color: #fff;
    background-size: 30px 30px;
  }
  .excellent {
    margin-top: 30px;
  }
  .excellent h3,
  .recruit h3,
  .collaborate h3 {
    line-height: 50px;
    height: 50px;
    margin: 0 20px;
    text-indent: 14px;
    font-weight: 600;
  }
  .excellent h3 i,
  .type h3 i,
  .planning h3 i,
  .recruit h3 i,
  .collaborate h3 i,
  .service h3 i,
  .link h3 i {
    margin-right: 14px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .excellent h3:before,
  .recruit h3:before,
  .collaborate h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 16px;
  }
  .excellent ul {
    margin-top: 24px;
    text-align: center;
    padding: 0 4px;
  }
  .excellent ul li {
    margin: 0 4px;
  }
  .excellent ul li img {
    height: 98px;
  }
  .excellent ul li p {
    margin: 16px 0 18px;
  }
  .SEO {
    background-size: 100% 220px;
    width: 100%;
    height: 220px;
    margin-top: 30px;
  }
  .SEO > div {
    width: 320px;
    height: 124px;
  }
  .SEO h4 {
    padding-top: 32px;
  }
  .SEO h4:before {
    content: "";
    width: 26px;
    height: 2px;
    background: #9ab126;
    position: absolute;
    top: 16px;
    left: 46%;
  }
  .SEO p {
    line-height: 18px;
    text-transform: uppercase;
  }
  .SEO > div a {
    width: 140px;
    height: 30px;
    line-height: 30px;
    left: 96px;
    bottom: -14px;
  }
  .SEO > div a:before {
    content: "";
    width: 96px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: -98px;
    bottom: 12px;
  }
  .SEO > div a:after {
    content: "";
    width: 84px;
    height: 1px;
    background: #fff;
    position: absolute;
    right: -84px;
    bottom: 12px;
  }
  .planning {
    width: 768px;
    margin: 30px auto 10px;
  }
  .planning .title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e5e5e5;
    margin: 12px 20px 0;
  }
  .planning .title h3,
  .introduction h3,
  .type h3,
  .service h3,
  .link h3 {
    line-height: 40px;
    text-indent: 14px;
  }
  .planning h3:before,
  .introduction h3:before,
  .type h3:before,
  .service h3:before,
  .link h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 14px;
  }
  .planning .title > div a {
    margin-left: 36px;
  }
  .planningL ul li {
    width: 494px;
    height: 136px;
    margin-left: 12px;
  }
  .planningL ul li .pic img {
    height: 100px;
    margin: 6px;
  }
  .planning .title > div a {
    margin-left: 16px;
  }
  .title-con {
    margin: 10px 14px 0 8px;
  }
  .title-con h4 {
    margin: 10px 0;
  }
  .title-con img {
    height: 40px;
    margin-right: 4px;
  }
  .title-con p {
    margin-bottom: 0;
    line-height: 18px;
  }
  .title-con span {
    margin-top: 10px;
  }
  .planApply {
    text-align: center;
  }
  .planApply i {
    margin: 22px 0 12px;
    font-style: normal;
  }
  .planApply button {
    width: 60px;
    height: 22px;
    line-height: 22px;
    background: #9ab126;
    border-radius: 10px;
  }
  .planningR {
    width: 258px;
  }
  .planningR .listPic {
    margin-top: 28px;
  }
  .planningR img {
    height: 56px;
    margin: 0 20px;
  }
  .recruit {
    width: 768px;
  }
  .recruitL {
    margin: 12px 10px 0 10px;
  }
  .recruitL img {
    height: 182px;
  }
  .recruit {
    padding-top: 10px;
  }
  .recruitR {
    width: 520px;
    margin-top: 4px;
  }
  .recruitR li {
    margin: 0 7px;
  }
  .recruitL p {
    padding: 14px 0 20px;
  }
  .recruit h3 {
    height: 48px;
    line-height: 48px;
  }
  .recruit h3:before {
    top: 16px;
  }
  .recruitR li img {
    margin: 10px 0;
    height: 72px;
  }
  .keyword .keywordCon h4 {
    font-size: 16px;
  }
  .keyword {
    background: url("../images/index/SEOBar2.jpg") no-repeat;
    background-size: 100% 220px;
    height: 220px;
    text-align: center;
    margin: 20px 0;
  }
  .keyword .keywordCon {
    padding-top: 30px;
  }
  .keyword .keywordCon > div {
    background: url("../images/index/SEOPicBg.png") no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
  }
  .keyword .keywordCon > div h4 {
    padding: 34px 0 8px;
    margin: 0;
  }
  .keyword .keywordCon > div span {
    line-height: 10px;
    text-transform: uppercase;
  }
  .keyword .keywordCon h5 {
    margin-bottom: 6px;
  }
  .keyword .keywordCon p {
    line-height: 12px;
    margin-bottom: 0;
  }
  .keywordCon .arrow {
    height: 19px;
    margin-top: 14px;
  }
  .keyword .keywordCon {
    padding-top: 20px;
  }
  .introduction {
    width: 768px;
    margin: 12px auto;
  }
  .introduction h3 {
    text-transform: uppercase;
  }
  .introductionL {
    width: 494px;
    padding: 12px 12px 0;
    height: 320px;
  }
  .introductionL img {
    margin-top: 20px;
    height: 200px;
  }
  .introductionL p {
    text-align: center;
    padding: 12px 0 30px;
  }
  .introductionL .title {
    width: 200px;
  }
  .introductionL .title h4 {
    margin: 36px 0 6px;
  }
  .introductionL .title p {
    line-height: 20px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .introductionL .title a {
    width: 90px;
    height: 28px;
    line-height: 28px;
    border-radius: 10px;
    text-align: center;
    margin-top: 16px;
  }
  .introductionR {
    width: 260px;
    height: 320px;
    padding: 12px 16px 18px;
  }
  .introductionR ul {
    margin-top: 10px;
  }
  .introductionR ul li {
    height: 56px;
    overflow: hidden;
  }
  .introductionR img {
    height: 40px;
    margin: 6px 14px 8px 0;
  }
  .introductionR ul li:before {
    content: "";
    background: url("../images/index/introductionRLine.png") no-repeat;
    background-size: 294px 1px;
    width: 294px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .introductionR ul li > div {
    margin-top: 10px;
  }
  .introductionR ul li > div h4 {
    margin: 0 0 6px 0;
  }
  .type {
    width: 768px;
    margin: auto;
  }
  .type {
    padding: 12px 14px 0;
  }
  .type .typeList {
    margin-top: 12px;
  }
  .type .typeList li {
    width: 176px;
    border: 1px solid #ececec;
    text-align: center;
    margin: 12px 4px 0;
    float: left;
    overflow: hidden;
    padding-bottom: 12px;
  }
  .type .title {
    margin: 0 6px;
  }
  .type .title ul li {
    line-height: 36px;
    margin-left: 20px;
  }
  .type .typeList li h4 {
    margin: 12px 0 10px;
  }
  .type .typeList li img {
    height: 156px;
  }
  .type .typeList li p {
    line-height: 18px;
    padding: 0 10px;
  }
  .more {
    text-align: center;
    line-height: 66px;
  }
  .type-list {
    height: 666px;
  }
  .typeBar {
    background: url("../images/index/typeBar.jpg") 100% 220px;
    width: 100%;
    height: 220px;
    margin: 18px 0;
    overflow: hidden;
  }
  .type-business li {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
  }
  .type-business li img {
    height: 94px;
    margin-bottom: 12px;
  }
  .type-over {
    width: 708px;
    height: 170px;
    overflow: hidden;
  }
  .type-con {
    width: 768px;
    margin: auto;
    padding: 58px 20px 0;
  }
  .type-business {
    width: 3000px;
    transform: translateX(0);
  }
  .type-click img {
    height: 76px;
  }
  .type-left {
    position: absolute;
    left: -4px;
    top: 84px;
    z-index: 99;
    cursor: pointer;
  }
  .type-left img,
  .type-right img {
    height: 50px;
  }
  .type-right {
    position: absolute;
    right: -4px;
    top: 84px;
    z-index: 99;
    cursor: pointer;
  }
  .collaborate {
    width: 768px;
    margin: auto;
  }
  .collaborate h3,
  .tel-service h3 {
    border-bottom: 1px solid #e1e1e1;
    line-height: 40px;
    height: 40px;
  }
  .collaborate {
    padding: 12px 0 4px;
  }
  .collaborate h3:before {
    top: 10px;
  }
  .collaborate ul {
    margin: 12px 16px;
  }
  .collaborate ul li {
    width: 138px;
    height: 50px;
    border: 1px solid #f2f2f2;
    text-align: center;
    position: relative;
    margin: 8px 4px;
  }
  .collaborate ul li img {
    height: 32px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .service {
    width: 768px;
    margin: 20px auto;
  }
  .service > li {
    width: 242px;
    height: 300px;
    padding: 10px 10px 22px;
  }
  .service .title,
  .link .title {
    line-height: 40px;
    border-bottom: 1px solid #e1e1e1;
  }
  .sumTitle {
    margin: 10px 0 6px;
  }
  .news img {
    height: 42px;
  }
  .news h4 {
    width: 166px;
    line-height: 14px;
    margin-top: 0;
    font-size: 10px;
  }
  .service .news p {
    line-height: 28px;
    border-bottom: 1px dashed #e5e5e5;
    text-indent: 10px;
    position: relative;
    cursor: pointer;
  }
  .service .news p:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #3c3c3c;
    position: absolute;
    left: 0;
    top: 16px;
  }
  .service .news p:last-child {
    border-bottom: none;
  }
  .inf {
    margin: 0 12px;
  }
  .service .inf .title {
    margin-bottom: 10px;
  }
  .tel-service > div {
    margin: 10px 0;
  }
  .tel-service label {
    width: 62px;
    font-size: 14px;
    font-weight: 600;
    vertical-align: top;
  }
  .tel-service input {
    width: 140px;
    height: 24px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    text-indent: 6px;
  }
  .tel-service textarea {
    height: 70px;
    width: 140px;
    resize: none;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    text-indent: 6px;
  }
  .tel-service input[type="submit"] {
    width: 224px;
    line-height: 32px;
    height: 32px;
    background: #9ab126;
    margin-top: -2px;
  }
  .link {
    width: 768px;
    margin: auto;
    padding: 0 18px;
    line-height: 18px;
    height: 132px;
    overflow: hidden;
  }
  .link > div {
    margin-top: 10px;
  }
  .link p {
    margin-right: 32px;
  }
  .link > div p:nth-child(4) {
    margin-right: 0;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .antistopBg {
    height: 54px;
  }
  .antistop {
    width: 992px;
    margin: auto;
    overflow: hidden;
  }
  .antistop h3 {
    line-height: 54px;
  }
  .antistop p {
    margin-left: 14px;
    line-height: 54px;
  }
  .search input {
    width: 420px;
    height: 30px;
    line-height: 30px;
    text-indent: 18px;
    margin: 12px 0;
  }
  .search:after {
    content: "";
    width: 50px;
    height: 30px;
    background: #8f8f8f;
    position: absolute;
    right: 0;
    top: 12px;
  }
  .search:before {
    content: "";
    background: url("../images/index/search.png") no-repeat center;
    background-size: 22px 22px;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
  }
  .main {
    width: 992px;
    margin: auto;
  }
  .date {
    margin: 28px 0 40px;
    line-height: 36px;
    text-align: center;
  }
  .business li {
    margin: 0 14px;
  }
  .business li a {
    width: 226px;
    height: 78px;
    line-height: 78px;
    text-indent: 100px;
    background-size: 40px 40px;
  }
  .enterprise {
    background: url("../images/index/enterprise.png") no-repeat 48px 18px;
  }
  .website {
    background: url("../images/index/website.png") no-repeat 48px 18px;
  }
  .activity {
    background: url("../images/index/activity.png") no-repeat 48px 18px;
  }
  .generalize {
    background: url("../images/index/generalize.png") no-repeat 48px 18px;
  }
  .business li .enterprise_wh {
    background: url("../images/index/enterprise_wh.png") no-repeat 48px 18px;
    color: #fff;
    background-size: 40px 40px;
  }
  .business li .website_wh {
    background: url("../images/index/website_wh.png") no-repeat 48px 18px;
    color: #fff;
    background-size: 40px 40px;
  }
  .business li .activity_wh {
    background: url("../images/index/activity_wh.png") no-repeat 48px 18px;
    color: #fff;
    background-size: 40px 40px;
  }
  .business li .generalize_wh {
    background: url("../images/index/generalize_wh.png") no-repeat 48px 18px;
    color: #fff;
    background-size: 40px 40px;
  }
  .excellent {
    margin-top: 40px;
  }
  .excellent h3,
  .recruit h3,
  .collaborate h3 {
    line-height: 60px;
    height: 60px;
    margin: 0 20px;
    text-indent: 14px;
    font-weight: 600;
  }
  .excellent h3 i,
  .type h3 i,
  .planning h3 i,
  .recruit h3 i,
  .collaborate h3 i,
  .service h3 i,
  .link h3 i {
    margin-right: 14px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .excellent h3:before,
  .recruit h3:before,
  .collaborate h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 26px;
  }
  .excellent ul {
    margin-top: 24px;
    text-align: center;
    padding: 0 4px;
  }
  .excellent ul li {
    margin: 0 6px;
  }
  .excellent ul li img {
    height: 126px;
  }
  .excellent ul li p {
    margin: 20px 0 22px;
  }
  .SEO {
    background-size: 100% 300px;
    width: 100%;
    height: 300px;
    margin-top: 30px;
  }
  .SEO > div {
    width: 400px;
    height: 134px;
  }
  .SEO h4 {
    padding-top: 32px;
  }
  .SEO h4:before {
    content: "";
    width: 26px;
    height: 2px;
    background: #9ab126;
    position: absolute;
    top: 16px;
    left: 46%;
  }
  .SEO p {
    line-height: 22px;
    text-transform: uppercase;
  }
  .SEO > div a {
    width: 140px;
    height: 30px;
    line-height: 30px;
    left: 140px;
    bottom: -14px;
  }
  .SEO > div a:before {
    content: "";
    width: 142px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: -142px;
    bottom: 12px;
  }
  .SEO > div a:after {
    content: "";
    width: 120px;
    height: 1px;
    background: #fff;
    position: absolute;
    right: -120px;
    bottom: 12px;
  }
  .planning {
    width: 992px;
    margin: 40px auto 20px;
  }
  .planning .title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e5e5e5;
    margin: 18px 20px 0;
  }
  .planning .title h3,
  .introduction h3,
  .type h3,
  .service h3,
  .link h3 {
    line-height: 40px;
    text-indent: 14px;
  }
  .planning h3:before,
  .introduction h3:before,
  .type h3:before,
  .service h3:before,
  .link h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 14px;
  }
  .planning .title > div a {
    margin-left: 36px;
  }
  .planningL ul li {
    width: 643px;
    height: 136px;
    margin-left: 12px;
  }
  .planningL ul li .pic img {
    height: 120px;
    margin: 10px;
  }
  .planning .title > div a {
    margin-left: 26px;
  }
  .title-con {
    margin: 10px 22px 0 10px;
  }
  .title-con h4 {
    margin: 20px 0 12px;
  }
  .title-con img {
    height: 48px;
    margin-right: 10px;
  }
  .title-con p {
    margin-bottom: 0;
    line-height: 22px;
  }
  .title-con span {
    margin-top: 20px;
  }
  .planApply {
    text-align: center;
  }
  .planApply i {
    margin: 32px 0 22px;
    font-style: normal;
  }
  .planApply button {
    width: 90px;
    height: 28px;
    line-height: 28px;
    background: #9ab126;
    border-radius: 14px;
  }
  .planningR {
    width: 328px;
  }
  .planningR .listPic {
    margin-top: 28px;
  }
  .planningR img {
    height: 88px;
    margin: 0 20px;
  }
  .recruit {
    width: 992px;
  }
  .recruitL {
    margin: 18px 4px 0 12px;
  }
  .recruitL img {
    height: 242px;
  }
  .recruit {
    padding-top: 16px;
  }
  .recruitR {
    width: 674px;
    margin-top: 4px;
  }
  .recruitR li {
    margin: 0 7px;
  }
  .recruitL p {
    padding: 14px 0 20px;
  }
  .recruit h3 {
    height: 48px;
    line-height: 48px;
  }
  .recruit h3:before {
    top: 16px;
  }
  .recruitR li img {
    margin: 14px 0 10px;
    height: 100px;
  }
  .keyword {
    background: url("../images/index/SEOBar2.jpg") no-repeat;
    background-size: 100% 300px;
    height: 300px;
    text-align: center;
    margin: 30px 0;
  }
  .keyword .keywordCon {
    padding-top: 30px;
  }
  .keyword .keywordCon > div {
    background: url("../images/index/SEOPicBg.png") no-repeat;
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    margin: 0 auto 12px;
  }
  .keyword .keywordCon > div h4 {
    padding: 42px 0 8px;
    margin: 0;
  }
  .keyword .keywordCon > div span {
    line-height: 12px;
    text-transform: uppercase;
  }
  .keyword .keywordCon h5 {
    margin-bottom: 12px;
  }
  .keyword .keywordCon p {
    line-height: 22px;
    margin-bottom: 0;
  }
  .keywordCon .arrow {
    height: 19px;
    margin-top: 24px;
  }
  .introduction {
    width: 992px;
    margin: 12px auto;
  }
  .introduction h3 {
    text-transform: uppercase;
  }
  .introductionL {
    width: 640px;
    padding: 18px 12px 0;
    height: 402px;
  }
  .introductionL img {
    margin-top: 30px;
    height: 264px;
  }
  .introductionL p {
    text-align: center;
    padding: 16px 0 30px;
  }
  .introductionL .title {
    width: 240px;
  }
  .introductionL .title h4 {
    margin: 56px 0 10px;
  }
  .introductionL .title p {
    line-height: 24px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .introductionL .title a {
    width: 104px;
    height: 32px;
    line-height: 32px;
    border-radius: 14px;
    text-align: center;
    margin-top: 26px;
  }
  .introductionR {
    width: 338px;
    height: 402px;
    padding: 18px 20px 28px;
  }
  .introductionR ul {
    margin-top: 12px;
  }
  .introductionR ul li {
    height: 66px;
    overflow: hidden;
  }
  .introductionR img {
    height: 44px;
    margin: 10px 14px 8px 0;
  }
  .introductionR ul li:before {
    content: "";
    background: url("../images/index/introductionRLine.png") no-repeat;
    background-size: 294px 1px;
    width: 294px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .introductionR ul li > div {
    margin-top: 12px;
  }
  .introductionR ul li > div h4 {
    margin: 0 0 6px 0;
  }
  .type {
    width: 992px;
    margin: auto;
  }
  .type {
    padding: 18px 14px 0;
  }
  .type .typeList {
    margin-top: 12px;
  }
  .type .typeList li {
    width: 228px;
    border: 1px solid #ececec;
    text-align: center;
    margin: 12px 6px 0;
    float: left;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .type .title {
    margin: 0 6px;
  }
  .type .title ul li {
    line-height: 46px;
    margin-left: 30px;
  }
  .type .typeList li h4 {
    margin: 20px 0 16px;
  }
  .type .typeList li img {
    height: 176px;
  }
  .type .typeList li p {
    line-height: 22px;
    padding: 0 14px;
  }
  .more {
    text-align: center;
    line-height: 76px;
  }
  .type-list {
    height: 740px;
  }
  .type-left img,
  .type-right img {
    height: 76px;
  }
  .typeBar {
    background: url("../images/index/typeBar.jpg") 100% 300px;
    width: 100%;
    height: 300px;
    margin: 26px 0;
    overflow: hidden;
  }
  .type-business li {
    display: inline-block;
    text-align: center;
    margin: 0 14px;
  }
  .type-business li img {
    height: 100px;
    margin-bottom: 22px;
  }
  .type-over {
    width: 904px;
    height: 170px;
    overflow: hidden;
  }
  .type-con {
    width: 992px;
    margin: auto;
    padding: 108px 40px 0;
  }
  .type-business {
    width: 3000px;
    transform: translateX(0);
  }
  .type-click img {
    height: 76px;
  }
  .type-left {
    position: absolute;
    left: -14px;
    top: 124px;
    z-index: 99;
    cursor: pointer;
  }
  .type-right {
    position: absolute;
    right: -14px;
    top: 124px;
    z-index: 99;
    cursor: pointer;
  }
  .collaborate {
    width: 992px;
    margin: auto;
  }
  .collaborate h3,
  .tel-service h3 {
    border-bottom: 1px solid #e1e1e1;
    line-height: 40px;
    height: 40px;
  }
  .collaborate {
    padding: 16px 0 4px;
  }
  .collaborate h3:before {
    top: 14px;
  }
  .collaborate ul {
    margin: 12px 16px;
  }
  .collaborate ul li {
    width: 180px;
    height: 60px;
    border: 1px solid #f2f2f2;
    text-align: center;
    position: relative;
    margin: 10px 6px;
  }
  .collaborate ul li img {
    height: 46px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .service {
    width: 992px;
    margin: 20px auto;
  }
  .service > li {
    width: 320px;
    height: 334px;
    padding: 10px 12px 22px;
  }
  .service .title,
  .link .title {
    line-height: 40px;
    border-bottom: 1px solid #e1e1e1;
  }
  .sumTitle {
    margin: 12px 0 6px;
  }
  .news img {
    height: 56px;
  }
  .news h4 {
    width: 224px;
    line-height: 14px;
    margin-top: 4px;
    font-size: 14px;
  }
  .service .news p {
    line-height: 32px;
    border-bottom: 1px dashed #e5e5e5;
    text-indent: 10px;
    position: relative;
    cursor: pointer;
  }
  .service .news p:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #3c3c3c;
    position: absolute;
    left: 0;
    top: 16px;
  }
  .service .news p:last-child {
    border-bottom: none;
  }
  .inf {
    margin: 0 12px;
  }
  .service .inf .title {
    margin-bottom: 10px;
  }
  .tel-service > div {
    margin: 10px 0;
  }
  .tel-service label {
    width: 62px;
    font-size: 14px;
    font-weight: 600;
    vertical-align: top;
  }
  .tel-service input {
    width: 200px;
    height: 30px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    text-indent: 8px;
  }
  .tel-service textarea {
    height: 90px;
    width: 200px;
    resize: none;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    text-indent: 8px;
  }
  .tel-service input[type="submit"] {
    width: 300px;
    line-height: 32px;
    height: 32px;
    background: #9ab126;
    margin-top: -2px;
  }
  .link {
    width: 992px;
    margin: auto;
    padding: 0 20px;
    line-height: 24px;
    height: 132px;
    overflow: hidden;
  }
  .link > div {
    margin-top: 14px;
  }
  .link p {
    margin-right: 18px;
  }
  .link > div p:nth-child(4) {
    margin-right: 0;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .antistopBg {
    height: 60px;
  }
  .antistop {
    width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  .antistop h3 {
    line-height: 60px;
  }
  .antistop p {
    margin-left: 14px;
    line-height: 60px;
  }
  .search input {
    width: 460px;
    height: 36px;
    line-height: 36px;
    text-indent: 18px;
    margin: 12px 0;
  }
  .search:after {
    content: "";
    width: 60px;
    height: 36px;
    background: #8f8f8f;
    position: absolute;
    right: 0;
    top: 12px;
  }
  .search:before {
    content: "";
    background: url("../images/index/search.png") no-repeat center;
    background-size: 26px 26px;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
  }
  .main {
    width: 1200px;
    margin: auto;
  }
  .date {
    margin: 48px 0 70px;
    line-height: 36px;
    text-align: center;
  }
  .business li {
    margin: 0 22px;
  }
  .business li a {
    width: 266px;
    height: 98px;
    line-height: 98px;
    text-indent: 120px;
    background-size: 50px 50px;
  }
  .enterprise {
    background: url("../images/index/enterprise.png") no-repeat 58px 26px;
  }
  .website {
    background: url("../images/index/website.png") no-repeat 58px 26px;
  }
  .activity {
    background: url("../images/index/activity.png") no-repeat 58px 26px;
  }
  .generalize {
    background: url("../images/index/generalize.png") no-repeat 58px 26px;
  }
  .business li .enterprise_wh {
    background: url("../images/index/enterprise_wh.png") no-repeat 58px 26px;
    color: #fff;
  }
  .business li .website_wh {
    background: url("../images/index/website_wh.png") no-repeat 58px 26px;
    color: #fff;
  }
  .business li .activity_wh {
    background: url("../images/index/activity_wh.png") no-repeat 58px 26px;
    color: #fff;
  }
  .business li .generalize_wh {
    background: url("../images/index/generalize_wh.png") no-repeat 58px 26px;
    color: #fff;
  }
  .excellent {
    margin-top: 60px;
  }
  .excellent h3,
  .recruit h3,
  .collaborate h3 {
    line-height: 68px;
    height: 68px;
    margin: 0 20px;
    text-indent: 14px;
    font-weight: 600;
  }
  .excellent h3 i,
  .type h3 i,
  .planning h3 i,
  .recruit h3 i,
  .collaborate h3 i,
  .service h3 i,
  .link h3 i {
    margin-right: 14px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .excellent h3:before,
  .recruit h3:before,
  .collaborate h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 26px;
  }
  .excellent ul {
    margin-top: 30px;
    text-align: center;
    padding: 0 12px;
  }
  .excellent ul li {
    margin: 0 4px;
  }
  .excellent ul li p {
    margin: 22px 0 26px;
  }
  .SEO {
    background-size: 100% 370px;
    width: 100%;
    height: 370px;
    margin-top: 40px;
  }
  .SEO > div {
    width: 430px;
    height: 144px;
  }
  .SEO h4 {
    padding-top: 36px;
  }
  .SEO h4:before {
    content: "";
    width: 26px;
    height: 2px;
    background: #9ab126;
    position: absolute;
    top: 16px;
    left: 46%;
  }
  .SEO p {
    line-height: 22px;
    text-transform: uppercase;
  }
  .SEO > div a {
    width: 140px;
    height: 30px;
    line-height: 30px;
    left: 140px;
    bottom: -14px;
  }
  .SEO > div a:before {
    content: "";
    width: 142px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: -142px;
    bottom: 12px;
  }
  .SEO > div a:after {
    content: "";
    width: 150px;
    height: 1px;
    background: #fff;
    position: absolute;
    right: -150px;
    bottom: 12px;
  }
  .planning {
    width: 1200px;
    margin: 40px auto 20px;
  }
  .planning .title {
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #e5e5e5;
    margin: 18px 20px 0;
  }
  .planning .title h3,
  .introduction h3,
  .type h3,
  .service h3,
  .link h3 {
    line-height: 46px;
    text-indent: 14px;
  }
  .planning h3:before,
  .introduction h3:before,
  .type h3:before,
  .service h3:before,
  .link h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 14px;
  }
  .planning .title > div a {
    margin-left: 36px;
  }
  .planningL ul li {
    width: 790px;
    height: 156px;
    margin-left: 12px;
  }
  .planningL ul li .pic img {
    height: 140px;
    margin: 10px;
  }
  .planning .title > div a {
    margin-left: 36px;
  }
  .title-con {
    margin: 10px 52px 0 20px;
  }
  .title-con h4 {
    margin: 30px 0 12px;
  }
  .title-con img {
    height: 48px;
    margin-right: 10px;
  }
  .title-con p {
    margin-bottom: 0;
    line-height: 22px;
  }
  .title-con span {
    margin-top: 30px;
  }
  .planApply {
    text-align: center;
  }
  .planApply i {
    margin: 32px 0 22px;
    font-style: normal;
  }
  .planApply button {
    width: 100px;
    height: 28px;
    line-height: 28px;
    background: #9ab126;
    border-radius: 14px;
  }
  .planningR {
    width: 384px;
  }
  .planningR .listPic {
    margin-top: 44px;
  }
  .planningR img {
    height: 88px;
    margin: 0 20px;
  }
  .recruit {
    width: 1200px;
  }
  .recruitL {
    margin: 24px 7px 0 20px;
  }
  .recruitL img {
    height: 304px;
  }
  .recruit {
    padding-top: 16px;
  }
  .recruitR {
    width: 790px;
    margin-top: 4px;
  }
  .recruitR li {
    margin: 0 7px;
  }
  .recruitL p {
    padding: 14px 0 30px;
  }
  .recruit h3 {
    height: 48px;
    line-height: 48px;
  }
  .recruit h3:before {
    top: 16px;
  }
  .recruitR li img {
    margin: 20px 0 8px;
    height: 126px;
  }
  .keyword {
    background: url("../images/index/SEOBar2.jpg") no-repeat;
    background-size: 100% 370px;
    height: 370px;
    text-align: center;
    margin: 40px 0;
  }
  .keyword .keywordCon {
    padding-top: 40px;
  }
  .keyword .keywordCon > div {
    background: url("../images/index/SEOPicBg.png") no-repeat;
    background-size: 150px 150px;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
  }
  .keyword .keywordCon > div h4 {
    padding: 62px 0 8px;
    margin: 0;
  }
  .keyword .keywordCon > div span {
    line-height: 12px;
    text-transform: uppercase;
  }
  .keyword .keywordCon h5 {
    margin-bottom: 12px;
  }
  .keyword .keywordCon p {
    line-height: 22px;
    margin-bottom: 0;
  }
  .keywordCon .arrow {
    height: 19px;
    margin-top: 24px;
  }
  .introduction {
    width: 1200px;
    margin: 20px auto;
  }
  .introduction h3 {
    text-transform: uppercase;
  }
  .introductionL {
    width: 820px;
    padding: 18px 20px 0;
    height: 502px;
  }
  .introductionL img {
    margin-top: 30px;
    height: 334px;
  }
  .introductionL p {
    text-align: center;
    padding: 26px 0 30px;
  }
  .introductionL .title {
    width: 340px;
  }
  .introductionL .title h4 {
    margin: 86px 0 10px;
  }
  .introductionL .title p {
    line-height: 28px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .introductionL .title a {
    width: 114px;
    height: 36px;
    line-height: 36px;
    border-radius: 14px;
    text-align: center;
    margin-top: 26px;
  }
  .introductionR {
    width: 328px;
    height: 502px;
    padding: 18px 20px 28px;
  }
  .introductionR ul {
    margin-top: 22px;
  }
  .introductionR ul li {
    height: 78px;
    overflow: hidden;
  }
  .introductionR img {
    height: 61px;
    margin: 8px 14px 8px 0;
  }
  .introductionR ul li:before {
    content: "";
    background: url("../images/index/introductionRLine.png") no-repeat;
    background-size: 294px 1px;
    width: 294px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .introductionR ul li > div {
    margin-top: 14px;
  }
  .introductionR ul li > div h4 {
    margin: 0 0 12px 0;
  }
  .type {
    width: 1200px;
    margin: auto;
  }
  .type {
    padding: 18px 14px 0;
  }
  .type .typeList {
    margin-top: 28px;
  }
  .type .typeList li {
    width: 280px;
    border: 1px solid #ececec;
    text-align: center;
    margin: 12px 6px 0;
    float: left;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .type .title {
    margin: 0 6px;
  }
  .type .title ul li {
    line-height: 46px;
    margin-left: 30px;
  }
  .type .typeList li h4 {
    margin: 20px 0 16px;
  }
  .type .typeList li img {
    height: 216px;
  }
  .type .typeList li p {
    line-height: 22px;
    padding: 0 14px;
  }
  .more {
    text-align: center;
    line-height: 76px;
  }
  .type-list {
    height: 840px;
  }
  .typeBar {
    background: url("../images/index/typeBar.jpg") 100% 370px;
    width: 100%;
    height: 370px;
    margin: 40px 0;
    overflow: hidden;
  }
  .type-business li {
    display: inline-block;
    text-align: center;
    margin: 0 14px;
  }
  .type-business li img {
    height: 124px;
    margin-bottom: 22px;
  }
  .type-over {
    width: 1094px;
    height: 170px;
    overflow: hidden;
  }
  .type-con {
    width: 1200px;
    margin: auto;
    padding: 108px 40px 0;
  }
  .type-business {
    width: 3000px;
    transform: translateX(0);
  }
  .type-click img {
    height: 76px;
  }
  .type-left {
    position: absolute;
    left: -44px;
    top: 144px;
    z-index: 99;
    cursor: pointer;
  }
  .type-right {
    position: absolute;
    right: -44px;
    top: 144px;
    z-index: 99;
    cursor: pointer;
  }
  .collaborate {
    width: 1200px;
    margin: auto;
  }
  .collaborate h3,
  .tel-service h3 {
    border-bottom: 1px solid #e1e1e1;
    line-height: 46px;
    height: 46px;
  }
  .collaborate {
    padding: 16px 0 4px;
  }
  .collaborate h3:before {
    top: 14px;
  }
  .collaborate ul {
    margin: 18px 20px;
  }
  .collaborate ul li {
    width: 220px;
    height: 68px;
    border: 1px solid #f2f2f2;
    text-align: center;
    position: relative;
    margin: 10px 6px;
  }
  .collaborate ul li img {
    height: 46px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .service {
    width: 1200px;
    margin: 20px auto;
  }
  .service > li {
    width: 386px;
    height: 394px;
    padding: 16px 18px 30px;
  }
  .service .title,
  .link .title {
    line-height: 46px;
    border-bottom: 1px solid #e1e1e1;
  }
  .sumTitle {
    margin: 18px 0 6px;
  }
  .news img {
    height: 66px;
  }
  .news h4 {
    width: 254px;
    line-height: 22px;
    margin-top: 0;
  }
  .service .news p {
    line-height: 36px;
    border-bottom: 1px dashed #e5e5e5;
    text-indent: 10px;
    position: relative;
    cursor: pointer;
  }
  .service .news p:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #3c3c3c;
    position: absolute;
    left: 0;
    top: 16px;
  }
  .service .news p:last-child {
    border-bottom: none;
  }
  .inf {
    margin: 0 20px;
  }
  .service .inf .title {
    margin-bottom: 20px;
  }
  .tel-service > div {
    margin: 20px 0;
  }
  .tel-service label {
    width: 72px;
    font-size: 16px;
    font-weight: 600;
    vertical-align: top;
  }
  .tel-service input {
    width: 270px;
    height: 30px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    text-indent: 10px;
  }
  .tel-service textarea {
    height: 90px;
    width: 270px;
    resize: none;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    text-indent: 10px;
  }
  .tel-service input[type="submit"] {
    width: 350px;
    line-height: 36px;
    height: 36px;
    background: #9ab126;
    margin-top: -10px;
  }
  .link {
    width: 1200px;
    margin: auto;
    padding: 0 20px;
    line-height: 26px;
    height: 166px;
    overflow: hidden;
  }
  .link > div {
    margin-top: 24px;
  }
  .link p {
    margin-right: 38px;
  }
  .link > div p:nth-child(4) {
    margin-right: 0;
  }
}
