.share-platform {
  text-align: right;
  border-top: 1px solid #c4c4c4;
}
.share-platform p {
  line-height: 38px;
}
/* 超小屏幕（手机，小于 768px） */
/* 小屏幕（平板，大于等于 768px） */
/* 中等屏幕（桌面显示器） */
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .line {
    width: 100%;
    height: 50px;
    background: #1e1e1e;
  }
  .content {
    width: 1200px;
    margin: 40px auto;
  }
  .model-one {
    padding: 0 20px;
    text-align: center;
  }
  .content h3 {
    padding: 28px 0 20px;
    font-size: 18px;
    text-indent: 20px;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
  }
  .content h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 26px;
  }
  .model-one .video {
    width: 960px;
    height: 600px;
    border-radius: 4px;
    margin: auto;
  }
  .model-one video {
    width: 960px;
    height: 600px;
  }
  .model-one .play {
    left: 420px;
    top: 260px;
  }
  .model-one .play img {
    height: 120px;
  }
  .model-one h4 {
    font-size: 18px;
  }
  .share-platform {
    width: 960px;
    padding: 20px 0;
  }
}
