.content .title input {
  border: 1px solid #c4c4c4;
}
.content textarea {
  resize: none;
  border: 1px solid #dfdfdf;
}
.content input[type="button"] {
  border: none;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .content {
    width: 320px;
    margin: 20px auto;
    padding: 0 14px 24px;
  }
  .content h3 {
    font-size: 14px;
    padding: 40px 0 20px;
  }
  .content .title {
    font-size: 12px;
    line-height: 24px;
  }
  .content .title input {
    width: 110px;
    text-indent: 10px;
    line-height: 24px;
    margin: 0 10px;
  }
  .content textarea {
    width: 212px;
    height: 100px;
    margin: 10px 0;
  }
  .content input[type="button"] {
    width: 100px;
    line-height: 24px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .content {
    width: 768px;
    margin: 28px auto;
    padding: 0 98px 68px;
  }
  .content h3 {
    font-size: 18px;
    padding: 50px 0 30px;
  }
  .content .title {
    font-size: 14px;
    line-height: 30px;
  }
  .content .title input {
    width: 344px;
    text-indent: 10px;
    line-height: 30px;
    margin: 0 20px;
  }
  .content textarea {
    width: 560px;
    height: 200px;
    margin: 20px 0;
  }
  .content input[type="button"] {
    width: 158px;
    line-height: 40px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .content {
    width: 992px;
    margin: 32px auto;
    padding: 0 124px 84px;
  }
  .content h3 {
    font-size: 16px;
    padding: 80px 0 32px;
  }
  .content .title {
    font-size: 14px;
    line-height: 32px;
  }
  .content .title input {
    width: 300px;
    text-indent: 10px;
    line-height: 32px;
  }
  .content textarea {
    width: 700px;
    height: 280px;
    margin: 20px 0;
  }
  .content input[type="button"] {
    width: 158px;
    line-height: 40px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .content {
    width: 1200px;
    margin: 40px auto;
    padding: 0 194px 104px;
  }
  .content h3 {
    font-size: 18px;
    padding: 90px 0 40px;
  }
  .content .title {
    font-size: 14px;
    line-height: 34px;
  }
  .content .title input {
    width: 354px;
    text-indent: 10px;
    line-height: 34px;
  }
  .content textarea {
    width: 812px;
    height: 300px;
    margin: 20px 0;
  }
  .content input[type="button"] {
    width: 158px;
    line-height: 40px;
  }
}
