.content h3:before {
  content: "";
  background: #9ab126;
  position: absolute;
  left: 0;
}
.content h3 {
  border-bottom: 1px solid #dfdfdf;
}
.content input[type="text"],
.content textarea,
.content select {
  border: 1px solid #dfdfdf;
  background: #fcfcfc;
}
.content textarea {
  resize: none;
  vertical-align: top;
}
.content label {
  text-align: right;
}
.upImg input {
  opacity: 0;
}
.content .upImg label {
  left: 0;
  top: 0;
  margin: 0;
  z-index: 9;
  text-align: center;
}
.imgdiv {
  display: block;
  text-align: center;
  overflow: hidden;
  background: #fcfcfc;
}
.imgdiv img {
  width: 100%;
}
.upImg input {
  opacity: 0;
}
.upImg label {
  z-index: 9;
  left: 0;
  top: 0;
  background: #9ab126;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  padding: 0;
  z-index: -1;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .content {
    width: 320px;
    margin: 14px auto;
    padding: 6px 12px 30px;
  }
  .content h3 {
    line-height: 32px;
    font-size: 14px;
    text-indent: 10px;
    margin-bottom: 16px;
  }
  .content h3:before {
    width: 2px;
    height: 16px;
    top: 8px;
    margin-right: 10px;
  }
  .content input[type="text"],
  .content textarea,
  .content select {
    width: 170px;
    line-height: 24px;
    margin-bottom: 12px;
    text-indent: 6px;
  }
  .content textarea {
    height: 100px;
  }
  .content label {
    width: 62px;
    line-height: 38px;
    margin-right: 12px;
    font-size: 12px;
  }
  .content .explain {
    margin-left: 36px;
  }
  .imgdiv {
    width: 80px;
    height: 80px;
    margin: 0 10px 12px 0;
  }
  .imgdiv img {
    width: 100%;
    height: 80px;
  }
  .upImg p {
    line-height: 28px;
  }
  .upImg input {
    width: 80px;
    line-height: 24px;
    margin: 26px 0 48px;
  }
  .content .upImg label {
    width: 80px;
    line-height: 24px;
    font-size: 18px;
  }
  .explain {
    margin-top: 6px;
  }
  .explain h4,
  .explain ul li {
    line-height: 24px;
    font-size: 12px;
  }
  .content input[type="button"] {
    width: 100px;
    line-height: 24px;
    margin-left: 90px;
    border-radius: 2px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .content {
    width: 768px;
    margin: 22px auto;
    padding: 6px 14px 40px;
  }
  .content h3 {
    line-height: 40px;
    font-size: 16px;
    text-indent: 14px;
    margin-bottom: 22px;
  }
  .content h3:before {
    width: 3px;
    height: 18px;
    top: 10px;
    margin-right: 14px;
  }
  .content input[type="text"],
  .content textarea,
  .content select {
    width: 240px;
    line-height: 30px;
    margin-bottom: 32px;
    text-indent: 10px;
  }
  .content textarea {
    height: 140px;
  }
  .content label {
    width: 80px;
    line-height: 38px;
    margin-right: 12px;
    font-size: 14px;
  }
  .content .explain {
    margin-left: 36px;
    width: 360px;
  }
  .content .explain ul li {
    font-size: 14px;
  }
  .imgdiv {
    width: 130px;
    height: 130px;
    margin: 0 30px 24px 0;
  }
  .imgdiv img {
    width: 100%;
    height: 130px;
  }
  .upImg p {
    line-height: 28px;
  }
  .upImg input {
    width: 130px;
    line-height: 40px;
    margin: 26px 0 48px;
  }
  .content .upImg label {
    width: 130px;
    line-height: 40px;
    font-size: 18px;
  }
  .explain {
    margin-top: 6px;
  }
  .explain h4,
  .explain ul li {
    line-height: 30px;
    font-size: 16px;
  }
  .content input[type="button"] {
    width: 160px;
    line-height: 30px;
    margin: 0 40px 0 102px;
    border-radius: 2px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .content {
    width: 992px;
    margin: 32px auto;
    padding: 6px 20px 50px;
  }
  .content h3 {
    line-height: 50px;
    font-size: 18px;
    text-indent: 16px;
    margin-bottom: 32px;
  }
  .content h3:before {
    width: 3px;
    height: 18px;
    top: 16px;
    margin-right: 14px;
  }
  .content input[type="text"],
  .content textarea,
  .content select {
    width: 400px;
    line-height: 38px;
    margin-bottom: 32px;
    text-indent: 14px;
  }
  .content textarea {
    height: 140px;
  }
  .content label {
    width: 80px;
    line-height: 38px;
    margin-right: 20px;
    font-size: 16px;
  }
  .content .explain {
    margin-left: 46px;
  }
  .imgdiv {
    width: 130px;
    height: 130px;
    margin: 0 30px 24px 0;
  }
  .imgdiv img {
    width: 100%;
    height: 130px;
  }
  .upImg p {
    line-height: 28px;
  }
  .upImg input {
    width: 130px;
    line-height: 40px;
    margin: 26px 0 48px;
  }
  .content .upImg label {
    width: 130px;
    line-height: 40px;
    font-size: 18px;
  }
  .explain {
    margin-top: 6px;
  }
  .explain h4,
  .explain ul li {
    line-height: 30px;
    font-size: 16px;
  }
  .content input[type="button"] {
    width: 200px;
    line-height: 38px;
    margin: 0 40px 0 102px;
    border-radius: 2px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .content {
    width: 1200px;
    margin: 40px auto;
    padding: 6px 20px 50px;
  }
  .content h3 {
    line-height: 60px;
    font-size: 18px;
    text-indent: 16px;
    margin-bottom: 36px;
  }
  .content h3:before {
    width: 3px;
    height: 18px;
    top: 20px;
    margin-right: 14px;
  }
  .content input[type="text"],
  .content textarea,
  .content select {
    width: 450px;
    line-height: 40px;
    margin-bottom: 40px;
    text-indent: 20px;
  }
  .content textarea {
    height: 140px;
  }
  .content label {
    width: 80px;
    line-height: 40px;
    margin-right: 22px;
    font-size: 16px;
  }
  .content .explain {
    margin-left: 116px;
  }
  .imgdiv {
    width: 130px;
    height: 130px;
    margin: 0 30px 24px 0;
  }
  .imgdiv img {
    width: 100%;
    height: 130px;
  }
  .upImg p {
    line-height: 28px;
  }
  .upImg input {
    width: 130px;
    line-height: 40px;
    margin: 26px 0 48px;
  }
  .content .upImg label {
    width: 130px;
    line-height: 40px;
    font-size: 18px;
  }
  .explain {
    margin-top: 6px;
  }
  .explain h4,
  .explain ul li {
    line-height: 30px;
    font-size: 16px;
  }
  .content input[type="button"] {
    width: 220px;
    line-height: 40px;
    margin: 0 40px 0 102px;
    border-radius: 2px;
  }
}
