.navbar-nav li a {
  color: #fff;
  font-size: 18px;
}
ul {
  font-size: 0;
}
li {
  list-style: none;
}
.topNav a {
  color: #3c3c3c;
}
.classify .classifyCon .marNone {
  margin-right: 0;
}
hr {
  background: #dfdfdf;
  height: 1px;
  margin: 0;
  border: none;
}
p {
  margin-bottom: 0;
}
.shops {
  text-align: center;
}
.shops input[type="button"] {
  background: #3899f0;
  border: none;
}
.shops .search input {
  width: 326px;
  line-height: 36px;
  border: 1px solid #c4c4c4;
  text-indent: 12px;
  margin: 0;
}
.shops .search:before {
  content: "";
  width: 60px;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
}
.shops .search:after {
  content: "";
  background: url("../images/shops/search.png") no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 18px;
  top: 6px;
  z-index: 99;
}
li,
a,
input {
  cursor: pointer;
}
.navbar-nav {
  padding-left: 15%;
  text-align: center;
}
.indexNav {
  background: #3899f0;
  width: 150px;
}
.topNav a {
  color: #3c3c3c;
}
.lineStyle {
  border: 1px solid #dcdcdc;
  z-index: -2;
}
.barLink {
  width: 40px;
}
.barLink a {
  height: 60px;
}
.barLink .barTop {
  height: 40px;
}
.navbar-nav {
  margin: 0;
}
.navbar-inverse {
  width: 100%;
}
.navbar-inverse .navbar-nav li a {
  color: #fff;
}
.barLink {
  right: 12%;
  bottom: 2%;
  text-align: center;
}
.barLink p {
  border-bottom: 1px solid #4498ea;
}
.recommend {
  text-align: center;
}
.recommend ul li input {
  border: 1px solid #3c3c3c;
}
.btnStyle {
  color: #fff;
  background: #3c3c3c;
}
.fotBot {
  width: 100%;
  background: #3c3c3c;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
.fotBot a {
  color: rgba(255, 255, 255, 0.6);
}
.glyphicon:before {
  display: none;
}
.carousel-indicators li {
  background: rgba(255, 255, 255, 0.5);
  border: none;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .carousel-indicators li {
    width: 30px;
    height: 4px;
    margin: 100px 18px 0 0;
  }
  .carousel-indicators .active {
    width: 30px;
    height: 4px;
    margin: 100px 18px 0 0;
  }
  .topNav {
    width: 320px;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
  }
  .navbar-nav {
    padding-left: 0;
  }
  .navbar-toggle {
    margin-right: 35px;
  }
  .navbar-nav li {
    width: 150px;
    text-align: right;
  }
  .indexNav {
    text-align: right;
  }
  .shops {
    width: 350px;
    margin: 0 auto;
  }
  .shops input {
    width: 100px;
    line-height: 24px;
    height: 30px;
    margin: 14px 0 14px 8px;
  }
  .shops img {
    height: 48px;
    display: inline-block;
    margin: 8px 0;
  }
  h2 img {
    height: 24px;
    margin: 8px 0;
  }
  .banner img {
    width: 100%;
    height: 180px;
  }
  .fotBot {
    height: 70px;
  }
  .fotNav {
    padding: 12px 0 0;
    margin-bottom: 0;
  }
  .fotLogin {
    margin-bottom: 2px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .shops .search {
    margin: 24px 0;
  }
  .carousel-indicators li {
    width: 54px;
    height: 6px;
    margin: 0 18px 0 0;
  }
  .carousel-indicators .active {
    width: 54px;
    height: 6px;
    margin: 0 18px 0 0;
  }
  .topNav {
    width: 768px;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    padding: 0;
  }
  .barLink {
    width: 60px;
  }
  .barLink {
    right: 18%;
    bottom: 2%;
  }
  .shops {
    width: 768px;
    margin: 0 auto;
  }
  .shops input {
    width: 160px;
    line-height: 36px;
    height: 36px;
    margin: 24px 0 24px 0;
  }
  .shops img {
    height: 68px;
    display: inline-block;
    margin: 8px 0;
  }
  h2 img {
    height: 50px;
    margin: 20px 0;
  }
  .banner img {
    width: 100%;
    height: 220px;
  }
  .fotBot {
    height: 120px;
  }
  .fotNav {
    padding: 24px 0 10px;
  }
  .fotLogin {
    margin-bottom: 12px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .shops .search {
    margin: 30px 0;
  }
  .topNav {
    width: 1100px;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    padding: 0 50px;
  }
  .barLink {
    width: 60px;
  }
  .barLink {
    right: 18%;
    bottom: 2%;
  }
  .shops {
    width: 1200px;
    margin: 0 auto;
  }
  .banner img {
    width: 100%;
    height: 320px;
  }
  .shops input {
    width: 160px;
    line-height: 36px;
    height: 36px;
    margin: 30px 0 30px 52px;
  }
  .shops img {
    height: 88px;
    display: inline-block;
    margin: 8px 0;
  }
  h2 {
    height: 70px;
    margin: 30px 0;
  }
  .fotBot {
    height: 140px;
  }
  .fotNav {
    padding: 34px 0 10px;
  }
  .fotLogin {
    margin-bottom: 16px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .shops .search {
    margin: 50px 0;
  }
  .topNav {
    width: 1200px;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
  }
  .barLink {
    width: 60px;
  }
  .barLink {
    right: 18%;
    bottom: 2%;
  }
  .shops {
    width: 1200px;
    margin: 0 auto;
  }
  .shops input {
    width: 160px;
    line-height: 36px;
    height: 36px;
    margin: 50px 0;
  }
  .shops img {
    height: 115px;
    display: inline-block;
    margin: 8px 0;
  }
  .banner img {
    width: 100%;
    height: 100%;
  }
  .hotList,
  .classify {
    width: 1200px;
    margin: auto;
  }
  h2 {
    height: 70px;
    margin: 60px 0;
  }
  .fotBot {
    height: 232px;
  }
  .fotNav {
    padding: 64px 0 30px;
  }
  .fotLogin {
    margin-bottom: 26px;
  }
}
