body {
  background: #f0f0f0;
}
input {
  border: none;
}
.shops input[type="button"] {
  background: #fe6c16;
}
.indexNav:before {
  content: "";
  background: url("../images/shops/threeIndexNav.png") no-repeat;
  background-size: 157px 7px;
  width: 157px;
  height: 7px;
  position: absolute;
  top: -7px;
  left: 0;
}
.shops .search:before {
  background: #fe6c16;
}
.indexNav {
  background: #fe6c16;
}
.content {
  margin: auto;
}
.recommend ul > li {
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}
.recommend ul > li:last-child {
  margin-right: 0;
}
.recommend ul > li a {
  border-top-left-radius: 8px;
  display: block;
  overflow: hidden;
}
.recommend ul > li a img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.recommend ul > li input {
  border: none;
  background: #fe6c16;
}
.recommend ul > li:before {
  content: "";
  height: 1px;
  background: #8c8c8c;
  position: absolute;
}
.recommend ul > li:after {
  content: "";
  height: 1px;
  background: #8c8c8c;
  position: absolute;
}
.hot {
  text-align: center;
}
.hot ul > li input {
  background: #fe6c16;
}
.classifyTab .btnClick {
  background: url("../images/shops/threeBtn.jpg") no-repeat;
}
.content .hot ul .threeBg {
  background: #fe6c16;
}
.content .hot ul > li .threeColor {
  color: #fff;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  h2 img {
    height: 30px;
  }
  .content {
    width: 320px;
  }
  .recommend ul > li {
    width: 74px;
    margin-right: 7px;
  }
  .recommend ul > li a {
    height: 50px;
  }
  .recommend ul > li a img {
    height: 32px;
  }
  .recommend ul > li p {
    line-height: 20px;
  }
  .recommend ul > li input {
    width: 52px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  .recommend ul > li:before {
    width: 70px;
    bottom: -3px;
    left: 2px;
  }
  .recommend ul > li:after {
    width: 66px;
    bottom: -5px;
    left: 4px;
  }
  .hot ul > li {
    width: 106px;
    height: 106px;
  }
  .hot ul > li img {
    height: 106px;
  }
  .hot img {
    margin: 0;
  }
  .hot ul > li h3 {
    margin: 18px 0 6px;
  }
  .hot ul > li input {
    width: 52px;
    line-height: 22px;
    margin-top: 6px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  h2 img {
    height: 70px;
  }
  .content {
    width: 768px;
  }
  .recommend ul > li {
    width: 180px;
    margin-right: 10px;
  }
  .recommend ul > li a {
    height: 120px;
  }
  .recommend ul > li a img {
    height: 82px;
  }
  .recommend ul > li p {
    line-height: 48px;
  }
  .recommend ul > li input {
    width: 90px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .recommend ul > li:before {
    width: 220px;
    bottom: -4px;
    left: 5px;
  }
  .recommend ul > li:after {
    width: 210px;
    bottom: -9px;
    left: 10px;
  }
  .hot ul > li {
    width: 256px;
    height: 256px;
  }
  .hot ul > li img {
    height: 256px;
  }
  .hot img {
    margin: 0;
  }
  .hot ul > li h3 {
    margin: 98px 0 16px;
  }
  .hot ul > li input {
    width: 90px;
    line-height: 28px;
    margin-top: 30px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  h2 img {
    height: 70px;
  }
  .content {
    width: 992px;
  }
  .recommend ul > li {
    width: 230px;
    margin-right: 16px;
  }
  .recommend ul > li a {
    height: 200px;
  }
  .recommend ul > li a img {
    height: 102px;
  }
  .recommend ul > li p {
    line-height: 48px;
  }
  .recommend ul > li input {
    width: 90px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .recommend ul > li:before {
    width: 220px;
    bottom: -4px;
    left: 5px;
  }
  .recommend ul > li:after {
    width: 210px;
    bottom: -9px;
    left: 10px;
  }
  .hot ul > li {
    width: 330px;
    height: 330px;
  }
  .hot ul > li img {
    height: 330px;
  }
  .hot img {
    margin: 0;
  }
  .hot ul > li h3 {
    margin: 144px 0 20px;
  }
  .hot ul > li input {
    width: 90px;
    line-height: 28px;
    margin-top: 30px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  h2 img {
    height: 70px;
  }
  .content {
    width: 1200px;
  }
  .recommend ul > li {
    width: 284px;
    margin-right: 20px;
  }
  .recommend ul > li a {
    height: 284px;
  }
  .recommend ul > li a img {
    height: 152px;
  }
  .recommend ul > li p {
    line-height: 48px;
  }
  .recommend ul > li input {
    width: 90px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .recommend ul > li:before {
    width: 260px;
    bottom: -4px;
    left: 12px;
  }
  .recommend ul > li:after {
    width: 246px;
    bottom: -9px;
    left: 18px;
  }
  .hot ul > li {
    width: 400px;
    height: 400px;
  }
  .hot ul > li img {
    height: 400px;
  }
  .hot img {
    margin: 0;
  }
  .hot ul > li h3 {
    margin: 144px 0 20px;
  }
  .hot ul > li input {
    width: 90px;
    line-height: 28px;
    margin-top: 30px;
  }
}
