<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>维币管理>任务详情</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Vcoin/task')}" class="ul_button">返回</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="add">
    
    <form name="adminForm" id = "js-form" action="{:U('Admin/Vcoin/taskView')}" method="post">
        <ul class="add_blank">                       
                        <li><div class="blank_left"><span class="blank_color">*</span>操作</div><div class="blank_right"><input  type="text" <if condition="$task.action neq ''">disabled</if> class="js-action w50 h-35" name="action" value="{$task.action}" class="ul_text"/></div><div class="fn-clear"></div></li>
            <li><div class="blank_left"><span class="blank_color">*</span>适用范围</div><div class="blank_right">
                <select name="isperson" class="js-isperson w50 h-35">
                    <option value="">请选择</option>
                        <option value="1" <if condition="$task.isperson eq 1">selected</if>>通用</option>
                        <option value="2" <if condition="$task.isperson eq 2">selected</if>>个人</option>
                        <option value="3" <if condition="$task.isperson eq 3">selected</if>>企业</option>
                </select>
            </div><div class="fn-clear"></div></li>
            <li><div class="blank_left"><span class="blank_color">*</span>维币值</div><div class="blank_right"><input type="text" class="js-value w25 h-35" name="value" value="{$task.value}" class="ul_text"/><span>当任务类型为消费时表示：消费此金额（元）店家送1维币</span></div><div class="fn-clear"></div></li>
            <li><div class="blank_left"><span class="blank_color">*</span>任务类型</div><div class="blank_right">
                <select name="type" class="js-type w50 h-35">
                    <option value="">请选择</option>
                    <option value="1" <if condition="$task.isperson eq 1">selected</if>>单次任务</option>
                    <option value="2" <if condition="$task.isperson eq 2">selected</if>>每日任务</option>
                    <option value="3" <if condition="$task.isperson eq 3">selected</if>>消费任务</option>
                    <option value="4" <if condition="$task.isperson eq 4">selected</if>>无限制</option>
                </select>
            </div><div class="fn-clear"></div></li>
            <li><div class="blank_left"><span class="blank_color">*</span>任务次数上限值</div><div class="blank_right"><input type="number" class="js-limit w50 h-35" name="limit" value="{$task.limit}" class="ul_text"/><span>针对每日任务</span></div><div class="fn-clear"></div></li>
            <li><div class="blank_left"><span class="blank_color">*</span>回复内容限制</div><div class="blank_right"><input type="number" class="js-length w50 h-35" name="length" value="{$task.length}" class="ul_text"/><span>针对操作的内容长度不小于该长度</span></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">状态</div><div class="blank_right">
            <input type="radio" name="status" value="1"  class="ul_middle" <if condition="$task.status neq '0'">checked</if> />&nbsp;正常&nbsp;&nbsp;
            <input type="radio" name="status" value="0" class="ul_middle" <if condition="$task.status eq '0'">checked</if> />&nbsp;屏蔽
            </div><div class="fn-clear"></div></li>
            <!--<li><div class="blank_left">权重</div><div class="blank_right"><input type="number" name="weight" value="{$dis.weight}" class="ul_text"/>值越大越靠前</div><div class="fn-clear"></div></li>-->
            <input type="hidden" name="id" value="{$task.id}" />
            <li class="ul_word"><input type="button" class="ul_add js-sub" value="保存"/><input type="button" class="ul_cancel" onclick="history.go(-1);"  value="取消"/></li>
        </ul></form>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        $(".js-sub").click(function(){
           var action = $(".js-action").val();
            var isperson = $(".js-isperson").val();
            var value = $(".js-value").val();
            var type = $(".js-type").val();
            var flag = true;
            var msg = '';
            if(action==''){
                msg+="操作名不能为空,";
                flag = false;
            }
            if(isperson==''){
                msg+="适用类不能为空,";
                flag = false;
            }
            if(value==''){
                msg+="维币数不能为空,";
                flag = false;
            }
            if(type==''){
                msg+="类型不能为空,";
                flag = false;
            }
            if(!flag){
                var preg = /,$/gi;
                msg = msg.replace(preg,'');
                alert(msg);
            }else{
                $("#js-form").submit();
            }
        });
    });
</script>
</html>