.mainBg {
  background: url("../images/experience/bg.jpg") no-repeat 100%;
  width: 100%;
  height: 2908px;
  overflow: hidden;
}
label {
  margin: 0;
}
.contentR .post .postBg {
  background: #9ab126;
  color: #fff;
}
.model-one .berGreen {
  border: 1px solid #9ab126;
}
.content > li {
  position: absolute;
  left: 0;
  top: 0;
}
.main-tab .greenColor,
.screen .greenColor {
  color: #9ab126;
}
.main-tab .theme:after {
  content: "";
  background: #dddddd;
  position: absolute;
}
.model-one > li {
  border: 1px solid #e6e6e6;
}
.model-one > li:last-child {
  margin-right: 0;
}
.model-one > li p {
  margin: 0;
}
.time {
  background: url("../images/experience/time.png") no-repeat;
}
hr {
  background: #e6e6e6;
  height: 1px;
  border-top: none;
  margin: 0;
}
.more {
  text-align: center;
}
.post {
  text-align: center;
}
.post input {
  border: 1px solid #9ab126;
  border-radius: 4px;
  text-align: center;
}
.case h3 {
  border-bottom: 1px solid #e6e6e6;
}
.case h3:before {
  content: "";
  background: #9ab126;
  position: absolute;
}
.case h3 i {
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
}
.banner img {
  width: 100%;
}
.model-two ul li {
  cursor: default;
}
.model-two ul li img,
.model-two ul li h4 {
  cursor: pointer;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .mainBg {
    height: 1120px;
  }
  .content > li {
    width: 320px;
    height: 1892px;
  }
  .content {
    width: 320px;
    margin: 20px auto 0;
  }
  .contentL {
    width: 320px;
    padding: 0 10px 0;
  }
  .contentR {
    width: 320px;
    float: left;
  }
  .title {
    padding-top: 6px;
    line-height: 24px;
  }
  .main-tab li {
    font-size: 12px;
  }
  .main-tab .theme {
    margin-right: 10px;
  }
  .main-tab .theme:after {
    width: 1px;
    height: 12px;
    top: 8px;
    right: -8px;
  }
  .screen li {
    font-size: 12px;
    margin-left: 12px;
  }
  .model-one > li {
    width: 96px;
    height: 144px;
    padding: 0 8px;
    margin: 0 6px 20px 0;
  }
  .model-one > li h3 {
    font-size: 12px;
    margin: 6px 0 4px;
  }
  .model-one > li img {
    height: 60px;
    margin-top: 2px;
  }
  .model-one > li p {
    line-height: 14px;
  }
  .model-one .interaction {
    margin: 16px 0 14px;
  }
  .other {
    margin-top: 6px;
    line-height: 14px;
  }
  .time {
    background-size: 20px;
    text-indent: 22px;
    line-height: 20px;
  }
  .model-two img {
    height: 70px;
    margin-top: 10px;
  }
  .model-two .interaction {
    margin: 6px 0 4px;
  }
  .model-two .interaction > li {
    margin-right: 32px;
  }
  .model-two h4 {
    font-size: 12px;
    margin: 0 0 6px;
  }
  .model-two p {
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 18px;
  }
  .more {
    font-size: 14px;
    margin: 20px auto 18px;
  }
  .post {
    margin-bottom: 0;
  }
  .post input {
    width: 120px;
    line-height: 24px;
    margin: 0 auto 10px;
  }
  .case {
    padding: 8px 16px 16px;
    margin-bottom: 16px;
  }
  .case h3 {
    font-size: 16px;
    line-height: 48px;
    margin-bottom: 18px;
    text-indent: 14px;
  }
  .case h3:before {
    width: 3px;
    height: 18px;
    left: 0;
    top: 16px;
  }
  .case h3 i {
    font-size: 12px;
    margin-left: 14px;
  }
  .case p {
    margin: 0 0 8px;
  }
  .contentR img {
    height: 126px;
    margin-bottom: 16px;
  }
  .model-two-con {
    width: 170px;
  }
  .theme-model-two img {
    height: 80px;
    margin: 10px 0;
  }
  .theme-model-two h4 {
    font-size: 12px;
    margin: 44px 0 12px;
  }
  .theme-model-two h5 {
    line-height: 24px;
    margin: 0 0 6px 0;
    font-size: 12px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .mainBg {
    height: 2300px;
  }
  .content > li {
    width: 768px;
    height: 1892px;
  }
  .content {
    width: 768px;
    margin: 40px auto 0;
  }
  .contentL {
    width: 768px;
    padding: 0 18px 8px;
  }
  .contentR {
    width: 768px;
    float: left;
  }
  .title {
    padding-top: 10px;
    line-height: 50px;
  }
  .main-tab li {
    font-size: 16px;
  }
  .main-tab .theme {
    margin-right: 30px;
  }
  .main-tab .theme:after {
    width: 2px;
    height: 20px;
    top: 16px;
    right: -18px;
  }
  .screen li {
    font-size: 14px;
    margin-left: 30px;
  }
  .model-one > li {
    width: 238px;
    height: 340px;
    padding: 0 12px;
    margin: 0 8px 20px 0;
  }
  .model-one > li h3 {
    font-size: 14px;
    margin: 16px 0 4px;
  }
  .model-one > li img {
    height: 148px;
    margin-top: 12px;
  }
  .model-one > li p {
    line-height: 16px;
  }
  .model-one .interaction {
    margin: 16px 0 14px;
  }
  .other {
    margin-top: 12px;
    line-height: 20px;
  }
  .time {
    background-size: 20px;
    text-indent: 22px;
    line-height: 20px;
  }
  .model-two img {
    height: 170px;
    margin-top: 24px;
  }
  .model-two .interaction {
    margin: 14px 0 16px;
  }
  .model-two .interaction > li {
    margin-right: 32px;
  }
  .model-two h4 {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .model-two p {
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 18px;
  }
  .more {
    font-size: 14px;
    margin: 20px auto 18px;
  }
  .post {
    margin-bottom: 16px;
  }
  .post input {
    width: 200px;
    line-height: 32px;
    margin: 0 auto 20px;
  }
  .case {
    padding: 8px 16px 16px;
    margin-bottom: 16px;
  }
  .case h3 {
    font-size: 16px;
    line-height: 48px;
    margin-bottom: 18px;
    text-indent: 14px;
  }
  .case h3:before {
    width: 3px;
    height: 18px;
    left: 0;
    top: 16px;
  }
  .case h3 i {
    font-size: 12px;
    margin-left: 14px;
  }
  .case p {
    margin: 0 0 8px;
  }
  .contentR img {
    height: 126px;
    margin-bottom: 16px;
  }
  .model-two-con {
    width: 480px;
  }
  .theme-model-two img {
    height: 164px;
    margin: 30px 0;
  }
  .theme-model-two h4 {
    font-size: 18px;
    margin: 44px 0 12px;
  }
  .theme-model-two h5 {
    line-height: 24px;
    margin: 0 0 6px 0;
    font-size: 14px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .mainBg {
    height: 2470px;
  }
  .content > li {
    width: 992px;
    height: 1892px;
  }
  .content {
    width: 992px;
    margin: 40px auto 0;
  }
  .contentL {
    width: 720px;
    padding: 0 18px 8px;
  }
  .contentR {
    float: right;
    width: 256px;
  }
  .title {
    padding-top: 10px;
    line-height: 50px;
  }
  .main-tab li {
    font-size: 16px;
  }
  .main-tab .theme {
    margin-right: 30px;
  }
  .main-tab .theme:after {
    width: 2px;
    height: 20px;
    top: 16px;
    right: -18px;
  }
  .screen li {
    font-size: 14px;
    margin-left: 30px;
  }
  .model-one > li {
    width: 222px;
    height: 340px;
    padding: 0 12px;
    margin: 0 8px 20px 0;
  }
  .model-one > li h3 {
    font-size: 14px;
    margin: 16px 0 4px;
  }
  .model-one > li img {
    height: 148px;
    margin-top: 12px;
  }
  .model-one > li p {
    line-height: 16px;
  }
  .model-one .interaction {
    margin: 16px 0 14px;
  }
  .other {
    margin-top: 12px;
    line-height: 20px;
  }
  .time {
    background-size: 20px;
    text-indent: 22px;
    line-height: 20px;
  }
  .model-two img {
    height: 160px;
    margin-top: 24px;
  }
  .model-two .interaction {
    margin: 14px 0 16px;
  }
  .model-two .interaction > li {
    margin-right: 32px;
  }
  .model-two h4 {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .model-two p {
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 18px;
  }
  .more {
    font-size: 14px;
    margin: 24px auto 22px;
  }
  .post {
    margin-bottom: 16px;
  }
  .post input {
    width: 200px;
    line-height: 32px;
    margin: 18px auto;
  }
  .case {
    padding: 8px 16px 16px;
    margin-bottom: 16px;
  }
  .case h3 {
    font-size: 16px;
    line-height: 48px;
    margin-bottom: 18px;
    text-indent: 14px;
  }
  .case h3:before {
    width: 3px;
    height: 18px;
    left: 0;
    top: 16px;
  }
  .case h3 i {
    font-size: 12px;
    margin-left: 14px;
  }
  .case p {
    margin: 0 0 8px;
  }
  .contentR img {
    height: 126px;
    margin-bottom: 16px;
  }
  .model-two-con {
    width: 480px;
  }
  .theme-model-two img {
    height: 144px;
    margin: 30px 0;
  }
  .theme-model-two h4 {
    font-size: 18px;
    margin: 44px 0 12px;
  }
  .theme-model-two h5 {
    line-height: 24px;
    margin: 0 0 6px 0;
    font-size: 14px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .mainBg {
    height: 2908px;
  }
  .content > li {
    width: 1200px;
    height: 1892px;
  }
  .content {
    width: 1200px;
    margin: 40px auto 0;
  }
  .contentL {
    width: 872px;
    padding: 0 20px 10px;
  }
  .contentR {
    width: 310px;
  }
  .title {
    padding-top: 12px;
    line-height: 54px;
  }
  .main-tab li {
    font-size: 18px;
  }
  .main-tab .theme {
    margin-right: 30px;
  }
  .main-tab .theme:after {
    width: 2px;
    height: 20px;
    top: 18px;
    right: -18px;
  }
  .screen li {
    font-size: 16px;
    margin-left: 40px;
  }
  .model-one > li {
    width: 272px;
    height: 400px;
    padding: 0 16px;
    margin: 0 8px 30px 0;
  }
  .model-one > li h3 {
    font-size: 16px;
    margin: 20px 0 6px;
  }
  .model-one > li img {
    height: 180px;
    margin-top: 12px;
  }
  .model-one > li p {
    line-height: 18px;
  }
  .model-one .interaction {
    margin: 20px 0 16px;
  }
  .other {
    margin-top: 18px;
    line-height: 20px;
  }
  .time {
    background-size: 20px;
    text-indent: 22px;
    line-height: 20px;
  }
  .model-two img {
    height: 194px;
    margin-top: 30px;
  }
  .model-two .interaction {
    margin: 16px 0 22px;
  }
  .model-two .interaction > li {
    margin-right: 36px;
  }
  .model-two h4 {
    font-size: 20px;
    margin: 0 0 14px;
  }
  .model-two p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 24px;
  }
  .more {
    font-size: 14px;
    margin: 50px auto 32px;
  }
  .post {
    margin-bottom: 20px;
  }
  .post input {
    width: 268px;
    line-height: 40px;
    margin: 20px auto;
  }
  .case {
    padding: 8px 20px 16px;
    margin-bottom: 20px;
  }
  .case h3 {
    font-size: 18px;
    line-height: 58px;
    margin-bottom: 24px;
    text-indent: 14px;
  }
  .case h3:before {
    width: 3px;
    height: 18px;
    left: 0;
    top: 22px;
  }
  .case h3 i {
    font-size: 12px;
    margin-left: 14px;
  }
  .case p {
    margin: 0 0 14px;
  }
  .contentR img {
    height: 160px;
    margin-bottom: 20px;
  }
  .model-two-con {
    width: 580px;
  }
  .theme-model-two img {
    height: 174px;
    margin: 30px 0;
  }
  .theme-model-two h4 {
    font-size: 20px;
    margin: 44px 0 20px;
  }
  .theme-model-two h5 {
    line-height: 30px;
    margin: 0 0 36px 0;
    font-size: 16px;
  }
}
