body {
  background: #f0f0f0;
}
.SEO a:hover {
  color: #fff;
  text-decoration: none;
}
body i {
  font-weight: 500;
}
html,
body {
  height: 100%;
  margin: auto;
  padding: 0;
}
.topNavBg {
  background: #fafafa;
  border-bottom: 1px solid #dfdfdf;
}
.logo {
  margin: 0 auto;
}
.navbar-nav {
  margin: auto;
  float: none;
  background: #1e1e1e;
}
.navbar-nav li {
  background: #1e1e1e;
  color: #fff;
}
.menu {
  width: 100%;
}
.menu:after {
  content: "";
  width: 100%;
  height: 50px;
  background: #1e1e1e;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.business .listBg,
.navbar-inverse .navbar-nav .listBg {
  background: #9ab126;
}
.navbar-toggle {
  float: none;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-align: center;
}
@media (max-width: 320px) {
  .leftNav {
    position: fixed !important;
    bottom: 0;
    width: 100% !important;
    z-index: 1000;
  }
  .leftNav ul {
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #efefef;
    border-radius: 5px;
  }
  .leftNav ul li {
    width: 25% !important;
    line-height: 50px !important;
    border-left: 1px solid #efefef;
  }
  .leftNav ul li .actAbstract {
    margin-left: 1rem;
  }
  .rightTab {
    width: 100%!important;
    margin-left: 0!important;
    padding-bottom: 60px;
  }
  .rightTab .look {
    right: 2rem!important;
  }
  .triangle {
    display: inline;
    position: fixed;
    top: 300px;
    margin-left: 2px;
  }
  .company img {
    width: 160px!important;
    border: 1px solid #eeeeee;
  }
  .personal .submit {
    left: 20%!important;
  }
  .statusSet {
    left: -7rem !important;
  }
  .weiSelect {
    width: 40%;
  }
  .payMoney .submit {
    left: 2rem!important;
  }
  .getMemory {
    text-align: left!important;
  }
  .getMemory .before {
    position: absolute;
  }
  .getMemory .needMoney .weiSelect {
    left: 5rem!important;
    width: 2rem!important;
  }
  .getMemory .payDetail {
    margin-left: 5rem!important;
  }
  .recharge .walletPro {
    margin-left: .8rem!important;
  }
  .recharge .payDetail {
    left: 30px!important;
  }
  .recharge .weibi {
    margin-left: 7rem!important;
  }
  .recharge .submit {
    left: 6.4rem!important;
  }
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 767px) {
  .topNav {
    width: 320px;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
  }
  .main {
    width: 100%;
    margin: 0 auto;
  }
  .main .leftNav li {
    line-height: 38px!important;
  }
  .main .tabDetail {
    width: 100%;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 7.5%;
    border-top: 1px solid #9ab126;
    overflow: hidden;
  }
  .main .rightTab {
    margin-left: 1%;
    width: 82.5%;
  }
  .main .rightTab .tabTitle {
    padding-left: .5rem;
  }
  .main .triangle {
    display: none;
  }
  form div {
    width: 100%;
    line-height: 1.2rem;
    margin: .6rem 0;
  }
  form div input,
  form div textarea {
    width: 75%;
  }
  form div img {
    width: 65%;
  }
  form div input[type=button] {
    width: 4rem;
  }
  form div input[type=text],
  form div img,
  form div input[type=email],
  form div input[type=date],
  form div textarea,
  form div select {
    left: 70px;
  }
  form div select {
    width: 4.2rem;
  }
  form div select:nth-of-type(2) {
    left: 9rem;
  }
  form div textarea {
    height: 6rem;
  }
  form .licence {
    height: 6rem!important;
    padding-bottom: 7.4rem;
  }
  form .licence .prompt {
    width: 56px;
    top: 2rem;
    left: 0;
  }
  form .licence .load,
  form .licence input[type=file] {
    top: 6.5rem;
    left: 70px;
  }
  form .logoImage {
    height: 8.6rem!important;
    margin-top: 5.2rem;
  }
  form .logoImage .prompt {
    width: 56px;
    top: 2rem;
    left: 0;
  }
  form .logoImage .load,
  form .logoImage input[type=file] {
    top: 10rem;
    left: 70px;
  }
  form .webAdd {
    margin-top: 3rem;
  }
  form .address select {
    height: 100%;
  }
  form .submit {
    top: 10px;
    left: 60%;
    margin-left: -3rem;
  }
  form .submit input[type=button] {
    width: 6rem;
    height: 1.5rem!important;
  }
  .personal form div input[type=text],
  .personal form div img,
  .personal form div input[type=email],
  .personal form div input[type=date],
  .personal form div textarea,
  .personal form div select,
  .personal form div .selAdd {
    left: 40px;
  }
  .personal form div input[type=date] {
    line-height: 1.2rem!important;
    background-size: 10%;
  }
  .personal form div .genderSel {
    display: inline;
    left: 20px;
  }
  .personal form div label {
    width: 2rem;
  }
  .personal form div label input,
  .personal form div label .genderRep {
    left: 2rem;
    top: 110%;
    width: .6rem;
    height: .6rem;
  }
  .personal form div .prompt {
    top: 2rem;
  }
  .personal form div .load,
  .personal form div input[type=file],
  .personal form div .prompt {
    width: 4rem;
    left: 7.8rem;
  }
  .personal form div .load,
  .personal form div input[type=file] {
    top: 0;
  }
  .personal form div .selAdd select {
    width: 3rem;
    left: .1rem;
  }
  .personal form div .selAdd span:nth-of-type(2) {
    margin-left: 0;
  }
  .personal form .gender {
    margin: -10px 0 -20px 0;
  }
  .personal .perImage {
    margin-bottom: 4.2rem;
  }
  .personal .perImage img {
    width: 5rem;
    height: 5rem;
  }
  .personal .perAbstract {
    height: 6.5rem;
  }
  .personal .submit {
    left: 10%;
    margin-left: -75px;
  }
  .joinActList li {
    width: 116%;
    padding: 10px;
    border-bottom: 1px solid #dedede;
  }
  .joinActList li .actAbstract {
    width: 90%!important;
    padding-left: 0;
  }
  .joinActList li .actAbstract h4 {
    margin-top: 0;
    line-height: 34px;
    font-size: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .joinActList li .actAbstract .hostName,
  .joinActList li .actAbstract .status {
    margin-right: .7rem;
  }
  .joinActList li .actAbstract .look {
    right: 2rem;
  }
  .joinActList li .table {
    width: 85%;
    margin-top: 16px!important;
    margin-bottom: 10px;
  }
  .joinActList li .table td {
    width: 25%;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dddddd;
  }
  input[type=button] {
    height: 1rem;
    font-size: .4rem;
    line-height: 1rem;
    padding: 1px 4px ;
  }
  .delete {
    background: none;
    border: 1px solid;
  }
  .pubAct {
    right: 4px;
    bottom: 10px;
  }
  .actLi {
    margin-right: 20px;
  }
  .company .liImg {
    height: 6rem;
    border: 1px solid #eeeeee;
  }
  .actMange .signMangeTab {
    padding-left: .2rem;
  }
  .signSuccess .tabDetail .g6 {
    margin: 40px auto!important;
  }
  .signMange {
    top: 0;
    line-height: .8rem!important;
  }
  .searchWrap {
    width: 120%;
    margin-top: 1rem;
  }
  .searchWrap input,
  .searchWrap .allOrder {
    height: 1.2rem;
  }
  .searchWrap .search {
    width: 10rem;
    text-indent: 1.5rem;
    background: url(../images/personal/fdj.png) no-repeat;
    background-position: 10px;
    background-size: .8rem;
  }
  .searchWrap .serSure {
    margin-left: 10px;
    padding: 0 1rem;
    border-radius: 5px;
  }
  .orderList {
    margin-top: .3rem;
  }
  .orderList .orderFirst {
    display: none;
  }
  .orderList tr {
    position: relative;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-top: none;
  }
  .orderList tr .orderName {
    display: -ms-flexbox;
    display: flex;
  }
  .orderList tr .orderName .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .orderList tr .operate {
    padding: 4px 8px;
    border-radius: 4px;
  }
  .orderList tr .lookOrder {
    margin-top: 18px;
  }
  .orderList tr .name {
    margin-left: 4px;
  }
  .orderList tr .receiver,
  .orderList tr .lookOrder {
    display: none;
  }
  .orderList tr .statusSet,
  .orderList tr .operate {
    position: absolute;
  }
  .orderList .space {
    width: 100%;
    font-size: 0;
    border: none;
  }
  .wrap {
    position: relative;
    left: -100px;
    top: 20px;
  }
  .wrap .statusSet {
    width: 100px;
    left: -6rem;
    top: 1rem;
  }
  .wrap .operate {
    width: 200px;
    display: -ms-flexbox;
    display: flex;
  }
  .wrap .operate p:nth-of-type(1) {
    position: relative;
    left: -2.2rem;
    top: .7rem;
  }
  .wrap .operate p:nth-of-type(1) input {
    padding: 0 .4rem;
    border-radius: 2px;
  }
  .wrap .operate p:nth-of-type(2) {
    position: relative;
    left: -1.5rem;
    top: .8rem;
  }
  .payMoney {
    width: 100%!important;
    margin-top: -10px !important;
    margin-left: 0!important;
  }
  .payMoney .tabTitle {
    padding-left: .2rem;
  }
  .payMoney .tabTitle .lastBottom {
    position: relative;
  }
  .payMoney .tabTitle .sumMoney {
    position: absolute;
    right: 20px;
  }
  .payMoney form {
    margin-left: 2%;
  }
  .payMoney form div input[type=text],
  .payMoney form div input[type=image],
  .payMoney form div input[type=email],
  .payMoney form div input[type=date],
  .payMoney form div textarea,
  .payMoney form div select {
    left: 3.5rem;
  }
  .payMoney form div .selAdd {
    left: 3.5rem;
  }
  .payMoney form div .payPro {
    line-height: .8rem;
    left: 3.5rem;
  }
  .payMoney form div .weiSelect {
    width: 4rem;
  }
  .payMoney form div .weibi {
    margin-left: 5.5rem;
  }
  .payMoney .terrace {
    margin: 1.8rem 0;
  }
  .payMoney .payStyle img {
    width: 1.8rem;
    height: 1.8rem;
  }
  .payMoney .payDetail {
    margin-left: .5rem;
    display: inline;
    top: .2rem;
  }
  .payMoney .payDetail span {
    display: inline-table;
    top: 1rem;
    right: 0;
    width: .5rem;
    height: .5rem;
    background: none;
    border: 2px solid #dddddd;
  }
  .payMoney .payDetail .selected {
    background: url("../images/personal/pay_select.png");
    background-size: cover;
    border-color: #999;
  }
  .payMoney .payDetail .wei {
    margin-left: 1rem;
  }
  .payMoney .sumWei {
    left: 3.5rem;
  }
  .payMoney .submit {
    margin-left: -3rem !important;
  }
  .payMoney .walletPro {
    margin-left: .5rem;
  }
  .getMemory {
    margin-left: 3%;
    text-align: left!important;
  }
  .getMemory .submit {
    left: 40%;
    width: 4rem;
  }
  .getMemory .before {
    position: absolute;
  }
  .getMemory .needMoney .weiSelect {
    left: 3rem;
    width: 2rem;
  }
  .recharge .payDetail {
    margin-left: 3rem;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .topNav {
    width: 768px;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    padding: 0;
  }
  .main {
    width: 768px;
    margin: 0 auto;
  }
  .main .rightTab {
    width: 100%;
    margin-left: 1%;
  }
  .main .rightTab .tabTitle {
    padding-top: 20px;
    padding-left: 20px;
  }
  .main .payMoney {
    width: 100%;
  }
  .main .payMoney .tabTitle p {
    line-height: 1rem;
  }
  .main .payMoney .tabTitle .lastDetail {
    border-bottom: 1px solid #f0f0f0;
    position: relative;
  }
  .main .payMoney .tabTitle .sumMoney {
    position: absolute;
    right: 20px;
  }
  .main .payMoney form {
    margin-left: 20%;
  }
  .main .payMoney .payStyle img {
    width: .8rem;
    height: .8rem;
  }
  .main .payMoney .payDetail {
    margin-left: 40px;
  }
  .main .payMoney .payDetail span {
    display: inline-table;
    top: .38rem;
    right: 0;
    width: .2rem;
    height: .2rem;
    background: none;
    border: 2px solid #dddddd;
  }
  .main .payMoney .payDetail .selected {
    background: url("../images/personal/pay_select.png");
    background-size: cover;
    border-color: #999;
  }
  .main .payMoney .payDetail .wei {
    margin-left: 1rem;
  }
  .main .payMoney .weibi {
    margin-left: 300px;
  }
  .main .payMoney .sumWei {
    left: 60px;
  }
  .main .payMoney .tabDetail {
    border-top: 1px solid #dedede;
  }
  .main .tabDetail {
    width: 100%;
    padding-left: 4%;
    padding-top: .5rem;
    padding-right: 13.5%;
    border-top: 1px solid #9ab126;
  }
  .main .getMemory .weibi {
    margin-left: 5.2rem!important;
  }
  .main .getMemory .payDetail {
    width: 4rem;
    line-height: 20px;
    margin: 0;
  }
  .main .getMemory .submit {
    left: -13%;
  }
  form div {
    line-height: 30px;
    margin: 20px auto;
  }
  form div input,
  form div textarea,
  form div img {
    width: 280px;
  }
  form div input[type=text],
  form div img,
  form div input[type=email],
  form div input[type=date],
  form div textarea,
  form div select {
    left: 90px;
  }
  form div select {
    width: 200px;
  }
  form div select:nth-of-type(2) {
    left: 8rem;
  }
  form div textarea {
    height: 150px;
  }
  form div input[type=file],
  form div .load {
    left: 400px;
    width: 130px;
  }
  form .licence {
    height: 2.2rem;
    margin-bottom: 3rem!important;
  }
  form .licence .prompt,
  form .licence .load,
  form .licence input[type=file] {
    left: 400px;
  }
  form .licence .load,
  form .licence input[type=file] {
    top: 130px;
  }
  form .logoImage {
    margin-top: 4rem;
  }
  form .logoImage .prompt {
    line-height: 24px;
  }
  form .logoImage input[type=file],
  form .logoImage .load {
    top: 150px;
  }
  form .logoImage .load,
  form .logoImage input[type=file],
  form .logoImage .prompt {
    left: 400px;
  }
  form .webAdd {
    margin-top: 7rem;
  }
  form .address select {
    height: 100%;
  }
  form .submit .load {
    left: 40%;
    height: 1rem;
    width: 4rem;
  }
  .personal form div {
    line-height: 30px;
    margin: 20px auto;
  }
  .personal form div input[type=text],
  .personal form div img,
  .personal form div input[type=email],
  .personal form div input[type=date],
  .personal form div textarea,
  .personal form div select,
  .personal form div .genderSel {
    left: 60px;
  }
  .personal .perImage {
    margin-bottom: 100px;
  }
  .personal .perImage img {
    width: 100px;
    height: 100px;
  }
  .personal .perImage .prompt {
    top: 50px;
    left: 180px;
  }
  .personal .perImage .load {
    left: 180px;
    top: 0;
  }
  .personal .gender {
    margin: -10px 0 -20px 0;
  }
  .personal .genderSel {
    display: inline-table;
    width: 200px;
    height: 20px;
    margin: 10px 0 10px auto;
  }
  .personal label {
    width: 50px;
    margin-right: 10px;
  }
  .personal label input,
  .personal label .genderRep {
    position: relative;
    top: 6px;
    width: 20px;
    height: 20px;
    background-size: cover ;
  }
  .personal label .female {
    left: 0;
  }
  .personal .perAbstract {
    height: 210px;
  }
  .personal .selAdd select {
    width: 1.5rem;
    left: 0;
    height: 36px;
    margin-right: 10px;
  }
  .personal .selAdd select:nth-of-type(1) {
    left: 30px;
  }
  .personal .selAdd span:nth-of-type(1) {
    margin-left: 20px;
    margin-right: 10px;
  }
  .personal .selAdd span:nth-of-type(2) {
    margin-left: -10px;
    margin-right: 10px;
  }
  .personal .selAdd span:nth-of-type(3) {
    margin-left: -10px;
  }
  .joinActList li {
    width: 114%;
    margin-bottom: .3rem;
    border: 1px solid #f0f0f0;
  }
  .joinActList li .actMain {
    display: -ms-flexbox;
    display: flex;
  }
  .joinActList li .actAbstract {
    width: 590px;
    height: 160px;
    padding-left: 30px;
    line-height: 40px;
  }
  .joinActList li .actAbstract h4 {
    margin-top: 0;
    line-height: 54px;
  }
  .joinActList li .actAbstract .hostName,
  .joinActList li .actAbstract .status {
    margin-right: 30px;
  }
  .joinActList li .actAbstract .look {
    right: 0;
  }
  .triangle {
    display: none;
  }
  .pubAct {
    right: 30px;
    bottom: 10px;
  }
  .actLi {
    margin-right: 30px;
  }
  .searchWrap input {
    height: 40px;
  }
  .searchWrap .search {
    width: 300px;
    text-indent: 60px;
    background: url(../images/personal/fdj.png) no-repeat;
    background-position: 10px;
  }
  .searchWrap .serSure {
    margin-left: 20px;
    padding: 0 1rem;
    border-radius: 5px;
  }
  .orderList {
    margin-top: .3rem;
  }
  .orderList tr {
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-top: none;
  }
  .orderList tr td {
    min-width: 50px;
  }
  .orderList tr .orderName {
    display: -ms-flexbox;
    display: flex;
  }
  .orderList tr .operate {
    padding: 4px 8px;
    border-radius: 4px;
  }
  .orderList tr .lookOrder {
    margin-top: 18px;
  }
  .orderList tr .name {
    margin-left: 4px;
    text-align: left;
  }
  .orderList tr p input {
    padding: 4px 8px;
  }
  .orderList .space {
    width: 100%;
    font-size: 0;
    border: none;
  }
  .getMemory {
    margin-left: 1%;
    text-align: left!important;
  }
  .getMemory .submit {
    left: 40%;
    width: 4rem;
  }
  .getMemory .before {
    position: absolute;
  }
  .getMemory .needMoney .weiSelect {
    left: 3rem!important;
    width: 2rem;
  }
  .getMemory .payDetail {
    margin-left: 3rem!important;
  }
  .paySuccess .tabDetail {
    width: 550px;
    margin-left: -250px;
  }
  .recharge form {
    margin-left: 2%!important;
  }
  .company .liImg {
    height: 4.8rem;
    border: 1px solid #eeeeee;
  }
  .signSuccess .tabDetail {
    display: -ms-flexbox;
    display: flex;
    padding-left: 2rem;
  }
  .signSuccess .tabDetail .g6 {
    margin: 150px auto;
  }
  .signSuccess .tabDetail .device {
    display: inline;
    border-right: 1px solid #efefef;
    height: 300px;
    width: 2px;
    margin-top: 100px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .rightTab .tabDetail {
    padding-top: .2rem;
    margin-left: 1%;
  }
  form div {
    line-height: 50px;
    margin: 50px auto;
  }
  form div input,
  form div textarea {
    width: 280px;
  }
  form div input[type=text],
  form div img,
  form div input[type=email],
  form div input[type=date],
  form div textarea,
  form div select {
    left: 70px;
  }
  form div select:nth-of-type(2) {
    left: 340px;
  }
  form .licence {
    height: 220px!important;
    margin-bottom: 30px!important;
  }
  form .licence .image {
    height: 220px!important;
  }
  form .licence input[type=file],
  form .licence .load {
    top: 150px;
  }
  form .licence .prompt,
  form .licence .load,
  form .licence input[type=file] {
    left: 400px;
  }
  form .logoImage {
    margin-top: 4rem;
    padding-bottom: 2rem;
  }
  form .logoImage .prompt {
    line-height: 24px;
  }
  form .logoImage input[type=file],
  form .logoImage .load {
    top: 150px;
  }
  form .logoImage .load,
  form .logoImage input[type=file],
  form .logoImage .prompt {
    left: 400px;
  }
  form .webAdd {
    margin-top: 3.2rem;
  }
  form .address select {
    height: 100%;
  }
  .personal .selAdd select {
    width: 1.6rem;
    height: 36px;
    left: 30px!important;
  }
  .personal .selAdd span:nth-of-type(2) {
    margin-left: 20px;
  }
  .personal .selAdd span:nth-of-type(3) {
    margin-left: 20px;
  }
  .personal .submit {
    left: 0;
    margin-left: -100px;
  }
  .personal .submit .load {
    left: 50%;
  }
  .joinActList li {
    width: 100%;
  }
  .pubAct {
    right: 100px;
  }
  .actPayMoney .tabTitle {
    padding-left: 30px;
  }
  .getMemory form {
    margin-left: 0!important;
  }
  .getMemory form .RMBPro {
    margin-top: -30px !important;
    margin-bottom: -30px !important;
  }
}
/* 超大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .topNav {
    width: 1200px;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    padding: 0;
  }
  .main {
    width: 1200px;
    margin: 0 auto;
  }
  .main .tabTitle {
    padding-top: 20px;
  }
  .main .payMoney {
    width: 100%;
  }
  .main .payMoney .tabTitle p {
    line-height: 38px;
    text-indent: 20px;
  }
  .main .payMoney .tabTitle .sumMoney {
    position: absolute;
    right: 20px;
  }
  .main .payMoney form {
    margin-left: 20%;
  }
  .main .payMoney form .weibi {
    margin-left: 450px;
  }
  .main .payMoney .payStyle img {
    width: 70px;
    height: 70px;
  }
  .main .payMoney .payDetail span {
    top: 40px;
    width: 20px;
    height: 20px;
  }
  .main .payMoney .submit {
    left: -17% !important;
  }
  .logo div {
    width: 1200px;
    height: 134px;
    line-height: 134px;
    margin: auto;
  }
  .logo div a {
    height: 118px;
    margin: 8px 290px 0 0;
  }
  .logo div h1 {
    line-height: 134px;
  }
  .navbar-nav {
    width: 1200px;
  }
  .navbar-nav > li > a {
    width: 152px;
  }
  form {
    padding-bottom: 40px;
  }
  form div {
    line-height: 50px!important;
    margin: 50px auto!important;
  }
  form div input,
  form div textarea {
    width: 340px;
  }
  form div input[type=text],
  form div input[type=email] {
    width: 340px;
    height: 50px;
  }
  form div select:nth-of-type(2) {
    left: 400px!important;
  }
  form div .load {
    height: 60px;
    width: 220px;
  }
  form div .load {
    width: 100px;
    height: 30px;
    line-height: 30px;
  }
  form .abstract {
    height: 300px;
  }
  form .image {
    height: 220px;
    margin-bottom: 30px;
  }
  form .licence .prompt,
  form .licence .load,
  form .licence input[type=file] {
    left: 500px!important;
  }
  form .licence .load,
  form .licence input[type=file] {
    top: 170px;
  }
  form .logoImage img {
    width: 200px;
    height: 200px;
  }
  form .logoImage .load,
  form .logoImage input[type=file],
  form .logoImage .prompt {
    left: 400px;
  }
  form .webAdd {
    margin-top: 1rem;
  }
  form .address select {
    height: 100%;
  }
  form .submit .load {
    left: 40%;
    height: 50px;
    width: 200px;
  }
  .company form div input[type=text],
  .company form div img,
  .company form div input[type=email],
  .company form div input[type=date],
  .company form div textarea,
  .company form div select,
  .company form div .payPro,
  .company form div .sumWei {
    left: 100px!important;
  }
  .company form div select:nth-of-type(2) {
    left: 340px!important;
  }
  .company form div .selAdd {
    left: 70px;
  }
  .company form div .detailAdd {
    width: 472px;
  }
  .personal .perImage {
    margin-top: 0!important;
    margin-bottom: 100px!important;
  }
  .personal .perAbstract {
    height: 320px;
  }
  .personal .gender {
    margin: -10px 0 -20px 0;
  }
  .personal .genderSel {
    display: inline-table;
    width: 200px;
    height: 20px;
    margin: -50px auto !important;
  }
  .personal label {
    width: 50px;
    margin-right: 10px;
  }
  .personal label input,
  .personal label .genderRep {
    top: 55px;
    width: 20px;
    height: 20px;
    background-size: cover ;
  }
  .personal .submit .load {
    height: 50px;
    width: 200px;
  }
  .joinActList li {
    width: 880px;
  }
  .pubAct {
    right: 30px;
  }
  .actOrder tr td input {
    padding: 6px 12px!important;
  }
  .myWallet form {
    width: 90%!important;
  }
}
.bannerWrap {
  width: 100%;
  height: 360px;
  background-image: url(../images/personal/banner.png);
}
.banner {
  text-align: center;
}
.banner .adTitle {
  color: white;
}
.banner .adTitle h1 {
  line-height: 360px;
}
.banner .adTitle h1 span {
  color: #9ab126;
}
section {
  width: 100%;
}
section .main {
  margin-top: .2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.leftNav {
  width: 20%;
  background: white;
}
.leftNav li a {
  display: block;
  color: #666666;
}
.leftNav li a:hover {
  text-decoration: none;
}
.leftNav li {
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
}
.rightTab {
  overflow: hidden;
  background: white;
}
.rightTab .tabTitle {
  line-height: 38px;
}
.rightTab .tabDetail form div {
  position: relative;
}
.rightTab .tabDetail form div input,
.rightTab .tabDetail form div textarea,
.rightTab .tabDetail form div select {
  position: absolute;
  background-color: #fcfcfc;
  border: 1px solid #e6e6e6;
  resize: none;
}
.rightTab .tabDetail form div input[type=button] {
  border: none;
  border-radius: 2px;
}
.rightTab .tabDetail form div span {
  color: #666666;
}
.rightTab .tabDetail form div input[type=file] {
  opacity: 0;
}
.rightTab .tabDetail form div .prompt {
  color: #cccccc;
  line-height: 20px;
}
.rightTab .tabDetail form .selAdd {
  position: absolute;
  margin: 0;
}
.rightTab .tabDetail .address select {
  line-height: inherit;
  text-align: right;
}
.rightTab .tabDetail .address .detailAdd {
  text-indent: 10px;
  letter-spacing: 2px;
}
.personal .gender {
  line-height: 50px!important;
}
.personal .gender label {
  display: inline-block;
}
.personal .gender label input {
  opacity: 0;
}
.personal .gender label input,
.personal .gender label .genderRep {
  display: inline-block;
  margin-left: .2rem;
}
.personal .gender label .man,
.personal .gender label .female {
  border: solid 1px #dddddd;
}
.personal .birthday input {
  text-indent: 30px;
  background: url(../images/personal/calender_bg.png) no-repeat;
  background-position: 10px;
}
.selAdd {
  display: inline;
  margin: 0!important;
}
.selAdd select {
  position: relative!important;
}
.submit {
  height: 50px;
}
.submit .load {
  top: 0!important;
}
.select {
  background: url(../images/personal/select.png);
  background-size: cover;
}
.actImg {
  width: 265px;
  height: 168px;
  overflow: hidden;
}
.button {
  height: 30px;
  padding: 0 14px!important;
  line-height: 30px;
  border-radius: 4px;
}
.rightTab .signMangeTab td {
  text-align: center;
}
.signMange {
  background: none;
  border: 1px solid #9ab126;
}
.allOrder {
  padding: .1rem .2rem;
}
.paySuccess {
  padding: 150px 0;
}
.paySuccess .tabDetail {
  position: relative;
  left: 50%;
  width: 550px;
  margin-left: -250px;
  text-align: center;
  border-top: none!important;
}
.paySuccess .tabDetail div {
  margin: .8rem auto;
}
.paySuccess .tabDetail div input {
  padding: .1rem .5rem;
  line-height: .5rem;
  border: 1px solid #9ab126;
  border-radius: 4px;
}
.paySuccess .tabDetail div input:nth-of-type(1) {
  padding: .1rem .7rem;
  margin-right: .2rem;
}
input {
  border-radius: .05rem;
}
.actOrder {
  margin-top: .5rem;
}
.actOrder tr td {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  vertical-align: middle!important;
}
.actOrder tr td:nth-of-type(1) {
  text-align: left;
  text-indent: .25rem;
}
.actOrder tr:nth-of-type(1) td:nth-of-type(1) {
  text-indent: 1rem;
}
.actOrder .space td {
  border-left: none;
  border-right: none;
}
.walletPro {
  line-height: 40px;
  border-bottom: 1px solid #dddddd;
}
.myWallet tr td {
  min-width: 40px;
  max-width: 100px;
}
.myWallet tr td:first-child {
  border-left: 1px solid #dedede;
}
.myWallet tr td:last-child {
  border-right: 1px solid #dedede;
}
.myWallet tr:nth-of-type(1) td {
  text-align: left;
  border-left: none;
  border-right: none;
}
.myWallet tr:last-child {
  border-bottom: 1px solid #dedede;
}
.oncePay {
  margin-left: 30px;
}
.company img {
  position: absolute;
}
.payMoney,
.actPayMoney {
  margin-left: 0!important;
}
option {
  font-size: .1rem;
}
.delete {
  background: none;
  border: 1px solid #9ab126;
}
.actImg img {
  height: 90%!important;
  margin-top: 5%;
}
.signSuccess .tabDetail .g6 {
  min-width: 300px;
  text-align: center;
}
.signSuccess .tabDetail .g6 img {
  margin-bottom: 20px;
  padding: 2px;
}
.signSuccess .tabDetail .g6 .twoCode {
  border: 1px solid #efefef;
}
