.content .contentR .mr0 {
  margin-right: 0;
}
textarea {
  resize: none;
  vertical-align: top;
}
input {
  border: none;
}
h3,
h4 {
  margin: 0;
}
body {
  overflow: hidden;
  background: #f0f0f0;
}
.shops input[type="button"] {
  background: #323232;
}
.shops .search:before {
  background: #323232;
}
.indexNav {
  background: #1e1e1e;
}
input {
  background: #fff;
}
.indexNav:before {
  content: "";
  background: url("../images/shops/twoIndexNav.png") no-repeat;
  position: absolute;
}
#imgdiv {
  display: block;
  text-align: center;
  overflow: hidden;
  background: #fcfcfc;
}
.model-two-list > li a {
  border-bottom: 1px solid #e6e6e6;
}
#up_img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #323232;
  overflow: hidden;
}
.upImg .upBtn {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9;
  text-align: center;
  height: 60px;
  border-radius: 30px;
  background: #323232;
  color: #fff;
  overflow: hidden;
}
.contentL li {
  border: 1px solid #3c3c3c;
  text-align: center;
}
.contentR h3 {
  border-bottom: 1px solid #dfdfdf;
}
.contentR h3:before {
  content: "";
  background: #323232;
  position: absolute;
  left: 0;
}
.contentR input[type="text"],
.contentR textarea {
  border: 1px solid #dfdfdf;
  background: #fcfcfc;
}
.contentR label {
  display: inline-block;
}
#logoDiv {
  border: 1px solid #dfdfdf;
  background: #fcfcfc;
}
.up_imgT input {
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}
.up_imgT label {
  background: #323232;
  left: 0;
  top: 0;
  text-align: center;
}
.save {
  background: #323232;
}
.content .model-two h3 {
  border: none;
  margin-bottom: 0;
}
.model-two-list > li a img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.edit {
  background: url("../images/shops/edit.png") no-repeat;
}
.delete {
  background: url("../images/shops/delete.png") no-repeat;
}
.model-two-list .editR {
  background: url("../images/shops/editR.png") no-repeat;
  color: #e81e22;
}
.model-two-list .deleteR {
  background: url("../images/shops/deleteR.png") no-repeat;
  color: #e81e22;
}
.content .contentL .balckBg {
  background: #3c3c3c;
  color: #fff;
}
.popping {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.popping .poppingBg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
}
.popping .poppingCon h3 {
  text-align: center;
}
.popping .poppingCon input[type="text"],
.popping .poppingCon textarea {
  border: 1px solid #c4c4c4;
}
.popping .poppingCon > div > label {
  text-align: right;
  border-radius: 1px;
}
.popping #logoDiv {
  border: 1px solid #c4c4c4;
  border-radius: 1px;
  background: none;
}
.up_imgT label {
  background: #323232;
  border-radius: 1px;
}
.recommend > li input {
  opacity: 0;
  z-index: 99;
  left: 0;
  top: 0;
  margin: 0;
}
.recommend > li span {
  background: url(../images/shops/recommend.png) no-repeat;
}
.recommend > li .recommendY {
  background: url(../images/shops/recommendY.png) no-repeat;
}
.poppingCon .save {
  background: #323232;
  border-radius: 1px;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .indexNav:before {
    background-size: 37px 7px;
    width: 37px;
    height: 7px;
    top: -7px;
    left: 0;
  }
  #imgdiv {
    height: 150px;
  }
  #imgShow {
    height: 150px;
  }
  #up_img {
    margin: auto;
    border-radius: 30px;
  }
  .upImg .upBtn,
  #up_img {
    width: 80px;
    line-height: 24px;
    height: 24px;
    border-radius: 10px;
  }
  .content {
    width: 320px;
    margin: 10px auto;
    padding: 8px 6px 0;
  }
  .contentL li {
    width: 154px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .contentR {
    width: 320px;
    height: 620px;
  }
  .contentR h3 {
    line-height: 24px;
    text-indent: 12px;
    margin-bottom: 24px;
  }
  .contentR h3:before {
    width: 3px;
    height: 20px;
    top: 8px;
  }
  .contentR .model-one input[type="text"],
  .contentR textarea {
    width: 240px;
    line-height: 28px;
    margin-bottom: 14px;
    text-indent: 6px;
  }
  .contentR .model-one textarea {
    height: 100px;
  }
  .contentR .model-one label {
    width: 62px;
    line-height: 38px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
  }
  .contentR .model-one span {
    line-height: 40px;
    margin-left: 20px;
  }
  #logoDiv,
  #logoImg {
    width: 88px;
    height: 68px;
    overflow: hidden;
  }
  .model-one .upImgT {
    margin-bottom: 40px;
  }
  .model-one .upImgTitle {
    margin-left: 40px;
  }
  .model-one .upImgTitle p {
    margin-bottom: 10px;
    font-size: .16rem;
    line-height: 16px;
  }
  .model-one .up_imgT input,
  .model-one .up_imgT label {
    text-align: center;
    width: 60px;
    line-height: 24px;
    margin-top: 32px;
  }
  .model-one .save {
    width: 120px;
    line-height: 28px;
    margin: 0 0 30px 70px;
  }
  .model-two {
    width: 100%;
  }
  .model-two .title {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 14px;
    padding-right: 20px;
  }
  .model-two .title a {
    line-height: 24px;
  }
  .model-two-list > li {
    width: 102px;
    border: 1px solid #e6e6e6;
    margin: 0 6px  10px 0;
    padding: 0 6px;
  }
  .model-two-list > li a {
    height: 50px;
  }
  .model-two-list > li a img {
    height: 40px;
  }
  .model-two-list > li h4 {
    margin: 8px 0 6px;
  }
  .model-two-list > li p {
    line-height: 16px;
  }
  .model-two-list > li ul {
    margin: 4px 0 12px;
  }
  .model-two-list > li ul li {
    background-size: 14px;
    text-indent: 16px;
    line-height: 16px;
  }
  .popping .poppingCon {
    width: 200px;
    top: 30px;
    left: 20%;
    padding: 0 10px;
  }
  .popping .poppingCon h3 {
    line-height: 26px;
  }
  .popping .poppingCon .close {
    height: 16px;
    right: -12px;
    top: 4px;
  }
  .popping .poppingCon input[type="text"],
  .popping .poppingCon textarea {
    width: 90px;
    line-height: 24px;
    margin-bottom: 6px;
  }
  .popping .poppingCon > div > label {
    line-height: 26px;
    margin-right: 8px;
    width: 56px;
  }
  .popping #logoDiv {
    width: 60px;
    height: 46px;
    margin-bottom: 6px;
  }
  .upImgTitle {
    margin-left: 2px;
    width: 40px;
    line-height: 20px;
  }
  .popping .up_imgT input,
  .up_imgT label {
    width: 60px;
    line-height: 24px;
  }
  .recommend {
    margin-top: 10px;
    text-align: left;
  }
  .recommend > li {
    width: 44px;
    height: 16px;
  }
  .recommend > li input {
    width: 44px;
    height: 16px;
  }
  .recommend > li span {
    background-size: 12px;
    width: 44px;
    height: 16px;
    text-indent: 16px;
  }
  .recommend > li .recommendY {
    background-size: 14px;
    width: 56px;
    height: 16px;
  }
  .poppingCon .save {
    width: 80px;
    line-height: 24px;
    margin: 0 0 30px 64px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .indexNav:before {
    background-size: 157px 7px;
    width: 157px;
    height: 7px;
    top: -7px;
    left: 0;
  }
  #imgdiv {
    height: 300px;
  }
  #imgShow {
    height: 300px;
  }
  #up_img {
    margin: auto;
    border-radius: 30px;
  }
  .upImg .upBtn,
  #up_img {
    width: 120px;
    line-height: 36px;
    height: 40px;
    border-radius: 20px;
  }
  .content {
    width: 768px;
    margin: 30px auto;
    padding: 20px 12px 0;
  }
  .contentL {
    width: 120px;
  }
  .contentL li {
    width: 120px;
    line-height: 36px;
    margin-bottom: 8px;
  }
  .contentR {
    width: 600px;
    height: 920px;
  }
  .contentR h3 {
    line-height: 36px;
    text-indent: 12px;
    margin-bottom: 24px;
  }
  .contentR h3:before {
    width: 3px;
    height: 20px;
    top: 8px;
  }
  .contentR .model-one input[type="text"],
  .contentR textarea {
    width: 310px;
    line-height: 38px;
    margin-bottom: 34px;
    text-indent: 10px;
  }
  .contentR .model-one textarea {
    height: 134px;
  }
  .contentR .model-one label {
    width: 98px;
    line-height: 38px;
    display: inline-block;
  }
  .contentR .model-one span {
    line-height: 40px;
    margin-left: 20px;
  }
  #logoDiv,
  #logoImg {
    width: 128px;
    height: 88px;
    overflow: hidden;
  }
  .model-one .upImgT {
    margin-bottom: 40px;
  }
  .model-one .upImgTitle {
    margin-left: 40px;
  }
  .model-one .upImgTitle p {
    margin-bottom: 10px;
    font-size: .16rem;
    line-height: 16px;
  }
  .model-one .up_imgT input,
  .model-one .up_imgT label {
    width: 100px;
    line-height: 30px;
    margin-top: 0;
  }
  .model-one .save {
    width: 220px;
    line-height: 40px;
    margin: 0 0 30px 98px;
  }
  .model-two {
    width: 100%;
  }
  .model-two .title {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 18px;
    padding-right: 20px;
  }
  .model-two .title a {
    line-height: 60px;
  }
  .model-two-list > li {
    width: 186px;
    border: 1px solid #e6e6e6;
    margin: 0 18px  18px 0;
    padding: 0 12px;
  }
  .model-two-list > li a {
    height: 120px;
    border-bottom: 1px solid #e6e6e6;
  }
  .model-two-list > li h4 {
    margin: 12px 0 10px;
  }
  .model-two-list > li p {
    line-height: 20px;
  }
  .model-two-list > li ul {
    margin: 10px 0 18px;
  }
  .model-two-list > li ul li {
    background-size: 22px;
    text-indent: 26px;
    line-height: 22px;
  }
  .popping .poppingCon {
    width: 400px;
    top: 30px;
    left: 26%;
    padding: 0 30px;
  }
  .popping .poppingCon h3 {
    line-height: 52px;
  }
  .popping .poppingCon .close {
    height: 24px;
    right: -12px;
    top: 10px;
  }
  .popping .poppingCon input[type="text"],
  .popping .poppingCon textarea {
    width: 200px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  .popping .poppingCon > div > label {
    line-height: 36px;
    margin-right: 8px;
    width: 56px;
  }
  .popping #logoDiv {
    width: 90px;
    height: 66px;
    margin-bottom: 20px;
  }
  .upImgTitle {
    margin-left: 12px;
    width: 110px;
    line-height: 20px;
  }
  .popping .up_imgT input,
  .up_imgT label {
    width: 60px;
    line-height: 24px;
  }
  .recommend {
    margin-top: 10px;
  }
  .recommend > li {
    width: 56px;
    height: 16px;
    text-indent: 12px;
    margin-right: 20px;
  }
  .recommend > li input {
    width: 56px;
    height: 16px;
  }
  .recommend > li span {
    background-size: 14px;
    width: 56px;
    height: 16px;
  }
  .recommend > li .recommendY {
    background-size: 14px;
    width: 56px;
    height: 16px;
  }
  .poppingCon .save {
    width: 180px;
    line-height: 36px;
    margin: 0 0 30px 64px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .indexNav:before {
    background-size: 157px 7px;
    width: 157px;
    height: 7px;
    top: -7px;
    left: 0;
  }
  #imgShow {
    height: 400px;
  }
  #imgdiv {
    height: 400px;
  }
  #up_img {
    margin: auto;
    border-radius: 30px;
  }
  .upImg .upBtn {
    width: 230px;
    line-height: 60px;
    height: 60px;
    border-radius: 30px;
  }
  .content {
    width: 992px;
    margin: 40px auto;
    padding: 24px 12px 0;
  }
  .contentL {
    width: 180px;
  }
  .contentL li {
    width: 180px;
    line-height: 52px;
    margin-bottom: 8px;
  }
  .contentR {
    width: 760px;
    height: 1100px;
  }
  .contentR h3 {
    line-height: 52px;
    text-indent: 12px;
    margin-bottom: 24px;
  }
  .contentR h3:before {
    width: 3px;
    height: 20px;
    top: 16px;
  }
  .contentR .model-one input[type="text"],
  .contentR textarea {
    width: 400px;
    line-height: 38px;
    margin-bottom: 34px;
    text-indent: 10px;
  }
  .contentR .model-one textarea {
    height: 134px;
  }
  .contentR .model-one label {
    width: 98px;
    line-height: 40px;
    display: inline-block;
  }
  .contentR .model-one span {
    line-height: 40px;
    margin-left: 30px;
  }
  #logoDiv,
  #logoImg {
    width: 214px;
    height: 214px;
  }
  .model-one .upImgT {
    margin-bottom: 40px;
  }
  .model-one .upImgTitle {
    margin-left: 40px;
  }
  .model-one .upImgTitle p {
    margin-bottom: 14px;
    font-size: .16rem;
    line-height: 16px;
  }
  .model-one .up_imgT input,
  .model-one .up_imgT label {
    width: 130px;
    line-height: 40px;
  }
  .model-one .save {
    width: 220px;
    line-height: 40px;
    margin: 0 0 30px 98px;
  }
  .model-two {
    width: 100%;
  }
  .model-two .title {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 22px;
    padding-right: 20px;
  }
  .model-two .title a {
    line-height: 60px;
  }
  .model-two-list > li {
    width: 240px;
    border: 1px solid #e6e6e6;
    margin: 0 18px  18px 0;
    padding: 0 20px;
  }
  .model-two-list > li a {
    height: 170px;
    border-bottom: 1px solid #e6e6e6;
  }
  .model-two-list > li h4 {
    margin: 18px 0 16px;
  }
  .model-two-list > li p {
    line-height: 20px;
  }
  .model-two-list > li ul {
    margin: 16px 0 18px;
  }
  .model-two-list > li ul li {
    background-size: 22px;
    text-indent: 26px;
    line-height: 22px;
  }
  .popping .poppingCon {
    width: 400px;
    top: 30px;
    left: 26%;
    padding: 0 30px;
  }
  .popping .poppingCon h3 {
    line-height: 52px;
  }
  .popping .poppingCon .close {
    height: 24px;
    right: -12px;
    top: 10px;
  }
  .popping .poppingCon input[type="text"],
  .popping .poppingCon textarea {
    width: 240px;
    line-height: 36px;
    margin-bottom: 12px;
  }
  .popping .poppingCon > div > label {
    line-height: 36px;
    margin-right: 8px;
    width: 56px;
  }
  .popping #logoDiv {
    width: 100px;
    height: 76px;
    margin-bottom: 20px;
  }
  .upImgTitle {
    margin-left: 12px;
    width: 300px;
    line-height: 24px;
  }
  .popping .up_imgT input,
  .up_imgT label {
    width: 60px;
    line-height: 24px;
  }
  .recommend {
    margin-top: 10px;
  }
  .recommend > li {
    width: 56px;
    height: 16px;
    text-indent: 12px;
    margin-right: 20px;
  }
  .recommend > li input {
    width: 56px;
    height: 16px;
  }
  .recommend > li span {
    background-size: 14px;
    width: 56px;
    height: 16px;
  }
  .recommend > li .recommendY {
    background-size: 14px;
    width: 56px;
    height: 16px;
  }
  .poppingCon .save {
    width: 180px;
    line-height: 36px;
    margin: 0 0 30px 64px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .indexNav:before {
    background-size: 157px 7px;
    width: 157px;
    height: 7px;
    top: -7px;
    left: 0;
  }
  #imgdiv {
    height: 550px;
  }
  #up_img {
    margin: auto;
    border-radius: 30px;
  }
  .upImg .upBtn {
    width: 230px;
    line-height: 60px;
    height: 60px;
    border-radius: 30px;
  }
  .content {
    width: 1200px;
    margin: 40px auto;
    padding: 30px 20px 0;
  }
  .contentL {
    width: 290px;
  }
  .contentL li {
    width: 290px;
    line-height: 60px;
    margin-bottom: 8px;
  }
  .contentR {
    width: 848px;
    height: 1228px;
  }
  .contentR h3 {
    line-height: 60px;
    text-indent: 12px;
    margin-bottom: 30px;
  }
  .contentR h3:before {
    width: 4px;
    height: 20px;
    top: 20px;
  }
  .contentR .model-one input[type="text"],
  .contentR textarea {
    width: 450px;
    line-height: 40px;
    margin-bottom: 40px;
    text-indent: 10px;
  }
  .contentR .model-one textarea {
    height: 134px;
  }
  .contentR .model-one label {
    width: 98px;
    line-height: 40px;
    display: inline-block;
  }
  .contentR .model-one span {
    line-height: 40px;
    margin-left: 30px;
  }
  #logoDiv,
  #logoImg {
    width: 214px;
    height: 214px;
  }
  .model-one .upImgT {
    margin-bottom: 40px;
  }
  .model-one .upImgTitle {
    margin-left: 40px;
  }
  .model-one .upImgTitle p {
    margin-bottom: 14px;
    font-size: .16rem;
    line-height: 16px;
  }
  .model-one .up_imgT input,
  .model-one .up_imgT label {
    width: 130px;
    line-height: 40px;
  }
  .model-one .save {
    width: 220px;
    line-height: 40px;
    margin: 0 0 30px 98px;
  }
  .model-two {
    width: 100%;
  }
  .model-two .title {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 30px;
  }
  .model-two .title a {
    line-height: 60px;
  }
  .model-two-list > li {
    width: 270px;
    border: 1px solid #e6e6e6;
    margin: 0 18px  20px 0;
    padding: 0 22px;
  }
  .model-two-list > li a {
    height: 186px;
    border-bottom: 1px solid #e6e6e6;
  }
  .model-two-list > li h4 {
    margin: 18px 0 16px;
  }
  .model-two-list > li p {
    line-height: 20px;
  }
  .model-two-list > li ul {
    margin: 16px 0 18px;
  }
  .model-two-list > li ul li {
    background-size: 22px;
    text-indent: 26px;
    line-height: 22px;
  }
  .popping .poppingCon {
    width: 450px;
    height: 700px;
    top: 0;
    left: 10%;
    padding: 0 30px;
  }
  .popping .poppingCon h3 {
    line-height: 82px;
  }
  .popping .poppingCon .close {
    height: 24px;
    right: -12px;
    top: 20px;
  }
  .popping .poppingCon input[type="text"],
  .popping .poppingCon textarea {
    width: 300px;
    line-height: 44px;
    margin-bottom: 20px;
  }
  .popping .poppingCon > div > label {
    line-height: 44px;
    margin-right: 8px;
    width: 56px;
  }
  .popping #logoDiv {
    width: 128px;
    height: 88px;
    margin-bottom: 20px;
  }
  .upImgTitle {
    margin-left: 12px;
    width: 300px;
    line-height: 24px;
  }
  .popping .up_imgT input,
  .up_imgT label {
    width: 60px;
    line-height: 24px;
  }
  .recommend {
    margin-top: 16px;
  }
  .recommend > li {
    width: 56px;
    height: 16px;
    text-indent: 12px;
    margin-right: 20px;
  }
  .recommend > li input {
    width: 56px;
    height: 16px;
  }
  .recommend > li span {
    background-size: 16px;
    width: 56px;
    height: 16px;
  }
  .recommend > li .recommendY {
    background-size: 16px;
    width: 56px;
    height: 16px;
  }
  .poppingCon .save {
    width: 218px;
    line-height: 44px;
    margin-left: 64px;
  }
}
