input {
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.mainBg {
  background: url("../images/trained/bg.jpg") no-repeat 100%;
  width: 100%;
  overflow: hidden;
}
.contentL {
  border-radius: 4px;
}
.model-one > li {
  border: 1px solid #cfcfcf;
  text-align: center;
}
.content .model-mar h3 {
  margin: 0 20px;
}
.model-one > li:last-child {
  margin-right: 0;
}
.content h3 {
  border-bottom: 1px solid #dfdfdf;
}
.content h3:before {
  content: "";
  background: #9ab126;
  position: absolute;
  left: 0;
}
.model-one ul > li:after,
.model-two .message li:after {
  content: "";
  width: 1px;
  background: #dfdfdf;
  position: absolute;
  right: 0;
}
.model-two:before {
  content: "";
  border-top: 1px solid #dfdfdf;
  position: absolute;
  top: 0;
}
input[type="button"] {
  border: 1px solid #9ab126;
  border-radius: 2px;
}
.message {
  border-top: 1px dashed #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
.business-over {
  overflow: hidden;
}
.business {
  width: 3000px;
  transform: translateX(0);
}
.business li {
  text-align: center;
}
.model-three .title {
  border-bottom: 1px solid #dfdfdf;
}
.model-three .title h3 {
  border: none;
}
.contentR .case {
  border-radius: 4px;
}
.apple {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
.apple .apple-bg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.apple .apple-con {
  text-align: center;
  border-radius: 4px;
}
.apple .apple-con input {
  border: 1px solid #c4c4c4;
  border-radius: 1px;
}
.formSubmit {
  border-radius: 1px;
  margin-top: 0;
}
.banner img {
  width: 100%;
}
input {
  background: none;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .customization {
    left: 42%;
    top: 54px;
    cursor: pointer;
  }
  .mainBg {
    height: 1810px;
  }
  .content > li {
    width: 320px;
    height: 1892px;
  }
  .content {
    width: 320px;
    margin: 20px auto 0;
  }
  .contentL {
    width: 320px;
    padding: 0 4px 0;
  }
  .contentR {
    width: 320px;
    float: left;
  }
  .model-one {
    padding: 0 6px;
  }
  .model-one video {
    width: 120px;
    height: 92px;
    margin-top: -10px;
  }
  .model-one .play {
    left: 50px;
    top: 18px;
  }
  .model-one .play img {
    height: 32px;
  }
  .model-one > li {
    width: 144px;
    height: 200px;
    padding: 12px 4px 20px;
    margin: 8px 10px 8px 0;
  }
  .content .model-mar h3 {
    margin: 0 8px;
  }
  .model-one > li:last-child {
    margin-right: 0;
  }
  .content h3 {
    line-height: 24px;
    font-size: 12px;
    text-indent: 10px;
    padding-top: 6px;
  }
  .content h3:before {
    width: 2px;
    height: 14px;
    top: 10px;
    margin-right: 14px;
  }
  .model-one ul > li {
    width: 42px;
    margin-top: 2px;
  }
  .model-one ul > li:after,
  .model-two .message li:after {
    height: 16px;
    top: 14px;
    right: 0;
  }
  .model-one ul > li p {
    font-size: 12px;
    line-height: 16px;
  }
  .model-one input[type="button"] {
    width: 100px;
    line-height: 24px;
    margin-top: 10px;
  }
  .model-one > li:nth-child(2) {
    margin-right: 0;
  }
  .model-two:before {
    width: 300px;
    left: 6px;
  }
  .model-two {
    padding: 0 6px;
  }
  .model-two > li h4 {
    font-size: 14px;
  }
  .title {
    padding: 12px 0 8px;
  }
  .model-two > li h5 {
    font-size: 12px;
    margin-bottom: 8px;
    line-height: 16px;
    text-align: justify;
  }
  .model-two .message li {
    width: 72px;
    margin-right: 28px;
    padding: 10px 0;
  }
  .model-two .message li p {
    line-height: 24px;
  }
  .model-two .message li:after {
    top: 24px;
  }
  input[type="button"] {
    width: 88px;
    line-height: 24px;
    margin: 0 0 12px;
  }
  .model-three {
    margin-top: 10px;
    padding: 0 6px;
  }
  .business-over {
    width: 300px;
    height: 66px;
    margin-top: 30px;
  }
  .business li {
    margin-right: 10px;
  }
  .business img {
    height: 66px;
  }
  .business p {
    margin: 22px 0 30px;
    font-size: 16px;
  }
  .business-click img {
    margin: 8px 0 0 8px;
    height: 20px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case h4 {
    line-height: 20px;
  }
  .contentR .case li p {
    line-height: 24px;
  }
  .contentR .case .caseBar {
    margin: 30px 0 16px;
    height: 64px;
  }
  .apple .apple-con {
    width: 300px;
    padding: 0 30px 30px;
    top: 60px;
    left: 10%;
  }
  .apple .apple-con h4 {
    font-size: 18px;
    line-height: 52px;
  }
  .apple .apple-con .formClose {
    height: 24px;
    right: -10px;
    top: 20px;
  }
  .apple .apple-con input {
    background-size: 20px;
    width: 240px;
    line-height: 34px;
    margin-bottom: 20px;
    text-indent: 14px;
  }
  .formName {
    background: url("../images/trained/formName.png") no-repeat 262px 10px;
  }
  .formAddress {
    background: url("../images/trained/formAddress.png") no-repeat 262px 10px;
  }
  .formTel {
    background: url("../images/trained/formTel.png") no-repeat 262px 10px;
  }
  .formGPRS {
    background: url("../images/trained/formGPRS.png") no-repeat 262px 10px;
  }
  .formSubmit {
    width: 300px;
    line-height: 44px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .customization {
    left: 46%;
    top: 124px;
  }
  .mainBg {
    height: 2320px;
  }
  .content > li {
    width: 768px;
    height: 1892px;
  }
  .content {
    width: 768px;
    margin: 40px auto 0;
  }
  .contentL {
    width: 768px;
    padding: 0 18px 8px;
  }
  .contentR {
    width: 768px;
    float: left;
  }
  .model-one {
    padding: 0 20px;
  }
  .model-one video {
    width: 192px;
    height: 150px;
    margin-top: -20px;
  }
  .model-one .play {
    left: 60px;
    top: 34px;
  }
  .model-one .play {
    height: 62px;
  }
  .model-one > li {
    width: 220px;
    height: 256px;
    padding: 12px 14px 20px;
    margin: 24px 10px 24px 0;
  }
  .model-one > li:nth-child(2) {
    margin-right: 10px;
  }
  .content .model-mar h3 {
    margin: 0 20px;
  }
  .model-one > li:last-child {
    margin-right: 0;
  }
  .content h3 {
    line-height: 44px;
    font-size: 16px;
    text-indent: 14px;
    padding-top: 8px;
  }
  .content h3:before {
    width: 3px;
    height: 18px;
    top: 28px;
    margin-right: 14px;
  }
  .model-one ul > li {
    width: 62px;
    margin-top: 2px;
  }
  .model-one ul > li:after,
  .model-two .message li:after {
    height: 18px;
    top: 14px;
    right: 0;
  }
  .model-one ul > li p {
    font-size: 12px;
    line-height: 18px;
  }
  .model-one input[type="button"] {
    width: 190px;
    line-height: 28px;
    margin-top: 16px;
  }
  .model-two:before {
    width: 680px;
    left: 20px;
  }
  .model-two {
    padding: 0 20px;
  }
  .model-two > li h4 {
    font-size: 16px;
  }
  .title {
    padding: 20px 0 10px;
  }
  .model-two > li h5 {
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 22px;
  }
  .model-two .message li {
    width: 98px;
    margin-right: 28px;
    padding: 10px 0;
  }
  .model-two .message li p {
    line-height: 30px;
  }
  .model-two .message li:after {
    top: 24px;
  }
  input[type="button"] {
    width: 148px;
    line-height: 32px;
    margin: 20px 0 0;
  }
  .model-three {
    margin-top: 20px;
    padding: 0 20px;
  }
  .business-over {
    width: 680px;
    height: 212px;
    margin-top: 30px;
  }
  .business li {
    margin-right: 10px;
  }
  .business img {
    height: 156px;
  }
  .business p {
    margin: 22px 0 30px;
    font-size: 16px;
  }
  .business-click img {
    margin: 22px 0 0 8px;
    height: 28px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case h4 {
    line-height: 20px;
  }
  .contentR .case li p {
    line-height: 24px;
  }
  .contentR .case .caseBar {
    margin: 30px 0 16px;
    height: 64px;
  }
  .apple .apple-con {
    width: 320px;
    padding: 0 24px 30px;
    top: 100px;
    left: 28%;
  }
  .apple .apple-con h4 {
    font-size: 20px;
    line-height: 72px;
  }
  .apple .apple-con .formClose {
    height: 24px;
    right: -10px;
    top: 16px;
  }
  .apple .apple-con input {
    background-size: 24px;
    width: 280px;
    line-height: 40px;
    margin-bottom: 20px;
    text-indent: 14px;
  }
  .formName {
    background: url("../images/trained/formName.png") no-repeat 240px 10px;
  }
  .formAddress {
    background: url("../images/trained/formAddress.png") no-repeat 240px 10px;
  }
  .formTel {
    background: url("../images/trained/formTel.png") no-repeat 240px 10px;
  }
  .formGPRS {
    background: url("../images/trained/formGPRS.png") no-repeat 240px 10px;
  }
  .formSubmit {
    width: 300px;
    line-height: 44px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .customization {
    left: 47%;
    top: 160px;
  }
  .mainBg {
    height: 2600px;
  }
  .content > li {
    width: 992px;
    height: 1892px;
  }
  .content {
    width: 992px;
    margin: 30px auto 0;
  }
  .contentL {
    width: 720px;
    padding-bottom: 10px;
  }
  .contentR {
    float: right;
    width: 256px;
  }
  .model-one {
    padding: 0 20px;
  }
  .model-one video {
    width: 192px;
    height: 150px;
    margin-top: -20px;
  }
  .model-one .play {
    left: 60px;
    top: 34px;
  }
  .model-one > li {
    width: 208px;
    height: 256px;
    padding: 12px 8px 20px;
    margin: 24px 8px 24px 0;
  }
  .content .model-mar h3 {
    margin: 0 20px;
  }
  .model-one > li:last-child {
    margin-right: 0;
  }
  .content h3 {
    line-height: 44px;
    font-size: 16px;
    text-indent: 14px;
    padding-top: 8px;
  }
  .content h3:before {
    width: 3px;
    height: 18px;
    top: 28px;
    margin-right: 14px;
  }
  .model-one ul > li {
    width: 62px;
    margin-top: 2px;
  }
  .model-one ul > li:after,
  .model-two .message li:after {
    height: 18px;
    top: 14px;
    right: 0;
  }
  .model-one ul > li p {
    font-size: 12px;
    line-height: 18px;
  }
  .model-one input[type="button"] {
    width: 190px;
    line-height: 28px;
    margin-top: 16px;
  }
  .model-two:before {
    width: 648px;
    left: 20px;
  }
  .model-two {
    padding: 0 20px;
  }
  .model-two > li h4 {
    font-size: 16px;
  }
  .title {
    padding: 20px 0 10px;
  }
  .model-two > li h5 {
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 22px;
  }
  .model-two .message li {
    width: 90px;
    margin-right: 24px;
    padding: 10px 0;
  }
  .model-two .message li p {
    line-height: 30px;
  }
  .model-two .message li:after {
    top: 24px;
  }
  input[type="button"] {
    width: 148px;
    line-height: 32px;
    margin-top: 20px;
  }
  .model-three {
    margin-top: 20px;
    padding: 0 20px;
  }
  .business-over {
    width: 656px;
    height: 212px;
    margin-top: 30px;
  }
  .business li {
    margin-right: 10px;
  }
  .business img {
    height: 150px;
  }
  .business p {
    margin: 22px 0 30px;
    font-size: 16px;
  }
  .business-click img {
    margin: 22px 0 0 8px;
    height: 28px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case h4 {
    line-height: 20px;
  }
  .contentR .case li p {
    line-height: 24px;
  }
  .contentR .case .caseBar {
    margin: 30px 0 16px;
    height: 64px;
  }
  .apple .apple-con {
    width: 360px;
    padding: 0 30px 30px;
    top: 12%;
    left: 30%;
  }
  .apple .apple-con h4 {
    font-size: 22px;
    line-height: 82px;
  }
  .apple .apple-con .formClose {
    height: 24px;
    right: -10px;
    top: 20px;
  }
  .apple .apple-con input {
    background-size: 24px;
    width: 300px;
    line-height: 44px;
    margin-bottom: 20px;
    text-indent: 14px;
  }
  .formName {
    background: url("../images/trained/formName.png") no-repeat 262px 10px;
  }
  .formAddress {
    background: url("../images/trained/formAddress.png") no-repeat 262px 10px;
  }
  .formTel {
    background: url("../images/trained/formTel.png") no-repeat 262px 10px;
  }
  .formGPRS {
    background: url("../images/trained/formGPRS.png") no-repeat 262px 10px;
  }
  .formSubmit {
    width: 300px;
    line-height: 44px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .customization {
    left: 47%;
    top: 220px;
  }
  .mainBg {
    height: 2946px;
  }
  .content {
    width: 1200px;
    margin: 40px auto 0;
  }
  .contentL {
    width: 872px;
    padding-bottom: 10px;
  }
  .contentR {
    width: 310px;
  }
  .model-one {
    padding: 0 20px;
  }
  .model-one video {
    width: 236px;
    height: 180px;
    margin-top: -20px;
  }
  .model-one .play {
    left: 84px;
    top: 44px;
  }
  .model-one > li {
    width: 258px;
    height: 340px;
    padding: 18px 14px 34px;
    margin: 30px 10px 30px 0;
  }
  .content .model-mar h3 {
    margin: 0 20px;
  }
  .model-one > li:last-child {
    margin-right: 0;
  }
  .content h3 {
    line-height: 58px;
    font-size: 18px;
    text-indent: 14px;
    padding-top: 8px;
  }
  .content h3:before {
    width: 3px;
    height: 18px;
    top: 28px;
    margin-right: 14px;
  }
  .model-one ul > li {
    width: 74px;
    margin-top: 12px;
  }
  .model-one ul > li:after,
  .model-two .message li:after {
    height: 18px;
    top: 14px;
    right: 0;
  }
  .model-one ul > li p {
    font-size: 14px;
    line-height: 22px;
  }
  .model-one input[type="button"] {
    width: 228px;
    line-height: 30px;
    margin-top: 16px;
  }
  .model-two:before {
    width: 832px;
    left: 20px;
  }
  .model-two {
    padding: 0 20px;
  }
  .model-two > li h4 {
    font-size: 22px;
  }
  .title {
    padding: 30px 0 14px;
  }
  .model-two > li h5 {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 28px;
  }
  .model-two .message li {
    width: 108px;
    margin-right: 34px;
    padding: 10px 0;
  }
  .model-two .message li p {
    line-height: 34px;
  }
  .model-two .message li:after {
    top: 24px;
  }
  input[type="button"] {
    width: 158px;
    line-height: 40px;
    margin-top: 20px;
  }
  .model-three {
    margin-top: 20px;
    padding: 0 20px;
  }
  .business-over {
    width: 800px;
    height: 212px;
    margin-top: 30px;
  }
  .business li {
    margin-right: 4px;
  }
  .business img {
    height: 144px;
  }
  .business p {
    margin: 22px 0 30px;
    font-size: 16px;
  }
  .business-click img {
    margin: 22px 0 0 8px;
    height: 28px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case h4 {
    line-height: 20px;
  }
  .contentR .case li p {
    line-height: 28px;
  }
  .contentR .case .caseBar {
    margin: 30px 0 16px;
    height: 84px;
  }
  .apple .apple-con {
    width: 360px;
    padding: 0 30px 30px;
    top: 12%;
    left: 36%;
  }
  .apple .apple-con h4 {
    font-size: 22px;
    line-height: 82px;
  }
  .apple .apple-con .formClose {
    height: 24px;
    right: -10px;
    top: 20px;
  }
  .apple .apple-con input {
    background-size: 24px;
    width: 300px;
    line-height: 44px;
    margin-bottom: 20px;
    text-indent: 14px;
  }
  .formName {
    background: url("../images/trained/formName.png") no-repeat 262px 10px;
  }
  .formAddress {
    background: url("../images/trained/formAddress.png") no-repeat 262px 10px;
  }
  .formTel {
    background: url("../images/trained/formTel.png") no-repeat 262px 10px;
  }
  .formGPRS {
    background: url("../images/trained/formGPRS.png") no-repeat 262px 10px;
  }
  .formSubmit {
    width: 300px;
    line-height: 44px;
  }
}
