<include file="Public/header" />
<title>企业入驻申请-建材装潢</title>
<link rel="stylesheet" href="__PUBLIC__/css/decoration.css">
<!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head><body>
<!--页面头部-->
<include file="Public/top" />
<!--搜索框-->
<div id="top-main">
  <div class="breadcrumbs bbsbread"> 我的位置：<a href="/">首页</a>&nbsp;＞&nbsp;<span>入驻申请</span> </div>
</div>
<!--主导航-->
<nav id="nav" class="bcyellow">
  <div class="decorationTitle selectColor"> 企业入驻申请 </div>
  <div class=" w40 auto decorationMain">
    <form id="tform" action="{:U('Home/Copany/apply')}" method="post" enctype="multipart/form-data">
      <ul class="selected">
        <li class="clear">
          <h3 class="dib w20">企业名称:</h3>
          <input type="text" class="dib bcyellow form-base formg w80" name="name">
        </li>
        <li class="clear">
          <h3 class="dib w20">公司类型:</h3>
         <select name="type">
           <option value="">请选择</option>
           <foreach name="types" item="vo">
             <option value="{$vo.id}">{$vo.name}</option>
           </foreach>
         </select>
        </li>
        <li class="clear">
          <h3 class="dib w20">执照号</h3>
          <input type="text" class="dib bcyellow form-base formg w80" name="licensenum">
        </li>
        <li>
          <h3 class="dib info w20 appInfo">营业执照:</h3>
          <p class="dib f08 w80 formg appInfoStyle appSize clear">
            <input type="file" name="picture[]">
            选择文件(原件) </p>
        </li>
        <li class="clear">
          <h3 class="dib w20">主营业务</h3>
          <input type="text" class="dib bcyellow form-base formg w80" name="business">
        </li>

        <li>
          <h3 class="dib info w20 appInfo">身份证:</h3>
          <div class="dib f08 w80">
            <p class="formg appInfoStyle appSize clear">
              <input type="file" name="idcard">
              选择文件(照片) </p>
            <div class="f08 rules clear"> <span class="dib chkStyle bcyellow backgroundshow">
              <input type="checkbox" checked>
              </span> 我已阅读并接受&nbsp;<span class="selectColor cp">版权声明</span>&nbsp;和&nbsp;<span class="selectColor cp">隐私保护</span>&nbsp;条款 </div>
            <div class="btnUpload auto"> <span id="sub">申请</span> </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>
<!--侧边栏-->
<div class="returnHome"><a href="/">返回首页</a></div>
<!--页面底部-->
<include file="Public/bottom" />
<script>
$(document).ready(function(){
  $('#sub').click(function(){
    $('#tform').submit();
  })
})
</script>
<include file="Public/footer" /> 