<include file="Public/header" />
<title>企业案例列表-建材装潢</title>
<link rel="stylesheet" href="__PUBLIC__/css/detail.css">
<!--[if lt IE 9]>
  <script src="__PUBLIC__/js/html5shiv.min.js"></script>
  <script src="__PUBLIC__/js/respond.min.js"></script>
  <![endif]-->
</head><body>
<!--页面头部-->
<include file="Public/top" />
<!--logo界面-->
<div id="top_main"> <img src="__PUBLIC__/{$company.logo}" alt="{$company.name}"> </div>
<hr>
<!--主导航-->
<nav id="nav">
  <div> <img src="__PUBLIC__/{$company.banner}" alt="{$company.name}"> </div>
</nav>
<aside id="aside">
  <ul class="bcyellow homeNav">
    <li class="dib">资料编辑</li>
    <li class="current dib">案例管理</li>
    <li class="dib">案例添加</li>
  </ul>
  <div class="breadcrumbs"> 当前位置：<a href="/">首页</a><span>&nbsp;&gt;&nbsp;<a href="{:U('Home/Company/Show', array('id' => $company['id']))}">装潢公司</a></span>&nbsp;&gt;&nbsp;案例</span> </div>
</aside>
<!--主体内容-->
<section id="main">
  <div class="styles">
    <div class="theme"> <img class="styleTitle" src="__PUBLIC__/images/styletitle.png" alt=""> <span class="textBg">{$type|companyWorkType=###}</span> <span class="textSm">{$type|companyWorkTypeEn=###} style</span> </div>
    <div class="styleDetail container">
      <div class="row">
        <foreach name="works" item="v">
          <div class="col-xs-6 col-md-3">
            <div class="g-in stylelist "> <a href="{:U('/Home/Company/Cases', array('id'=>$v['id']))}"><img src="__PUBLIC__{$v.picture}" alt="" style="width:228px;height:145px;padding:0 10px"> </a>
              <div class="styletext">{$v.name}</div>
            </div>
          </div>
        </foreach>
      </div>
    </div>
    <br/>
    <div class="clear"> {$page} </div>
  </div>
  <div class="theme"> <img class="styleTitle" src="__PUBLIC__/images/styletitle.png" alt=""> <span class="textBg">关于我们</span> <span class="textSm">About us</span> </div>
  <div class="contactUs clear">
    <ul class="lf address">
      <li>地址：{$company.address}</li>
      <li>电话：{$company.tel}</li>
      <li>免费服务热线：{$company.phone}</li>
      <li>微信公众号：{$company.wx}</li>
    </ul>
    <div class="rt">
      <ul>
        <li> <img src="__PUBLIC__/images/qrcode_21.png" alt=""> </li>
        <li> 手机报名用户有特权更实惠 </li>
      </ul>
    </div>
  </div>
</section>
<!--页面底部-->
<div class="returnHome"> <a href="/">返回首页</a> </div>
<include file="Public/bottom" /> <include file="Public/footer" />