<include file="Public/header" />
<title>编辑企业-建材装潢</title>
<link rel="stylesheet" href="__PUBLIC__/css/decoration.css">
<!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head><body>
<!--页面头部-->
<include file="Public/top" />
<!--搜索框-->
<div id="top-main">
  <div class="breadcrumbs bbsbread"> 当前位置：<a href="/">首页</a>&nbsp;＞&nbsp;<a href="{:U('Home/Company/Show', array('id' => $company['id']))}">装潢公司</a>&nbsp;＞&nbsp;<span>企业编辑</span> </div>
</div>
<!--主体内容-->
<section id="main" class="bcyellow editMain">
  <h1>基本信息</h1>
  <p class="editInfo">填写以下表单,工作人员审核通过后，即可成为入驻企业。带<span class="selectColor">*</span>为必填内容</p>
  <form id="tform" method="post" enctype="multipart/form-data">
    <ul class="editDetail">
      <li>
        <h3 class="dib">企业名称<i class="selectColor dib">*</i>:</h3>
        <input type="text" name="name" class="dib bcyellow form-base formg space" placeholder="请输入企业名称" value="{$company.name}">
      </li>
      <li>
      <li>
        <h3 class="dib info appInfo ">企业介绍<i class="selectColor dib">*</i>:</h3>
        <textarea name="desp" class="dib f08  formg appSize bcyellow" placeholder="请输入公司简介">{$company.desp}</textarea>
      </li>
      <li>
        <h3 class="dib lh42">所在地<i class="selectColor dib">*</i>:</h3>
        <div class="dib w30 place">
          <select name="provid" class="dib bcyellow formg form-base address js-provs">
            <option value="">请选择省</option>
            <foreach name="provs" item="vo">
              <option value="{$vo.id}">{$vo.name}</option>
            </foreach>
            <!--<option value="">山东</option>-->
            <!--<option value="">辽宁</option>-->
          </select>
          <select name="cityid" class="dib bcyellow formg form-base  address rt js-citys">
            <option value="">请选择区市</option>
          </select>
        </div>
      </li>
      <li>
        <h3 class="dib">地址<i class="selectColor dib">*</i>:</h3>
        <input type="text" name="address" class="dib bcyellow form-base formg space" placeholder="请输入 地址" value="{$company.address}">
      </li>
      <li>
        <h3 class="dib info appInfo">Banner<i class="selectColor dib">*</i>:
          <if condition="$company.banner neq ''"><br/>
            <br/>
            <a href="__PUBLIC__{$company.banner}" target="_blank">预览</a></if>
        </h3>
        <p class="dib f08 w10 formg appInfoStyle appSize clear">
          <input type="file" name="picture[]" >
          选择文件</p>
        <h3 class="dib info appInfo companyLogo">企业LOGO<i class="dib">*</i>:
          <if condition="$company.logo neq ''"><br/>
            <br/>
            <a href="__PUBLIC__{$company.logo}" target="_blank">预览</a></if>
        </h3>
        <p class="dib f08 w10 formg appInfoStyle appSize clear">
          <input type="file" name="picture[]" >
          选择文件 </p>
      </li>
      <li>
        <h3 class="dib">手机号码<i class="selectColor dib">*</i>:</h3>
        <input type="number" class="dib bcyellow form-base formg w40 contact" name="phone" value="{$company.phone}">
        <h3 class="dib rtTitle">电话号码:</h3>
        <input type="text" name="tel" class="dib bcyellow form-base formg w40  contact rt" value="{$company.tel}">
      </li>
      <li>
        <h3 class="dib">微信<i class="selectColor dib">*</i>:</h3>
        <input type="text" name="wx" class="dib bcyellow form-base formg w40 contact" value="{$company.wx}">
        <h3 class="dib rtTitle">QQ<i class="selectColor dib">*</i>:</h3>
        <input type="text" name="qq" class="dib bcyellow form-base formg w40 rt contact" value="{$company.qq}">
      </li>
      <li>
        <h3 class="dib"></h3>
        <div class="f08 clear dib"> <span class="dib chkStyle bcyellow css-span-sub">
          <input type="checkbox" checked>
          </span> 我保证所上传的商品是正品，并非无质量保障的商品,如果有侵权，我将承担一些版权纠纷责任。 </div>
      </li>
      <li>
        <h3 class="dib"></h3>
        <div class="dib"> <span class="btnSubmit" id="sub">保存提交</span> </div>
      </li>
    </ul>
  </form>
</section>
<div class="returnHome"><a href="/">返回首页</a></div>
<!--页面底部-->
<include file="Public/bottom" />
<script>
$(document).ready(function(){
  //省份变换改变城市列表
  $(".js-provs").change(function(){
    var id = $(this).val();
    $.post("{:U('Home/Dict/areas')}",{'id':id},function(data){
      $('.js-citys').html('');
      var htmls = "<option value=''>请选择</option>";
      $.each(data,function(i,vo){
        htmls+="<option value="+vo.id+">"+vo.name+"</option>";
      });
      $('.js-citys').append(htmls);
    })
  });
  $('#sub').click(function(){
    var i = $(".css-span-sub").hasClass('backgroundshow');
    if(i){
      $('#tform').submit();
    }else{
      alert("请确认保证");
    }
  })
})
</script>
<include file="Public/footer" /> 