<include file="Public/header" />
<title>企业案例管理-建材装潢</title>
<link rel="stylesheet" href="__PUBLIC__/css/decoration.css">
<!--[if lt IE 9]>
  <script src="__PUBLIC__/js/html5shiv.min.js"></script>
  <script src="__PUBLIC__/js/respond.min.js"></script>
  <![endif]-->
</head><body>
<!--页面头部-->
<include file="Public/top" />
<!--搜索框-->
<div id="top-main">
  <div class="breadcrumbs bbsbread"> 当前位置：<a href="/">首页</a><span>&nbsp;&gt;&nbsp;<a href="{:U('Home/Company/Show', array('id' => $company['id']))}">装潢公司</a></span>&nbsp;&gt;&nbsp;<span>案例管理</span> </div>
</div>
<!--主体内容-->
<section id="main" class="bcyellow">
  <div class="decorationTitle"> 案例管理 </div>
  <div class="container">
    <div class="row rowCtn">
      <foreach name="works" item="v">
        <div class="col-xs-6 col-md-3 js-del-{$v['id']}">
          <dl>
            <dt><a href="{:U('/Home/Company/Cases', array('id'=>$v['id']))}" target="_blank" title="{$v.name}"><img src="__PUBLIC__/{$v.picture}" width="200" height="200" alt="{$v.name}"></a></dt>
            <dd><a href="{:U('/Home/Company/Cases', array('id'=>$v['id']))}" target="_blank" title="{$v.name}">{:mb_substr($v['name'],0,10)}</a></dd>
            <dd>装修风格：{$v.type|companyWorkType=###}</dd>
            <dd> <span class="bcyellow formg"><a href="{:U('Home/Company/editCase', array('id' => $v['id']))}">编辑</a></span> <span class="bcyellow formg"><a href="javascript:;" class="js-case-delete" data-id="{$v.id}">删除</a></span> </dd>
          </dl>
        </div>
      </foreach>
      <div class="clearfix"></div>
      {$page} </div>
  </div>
</section>
<div class="returnHome"> <a href="/">返回首页</a> </div>
<include file="Public/bottom" />
<script>
$(function(){
	$('.js-case-delete').on('click', function(){
		var that = $(this);
		$.post("{:U('Home/Company/deleteCase')}", { id : that.attr('data-id')}, function(data){
			window.location.reload();
		}, 'json');
	});
})
</script>
<include file="Public/footer" />