<div class="footer">
    <div class="rel f16 wh">
        <ul class="fot-nav abs hidden-xs">
            <li class="f18"><a href="{:U('Home/Index/index')}">首页</a></li>
            <li class="f18"><a href="{:U('Home/Company/index')}">企业展示</a></li>
            <li class="f18"><a href="{:U('Home/Shop/index')}">企业店铺</a></li>
            <li class="f18"><a href="{:U('Home/Course/index')}">企业培训</a></li>
            <li class="f18"><a href="{:U('Home/Job/index')}">人才对接</a></li>
            <li class="f18"><a href="{:U('Home/Article/index')}">经验交流</a></li>
            <li class="f18"><a href="{:U('Home/Cloudally/index')}">企业注册</a></li>
        </ul>
        <img src="__PUBLIC__/images/index/footerEWM.png" alt="EWM">
        <h4 class="f16 wh" >企业自助推广营销平台版权所有</h4>
        <p class=" hidden-xs">地址：上海嘉定南翔银翔路819弄中暨大厦主楼三楼维沃珂</p>
        <!--<p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>-->
    </div>
</div><!--悬浮链接-->
<!--悬浮链接 end-->