<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!--ie-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- [if lt IE 9]>-->
  <script src="__PUBLIC__/scripts/html5shiv.min.js"></script>
  <script src="__PUBLIC__/scripts/respond.min.js"></script>
  <!-- <![endif]-->
  <script src="__PUBLIC__/scripts/common.js"></script>
  <!--<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
  <script src="__PUBLIC__/scripts/jquery-1.12.4.min.js"></script>
  <script src="__PUBLIC__/scripts/base.js"></script>
  <script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
  <!--引入微信jssdk解决微信分享-->
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <!--引入微信jssdk解决微信分享-->
  <link href="/Public/images/index/favicon.ico" rel="shortcut icon">
  <link href="__PUBLIC__/styles/bootstrap.min.css" rel="stylesheet" />
  <link href="__PUBLIC__/styles/base.css" rel="stylesheet" />
  <link rel="stylesheet" href="__PUBLIC__/styles/header.css">
  <link rel="stylesheet" href="__PUBLIC__/styles/footer.css">
