<!--header logo end-->
<!--导航条-->
<div class="menu rel">
    <div class="navbar-nav  navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--折叠部分-->
        <div class="collapse navbar-collapse" id="mycollapse">
            <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
            <ul class="nav navbar-nav">
                <li class="<?php if(CONTROLLER_NAME == 'Index'){echo 'listBg';}?>" ><a href="{:U('Home/Index/index')}">首页 </a></li>
                <li class="<?php if(CONTROLLER_NAME == 'Company'){echo 'listBg';}?>" ><a href="{:U('Home/Company/index')}">企业展示 </a></li>

                <li class="<?php if(CONTROLLER_NAME == 'Shop'){echo 'listBg';}?>" ><a href="{:U('Home/Shop/index')}">企业店铺 </a></li>
                <li class="<?php if(CONTROLLER_NAME == 'Course'){echo 'listBg';}?>" ><a href="{:U('Home/Course/index')}">企业培训 </a></li>
                <li class="<?php if(CONTROLLER_NAME == 'Job'){echo 'listBg';}?>" ><a href="{:U('Home/Job/index')}">人才对接 </a></li>
                <li class="<?php if(CONTROLLER_NAME == 'Article'){echo 'listBg';}?>" ><a href="{:U('Home/Article/index')}">经验交流 </a></li>
                <li class="<?php if(CONTROLLER_NAME == 'Cloudally'){echo 'listBg';}?>" ><a href="{:U('Home/Cloudally/index')}">企业注册 </a></li>
            </ul>
        </div>
    </div>
</div>
<!--导航条 end-->