<div class="bgwh temBg">
    <div class="topNav f14 g3c fn-clear">
        <div class="l">
            <p class="dib hidden-xs"><a href="{:U('Home/Index/index')}">企业自助推广营销平台欢迎您！</a></p>
            <if condition="$Think.session.userinfo eq null">
                <a href="{:U('Home/User/login')}" class="g8c">登录</a>
                <span>  |  </span>
                <a href="{:U('Home/User/register')}" class="g8c">注册</a>
                <elseif condition="$Think.session.userinfo.role eq 1"/>
                <a href="{:U('Home/User/editInfo')}" class="g8c">{$Think.session.userinfo.name}</a>&nbsp;&nbsp;
                <a href="javascript:;" class="g8c">维币：{$Think.session.userinfo.name|getVcoin=###}&nbsp;&nbsp;</a>
                <a href="{:U('Home/User/logout')}" class="g8c">退出</a>
                <elseif condition="$Think.session.userinfo.role eq 2"/>
                <a href="{:U('Home/Company/editComInfo')}" class="g8c">{$Think.session.userinfo.name}</a>&nbsp;&nbsp;
                <a href="javascript:;" class="g8c">维币：{$Think.session.userinfo.name|getVcoin=###}&nbsp;&nbsp;</a>
                <a href="{:U('Home/User/logout')}" class="g8c">退出</a>
                <else/>
            </if>
        </div>
        <div class="r">
            <a href="javascript:;" class="g9a  hidden-xs" onclick="alert('您可以尝试通过快捷键ctrl/cmd + D 加入到收藏夹')" title='维沃珂' rel="sidebar">加入收藏</a>
            <span  class="hidden-xs">  |  </span>
            <?php if(CONTROLLER_NAME == 'Index'){ ?>
            <a href="#maodian"  class="g8c hidden-xs">在线留言</a>
            <?php }else{ ?>
            <a href="/index.php/Home/Index/index/#maodian"  class="g8c hidden-xs">在线留言</a>
            <?php } ?>
            <span  class="hidden-xs">  |  </span>
            <a href="{:U('Home/Index/nav')}" class="hidden-xs">网站地图</a>
        </div>
    </div>
</div>
<!--header logo end-->
<!--导航条-->
<!--导航条 end-->