<include file="Public/header" />
    <title>维沃柯</title>
</head>
<body>
<!--维沃柯首页index-->
<!--header登录注册-->
<include file="Public/top"/>
<include file="Public/nav" />
<!--header登录注册 end-->
<!--header logo-->
<!--图片轮播-->
<div class="carousel slide" id="myCarousel"  data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators icon">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner imgco">
        <div class="item active">
            <img src="__PUBLIC__/images/index/banner.jpg" alt="banner"/>
        </div>
        <div class="item">
            <img src="__PUBLIC__/images/index/banner.jpg" alt="banner" />
        </div>
        <div class="item">
            <img src="__PUBLIC__/images/index/banner.jpg" alt="banner"/>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel"  data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel"  data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--图片轮播 end-->
<!--关键词搜索-->
<div class="antistopBg">
    <div class="antistop fn-clear">
        <div class="l">
            <h3 class="f18 wh dib">热门关键词:</h3>
            <p class="f16 g8c dib">维沃珂企业平台</p>
            <p class="f16 g8c dib hidden-xs">维沃珂企业平台</p>
            <p class="f16 g8c dib hidden-xs hidden-sm">维沃珂企业平台</p>
            <p class="f16 g8c dib hidden-xs hidden-sm">维沃珂企业平台</p>
        </div>
        <div class="r search rel">
            <input class="f16 wh" type="search" placeholder="搜索您感兴趣的内容">
        </div>
    </div>
</div>
<!--关键词搜索 end-->
<!--主营业务-->
<div class="main">
    <!--数据-->
    <div class="f24 g3c date">
        <p>截止</p>
        <p id="time"></p>
        <p>已为</p>
        <a href="#" class="f36 g9a">13,205,122</a>
        <p>家企业服务</p>
    </div>
    <!--主营业务-->
    <ul class="business fn-clear">
        <li class="f22 l ml0"><a class="g8c dib enterprise" href="#">企业入驻</a></li>
        <li class="f22 l"><a class="g8c dib website" href="#">自助建站</a></li>
        <li class="f22 l"><a class="g8c dib activity" href="#">活动发布</a></li>
        <li class="f22 l mr0"><a class="g8c dib generalize" href="#">自助推广</a></li>
    </ul>
    <!--优秀企业展示-->
    <div class="excellent bgwh">
        <h3 class="f20 g3c">优秀企业展示<i class="gf12 g8c">Excellent show</i></h3>
        <ul class="fn-clear">
            <li class="l">
                <img src="__PUBLIC__/images/index/excellent01.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l">
                <img src="__PUBLIC__/images/index/excellent02.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l">
                <img src="__PUBLIC__/images/index/excellent03.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l">
                <img src="__PUBLIC__/images/index/excellent04.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l">
                <img src="__PUBLIC__/images/index/excellent05.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l">
                <img src="__PUBLIC__/images/index/excellent06.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l">
                <img src="__PUBLIC__/images/index/excellent07.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l">
                <img src="__PUBLIC__/images/index/excellent08.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l">
                <img src="__PUBLIC__/images/index/excellent09.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l hidden-xs">
                <img src="__PUBLIC__/images/index/excellent10.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l visible-lg">
                <img src="__PUBLIC__/images/index/excellent11.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
            <li class="l visible-lg ">
                <img src="__PUBLIC__/images/index/excellent12.jpg" alt="pic">
                <p class="f16 g3c">优秀企业展示</p>
            </li>
        </ul>
    </div>
</div>
<!--主营业务 end-->
<!--优化排名-->
<div class="SEO rel">
    <div class="wh">
        <h4 class="f18 rel">教您如何提高网站关键词排名</h4>
        <p class="f12 hidden-xs">Teach you how to improve the site keywords <br/> ranking</p>
        <a class="f14 wh" href="#">了解更多</a>
    </div>
</div>
<!--优化排名 end-->
<!--活动组织-->
<div class="planning fn-clear bgwh">
    <div class="planningL l">
        <div class="title fn-clear">
            <h3 class="f20 g3c l rel">活动组织<i class="gf12 g8c">activity</i></h3>
            <div class="r hidden-xs">
                <a  href ="javascript:volid(0);" class="f16 g9a">热门活动召集</a>
                <a  href ="javascript:volid(0);" class="f16 g8c">往期活动回顾</a>
            </div>
        </div>
        <ul class="list">
            <li onclick="window.open('template/activityIndex.html','_self')" class="fn-clear">
                <div class="l pic"><img src="__PUBLIC__/images/index/activityL01.jpg" alt=""></div>
                <div class="l title-con hidden-xs">
                    <h4 class="f16 g3c">[崇文] 球行天下广渠门汇文中学成人羽毛球培训</h4>
                    <div>
                        <div class="l">
                            <img class="dib" src="__PUBLIC__/images/index/activityLHea.png" alt="header">
                            <div class="f14 g8c dib">
                                <p>主办方名称</p>
                                <p>嘉定区</p>
                            </div>
                        </div>
                        <span class="f14 g8c r dib">2016.10.31 15:30</span>
                    </div>
                </div>
                <div class="l planApply">
                    <i class="f28 g3c b db">¥ 100</i>
                    <a  href ="javascript:volid(0);"  class="f14 wh"><button>立即报名</button></a>
                </div>
            </li>
            <li onclick="window.open('template/activityIndex.html','_self')"  class="fn-clear">
                <div class="l pic"><img src="__PUBLIC__/images/index/activityL02.jpg" alt=""></div>
                <div class="l title-con hidden-xs">
                    <h4 class="f16 g3c">[崇文] 球行天下广渠门汇文中学成人羽毛球培训</h4>
                    <div>
                        <div class="l">
                            <img class="dib" src="__PUBLIC__/images/index/activityLHea.png" alt="header">
                            <div class="f14 g8c dib">
                                <p>主办方名称</p>
                                <p>嘉定区</p>
                            </div>
                        </div>
                        <span class="f14 g8c r dib">2016.10.31 15:30</span>
                    </div>
                </div>
                <div class="l planApply">
                    <i class="f28 g3c b db">¥ 100</i>
                    <a href="#" class="f14 wh"><button>立即报名</button></a>
                </div>
            </li>
            <li onclick="window.open('template/activityIndex.html','_self')" class="fn-clear">
                <div class="l pic"><img src="__PUBLIC__/images/index/activityL03.jpg" alt=""></div>
                <div class="l title-con hidden-xs">
                    <h4 class="f16 g3c">[崇文] 球行天下广渠门汇文中学成人羽毛球培训</h4>
                    <div>
                        <div class="l">
                            <img class="dib" src="__PUBLIC__/images/index/activityLHea.png" alt="header">
                            <div class="f14 g8c dib">
                                <p>主办方名称</p>
                                <p>嘉定区</p>
                            </div>
                        </div>
                        <span class="f14 g8c r dib">2016.10.31 15:30</span>
                    </div>
                </div>
                <div class="l planApply">
                    <i class="f28 g3c b db">¥ 100</i>
                    <a  href ="javascript:volid(0);"  class="f14 wh"><button>立即报名</button></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="planningR r">
        <div class="title fn-clear">
            <h3 class="f18 g3c l rel">精选课程<i class="gf12 g8c hidden-xs">Featured</i></h3>
        </div>
        <div class="listPic">
            <img src="__PUBLIC__/images/index/activityR01.jpg" alt="pic">
            <img src="__PUBLIC__/images/index/activityR02.jpg" alt="pic">
            <img src="__PUBLIC__/images/index/activityR01.jpg" alt="pic">
            <img src="__PUBLIC__/images/index/activityR02.jpg" alt="pic">
        </div>
    </div>
</div>
<!--活动组织 end-->
<!--企业招聘-->
<div class="recruit bgwh g3c f16">
    <h3 class="f20 g3c rel">企业招聘<i class="gf12 g8c">recruitment</i></h3>
    <div class="fn-clear">
        <div class="recruitL l" onclick="window.open('template/jobs.html','_self')">
            <img src="__PUBLIC__/images/index/recruitL.jpg" alt="recruitL">
            <p>商品展示</p>
        </div>
        <ul class="recruitR fn-clear r">
            <li class="l" onclick="window.open('template/jobs.html','_self')">
                <img src="__PUBLIC__/images/index/recruit1.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l"  onclick="window.open('template/jobs.html','_self')">
                <img src="__PUBLIC__/images/index/recruit2.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l" onclick="window.open('template/jobs.html','_self')">
                <img src="__PUBLIC__/images/index/recruit3.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l" onclick="window.open('template/jobs.html','_self')">
                <img src="__PUBLIC__/images/index/recruit2.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l" onclick="window.open('template/jobs.html','_self')">
                <img src="__PUBLIC__/images/index/recruit2.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l" onclick="window.open('template/jobs.html','_self')">
                <img src="__PUBLIC__/images/index/recruit6.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l hidden-xs" onclick="window.open('template/jobs.html','_self')">
                <img src="__PUBLIC__/images/index/recruit2.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l hidden-xs" onclick="window.open('template/jobs.html','_self')">
                <img src="__PUBLIC__/images/index/recruit8.jpg" alt="picture">
                <p>商品展示</p>
            </li>
        </ul>
    </div>
</div>
<!--企业招聘 end-->
<!--关键词排名banner-->
<div class="keyword">
    <div class="keywordCon">
        <div>
            <h4 class="f16 wh">关键词排名</h4>
            <span class="f12 wh db">keywords</span>
        </div>
        <h5 class="f18 wh">教您如何提高网站关键词排名</h5>
        <p class="f12 wh hidden-xs">Teach you how to improve the site keywords </p>
        <p class="f12 wh hidden-xs">ranking</p>
        <a href="#" class="arrow db  hidden-xs"><img src="__PUBLIC__/images/index/SEOdown.png" alt="arrow"></a>
    </div>
</div>
<!--关键词排名banner end-->
<!--人才应聘 talents-->
<div class="recruit bgwh g3c f16">
    <h3 class="f20 g3c rel">人才应聘<i class="gf12 g8c">recruitment</i></h3>
    <div class="fn-clear">
        <div class="recruitL l"  onclick="window.open('template/recruit.html','_self')">
            <img src="__PUBLIC__/images/index/talentsL.jpg" alt="recruitL">
            <p>商品展示</p>
        </div>
        <ul class="recruitR fn-clear r"  onclick="window.open('template/recruit.html','_self')">
            <li class="l">
                <img src="__PUBLIC__/images/index/talentsR01.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l"  onclick="window.open('template/recruit.html','_self')">
                <img src="__PUBLIC__/images/index/talentsR02.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l"  onclick="window.open('template/recruit.html','_self')">
                <img src="__PUBLIC__/images/index/talentsR01.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l"  onclick="window.open('template/recruit.html','_self')">
                <img src="__PUBLIC__/images/index/talentsR04.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l"  onclick="window.open('template/recruit.html','_self')">
                <img src="__PUBLIC__/images/index/talentsR05.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l"  onclick="window.open('template/recruit.html','_self')">
                <img src="__PUBLIC__/images/index/talentsR01.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l hidden-xs"  onclick="window.open('template/recruit.html','_self')">
                <img src="__PUBLIC__/images/index/talentsR04.jpg" alt="picture">
                <p>商品展示</p>
            </li>
            <li class="l hidden-xs"  onclick="window.open('template/recruit.html','_self')">
                <img src="__PUBLIC__/images/index/talentsR01.jpg" alt="picture">
                <p>商品展示</p>
            </li>
        </ul>
    </div>
</div>
<!--人才应聘 talents end-->
<!--维沃柯简介-->
<div class="introduction fn-clear">
    <div class="introductionL bgwh l">
        <h3 class="f18 g3c rel">关于我们<i class="gf12 g8c">About Us</i></h3>
        <div class="fn-clear">
            <div class="l">
                <img src="__PUBLIC__/images/index/introductionL.png" alt="pic">
                <p class="f18 g3c  hidden-xs">帮助传统企业进行互联网推广</p>
            </div>
            <div class="title r">
                <h4 class="f26 g3c">维沃珂简介</h4>
                <p class="f16 g8c">以精益求精的生产工艺<span class="hidden-xs">，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来以精益求精的生产工艺，严格的品质理，周到的服务体系与客户共同营造双赢的未来，周到的服务体系与客户共同营造双赢的未来！</span></p>
                <a href="#" class="f16 wh b9a db">了解更多</a>
            </div>
        </div>
    </div>
    <div class="introductionR bgwh r fn-clear">
        <h3 class="f18 g3c rel">维沃动态<i class="gf12 g8c hidden-xs">Dynamic</i></h3>
        <ul class="fn-clear">
            <li class="fn-clear rel">
                <img class="l" src="__PUBLIC__/images/index/introductionR01.jpg" alt="">
                <div class="f16 g3c l">
                    <h4 class="hidden-xs">维沃珂企业动态...</h4>
                    <p>热度：666</p>
                </div>
            </li>
            <li class="fn-clear rel ">
                <img class="l" src="__PUBLIC__/images/index/introductionR02.jpg" alt="">
                <div class="f16 g3c l">
                    <h4 class="hidden-xs">维沃珂企业动态...</h4>
                    <p>热度：666</p>
                </div>
            </li>
            <li class="fn-clear rel hidden-xs">
                <img class="l" src="__PUBLIC__/images/index/introductionR01.jpg" alt="">
                <div class="f16 g3c l">
                    <h4 class="hidden-xs">维沃珂企业动态...</h4>
                    <p>热度：666</p>
                </div>
            </li>
            <li class="fn-clear rel hidden-xs">
                <img class="l" src="__PUBLIC__/images/index/introductionR04.jpg" alt="">
                <div class="f16 g3c l">
                    <h4>维沃珂企业动态...</h4>
                    <p>热度：666</p>
                </div>
            </li>
            <li class="fn-clear rel hidden-xs hidden-sm">
                <img class="l" src="__PUBLIC__/images/index/introductionR01.jpg" alt="">
                <div class="f16 g3c l">
                    <h4>维沃珂企业动态...</h4>
                    <p>热度：666</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--维沃柯简介 end-->
<!--企业类型-->
<div class="bgwh type">
    <div class="title fn-clear">
        <h3 class="f20 g3c l rel">企业类型<i class="gf12 g8c">Company Type</i></h3>
        <ul class="r type-tab hidden-xs" id="type-tab">
            <li class="f16 g8c dib greenColor">生产型企业</li>
            <li  class="f16 g8c dib">贸易型企业</li>
            <li  class="f16 g8c dib">服务型企业</li>
            <li  class="f16 g8c dib">培训机构</li>
            <li  class="f16 g8c dib">产品展示</li>
        </ul>
    </div>
    <ul id="type-list" class="rel type-list bgwh">
        <!--生产型企业-->
        <li>
            <ul class="typeList fn-clear">
                <li>
                    <img  src="__PUBLIC__/images/index/type01.jpg" alt="pic">
                    <h4 class="f14 g3c">阿里巴巴</h4>
                    <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                </li>
                <li>
                    <img  src="__PUBLIC__/images/index/type02.jpg" alt="pic">
                    <h4 class="f14 g3c">阿里巴巴</h4>
                    <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                </li>
                <li>
                    <img  src="__PUBLIC__/images/index/type03.jpg" alt="pic">
                    <h4 class="f14 g3c">阿里巴巴</h4>
                    <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                </li>
                <li>
                    <img  src="__PUBLIC__/images/index/type04.jpg" alt="pic">
                    <h4 class="f14 g3c">阿里巴巴</h4>
                    <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                </li>
                <li>
                    <img  src="__PUBLIC__/images/index/type01.jpg" alt="pic">
                    <h4 class="f14 g3c">阿里巴巴</h4>
                    <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                </li>
                <li>
                    <img  src="__PUBLIC__/images/index/type03.jpg" alt="pic">
                    <h4 class="f14 g3c">阿里巴巴</h4>
                    <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                </li>
                <li class="hidden-xs">
                    <img  src="__PUBLIC__/images/index/type07.jpg" alt="pic">
                    <h4 class="f14 g3c">阿里巴巴</h4>
                    <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                </li>
                <li class="hidden-xs">
                    <img  src="__PUBLIC__/images/index/type08.jpg" alt="pic">
                    <h4 class="f14 g3c">阿里巴巴</h4>
                    <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                </li>
            </ul>
            <div class="more"><a class="f14 g3c" href="#">查看更多&gt&gt</a></div>
        </li>
        <!--贸易型企业-->
        <li>
            <ul class="typeList fn-clear">
                <li>
                    <img  src="__PUBLIC__/images/index/type04.jpg" alt="pic">
                    <h4 class="f14 g3c">阿里巴巴</h4>
                    <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                </li>
                <li>
                    <img  src="__PUBLIC__/images/index/type01.jpg" alt="pic">
                    <h4 class="f14 g3c">阿里巴巴</h4>
                    <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                </li>
            </ul>
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--企业类型 end-->
<!--滑动banner-->
<div  class="typeBar" >
    <div class="type-con rel">
        <div class="type-over">
            <ul id="type-business" class="type-business">
                <li class="f14 wh">
                    <a><img src="__PUBLIC__/images/index/typePic01.png"/></a>
                    <p>阿里巴巴</p>
                </li>
                <li class="f14 wh">
                    <a><img src="__PUBLIC__/images/index/typePic02.png"/></a>
                    <p>阿里巴巴</p>
                </li>
                <li class="f14 wh">
                    <a><img src="__PUBLIC__/images/index/typePic03.png"/></a>
                    <p>阿里巴巴</p>
                </li>
                <li class="f14 wh">
                    <a><img src="__PUBLIC__/images/index/typePic04.png"/></a>
                    <p>阿里巴巴</p>
                </li>
                <li class="f14 wh">
                    <a><img src="__PUBLIC__/images/index/typePic05.png"/></a>
                    <p>阿里巴巴</p>
                </li>
                <li class="f14 wh">
                    <a><img src="__PUBLIC__/images/index/typePic06.png"/></a>
                    <p>阿里巴巴</p>
                </li>
                <li class="f14 wh">
                    <a><img src="__PUBLIC__/images/index/typePic07.png"/></a>
                    <p>阿里巴巴</p>
                </li>
                <li class="f14 wh">
                    <a><img src="__PUBLIC__/images/index/typePic05.png"/></a>
                    <p>阿里巴巴</p>
                </li>
                <li class="f14 wh">
                    <a><img src="__PUBLIC__/images/index/typePic06.png"/></a>
                    <p>阿里巴巴</p>
                </li>
                <li class="f14 wh">
                    <a><img src="__PUBLIC__/images/index/typePic07.png"/></a>
                    <p>阿里巴巴</p>
                </li>
            </ul>
            <div id="type-left" class="type-left"><img src="__PUBLIC__/images/index/type-left.png" alt="type-left"></div>
            <div id="type-right" class="type-right"><img src="__PUBLIC__/images/index/type-right.png" alt="type-right"></div>
        </div>
    </div>
</div>
<!--滑动banner end-->
<!--合作企业-->
<div class="collaborate bgwh" >
    <h3 class="f20 g3c rel">合作企业<i class="gf12 g8c">Cooperative</i></h3>
    <ul class="fn-clear">
        <li class="l"><img src="__PUBLIC__/images/index/collaborate01.png" alt="collaborate"></li>
        <li class="l"><img src="__PUBLIC__/images/index/collaborate02.png" alt="collaborate"></li>
        <li class="l"><img src="__PUBLIC__/images/index/collaborate03.png" alt="collaborate"></li>
        <li class="l"><img src="__PUBLIC__/images/index/collaborate04.png" alt="collaborate"></li>
        <li class="l"><img src="__PUBLIC__/images/index/collaborate05.png" alt="collaborate"></li>
        <li class="l"><img src="__PUBLIC__/images/index/collaborate06.png" alt="collaborate"></li>
        <li class="l hidden-xs"><img src="__PUBLIC__/images/index/collaborate07.png" alt="collaborate"></li>
        <li class="l hidden-xs"><img src="__PUBLIC__/images/index/collaborate08.png" alt="collaborate"></li>
        <li class="l hidden-xs"><img src="__PUBLIC__/images/index/collaborate09.png" alt="collaborate"></li>
        <li class="l hidden-xs"><img src="__PUBLIC__/images/index/collaborate10.png" alt="collaborate"></li>
    </ul>
</div>
<!--合作企业 end-->
<!--新闻、资讯、客服-->
<ul class="fn-clear service f16 g3c">
    <li class="l news bgwh hidden-xs">
        <div class="fn-clear title">
            <h3 class="f20 g3c rel l">新闻资讯 <i class="gf12 g8c">news</i></h3>
            <a href="#" class="f14 g8c r">更多</a>
        </div>
        <div class="fn-clear sumTitle">
            <a href="#" class="l"><img src="__PUBLIC__/images/index/newsPic.png" alt="news"></a>
            <h4 class="r">周到的服务体系与客户营造双赢的周到的服务体系与客户营造双赢的户营造双赢的局面...</h4>
        </div>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
    </li>
    <li class="l news bgwh inf">
        <div class="fn-clear title">
            <h3 class="f20 g3c rel l">企业资讯<i class="gf12 g8c hidden-xs">news</i></h3>
            <a href="#" class="f14 g8c r">更多</a>
        </div>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
        <p>周到的服务体系与客户营造双赢的...</p>
    </li>
    </li>
    <li class="l news bgwh tel-service">
        <h3 class="f20 g3c rel">联系客服<i class="gf12 g8c hidden-xs">Contact us</i></h3>
        <div class="f16 g3c">
            <label for="name" >姓      名</label>
            <input id="name" type="text">
        </div>
        <div class="f16 g3c">
            <label for="tel" >联系方式</label>
            <input id="tel" type="text">
        </div>
        <div class="f16 g3c">
            <label for="address" >联系地址</label>
            <input id="address" type="text">
        </div>
        <div class="f16 g3c">
            <label for="message" >留言内容</label>
            <textarea id="message"></textarea>
        </div>
        <input class="wh f16" type="submit">
    </li>
</ul>
<!--新闻、资讯、客服 end-->
<!--友情链接-->
<div class="bgwh link">
    <div class="fn-clear title">
        <h3 class="f20 g3c rel l">友情链接<i class="gf12 g8c">Link</i></h3>
        <a href="#" class="f14 g8c r">入口</a>
    </div>
    <div class="f14 g1e">
        <p class="dib">周到的服务体系与客户营造双赢的...</p>
        <p class="dib">周到的服务体系与客户营造双赢的...</p>
        <p class="dib">周到的服务体系与客户营造双赢的...</p>
        <p class="dib">周到的服务体系与客户营造双赢的...</p>
        <p class="dib">与客户营造双赢的...</p>
        <p class="dib">周到的服务体系与客户营造双赢的...</p>
        <p class="dib">周到的服务体系与客户营造双赢的...</p>
        <p class="dib">周到的服务体系与客户营造双赢的...</p>
        <p class="dib">周到的</p>
    </div>
</div>
<!--友情链接 end-->
<!--底部导航&footer-->
<include file="Public/footer"/>
<!--底部导航&footer end-->
<!--悬浮链接-->
<include file="Public/footer2"/>
<!--悬浮链接 end-->
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
<!--共用js-->
<include file="Public/bottom"/>