<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/aboutUs.css">
<title>{$about.title}</title>
<meta name="description" content="{$about.intro}" />
<meta name="keywords" content="{$about.intro}" />
</head>
<body>
<!--aboutUs-->
<!--header登录注册-->
<include file="Public/top"/>
<!--header logo end-->
<!--导航条-->
<include file="Public/nav"/>
<!--导航条 end-->
<!--banner-->
<div class="banner"><img src="__PUBLIC__/images/aboutUs/banner.jpg" alt="banner"></div>
<!--banner end-->
<!--content-->
<div class="content bgwh">
    <h2 class="f24 g3c b">{$about.title}</h2>
    <div class="fn-clear" id="edit">
        <div class="l titleO">
           {$about.content}
        </div>
    </div>
</div>
<!--content end-->
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<!--共用js-->
<script src="__PUBLIC__/scripts/base.js"></script>
<script src="__PUBLIC__/scripts/bootstrap.js"></script>
<script src="__PUBLIC__/scripts/news.js"></script>
</body>
</html>