<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/index.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/search.css">
    <title>搜索</title>
</head>
<body>
<!--search-->
<div class="mainBg">
    <!--header登录注册-->
    <include file="Public/top"/>
    <!--header登录注册 end-->
    <!--header logo-->
    <!--header logo end-->
    <!--导航条-->
   <include file="Public/nav"/>
    <!--导航条 end-->
    <form action="{:U('Home/Index/search')}" method="post" class="searchBg js-form">
        <div class="antistop fn-clear">
            <div class="l">
                <h3 class="f18 wh dib">热门关键词:</h3>
                <p class="f16 g8c dib"><a class="wh" href="{:U('Home/Company/index')}">企业推广平台</a></p>
                <p class="f16 g8c dib hidden-xs"><a class="wh" href="{:U('Home/Shop/index')}">企业营销平台</a></p>
                <p class="f16 g8c dib hidden-xs hidden-sm"><a class="wh" href="{:U('Home/Course/index')}">企业网络营销</a></p>
                <p class="f16 g8c dib hidden-xs hidden-sm"><a class="wh" href="{:U('Home/Article/index')}">企业自助推广</a></p>
            </div>
            <div class="r search rel">
                <input class="f16 wh js-name" name="name" type="search" placeholder="搜索您感兴趣的内容">
                <a class="abs js-sub" href="javascript:;"></a>
            </div>
        </div>
    </form>
    <!--banner-->
    <div class="banner"><img src="__PUBLIC__/images/search/banner.jpg" alt="banner"></div>
    <!--banner end-->
    <div class="content fn-clear">
        <div class="contentL bgwh l">
            <!--企业-->
            <foreach name="companys" item="v">
                <div onclick="window.open('/index.php/Home/Company/company/id/{$v.companyid}','_blank')" class="SeaEnterprise">
                    <h4 class="g9a f20">{:mb_substr($v['name'],0,45)}——企业</h4>
                    <div class="fn-clear">
                        <if condition="$v.logo eq ''">
                            <img class="l" src="__PUBLIC__/images/search/pic01.jpg" alt="pic">
                            <else/>
                            <img class="l" src="__PUBLIC__{$v.logo}" alt="pic">
                        </if>
                        <p class="r f14 g3c">{:mb_substr($v['intro'],0,70)}</p>
                    </div>
                    <hr>
                </div>
            </foreach>
            <!--企业结束-->
            <!--课程-->
            <foreach name="courses" item="v">
                <div onclick="window.open('/index.php/Home/Course/trainedDetails/id/{$v.courseid}','_blank')" class="SeaEnterprise">
                    <h4 class="g9a f20">{:mb_substr($v['title'],0,45)}——课程</h4>
                    <div class="fn-clear">
                        <if condition="$v.picture eq ''">
                            <img class="l" src="__PUBLIC__/images/search/pic01.jpg" alt="pic">
                            <else/>
                            <img class="l" src="__PUBLIC__{$v.picture}" alt="pic">
                        </if>
                        <p class="r f14 g3c">{:mb_substr($v['intro'],0,70)}</p>
                    </div>
                <hr>
            </div>
            </foreach>
            <!--课程结束-->
            <!--活动-->
            <foreach  name="activitys" item="v">
                <div onclick="window.open('/index.php/Home/Activity/actDetail/id/{$v.activityid}','_blank')"  class="SeaEnterprise">
                    <h4 class="g9a f20">{:mb_substr($v['title'],0,45)}——活动</h4>
                    <div class="fn-clear">
                        <if condition="$v.picture eq ''">
                            <img class="l" src="__PUBLIC__/images/search/pic01.jpg" alt="pic">
                            <else/>
                            <img class="l" src="__PUBLIC__{$v.picture}" alt="pic">
                        </if>
                        <p class="r f14 g3c">
                            {:mb_substr($v['title'],0,70)}
                            <br/>
                            地点：{$v.prov} {$v.city} {$v.address}
                        </p>
                    </div>
                    <hr>
                </div>
            </foreach>
            <!--活动结束-->
            <!--帖子-->
            <foreach name="articles" item="v">
                <div onclick="window.open('/index.php/Home/Article/articleDetails/id/{$v.articleid}','_blank')" class="SeaArticle">
                    <h4 class="g9a f20">{:mb_substr($v['title'],0,35)}——帖子</h4>
                    <p class="f14 g3c">{:mb_substr($v['intro'],0,70)}</p>
                    <hr>
                </div>
            </foreach>
            <!--新闻-->
            <foreach name="news" item="v">
                <div onclick="window.open('/index.php/Home/News/newsDetails/id/{$v.id}','_blank')" class="SeaArticle">
                    <h4 class="g9a f20">{:mb_substr($v['title'],0,35)}——新闻</h4>
                    <p class="f14 g3c">{:mb_substr($v['intro'],0,70)}</p>
                    <hr>
                </div>
            </foreach>
            <div class="template_page paging center" id="paging" style="font-size: 20px;text-align: center;">
                {$page}
            </div>
        </div>
        <div class="contentR g3c">
            <div class="case bgwh">
                <h3 class="rel f18">资讯中心<i class="g8c dib f12">case </i></h3>
                <ul>
                    <foreach name="push" item="vo" key="k">
                        <li onclick="window.open('/index.php/Home/Article/articleDetails/id/{$vo.articleid}','_blank')" class="g3c f12"><span>{$k+1}</span>{:mb_substr($vo['title'],0,15)}</li>
                    </foreach>
                </ul>
            </div>
            <!--<a href="javascript:volid(0)"><img src="__PUBLIC__/images/search/pic02.jpg" alt=""></a>-->
        </div>
    </div>
</div>
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
<!--共用js-->
<script src="__PUBLIC__/scripts/base.js"></script>
<script src="__PUBLIC__/scripts/index.js"></script>
<script>
    $(function(){
       $(".js-sub").click(function(){
           var name = $(".js-name").val();
           if(name==''){
               alert("请输入搜索内容");
               return false;
           }
           $(".js-form").submit();
       }) ;
    });
</script>
</body>
</html>