<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <!--<script src="../script/"></script>-->
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/personal.css"/>
    <link rel="stylesheet" href="../styles/actDetail.css"/>
    <title>企业资料</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<!--维沃柯首页-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <div class="topNav f14 g8c fn-clear">
        <div class="l">
            <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
            <a href="#" class="g8c">登录</a>
            <span>  |  </span>
            <a href="#" class="g8c">注册</a>
        </div>
        <div class="r">
            <a href="#" class="g9a"> 收藏本站</a>
            <span>  |  </span>
            <a href="#"  class="g8c">在线留言</a>
            <span>  |  </span>
            <a href="#"  class="g8c">网站地图</a>
        </div>
    </div>
</div>
<!--header登录注册 end-->
<!--header logo-->
<div class="logo bgwh fn-clear">
    <div>
        <a class="l dib" href="#"><img src="../images/index/logo.png" alt="logo"></a>
        <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
    </div>
</div>
<!--header logo end-->
<!--导航条-->
<div class="menu rel">
    <div class="navbar-nav  navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--折叠部分-->
        <div class="collapse navbar-collapse" id="mycollapse">
            <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
            <ul class="nav navbar-nav">
                <li class="listBg"><a href="index.html" >首页 </a></li>
                <li><a href="../template/exhibition.html">企业展示 </a></li>
                <li><a href="#">企业店铺 </a></li>
                <li><a href="#">企业培训 </a></li>
                <li><a href="../template/talents.html">人才对接   </a></li>
                <li><a href="#">经验交流  </a></li>
                <li><a href="../template/Cloudally.html">商家云盟</a></li>
            </ul>
        </div>
    </div>
</div>
<!--导航条 end-->
<section>
    <div class="main">
        <div class="thisAct bgwh">
            <div class="thisImg">
                <img src="../images/actIndex/activity_detial_03.png" width="100%" alt="活动图"/>
            </div>
            <div class="thisWrap rel">
                <div class="thisImg_right">
                    <h3 class="g9a f36">球行天下广渠门汇文中学成人羽毛球培训</h3>
                </div>
                <div class="hostInform">
                    <img src="../images/actIndex/actIndex_icon1.png" alt=""/>
                    <span class="hostName">主办方名称</span>
                    <span class="b9a wh bd9">关注TA</span>
                    <span class="g9a bd9">告诉TA</span>
                </div>
                <div class="hostTime">
                    <p>
                        时间：<span>11-31 15:30~11-31 22:00   11-31 22:00 报名截止 </span>
                    </p>
                </div>
                <div class="hostAdd">
                    <p>
                        地点：<span>嘉兴区XX路XXXX号</span>
                    </p>
                </div>
                <div class="hostNum">
                    <p>
                        报名人数：<span>已有100人报名     不限制名额</span>
                    </p>
                </div>
                <div class="abs payMon">
                    <div>
                        <input class="onSign b9a wh bd9 abs" type="button" value="立即报名"/>
                    </div>
                    <div class="g3c">
                        <p class="dib collect">收藏&nbsp: <img src="../images/postDetails/collect.png" alt=""/></p>
                        <div class="share-platform dib">
                            <p class="dib">分享：</p>
                            <div class="bdsharebuttonbox dib">
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actWrap">
            <div class="left">
                <h3 class="f20 g6">收费类型</h3>
                <div class="costType bbe">
                    <span class="bd9">￥100 球行天下体育俱乐部</span>
                    <span class="bdc">￥100 球行天下体育俱乐部</span>
                </div>
                <h3 class="f20 g6">活动详情</h3>
                <div class="f18 g6 detailWord">
                    <p>
                        自我蜕变：您是否像以前的我一样，浑身慢性病，免疫力低，非常爱生病？是否正在被每个月的那几天的疼痛折磨到无
                        法忍受了？是否经常为了一些琐事和家人或外人吵的翻天覆地或常常生闷气，事后又懊悔不已？您的路怒症还在时常发
                        作吗？成为一名瑜伽教师吧，还自己一个完美健康的身心，让您的心灵不再躁动不安，身体不再受病痛的困扰。不再成
                        为情绪的奴隶！
                    </p>
                </div>
                <div class="actImgBig">
                    <img src="../images/actIndex/activity_detial_11.png" width="100%" alt=""/>
                </div>
                <div class="f18 g6 detailWord">
                    <p>
                        自我蜕变：您是否像以前的我一样，浑身慢性病，免疫力低，非常爱生病？是否正在被每个月的那几天的疼痛折磨到无
                        法忍受了？是否经常为了一些琐事和家人或外人吵的翻天覆地或常常生闷气，事后又懊悔不已？您的路怒症还在时常发
                        作吗？
                    </p>
                </div>
                <div class="actImgBig">
                    <img src="../images/actIndex/activity_detial_11.png" width="100%" alt=""/>
                </div>
                <div class="f18 g6 detailWord">
                    <p>
                        自我蜕变：您是否像以前的我一样，浑身慢性病，免疫力低，非常爱生病？是否正在被每个月的那几天的疼痛折磨到无
                        法忍受了？是否经常为了一些琐事和家人或外人吵的翻天覆地或常常生闷气，事后又懊悔不已？您的路怒症还在时常发
                        作吗？成为一名瑜伽教师吧，还自己一个完美健康的身心，让您的心灵不再躁动不安，身体不再受病痛的困扰。不再成
                        为情绪的奴隶！
                    </p>
                </div>
                <div class="store">
                    <div class="collect">
                        <img src="../images/postDetails/collect.png" width="40px" alt="收藏"/>
                    </div>
                    <p>收藏</p>
                </div>
                <div class="share-platform dib">
                    <p class="dib">分享：</p>
                    <div class="bdsharebuttonbox dib">
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    </div>
                </div>
                <h3 class="f20 g6 user bbe">用户评论(<span>1</span>)</h3>
                <textarea class="bdn bde"></textarea>
                <div class="pubComment">
                    <input class="b9a wh lh30 bdn" type="button" value="发表评论"/>
                </div>
                <div class="replayAbout">
                    <p class="rel">
                        <img src="../images/actIndex/userHead.png" alt=""/>
                        <span class="f16 g6">狂奔的干脆面</span>
                        <i class="gray_b2 f14">昨天 12:00</i>
                        <b class="abs f18">回复</b>
                    </p>
                    <p class="f20">请问这活动小孩子能参加吗?</p>
                </div>
                <div class="brilliant">
                    <h3 class="f20 lh30">为您推荐精彩活动</h3>
                    <ul>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_review.png" alt=""/>
                            </div>
                            <div class="liDescribe">
                                <p>您是否像以前的力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_review.png" alt=""/>
                            </div>
                            <div class="liDescribe">
                                <p>您是否像以前的力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_review.png" alt=""/>
                            </div>
                            <div class="liDescribe">
                                <p>您是否像以前的力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_review.png" alt=""/>
                            </div>
                            <div class="liDescribe">
                                <p>您是否像以前的力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_review.png" alt=""/>
                            </div>
                            <div class="liDescribe">
                                <p>您是否像以前的力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_review.png" alt=""/>
                            </div>
                            <div class="liDescribe">
                                <p>您是否像以前的力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_review.png" alt=""/>
                            </div>
                            <div class="liDescribe">
                                <p>您是否像以前的力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_review.png" alt=""/>
                            </div>
                            <div class="liDescribe">
                                <p>您是否像以前的力低，非常爱生病......</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="right">
                <div class="actAddress bgwh">
                    <p><b class="g9a ">|</b> <b>活动地点</b></p>
                    <div class="map">
                        <img src="../images/actIndex/activity_detial_07.png" alt=""/>
                    </div>
                </div>
                <div class="reAct bgwh">
                    <p><b class="g9a">|</b> <b>推荐活动</b></p>
                    <ul>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_detial_14.png" alt="活动图"/>
                            </div>
                            <div class="reWord">
                                <p>自我蜕变：您是否像以前的我一样，浑身慢性
                                    病，免疫力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_detial_14.png" alt="活动图"/>
                            </div>
                            <div class="reWord">
                                <p>自我蜕变：您是否像以前的我一样，浑身慢性
                                    病，免疫力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_detial_14.png" alt="活动图"/>
                            </div>
                            <div class="reWord">
                                <p>自我蜕变：您是否像以前的我一样，浑身慢性
                                    病，免疫力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_detial_14.png" alt="活动图"/>
                            </div>
                            <div class="reWord">
                                <p>自我蜕变：您是否像以前的我一样，浑身慢性
                                    病，免疫力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_detial_14.png" alt="活动图"/>
                            </div>
                            <div class="reWord">
                                <p>自我蜕变：您是否像以前的我一样，浑身慢性
                                    病，免疫力低，非常爱生病......</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../images/actIndex/activity_detial_14.png" alt="活动图"/>
                            </div>
                            <div class="reWord">
                                <p>自我蜕变：您是否像以前的我一样，浑身慢性
                                    病，免疫力低，非常爱生病......</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="signWrap abs dn">
    <form class="bgwh rel" action="">
        <h3 class="g9a">完善报名信息</h3>
        <div class="abs close"></div>
        <input class="bdd user" type="text" placeholder="请输入姓名"/>
        <input class="bdd number" type="tel" placeholder="请输入电话"/>
        <input class="bdd company" type="text" placeholder="请输入公司名"/>
        <input class="wh bd9 b9a sureSign" type="button" value="我要报名"/>
    </form>
</div>
<div class="footer">
    <div class="rel f16 wh">
        <img src="../images/index/footerEWM.png" alt="EWM">
        <h4 class="f16 wh">上海维沃珂自助营销平台版权所有</h4>
        <p class=" hidden-xs">地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇</p>
        <p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>
    </div>
</div>
<script src="../scripts/ZeroClipboard.js"></script>
<script src="../scripts/postDetails.js"></script>
<script>
    //立即报名
    $('.onSign').click(function(){
        $('.signWrap').removeClass('dn');
    })
    //确定报名
    $('.sureSign').click(function(){
        window.location.href='signSuccess.html';
    })
    //关闭按钮
    $('.close').click(function(){
        $('.signWrap').addClass('dn');
    })
    //点击收藏
    $('.collect').click(function(){
        $(this).find('img').attr('src','../images/postDetails/collectGreen.png');
    })
    //点击分享
    var num=0;
    $('.bdsharebuttonbox a').mouseover(function(){
        num=$(this).index()+1;
        $(this).addClass('change'+num);
    }).mouseleave(function(){
        num=$(this).index()+1;
        $(this).removeClass('change'+num);
    })
</script>
</body>
</html>