<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="../styles/reset.css"/>-->
    <link rel="stylesheet" href="../styles/header.css"/>
    <link rel="stylesheet" href="../styles/footer.css"/>
    <link rel="stylesheet" href="../styles/personal.css">
    <title>活动详情-立即支付</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <div class="topNav f14 g8c fn-clear">
        <div class="l">
            <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
            <a href="#" class="g8c">登录</a>
            <span>  |  </span>
            <a href="#" class="g8c">注册</a>
        </div>
        <div class="r">
            <a href="#" class="g9a"> 收藏本站</a>
            <span>  |  </span>
            <a href="#"  class="g8c">在线留言</a>
            <span>  |  </span>
            <a href="#"  class="g8c">网站地图</a>
        </div>
    </div>
</div>
<!--header登录注册 end-->
<!--header logo-->
<div class="logo bgwh fn-clear">
    <div>
        <a class="l dib" href="#"><img src="../images/personal/logo.png" alt="logo"></a>
        <h1 class="f40 dib  g8c">收银台</h1>
    </div>
</div>
<section>
    <div class="main ">
        <div class="rightTab f18 personal  payMoney actPayMoney">
            <div class="tabTitle f18 g8c">
                <p >收款方：上海维沃珂自助营销平台 <span>类型：订单</span> <span>订单号：20161110882</span></p>
                <p>活动名称：上海维沃珂自助营销平台活动</p>
                <p>主办方名称：发布者名称</p>
                <p class="lastBottom rel">活动时间：2016-11-12 08:00 <span class="sumMoney">需支付: <b class=" f34 ">￥198</b></span></p>
            </div>
            <div class="tabDetail g6">
                <h5 class="b">收货信息</h5>
                <form action="payMoneySuccess.html" method="get" onsubmit="return checkAll();">
                    <div class="terrace">
                        <span class="before">支付平台：</span>
                        <span class="payPro abs">订单将为您保留30分钟，请您及时付款，以便订单尽快处理！</span>
                    </div>
                    <div class="payStyle">
                        <span class="before">支付方式：</span>
                        <span class="payDetail rel">
                            <img src="../images/personal/pay_zhi.png" alt="支付宝" title="支付宝"/>
                            <span class="select rel selected"></span>
                            <img class="wei" src="../images/personal/pay_wei.png" alt="微信" title="微信"/>
                            <span class="select rel"></span>
                        </span>
                    </div>
                    <div>
                        <span class="before">使用维币 :</span>
                        <input class="weiSelect" type="text"/>
                        <a class="weibi rel">使用全部维币</a>
                        <p class="sumWei rel">维币总值：60</p>
                    </div>
                    <div class="submit">
                        <input class="b9a wh load onPay" type="submit" value="立即付款"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--底部导航&footer-->
<div class="footer">
    <div class="rel f16 wh">
        <img src="../images/index/footerEWM.png" alt="EWM">
        <h4 class="f16 wh">上海维沃珂自助营销平台版权所有</h4>
        <p class=" hidden-xs">地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇</p>
        <p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>
    </div>
</div>
<!--底部导航&footer end-->
<script src="../scripts/distpicker.data.js"></script>
<script src="../scripts/distpicker.js"></script>
<script src="../scripts/personal.js"></script>
</body>
</html>