<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <!--<script src="../script/"></script>-->
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/actIndex.css">
    <title>活动首页</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<!--维沃柯首页-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <div class="topNav f14 g8c fn-clear">
        <div class="l">
            <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
            <a href="#" class="g8c">登录</a>
            <span>  |  </span>
            <a href="#" class="g8c">注册</a>
        </div>
        <div class="r">
            <a href="#" class="g9a"> 收藏本站</a>
            <span>  |  </span>
            <a href="#"  class="g8c">在线留言</a>
            <span>  |  </span>
            <a href="#"  class="g8c">网站地图</a>
        </div>
    </div>
</div>
<!--header登录注册 end-->
<!--header logo-->
<div class="logo bgwh fn-clear">
    <div>
        <a class="l dib" href="#"><img src="../images/index/logo.png" alt="logo"></a>
        <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
    </div>
</div>
<!--header logo end-->
<!--导航条-->
<div class="menu rel">
    <div class="navbar-nav  navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--折叠部分-->
        <div class="collapse navbar-collapse" id="mycollapse">
            <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
            <ul class="nav navbar-nav">
                <li class="listBg"><a href="../index.html" >首页 </a></li>
                <li><a href="exhibition.html">企业展示 </a></li>
                <li><a href="businesses.html">企业店铺 </a></li>
                <li><a href="trained.html">企业培训 </a></li>
                <li><a href="talents.html">人才对接   </a></li>
                <li><a href="experience.html">经验交流  </a></li>
                <li><a href="Cloudally.html">商家云盟</a></li>
            </ul>
        </div>
    </div>
</div>
<!--导航条 end-->
<!--图片轮播-->
<div class="carousel slide" id="myCarousel">
    <div class="carousel-inner imgco rel">
        <div class="item active">
            <img src="../images/actIndex/actIndex_banner.png" width="100%" alt="banner"/>
        </div>
        <div class="pubAct abs">
            <input class=" wh b9a bdn f24 publish" type="button" value="发布活动"/>
        </div>
    </div>
</div>
<!--图片轮播 end-->
<section>
    <div class="main">
        <!--精彩回顾 start-->
        <div class="mainHeader bgwh">
            <div class="headerWrap">
                <h3 class="f34">精彩回顾 <span class="g9a f24">精彩回顾</span></h3>
            </div>
            <div class="reviewWrap">
                <div class="reviewLeft" height="300px">
                    <img src="../images/actIndex/actIndex_review.png" alt=""/>
                </div>
                <div class="reviewMiddle">
                    <div class="reviewAct">
                        <div><img src="../images/personal/activity.png" alt=""/></div>
                        <div class="actDescribe">
                            <p>球行天下广渠门汇文中学成人羽毛球培训文中学成人羽毛球...</p>
                        </div>
                    </div>
                    <div class="reviewAct">
                        <div><img src="../images/personal/activity.png" alt=""/></div>
                        <div class="actDescribe">
                            <p>球行天下广渠门汇文中学成人羽毛球培训文中学成人羽毛球...</p>
                        </div>
                    </div>
                </div>
                <div class="reviewRight bde">
                    <ul>
                        <li class="g9a">球行天下广渠门汇文中学成人羽毛球培训文中学成人......</li>
                        <li>球行天下广渠门汇文中学成人羽毛球培训文中学成人......</li>
                        <li>球行天下广渠门汇文中学成人羽毛球培训文中学成人......</li>
                        <li>球行天下广渠门汇文中学成人羽毛球培训文中学成人......</li>
                        <li>球行天下广渠门汇文中学成人羽毛球培训文中学成人......</li>
                        <li>球行天下广渠门汇文中学成人羽毛球培训文中学成人......</li>
                        <li>球行天下广渠门汇文中学成人羽毛球培训文中学成人......</li>
                    </ul>
                </div>
            </div>
        </div><!--精彩回顾 end-->

        <!--全部分类 start-->
        <div class="mainDetail ">
            <div class="leftNav bgwh">
                <ul>
                    <li class="b9a wh">全部分类</li>
                    <li>分类1</li>
                    <li>分类2</li>
                    <li>分类3</li>
                    <li>分类4</li>
                    <li>分类5</li>
                    <li>分类6</li>
                    <li>分类7</li>
                    <li>分类8</li>
                    <li>分类9</li>
                </ul>
            </div>
            <div class="rightDetail">
                <div class="navHeader bgwh">
                    <ul class="selectTime">
                        <li class="b9a wh byTime">
                            <b>时间</b>
                        </li>
                        <li>今天</li>
                        <li>近一周</li>
                        <li>近一月</li>
                        <li>周末</li>
                        <li>手动选时间</li>
                    </ul>
                    <ul class="cost">
                        <li class="b9a wh byCost"><b>费用</b></li>
                        <li>免费</li>
                        <li>收费</li>
                    </ul>
                </div>
                <div class="actListWrap">
                    <div class="actList bgwh">
                        <div class="actListImg">
                            <img src="../images/personal/activity.png" alt=""/>
                        </div>
                        <div class="actDetail">
                            <div class="actHeader g3">
                                <h4>【崇文】球行天下广渠门汇文中学成人羽毛球培训</h4>
                            </div>
                            <div class="hostName">
                                <img src="../images/actIndex/actIndex_icon1.png" alt=""/>
                                <span class="f14">主办方名称</span>
                            </div>
                            <div class="needMoney">
                                <p class="g6 2">￥<span class="f32">100.00</span> </p>
                            </div>
                            <div class="actTime">
                                <img src="../images/actIndex/actIndex_icon2.png" alt=""/>
                                <span class="f14">2016-12-25 12:00</span>
                            </div>
                            <div class="actAddress rel">
                                <img src="../images/actIndex/actIndex_icon3.png" alt=""/>
                                <span class="f14">松江区江田东路185号</span>
                                <input class="bdn b9a wh f18 abs lookDetail" type="button" value="查看详情"/>
                            </div>
                        </div>
                    </div>
                    <div class="actList bgwh">
                        <div class="actListImg">
                            <img src="../images/personal/activity.png" alt=""/>
                        </div>
                        <div class="actDetail">
                            <div class="actHeader g3">
                                <h4>【崇文】球行天下广渠门汇文中学成人羽毛球培训</h4>
                            </div>
                            <div class="hostName">
                                <img src="../images/actIndex/actIndex_icon1.png" alt=""/>
                                <span class="f14">主办方名称</span>
                            </div>
                            <div class="needMoney">
                                <p class="g6 2">￥<span class="f32">100.00</span> </p>
                            </div>
                            <div class="actTime">
                                <img src="../images/actIndex/actIndex_icon2.png" alt=""/>
                                <span class="f14">2016-12-25 12:00</span>
                            </div>
                            <div class="actAddress rel">
                                <img src="../images/actIndex/actIndex_icon3.png" alt=""/>
                                <span class="f14">松江区江田东路185号</span>
                                <input class="bdn b9a wh f18 abs lookDetail" type="button" value="查看详情"/>
                            </div>
                        </div>
                    </div>
                    <div class="actList bgwh">
                        <div class="actListImg">
                            <img src="../images/personal/activity.png" alt=""/>
                        </div>
                        <div class="actDetail">
                            <div class="actHeader g3">
                                <h4>【崇文】球行天下广渠门汇文中学成人羽毛球培训</h4>
                            </div>
                            <div class="hostName">
                                <img src="../images/actIndex/actIndex_icon1.png" alt=""/>
                                <span class="f14">主办方名称</span>
                            </div>
                            <div class="needMoney">
                                <p class="g6 2">￥<span class="f32">100.00</span> </p>
                            </div>
                            <div class="actTime">
                                <img src="../images/actIndex/actIndex_icon2.png" alt=""/>
                                <span class="f14">2016-12-25 12:00</span>
                            </div>
                            <div class="actAddress rel">
                                <img src="../images/actIndex/actIndex_icon3.png" alt=""/>
                                <span class="f14">松江区江田东路185号</span>
                                <input class="bdn b9a wh f18 abs lookDetail" type="button" value="查看详情"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--全部分类 end-->
        <div class="page">
            <ul>
                <li class="bd">首页</li>
                <li class="bd">上一页</li>
                <li class=" one">1</li>
                <li class="bd">2</li>
                <li class="b9a wh">下一页</li>
                <li class="bd">尾页</li>
            </ul>
        </div>
    </div>
</section>
<script>
    $('.publish').click(function(){
        window.location.href='activity_Publish.html';
    })
    $('.lookDetail').click(function(){
        window.location.href='actDetail.html';
    })
</script>
</body>
</html>