<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.min.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/Cloudally.css">
    <title>商家云盟</title>
</head>
<body>
<!--商家云盟Cloudally-->
<div class="mainBg">
    <!--header登录注册-->
    <div class="topNavBg fn-clear">
        <div class="topNav f14 g8c fn-clear">
            <div class="l">
                <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
                <a href="#" class="g8c">登录</a>
                <span>  |  </span>
                <a href="#" class="g8c">注册</a>
            </div>
            <div class="r">
                <a href="#" class="g9a"> 收藏本站</a>
                <span>  |  </span>
                <a href="#"  class="g8c">在线留言</a>
                <span>  |  </span>
                <a href="#"  class="g8c">网站地图</a>
            </div>
        </div>
    </div>
    <!--header登录注册 end-->
    <!--header logo-->
    <div class="logo bgwh fn-clear">
        <div>
            <a class="l dib" href="#"><img src="../images/index/logo.png" alt="logo"></a>
            <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
        </div>
    </div>
    <!--header logo end-->
    <!--导航条-->
    <div class="menu rel">
        <div class="navbar-nav  navbar-inverse">
            <div class="navbar-header">
                <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--折叠部分-->
            <div class="collapse navbar-collapse" id="mycollapse">
                <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
                <ul class="nav navbar-nav">
                    <li><a href="../index.html" >首页 </a></li>
                    <li><a href="exhibition.html">企业展示 </a></li>
                    <li><a href="businesses.html">企业店铺 </a></li>
                    <li><a href="trained.html">企业培训 </a></li>
                    <li><a href="talents.html">人才对接   </a></li>
                    <li><a href="experience.html">经验交流  </a></li>
                    <li class="listBg"><a href="Cloudally.html">商家云盟</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--导航条 end-->
    <!--banner-->
    <div class="banner"><img src="../images/Cloudally/banner.jpg" alt="banner"></div>
    <!--banner end-->
    <div class="content">
        <!--入驻流程-->
        <div class="process">
            <h3 class="f24 g3c b">入驻流程 </h3>
            <p class="f18 g8c">只需4步，便可轻松入驻 </p>
            <hr>
            <ul class="processList fn-clear">
                <li><a class="dib g3c dib registerOption">注册账号</a></li>
                <li><a class="dib g3c dib apply">申请入驻</a></li>
                <li><a class="dib g3c dib from">填写并提交表单</a></li>
                <li><a class="dib g3c dib generalize">自助推广</a></li>
            </ul>
        </div>
        <!--入驻流程 end-->
        <!--公司优势-->
        <div class="advantage">
            <h3 class="f24 g3c b">公司优势  </h3>
            <p class="f18 g8c">比行业内其他公司更有竞争力，选择我们没问题</p>
            <hr>
            <ul class="fn-clear">
                <li><img src="../images/Cloudally/pic01.jpg" alt="pic"></li>
                <li><img src="../images/Cloudally/pic02.jpg" alt="pic"></li>
                <li><img src="../images/Cloudally/pic03.jpg" alt="pic"></li>
                <li><img src="../images/Cloudally/pic04.jpg" alt="pic"></li>
                <li><img src="../images/Cloudally/pic05.jpg" alt="pic"></li>
                <li><img src="../images/Cloudally/pic06.jpg" alt="pic"></li>
            </ul>
            <h4 class="g8c hidden-xs">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人需求分析的具体流程，通过掌握行之有效的用人需求分析工具，帮助HR完美匹配人才，提升工作效率,企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生。HR应该如何做好用人需求分析才能避免这些问题的发生。           </h4>
        </div>
        <!--公司优势 end-->
        <!--免费注册-->
        <a class="registerBtn dib" href="register.html"><input class="wh" type="text" value="免费注册" readonly="readonly"></a>
        <!--免费注册 end-->
    </div>
    <!--我要加盟banner-->
    <div class="join">
        <h5 class="g3c">维沃珂</h5>
        <p  class="g3c">周到的服务体系与客户共同营造双赢的发展未来</p>
        <a class="db" href="businessForm.html">申请入驻</a>
    </div>
    <!--我要加盟banner end-->
    <!--底部导航&footer-->
    <div class="footer">
        <div class="rel f16 wh">
            <img src="../images/index/footerEWM.png" alt="EWM">
            <h4 class="f16 wh">上海维沃珂自助营销平台版权所有</h4>
            <p class=" hidden-xs">地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇</p>
            <p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>
        </div>
    </div>
    <!--底部导航&footer end-->
    <!--悬浮链接-->
    <div class="suspend fn-clear">
        <a href="#" class="l weChat dn"><p class="f12 g28">微信号：123546</p></a>
        <ul class="r">
            <li class="serviceBtn"><img src="../images/index/suspend01.png" alt=""></li>
            <li class="weChatBtn"><img src="../images/index/suspend02.png" alt=""></li>
            <li class="topBtn"><img src="../images/index/suspend03.png" alt=""></li>
        </ul>
    </div>
    <!--悬浮链接 end-->
</div>
<!--共用js-->
<script src="../scripts/base.js"></script>
<script src="../scripts/Cloudally.js"></script>
</body>
</html>