<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.min.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/experience.css">
    <title>经验交流</title>
</head>
<body>
<!--经验交流experience-->
<div class="mainBg">
    <!--header登录注册-->
    <div class="topNavBg fn-clear">
        <div class="topNav f14 g8c fn-clear">
            <div class="l">
                <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
                <a href="#" class="g8c">登录</a>
                <span>  |  </span>
                <a href="#" class="g8c">注册</a>
            </div>
            <div class="r">
                <a href="#" class="g9a"> 收藏本站</a>
                <span>  |  </span>
                <a href="#"  class="g8c">在线留言</a>
                <span>  |  </span>
                <a href="#"  class="g8c">网站地图</a>
            </div>
        </div>
    </div>
    <!--header登录注册 end-->
    <!--header logo-->
    <div class="logo bgwh fn-clear">
        <div>
            <a class="l dib" href="#"><img src="../images/index/logo.png" alt="logo"></a>
            <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
        </div>
    </div>
    <!--header logo end-->
    <!--导航条-->
    <div class="menu rel">
        <div class="navbar-nav  navbar-inverse">
            <div class="navbar-header">
                <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--折叠部分-->
            <div class="collapse navbar-collapse" id="mycollapse">
                <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
                <ul class="nav navbar-nav">
                    <li><a href="../index.html" >首页 </a></li>
                    <li><a href="exhibition.html">企业展示 </a></li>
                    <li><a href="businesses.html">企业店铺 </a></li>
                    <li><a href="trained.html">企业培训 </a></li>
                    <li><a href="talents.html">人才对接   </a></li>
                    <li class="listBg"><a href="experience.html">经验交流  </a></li>
                    <li><a href="Cloudally.html">商家云盟</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--导航条 end-->
    <!--banner-->
    <div class="banner"><img src="../images/experience/banner.jpg" alt="banner"></div>
    <!--banner end-->
    <!--content-->
    <!--主题文贴   |  企业交流-->
    <div class="content fn-clear">
        <div class="contentL bgwh l">
            <!--tab标题-->
            <div class="title fn-clear">
                <ul class="main-tab l" id="main-tab">
                    <li class="g3c dib greenColor theme rel">主题文贴</li>
                    <li class="g3c dib">企业交流 </li>
                </ul>
                <ul class="screen r">
                    <li class="g8c dib greenColor">热门 </li>
                    <li class="g8c dib">最新</li>
                    <li class="g8c dib">排行</li>
                </ul>
            </div>
            <ul id="content" class="rel">
                <!--主题文贴-->
                <li>
                    <!--模块一-->
                    <ul class="model-one fn-clear">
                        <li onclick="window.open('postDetails.html','_self')" class="g8c f12 l">
                            <h3 class="g9a">上海市维沃珂企业自助营销 </h3>
                            <p>作者 余秋雨</p>
                            <img src="../images/experience/contentLPic.jpg" alt="pic">
                            <ul class="interaction hidden-xs">
                                <li class="dib f12">
                                    <label for="see">浏览</label>
                                    <span>8653497&nbsp&nbsp|</span>
                                </li>
                                <li class="dib f12">
                                    <label for="comment">&nbsp&nbsp评论</label>
                                    <span>497</span>
                                </li>
                            </ul>
                            <p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>
                            <ul class="fn-clear other">
                                <li class="g8c f12 l time hidden-xs">2016-11-24</li>
                                <li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>
                            </ul>
                        </li>
                        <li onclick="window.open('postDetails.html','_self')" class="g8c f12 l">
                            <h3 class="g9a">上海市维沃珂企业自助营销 </h3>
                            <p>作者 余秋雨</p>
                            <img src="../images/experience/contentLPic.jpg" alt="pic">
                            <ul class="interaction hidden-xs">
                                <li class="dib f12">
                                    <label for="see">浏览</label>
                                    <span>8653497&nbsp&nbsp|</span>
                                </li>
                                <li class="dib f12">
                                    <label for="comment">&nbsp&nbsp评论</label>
                                    <span>497</span>
                                </li>
                            </ul>
                            <p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>
                            <ul class="fn-clear other">
                                <li class="g8c f12 l time hidden-xs">2016-11-24</li>
                                <li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>
                            </ul>
                        </li>
                        <li onclick="window.open('postDetails.html','_self')" class="g8c f12 l">
                            <h3 class="g9a">上海市维沃珂企业自助营销 </h3>
                            <p>作者 余秋雨</p>
                            <img src="../images/experience/contentLPic.jpg" alt="pic">
                            <ul class="interaction hidden-xs">
                                <li class="dib f12">
                                    <label for="see">浏览</label>
                                    <span>8653497&nbsp&nbsp|</span>
                                </li>
                                <li class="dib f12">
                                    <label for="comment">&nbsp&nbsp评论</label>
                                    <span>497</span>
                                </li>
                            </ul>
                            <p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>
                            <ul class="fn-clear other">
                                <li class="g8c f12 l time hidden-xs">2016-11-24</li>
                                <li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--模块二-->
                    <div class="model-two">
                        <ul>
                            <li>
                                <hr>
                                <img src="../images/experience/contentLBar.jpg" alt="bar">
                                <ul class="interaction">
                                    <li class="dib f12 g8c">
                                        <label >浏览</label>
                                        <span >8653497</span>
                                    </li>
                                    <li class="dib f12 g8c">
                                        <label>评论</label>
                                        <span>497</span>
                                    </li>
                                </ul>
                                <h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销</h4>
                                <p class="g3c hidden-xs">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销.</p>
                            </li>
                            <li>
                                <hr>
                                <img src="../images/experience/contentLBar.jpg" alt="bar">
                                <ul class="interaction">
                                    <li class="dib f12 g8c">
                                        <label >浏览</label>
                                        <span >8653497</span>
                                    </li>
                                    <li class="dib f12 g8c">
                                        <label>评论</label>
                                        <span>497</span>
                                    </li>
                                </ul>
                                <h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销</h4>
                                <p class="g3c hidden-xs">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销.</p>
                            </li>
                            <li>
                                <hr>
                                <img src="../images/experience/contentLBar.jpg" alt="bar">
                                <ul class="interaction">
                                    <li class="dib f12 g8c">
                                        <label >浏览</label>
                                        <span >8653497</span>
                                    </li>
                                    <li class="dib f12 g8c">
                                        <label>评论</label>
                                        <span>497</span>
                                    </li>
                                </ul>
                                <h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销</h4>
                                <p class="g3c hidden-xs">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销.</p>
                            </li>
                        </ul>
                        <ul id="modelMore" style="display: none">
                            <li>
                                <hr>
                                <img src="../images/experience/contentLBar.jpg" alt="bar">
                                <ul class="interaction">
                                    <li class="dib f12 g8c">
                                        <label >浏览</label>
                                        <span >8653497</span>
                                    </li>
                                    <li class="dib f12 g8c">
                                        <label>评论</label>
                                        <span>497</span>
                                    </li>
                                </ul>
                                <h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销</h4>
                                <p class="g3c hidden-xs">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销，上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广、互联网营销.</p>
                            </li>
                        </ul>
                        <span  id="more" class="g9a more db">查看更多内容>></span>
                    </div>
                </li>
                <!--企业交流- -->
                <li style="display: none">
                    <!--模块一-->
                    <ul class="model-one fn-clear">
                        <li onclick="window.open('postDetails.html','_self')" class="g8c f12 l">
                            <h3 class="g9a">上海市维沃珂企业自助营销 </h3>
                            <p>作者 余秋雨</p>
                            <img src="../images/experience/contentLPic.jpg" alt="pic">
                            <ul class="interaction hidden-xs">
                                <li class="dib f12">
                                    <label for="see">浏览</label>
                                    <span id="see">8653497&nbsp&nbsp|</span>
                                </li>
                                <li class="dib f12">
                                    <label for="comment">&nbsp&nbsp评论</label>
                                    <span id="comment">497</span>
                                </li>
                            </ul>
                            <p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>
                            <ul class="fn-clear other">
                                <li class="g8c f12 l time hidden-xs">2016-11-24</li>
                                <li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>
                            </ul>
                        </li>
                        <li onclick="window.open('postDetails.html','_self')"  class="g8c f12 l">
                            <h3 class="g9a">上海市维沃珂企业自助营销 </h3>
                            <p>作者 余秋雨</p>
                            <img src="../images/experience/contentLPic.jpg" alt="pic">
                            <ul class="interaction hidden-xs">
                                <li class="dib f12">
                                    <label for="see">浏览</label>
                                    <span>8653497&nbsp&nbsp|</span>
                                </li>
                                <li class="dib f12">
                                    <label for="comment">&nbsp&nbsp评论</label>
                                    <span>497</span>
                                </li>
                            </ul>
                            <p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>
                            <ul class="fn-clear other">
                                <li class="g8c f12 l time hidden-xs">2016-11-24</li>
                                <li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>
                            </ul>
                        </li>
                        <li onclick="window.open('postDetails.html','_self')"  class="g8c f12 l">
                            <h3 class="g9a">上海市维沃珂企业自助营销 </h3>
                            <p>作者 余秋雨</p>
                            <img src="../images/experience/contentLPic.jpg" alt="pic">
                            <ul class="interaction hidden-xs">
                                <li class="dib f12">
                                    <label for="see">浏览</label>
                                    <span>8653497&nbsp&nbsp|</span>
                                </li>
                                <li class="dib f12">
                                    <label for="comment">&nbsp&nbsp评论</label>
                                    <span>497</span>
                                </li>
                            </ul>
                            <p class="hidden-xs">其组织形态要符合法律规定的公司形态：有限责任公司或股份有限公司。</p>
                            <ul class="fn-clear other">
                                <li class="g8c f12 l time hidden-xs">2016-11-24</li>
                                <li class="f12 r"><a href="#" class="g9a">查看更多&gt</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--模块二-->
                    <ul class="theme-model-two">
                        <li class="fn-clear">
                            <hr>
                            <img class="l" src="../images/experience/theme.jpg" alt="theme">
                            <div class="r model-two-con">
                                <h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴</h4>
                                <h5 class="g3c hidden-xs">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人...</h5>
                                <div class="fn-clear hidden-xs">
                                    <p class="l">作者 余秋雨      发表于 2016-11-24 13:28:36</p>
                                    <ul class="interaction r">
                                        <li class="dib f12">
                                            <label for="see">浏览</label>
                                            <span>8653497&nbsp&nbsp|</span>
                                        </li>
                                        <li class="dib f12">
                                            <label for="comment">&nbsp&nbsp评论</label>
                                            <span>497</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="fn-clear">
                            <hr>
                            <img class="l" src="../images/experience/theme.jpg" alt="theme">
                            <div class="r model-two-con">
                                <h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴</h4>
                                <h5 class="g3c hidden-xs">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人...</h5>
                                <div class="fn-clear hidden-xs">
                                    <p class="l">作者 余秋雨      发表于 2016-11-24 13:28:36</p>
                                    <ul class="interaction r">
                                        <li class="dib f12">
                                            <label for="see">浏览</label>
                                            <span>8653497&nbsp&nbsp|</span>
                                        </li>
                                        <li class="dib f12">
                                            <label for="comment">&nbsp&nbsp评论</label>
                                            <span>497</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="fn-clear">
                            <hr>
                            <img class="l" src="../images/experience/theme.jpg" alt="theme">
                            <div class="r model-two-con">
                                <h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴</h4>
                                <h5 class="g3c hidden-xs">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人...</h5>
                                <div class="fn-clear hidden-xs">
                                    <p class="l">作者 余秋雨      发表于 2016-11-24 13:28:36</p>
                                    <ul class="interaction r">
                                        <li class="dib f12">
                                            <label for="see">浏览</label>
                                            <span>8653497&nbsp&nbsp|</span>
                                        </li>
                                        <li class="dib f12">
                                            <label for="comment">&nbsp&nbsp评论</label>
                                            <span>497</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul style="display: none" class="theme-model-two" id="comment-two">
                        <li class="fn-clear">
                            <hr>
                            <img class="l" src="../images/experience/theme.jpg" alt="theme">
                            <div class="r model-two-con">
                                <h4 class="g9a">上海市维沃珂企业自助营销平台热门文贴</h4>
                                <h5 class="g3c hidden-xs">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人...</h5>
                                <div class="fn-clear hidden-xs">
                                    <p class="l">作者 余秋雨      发表于 2016-11-24 13:28:36</p>
                                    <ul class="interaction r">
                                        <li class="dib f12">
                                            <label for="see">浏览</label>
                                            <span>8653497&nbsp&nbsp|</span>
                                        </li>
                                        <li class="dib f12">
                                            <label for="comment">&nbsp&nbsp评论</label>
                                            <span>497</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <span  id="more-two" class="g9a more db">查看更多内容>></span>
                </li>
            </ul>
        </div>
        <div class="contentR r">
            <a href="posted.html" class="post bgwh db"><input class="g9a wh" type="text" value="发帖"></a>
            <div class="g3c bgwh case hidden-xs hidden-sm">
                <h3 class="rel">热门主题<i class="g8c">case</i></h3>
                <p>1  热门文贴、关乎产品、企业推广......</p>
                <p>2  热门文贴、关乎产品、企业推广......</p>
                <p>3  热门文贴、关乎产品、企业推广......</p>
                <p>4  热门文贴、关乎产品、企业推广......</p>
                <p>5  热门文贴、关乎产品、企业推广......</p>
                <p>6 热门文贴、关乎产品、企业推广</p>
            </div>
            <div class="g3c bgwh case hidden-xs hidden-sm">
                <h3 class="rel">精品文贴<i class="g8c">case</i></h3>
                <p>1  热门文贴、关乎产品、企业推广......</p>
                <p>2  热门文贴、关乎产品、企业推广......</p>
                <p>3  热门文贴、关乎产品、企业推广......</p>
                <p>4  热门文贴、关乎产品、企业推广......</p>
                <p>5  热门文贴、关乎产品、企业推广......</p>
                <p>6 热门文贴、关乎产品、企业推广</p>
            </div>
            <img class="hidden-xs hidden-sm" src="../images/experience/contentRPic.jpg" alt="pic">
            <img class="hidden-xs hidden-sm" src="../images/experience/contentRPic.jpg" alt="pic">
        </div>
    </div>
    <!--底部导航&footer-->
    <div class="footer">
        <div class="rel f16 wh">
            <img src="../images/index/footerEWM.png" alt="EWM">
            <h4 class="f16 wh">上海维沃珂自助营销平台版权所有</h4>
            <p class=" hidden-xs">地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇</p>
            <p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>
        </div>
    </div>
    <!--底部导航&footer end-->
    <!--悬浮链接-->
    <div class="suspend fn-clear">
        <a href="#" class="l weChat dn"><p class="f12 g28">微信号：123546</p></a>
        <ul class="r">
            <li class="serviceBtn"><img src="../images/index/suspend01.png" alt=""></li>
            <li class="weChatBtn"><img src="../images/index/suspend02.png" alt=""></li>
            <li class="topBtn"><img src="../images/index/suspend03.png" alt=""></li>
        </ul>
    </div>
    <!--悬浮链接 end-->
</div>
<!--共用js-->
<script src="../scripts/base.js"></script>
<script src="../scripts/experience.js"></script>
</body>
</html>