<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.min.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/moments.css">
    <title>精彩瞬间</title>
</head>
<body>
<!--精彩瞬间moments-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <div class="topNav f14 g8c fn-clear">
        <div class="l">
            <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
            <a href="#" class="g8c">登录</a>
            <span>  |  </span>
            <a href="#" class="g8c">注册</a>
        </div>
        <div class="r">
            <a href="#" class="g9a"> 收藏本站</a>
            <span>  |  </span>
            <a href="#"  class="g8c">在线留言</a>
            <span>  |  </span>
            <a href="#"  class="g8c">网站地图</a>
        </div>
    </div>
</div>
<!--header登录注册 end-->
<!--header logo-->
<div class="logo bgwh fn-clear">
    <div>
        <a class="l dib" href="#"><img src="../images/index/logo.png" alt="logo"></a>
        <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
    </div>
</div>
<!--header logo end-->
<!--分割线-->
<div class="line"></div>
<!--分割线 end-->
<!--content-->
<div class="content">
    <!--模块一-->
    <div class="model-one bgwh g3c">
        <h3 class="rel">上海市维沃珂企业自助营销平台培训精彩瞬间<i class="dib g8c">Promotion</i></h3>
        <div class="video videoO rel">
            <video id="video">
                <source src="../images/trained/video.mp4" type="video/mp4" />
                <source src="../images/trained/video.ogg" type="video/ogg" />
                <source src="../images/trained/video.webm" type="video/webm" />
                <object data="../images/trained/video.mp4" width="242" height="188">
                    <embed src="../images/trained/video.swf" width="242" height="188"/>
                </object>
            </video>
            <div class="play abs" id="play"><img src="../images/trained/play.png" alt=""></div>
        </div>
        <h4>上海市维沃珂企业自助营销平台培训精彩瞬间</h4>
        <div class="video videoT rel">
            <video id="videoT">
                <source src="../images/trained/video.mp4" type="video/mp4" />
                <source src="../images/trained/video.ogg" type="video/ogg" />
                <source src="../images/trained/video.webm" type="video/webm" />
                <object data="../images/trained/video.mp4" width="242" height="188">
                    <embed src="../images/trained/video.swf" width="242" height="188"/>
                </object>
            </video>
            <div class="play abs" id="playT"><img src="../images/trained/play.png" alt=""></div>
        </div>
        <h4>上海市维沃珂企业自助营销平台培训精彩瞬间</h4>
        <div class="video videoS rel">
            <video id="videoS">
                <source src="../images/trained/video.mp4" type="video/mp4" />
                <source src="../images/trained/video.ogg" type="video/ogg" />
                <source src="../images/trained/video.webm" type="video/webm" />
                <object data="../images/trained/video.mp4" width="242" height="188">
                    <embed src="../images/trained/video.swf" width="242" height="188"/>
                </object>
            </video>
            <div class="play abs" id="playS"><img src="../images/trained/play.png" alt=""></div>
        </div>
        <h4>上海市维沃珂企业自助营销平台培训精彩瞬间</h4>
        <div class="share-platform dib">
            <p class="dib">分享：</p>
            <div class="bdsharebuttonbox dib">
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </div>
    </div>
    <!--模块二-->
    <div class="model-two bgwh">
        <div class="fn-clear title">
            <h3 class="g3c rel l">企业培训精彩瞬间<i class="dib g8c f12 hidden-xs">splendid moment</i></h3>
            <ul class="r business-click">
                <li class="dib" id="left"><img src="../images/trained/left.png" alt="left"></li>
                <li class="dib" id="right"><img src="../images/trained/right.png" alt="right"></li>
            </ul>
        </div>
        <div class="business-over">
            <ul id="business" class="business fn-clear">
                <li class="f14 g3c l">
                    <a><img src="../images/trained/moments01.jpg" alt="pic"/></a>
                    <p>团队作业</p>
                </li>
                <li class="f14 g3c l">
                    <a><img src="../images/trained/moments02.jpg" alt="pic"/></a>
                    <p>团队展示</p>
                </li>
                <li class="f14 g3c l">
                    <a><img src="../images/trained/moments03.jpg" alt="pic"/></a>
                    <p>企业内训</p>
                </li>
                <li class="f14 g3c l">
                    <a><img src="../images/trained/moments04.jpg" alt="pic"/></a>
                    <p>团队作业点评</p>
                </li>
                <li class="f14 g3c l">
                    <a><img src="../images/trained/moments01.jpg" alt="pic"/></a>
                    <p>团队展示</p>
                </li>
                <li class="f14 g3c l">
                    <a><img src="../images/trained/moments02.jpg" alt="pic"/></a>
                    <p>企业内训</p>
                </li>
                <li class="f14 g3c l">
                    <a><img src="../images/trained/moments03.jpg" alt="pic"/></a>
                    <p>团队作业点评</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--视频播放-->
<script src="../scripts/trained.js"></script>
<!--分享-->
<script src="../scripts/ZeroClipboard.js"></script>
<script src="../scripts/postDetails.js"></script>
</body>
</html>