<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="../styles/reset.css"/>-->
    <link rel="stylesheet" href="../styles/header.css"/>
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/personal.css">
    <title>活动管理</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <div class="topNav f14 g8c fn-clear">
        <div class="l">
            <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
            <a href="#" class="g8c">登录</a>
            <span>  |  </span>
            <a href="#" class="g8c">注册</a>
        </div>
        <div class="r">
            <a href="#" class="g9a"> 收藏本站</a>
            <span>  |  </span>
            <a href="#"  class="g8c">在线留言</a>
            <span>  |  </span>
            <a href="#"  class="g8c">网站地图</a>
        </div>
    </div>
</div>
<!--header登录注册 end-->
<!--header logo-->
<div class="logo bgwh fn-clear">
    <div>
        <a class="l dib" href="#"><img src="../images/index/logo.png" alt="logo"></a>
        <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
    </div>
</div>
<!--header logo end-->
<!--导航条-->
<div class="menu rel">
    <div class="navbar-nav  navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--折叠部分-->
        <div class="collapse navbar-collapse" id="mycollapse">
            <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
            <ul class="nav navbar-nav">
                <li class="listBg"><a href="index.html" >首页 </a></li>
                <li><a href="../template/exhibition.html">企业展示 </a></li>
                <li><a href="#">企业店铺 </a></li>
                <li><a href="#">企业培训 </a></li>
                <li><a href="../template/talents.html">人才对接   </a></li>
                <li><a href="#">经验交流  </a></li>
                <li><a href="../template/Cloudally.html">商家云盟</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="carousel slide" id="myCarousel">
    <ol class="carousel-indicators icon">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner imgco">
        <div class="item active">
            <img src="../images/personal/banner.png" alt="banner"/>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel"  data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel"  data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--导航条 end-->

<!--主要内容部分 start-->
<section>
    <div class="main">
        <!--左边导航-->
        <div class="leftNav f18">
            <ul>
                <li ><a class="poi" href="personal.html">用户资料</a></li>
                <li ><a class="poi" href="activity.html">活动管理</a></li>
                <li ><a class="b9a  poi" style="color:white;" href="orderMange.html">订单管理</a></li>
                <li ><a class="poi" href="myWallet.html">我的维币</a></li>
            </ul>
        </div>
        <!--右边切换-->
        <!--订单管理-->
        <div class="rightTab f18 activity orderMange">
            <div class="tabTitle ">
                <p class="f18 b rel">
                    <span class="actLi g9a poi">商品订单</span>
                    <span class="actLi g9 poi">活动订单</span>
                    <span class="actLi g9 poi">课程订单</span>
                </p>
            </div>
            <div class="tabDetail signMangeTab">
                <div class="searchWrap">
                    <input class="search bdd" type="search" />
                    <select class="allOrder bdn bde" >
                        <option value="">全部订单</option>
                    </select>
                </div>
                <table class="table orderList actMangeTab ">
                    <tr class="bgf0 orderFirst">
                        <td class="orderTitle">名称</td><td class="num">数量</td>
                        <td class="receiver">收货人</td><td class="money">金额</td><td class="status1">状态</td><td class="operate1">操作</td>
                    </tr>
                    <tr class="space"><td colspan="6"></td></tr>
                    <tr class="bgf0" >
                        <td colspan="6" style="text-align: left;">
                        订单号: <span class="orderNum ">20161111238</span>
                        下单时间：<span class="orderTime">2016-11-10 17:24:34</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="orderName">
                            <div class="orderImg"><img src="../images/personal/order.png" width="100%"></div>
                            <div class="name">商品名称商品名称商品名称</div>
                        </td>
                        <td>X1</td>
                        <td class="receiver">收货人</td>
                        <td class="sinMoney">￥658.00</td>
                        <td>
                            <div class="statusSet">
                                <div class="unPay rfc">未付款</div>
                                <div class="lookOrder">查看订单</div>
                            </div>
                        </td>
                        <td >
                            <div class="operate" >
                                <p> <input class="pay bdn b9a wh" type="button" value="立即付款"/></p>
                                <p class="cancel"> 取消订单</p>
                            </div>
                        </td>
                    </tr>
                    <tr class="space"><td colspan="6"></td></tr>
                    <tr class="bgf0" >
                        <td colspan="6" style="text-align: left;">
                            订单号: <span class="orderNum ">20161111238</span>
                            下单时间：<span class="orderTime">2016-11-10 17:24:34</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="orderName">
                            <div class="orderImg"><img src="../images/personal/order.png" width="100%"></div>
                            <div class="name">商品名称商品名称商品名称</div>
                        </td>
                        <td>X1</td>
                        <td class="receiver">收货人</td>
                        <td class="sinMoney">￥658.00</td>
                        <td>
                            <div class="statusSet">
                                <div class="status">已发货</div>
                                <div class="lookOrder">查看订单</div>
                            </div>
                        </td>
                        <td >
                            <div class="operate" >
                                <p> <input class="receive bdn b9a wh" type="button" value="确认收货"/></p>
                                <p class="cancel"> 取消订单</p>
                            </div>
                        </td>
                    </tr>
                    <tr class="space"><td colspan="6"></td></tr>
                    <tr class="bgf0" >
                        <td colspan="6" style="text-align: left;">
                            订单号: <span class="orderNum ">20161111238</span>
                            下单时间：<span class="orderTime">2016-11-10 17:24:34</span>
                        </td>
                    </tr>
                    <tr >
                        <td class="orderName">
                            <div class="orderImg"><img src="../images/personal/order.png" width="100%"></div>
                            <div class="name">商品名称商品名称商品名称</div>
                        </td>
                        <td>&nbsp;X1&nbsp;</td>
                        <td class="receiver">收货人</td>
                        <td class="sinMoney">￥658.00</td>
                        <td>
                            <div class="statusSet">
                                <div class="status">已发货</div>
                                <div class="lookOrder">查看订单</div>
                            </div>
                        </td>
                        <td >
                            <div class="operate" >
                                <p> <input class="receive bdn b9a wh" type="button" value="确认收货"/></p>
                                <p class="cancel"> 取消订单</p>
                            </div>
                        </td>
                    </tr>
                    <tr class="space"><td colspan="6"></td></tr>
                </table>
                <table class="table  actMangeTab actOrder dn" >
                    <tr class="bgf0 orderFirst">
                        <td class="orderTitle">名称</td><td class="num">时间</td>
                        <td class="receiver">地点</td><td class="money">金额</td><td class="operate1">操作</td>
                    </tr>
                    <tr class="space"><td colspan="5"></td></tr>
                    <tr>
                        <td class="orderName" valign="bottom">
                            商品名称商品名称商品名称
                        </td>
                        <td>X1</td>
                        <td class="receiver">上海</td>
                        <td >￥658.00</td>
                        <td >
                            <p> <input class="pay bdn b9a wh" type="button" value="立即付款"/></p>
                            <p class="cancel"> 查看详情</p>
                        </td>
                    </tr>
                    <tr class="space"><td colspan="5"></td></tr>
                    <tr>
                        <td class="orderName">
                            商品名称商品名称商品名称
                        </td>
                        <td>X1</td>
                        <td class="receiver">上海</td>
                        <td >￥658.00</td>
                        <td >
                            <p> <input class="receive bdn b9a wh" type="button" value="确认收货"/></p>
                            <p class="cancel"> 查看详情</p>
                        </td>
                    </tr>
                    <tr class="space"><td colspan="5"></td></tr>
                    <tr >
                        <td class="orderName">
                            商品名称商品名称商品名称
                        </td>
                        <td>&nbsp;X1&nbsp;</td>
                        <td class="receiver">上海</td>
                        <td >￥658.00</td>
                        <td >
                            <p> <input class="receive bdn b9a wh" type="button" value="确认收货"/></p>
                            <p class="cancel"> 查看详情</p>
                        </td>
                    </tr>
                    <tr class="space"><td colspan="5"></td></tr>
                </table>
                <table class="table  actMangeTab actOrder dn">
                    <tr class="bgf0 orderFirst">
                        <td class="orderTitle">名称</td><td class="num">时间</td>
                        <td class="receiver">老师</td><td class="money">金额</td><td class="operate1">操作</td>
                    </tr>
                    <tr class="space"><td colspan="5"></td></tr>
                    <tr>
                        <td class="orderName" valign="bottom">
                            商品名称商品名称商品名称
                        </td>
                        <td>X1</td>
                        <td class="receiver">张老师</td>
                        <td >￥658.00</td>
                        <td >
                            <p> <input class="pay bdn b9a wh" type="button" value="立即付款"/></p>
                            <p class="cancel"> 查看详情</p>
                        </td>
                    </tr>
                    <tr class="space"><td colspan="5"></td></tr>
                    <tr>
                        <td class="orderName">
                            商品名称商品名称商品名称
                        </td>
                        <td>X1</td>
                        <td class="receiver">张老师</td>
                        <td >￥658.00</td>
                        <td >
                            <p> <input class="receive bdn b9a wh" type="button" value="报名成功"/></p>
                            <p class="cancel"> 查看详情</p>
                        </td>
                    </tr>
                    <tr class="space"><td colspan="5"></td></tr>
                    <tr >
                        <td class="orderName">
                            商品名称商品名称商品名称
                        </td>
                        <td>&nbsp;X1&nbsp;</td>
                        <td class="receiver">张老师</td>
                        <td >￥658.00</td>
                        <td >
                            <p> <input class="receive bdn b9a wh" type="button" value="报名成功"/></p>
                            <p class="cancel"> 查看详情</p>
                        </td>
                    </tr>
                    <tr class="space"><td colspan="5"></td></tr>
                </table>
            </div>
        </div>
    </div>
</section>
<!--底部导航&footer-->
<div class="footer">
    <div class="rel f16 wh">
        <img src="../images/index/footerEWM.png" alt="EWM">
        <h4 class="f16 wh">上海维沃珂自助营销平台版权所有</h4>
        <p class=" hidden-xs">地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇</p>
        <p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>
    </div>
</div>
<!--底部导航&footer end-->
<!--主要内容部分 end-->
<script src="../scripts/distpicker.data.js"></script>
<script src="../scripts/distpicker.js"></script>
<script src="../scripts/personal.js"></script>
</body>
</html>