<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="../styles/reset.css"/>-->
    <link rel="stylesheet" href="../styles/footer.css"/>
    <link rel="stylesheet" href="../styles/personal.css">
    <title>活动管理</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <div class="topNav f14 g8c fn-clear">
        <div class="l">
            <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
            <a href="#" class="g8c">登录</a>
            <span>  |  </span>
            <a href="#" class="g8c">注册</a>
        </div>
        <div class="r">
            <a href="#" class="g9a"> 收藏本站</a>
            <span>  |  </span>
            <a href="#"  class="g8c">在线留言</a>
            <span>  |  </span>
            <a href="#"  class="g8c">网站地图</a>
        </div>
    </div>

</div>
<section>
    <div class="main">
        <div class="f18 payMoney paySuccess bgwh">
            <div class="tabDetail g6">
                <div>
                    <img src="../images/personal/pay_success.png" alt=""/>
                </div>
                <p class="g3 f26">支付成功！</p>
                <div>
                    <input class="wh b9a bdn" type="button" value="返回店铺"/>
                    <input class="g9a bdn bgwh back" type="button" value="留在订单管理"/>
                </div>
            </div>
        </div>
    </div>
</section>
<!--底部导航&footer-->
<div class="footer">
    <div class="rel f16 wh">
        <img src="../images/index/footerEWM.png" alt="EWM">
        <h4 class="f16 wh">上海维沃珂自助营销平台版权所有</h4>
        <p class=" hidden-xs">地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇</p>
        <p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>
    </div>
</div>
<!--底部导航&footer end-->
<script src="../scripts/distpicker.data.js"></script>
<script src="../scripts/distpicker.js"></script>
<script src="../scripts/personal.js"></script>
</body>
</html>