<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.min.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/shopsLocated.css">
    <title>店铺入驻</title>
</head>
<body>
<!--店铺入驻shopsLocated-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <div class="topNav f14 g8c fn-clear">
        <div class="l">
            <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
            <a href="#" class="g8c">登录</a>
            <span>  |  </span>
            <a href="#" class="g8c">注册</a>
        </div>
        <div class="r">
            <a href="#" class="g9a"> 收藏本站</a>
            <span>  |  </span>
            <a href="#"  class="g8c">在线留言</a>
            <span>  |  </span>
            <a href="#"  class="g8c">网站地图</a>
        </div>
    </div>
</div>
<!--header登录注册 end-->
<!--header logo-->
<div class="logo bgwh fn-clear">
    <div>
        <a class="l dib" href="#"><img src="../images/index/logo.png" alt="logo"></a>
        <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
    </div>
</div>
<!--header logo end-->
<!--导航条-->
<div class="menu rel">
    <div class="navbar-nav  navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--折叠部分-->
        <div class="collapse navbar-collapse" id="mycollapse">
            <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
            <ul class="nav navbar-nav">
                <li><a href="../index.html" >首页 </a></li>
                <li><a href="exhibition.html">企业展示 </a></li>
                <li class="listBg"><a href="businesses.html">企业店铺 </a></li>
                <li><a href="trained.html">企业培训 </a></li>
                <li><a href="talents.html">人才对接   </a></li>
                <li><a href="experience.html">经验交流  </a></li>
                <li><a href="Cloudally.html">商家云盟</a></li>
            </ul>
        </div>
    </div>
</div>
<!--导航条 end-->
<!--content-->
<div class="content g3c bgwh">
    <h3>请选择一套店铺模板</h3>
    <ul class="fn-clear">
        <li class="l greenColor">
            <a  href ="javascript:volid(0);" class="greenBor"><img src="../images/shopsLocated/shopsPic01.jpg" alt="pic"></a>
            <p>方案一</p>
        </li>
        <li class="l">
            <a  href ="javascript:volid(0);"><img src="../images/shopsLocated/shopsPic02.jpg" alt="pic"></a>
            <p>方案二</p>
        </li>
        <li class="l">
            <a  href ="javascript:volid(0);"><img src="../images/shopsLocated/shopsPic03.jpg" alt="pic"></a>
            <p>方案三</p>
        </li>
    </ul>
    <input class="b9a wh sure" type="button" value="确定">
</div>
<!--底部导航&footer-->
<div class="footer">
    <div class="rel f16 wh">
        <img src="../images/index/footerEWM.png" alt="EWM">
        <h4 class="f16 wh">上海维沃珂自助营销平台版权所有</h4>
        <p class=" hidden-xs">地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇</p>
        <p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>
    </div>
</div>
<!--底部导航&footer end-->
<!--模板创建成功-->
<div class="succeed f" id="succeed">
    <div class="succeed-bg abs"></div>
    <div class="succeed-con bgwh abs">
        <img src="../images/shopsLocated/sure.png" alt="sure">
        <p class="g9a">店铺模板已创建成功！</p>
        <a href="#" ><input class="b9a wh" type="button" value="进入店铺主页"></a>
    </div>
</div>
<!--共用js-->
<script src="../scripts/base.js"></script>
<!--模板创建成功 end-->
<script src="../scripts/shopsLocated.js"></script>
</body>
</html>