<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.min.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/talents.css">
    <title>人才对接</title>
</head>
<body>
<!--人才对接talents-->
<div class="mainBg">
    <!--header登录注册-->
    <div class="topNavBg fn-clear">
        <div class="topNav f14 g8c fn-clear">
            <div class="l">
                <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
                <a href="#" class="g8c">登录</a>
                <span>  |  </span>
                <a href="#" class="g8c">注册</a>
            </div>
            <div class="r">
                <a href="#" class="g9a"> 收藏本站</a>
                <span>  |  </span>
                <a href="#"  class="g8c">在线留言</a>
                <span>  |  </span>
                <a href="#"  class="g8c">网站地图</a>
            </div>
        </div>
    </div>
    <!--header登录注册 end-->
    <!--header logo-->
    <div class="logo bgwh fn-clear">
        <div>
            <a class="l dib" href="#"><img src="../images/index/logo.png" alt="logo"></a>
            <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
        </div>
    </div>
    <!--header logo end-->
    <!--导航条-->
    <div class="menu rel">
        <div class="navbar-nav  navbar-inverse">
            <div class="navbar-header">
                <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--折叠部分-->
            <div class="collapse navbar-collapse" id="mycollapse">
                <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
                <ul class="nav navbar-nav">
                    <li><a href="../index.html" >首页 </a></li>
                    <li><a href="exhibition.html">企业展示 </a></li>
                    <li><a href="businesses.html">企业店铺 </a></li>
                    <li><a href="trained.html">企业培训 </a></li>
                    <li class="listBg"><a href="talents.html">人才对接   </a></li>
                    <li><a href="experience.html">经验交流  </a></li>
                    <li><a href="Cloudally.html">商家云盟</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--导航条 end-->
    <!--banner-->
    <div class="banner"><img src="../images/talents/banner.jpg" alt="banner"></div>
    <!--banner end-->
   <div class="content fn-clear">
       <!--人才企业智能对接-->
       <div class="demand">
           <h3 class="f24 g3c b">人才企业智能对接 </h3>
           <p class="f18 g8c capacity ">维沃珂企业自助营销推广平台专注打造智能对接</p>
           <hr>
           <div class="demandList fn-clear">
              <div class="l demandListL">
                  <div class="student f8c">
                      <h4>学生就业</h4>
                      <p class="hidden-xs">利用互联网技术提供优质人力资源</p>
                      <p class="hidden-xs">服务的专业网站</p>
                  </div>
                  <div class="ability f8c">
                      <h4>高级人才</h4>
                      <p class="hidden-xs">从传统的职称角度讲，高级职称的</p>
                      <p class="hidden-xs">拥有者自然就是高级人才</p>
                  </div>
              </div>
               <div class="demandIcon hidden-xs">
                   <p><span class="dib wh">需</span>企业就业人才需求</p>
               </div>
               <div class="r demandListR">
                   <div class="marketing f8c">
                       <h4>网销人才</h4>
                       <p class="hidden-xs">依托互联网为载体平台的销售形式</p>
                       <p class="hidden-xs">及行为</p>
                   </div>
                   <div class="job f8c">
                       <h4>企业就业</h4>
                       <p class="hidden-xs">从传统的职称角度讲，高级职称的</p>
                       <p class="hidden-xs">拥有者自然就是高级人才</p>
                   </div>
               </div>
           </div>
       </div>
       <!--人才企业智能对接 end-->
       <!--申请表单填写-->
       <form class="form" name="myForm" action="" onsubmit="return verification() " method="get">
           <div class="title">
                <h3 class="g9a b">申请表单填写</h3>
               <h4 class="g8c hidden-xs">维沃珂企业自助营销推广平台专注打造智能对接</h4>
               <div>
                   <ul class="fn-clear dib">
                       <li class="g8c l rel">智</li>
                       <li class="g8c l rel">能</li>
                       <li class="g8c l rel">对</li>
                       <li class="g8c l rel">接</li>
                   </ul>
                   <span class="dib rel"></span>
               </div>
           </div>
           <ul class="form-tab" id="form-tab">
               <li class="g3c dib formTabBg">校企对接</li>
               <li class="g3c dib">合作企业</li>
           </ul>
           <ul class="form-con rel" id="form-con">
               <!--校企对接-->
               <li>
                   <div class="fn-clear g3c">
                       <div class="l form-conL">
                           <h3 class="f3c rel">基本信息</h3>
                           <div>
                               <label for="card">身份证</label>
                               <input id="card" type="text">
                           </div>
                           <div>
                               <label for="name">姓名</label>
                               <input id="name" type="text">
                           </div>
                           <div>
                               <label for="school">学校名称</label>
                               <input id="school" type="text" placeholder="请输入学校名称">
                           </div>
                           <div>
                               <label for="born">出生日期</label>
                               <input id="born" type="text">
                           </div>
                           <div>
                               <label for="nation">民族</label>
                               <input id="nation" type="text">
                           </div>
                           <div>
                               <label for="stature">身高</label>
                               <input id="stature" type="text">
                           </div>
                           <div>
                               <label for="weight">体重</label>
                               <input id="weight" type="text">
                           </div>
                           <div>
                               <label for="email">电子邮箱</label>
                               <input id="email" type="text">
                           </div>
                           <div >
                               <label>户口所在</label>
                               <div data-toggle="distpicker" class="dib">
                                   <select class="select">
                                       <option>请选择</option>
                                   </select>
                               </div>
                           </div>
                           <div>
                               <label for="tel">联系电话</label>
                               <input id="tel" type="text">
                           </div>
                           <div>
                               <label for="driving">驾照类型</label>
                               <input id="driving" type="text">
                           </div>
                           <h3 class="f3c rel">教育经历</h3>
                           <div>
                               <label for="star">开始时间</label>
                               <input id="star" type="text">
                           </div>
                           <div class="commitment shape">
                               <label >教育形式</label>
                               <ul class="fn-clear dib charge" id="shape">
                                   <li class="rel l">
                                       <input class="abs chargeY" type="radio" value="全日制" name="shape">
                                       <span class="f24 g78 abs chargeY">全日制</span>
                                   </li>
                                   <li class="rel l">
                                       <input class="abs" type="radio" value="自考" name="shape">
                                       <span class="f24 g78 abs">自考</span>
                                   </li>
                                   <li class="rel l">
                                       <input class="abs" type="radio" value="函授" name="shape">
                                       <span class="f24 g78 abs">函授</span>
                                   </li>
                               </ul>
                           </div>
                           <div>
                               <label >学位</label>
                               <select class="select">
                                   <option>请选择</option>
                               </select>
                           </div>
                           <h3 class="f3c rel">工作经历</h3>
                           <div>
                               <label >开始时间</label>
                               <input type="text">
                           </div>
                           <div>
                               <label >公司名称</label>
                               <input  type="text">
                           </div>
                           <div>
                               <label >前台座机</label>
                               <input  type="text">
                           </div>
                       </div>
                       <div class="l  form-conR">
                           <div>
                               <label>联系人</label>
                               <input type="text">
                           </div>
                           <div class="sex">
                               <label>性别</label>
                               <ul class="fn-clear dib" id="sex">
                                   <li class="rel l">
                                       <input class="abs" type="radio" value="男" name="sex">
                                       <span class="f24 g78 abs sexY">男</span>
                                   </li>
                                   <li class="rel l">
                                       <input class="abs" type="radio" value="女" name="sex">
                                       <span class="f24 g78 abs">女</span>
                                   </li>
                               </ul>
                           </div>
                           <div>
                               <label>照片</label>
                               <div class="dib upImg">
                                   <lable  class="imgdiv" id="imgdiv" for="up_img"><img id="imgShow" width="100" height="100" /></lable>
                                   <p class="g8c  hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>
                                   <p class="g8c  hidden-xs">推荐尺寸 472*280 px的图片</p>
                                   <div class="up_img rel">
                                       <input type="file" id="up_img" value="上传"/>
                                       <label class="abs" for="up_img">上传</label>
                                   </div>
                               </div>
                           </div>
                           <div>
                               <label for="weChat">微信</label>
                               <input id="weChat" type="text">
                           </div>
                           <div class="registered">
                               <label>现居住地</label>
                               <div class="fn-clear dib" data-toggle="distpicker">
                                   <select class="l select">
                                       <option>请选择</option>
                                   </select>
                                   <select class="r select">
                                       <option>请选择</option>
                                   </select>
                               </div>
                           </div>
                           <div>
                               <label>紧急联系人</label>
                               <input type="text">
                           </div>
                           <div class="professional">
                               <label>技术职称</label>
                               <input type="text">
                           </div>
                           <div>
                               <label>结束时间</label>
                               <input type="text">
                           </div>
                           <div>
                               <label>学历</label>
                               <select class="dib select">
                                   <option>请选择</option>
                               </select>
                           </div>
                           <div class="major">
                               <label>专业</label>
                               <input type="text">
                           </div>
                           <div>
                               <label>结束时间</label>
                               <input type="text">
                           </div>
                           <div>
                               <label>职位</label>
                               <input type="text">
                           </div>
                       </div>
                   </div>
                   <h4 class="book">承诺书</h4>
                   <div class="commitment">
                       <p class="g8c">1. 我保证表格所填写的每项内容属实，如有不实之处，后果自负。</p>
                       <p class="g8c dib">2. 网销培训费用4800元</p>
                       <ul class="fn-clear dib charge" id="charge">
                           <li class="rel l">
                               <input class="abs chargeY" type="radio" value="免费" name="charge">
                               <span class="f24 g78 abs chargeY">免费</span>
                           </li>
                           <li class="rel l">
                               <input class="abs" type="radio" value="收费" name="charge">
                               <span class="f24 g78 abs">收费</span>
                           </li>
                       </ul>
                   </div>
                   <div class="submit"><input class="b9a wh" type="submit"></div>
               </li>
               <!--合作企业-->
               <li class="cooperation" style="display: none">
                   <div class="fn-clear g3c">
                        <div class="l form-conL">
                            <h3 class="f3c rel">招聘日期</h3>
                            <div>
                                <label>招聘日期</label>
                                <input type="text">
                            </div>
                            <div>
                                <label>紧急程度</label>
                                <input type="text">
                            </div>
                            <h3 class="f3c rel">公司信息</h3>
                            <div>
                                <label>公司名称</label>
                                <input type="text" placeholder="请输入学校名称" name="fname">
                            </div>
                            <div>
                                <label>公司类别</label>
                                <select class="select" name="fname">
                                    <option>请选择</option>
                                </select>
                            </div>
                            <div>
                                <label >公司简介</label>
                               <textarea></textarea>
                            </div>
                            <h3 class="f3c rel">联系方式</h3>
                            <div>
                                <label >座机</label>
                                <input  type="text">
                            </div>
                            <div>
                                <label >传真</label>
                                <input  type="text">
                            </div>
                            <div>
                                <label >公司地址</label>
                                <input  type="text">
                            </div>
                            <div>
                                <label >备注</label>
                                <input  type="text">
                            </div>
                            <h3 class="f3c rel">招聘需求</h3>
                            <div>
                                <label >招聘职位</label>
                                <input  type="text">
                            </div>
                            <div>
                                <label >薪资范围</label>
                                <input  type="text">
                            </div>
                        </div>
                        <div class="l  form-conR">
                            <div class="abort">
                                <label >截止日期</label>
                                <input  type="text">
                            </div>
                            <div>
                                <label >公司注册号</label>
                                <input  type="text">
                            </div>
                            <div>
                                <label >公司规模</label>
                                <input  type="text">
                            </div>
                            <div class="major">
                                <label >注意事项</label>
                                <textarea></textarea>
                            </div>
                            <div>
                                <label >公司联系人</label>
                                <input  type="text">
                            </div>
                            <div>
                                <label >联系人职位</label>
                                <input  type="text">
                            </div>
                            <div>
                                <label >联系人QQ</label>
                                <input  type="text">
                            </div>
                            <div class="major">
                                <label >E-mail</label>
                                <input  type="text">
                            </div>
                            <div>
                                <label >招聘人数</label>
                                <input  type="text">
                            </div>
                            <div>
                                <label >联系人职位</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>
                   <h3 class="f3c rel">资质上传</h3>
                   <ul>
                       <li class="business">
                           <label>营业执照</label>
                           <div class="dib upImg">
                               <lable class="dib" id="businessDiv" for="businessImg"><img id="businessImg" /></lable>
                               <div class="dib upImgTitle">
                                   <p class="g8c hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>
                                   <p class="g8c hidden-xs">推荐尺寸 472*280 px的图片</p>
                                   <div class="up_img rel">
                                       <input type="file" id="businessUp" value="上传"/>
                                       <label class="abs" for="businessUp">上传</label>
                                   </div>
                               </div>
                           </div>
                       </li>
                       <li class="business">
                           <label>公司环境</label>
                           <div class="dib upImg">
                               <lable class="dib" id="environmentDiv" for="environmentImg"><img id="environmentImg" /></lable>
                               <div class="dib upImgTitle">
                                   <p class="g8c hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>
                                   <p class="g8c hidden-xs">推荐尺寸 472*280 px的图片</p>
                                   <div class="up_img rel">
                                       <input type="file" id="environmentUp" value="上传"/>
                                       <label class="abs" for="environmentUp">上传</label>
                                   </div>
                               </div>
                           </div>
                       </li>
                   </ul>
                   <div class="submit"><input class="b9a wh" type="submit"></div>
               </li>
           </ul>
       </form>
       <!--申请表单填写 end-->
   </div>
    <!--底部导航&footer-->
    <div class="footer">
        <div class="rel f16 wh">
            <img src="../images/index/footerEWM.png" alt="EWM">
            <h4 class="f16 wh">上海维沃珂自助营销平台版权所有</h4>
            <p class=" hidden-xs">地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇</p>
            <p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>
        </div>
    </div>
    <!--底部导航&footer end-->
    <!--悬浮链接-->
    <div class="suspend fn-clear">
        <a href="#" class="l weChat dn"><p class="f12 g28">微信号：123546</p></a>
        <ul class="r">
            <li class="serviceBtn"><img src="../images/index/suspend01.png" alt=""></li>
            <li class="weChatBtn"><img src="../images/index/suspend02.png" alt=""></li>
            <li class="topBtn"><img src="../images/index/suspend03.png" alt=""></li>
        </ul>
    </div>
    <!--悬浮链接 end-->
</div>
</body>
<!--图片上传-->
<script src="../scripts/uploadPreview.js" ></script>
<!--共用js-->
<script src="../scripts/base.js"></script>
<script src="../scripts/talents.js"></script>
<!--城市选择-->
<script src="../scripts/distpicker.data.js"></script>
<script src="../scripts/distpicker.js"></script>
</html>