<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="../scripts/html5shiv.min.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/jquery-1.12.4.min.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/trainedDetails.css">
    <title>培训详情</title>
</head>
<body>
<!--培训详情trainedDetails-->
<div class="mainBg">
    <!--header登录注册-->
    <div class="topNavBg fn-clear">
        <div class="topNav f14 g8c fn-clear">
            <div class="l">
                <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
                <a href="#" class="g8c">登录</a>
                <span>  |  </span>
                <a href="#" class="g8c">注册</a>
            </div>
            <div class="r">
                <a href="#" class="g9a"> 收藏本站</a>
                <span>  |  </span>
                <a href="#"  class="g8c">在线留言</a>
                <span>  |  </span>
                <a href="#"  class="g8c">网站地图</a>
            </div>
        </div>
    </div>
    <!--header登录注册 end-->
    <!--header logo-->
    <div class="logo bgwh fn-clear">
        <div>
            <a class="l dib" href="#"><img src="../images/index/logo.png" alt="logo"></a>
            <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
        </div>
    </div>
    <!--header logo end-->
    <!--导航条-->
    <div class="menu rel">
        <div class="navbar-nav  navbar-inverse">
            <div class="navbar-header">
                <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--折叠部分-->
            <div class="collapse navbar-collapse" id="mycollapse">
                <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
                <ul class="nav navbar-nav">
                    <li><a href="../index.html" >首页 </a></li>
                    <li><a href="exhibition.html">企业展示 </a></li>
                    <li><a href="businesses.html">企业店铺 </a></li>
                    <li class="listBg"><a href="trained.html">企业培训 </a></li>
                    <li><a href="talents.html">人才对接   </a></li>
                    <li><a href="experience.html">经验交流  </a></li>
                    <li><a href="Cloudally.html">商家云盟</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--导航条 end-->
    <!--content-->
    <div class="content">
        <div class="contentL l">
            <!--模块一-->
            <div class="model-one bgwh fn-clear">
                <div class="video rel l">
                    <video id="video">
                        <source src="../images/trained/video.mp4" type="video/mp4" />
                        <source src="../images/trained/video.ogg" type="video/ogg" />
                        <source src="../images/trained/video.webm" type="video/webm" />
                        <object data="../images/trained/video.mp4" width="242" height="188">
                            <embed src="../images/trained/video.swf" width="242" height="188"/>
                        </object>
                    </video>
                    <div class="play abs" id="play"><img src="../images/trained/play.png" alt=""></div>
                </div>
                <div class="title r">
                    <div class="fn-clear">
                        <h4 class="g9a l">HR如何做用人需求分析</h4>
                        <div class="star r hidden-xs">
                            <ul class="fn-clear dib">
                                <li class="l"><img src="../images/trained/starY.png" alt="star"></li>
                                <li class="l"><img src="../images/trained/starY.png" alt="star"></li>
                                <li class="l"><img src="../images/trained/starY.png" alt="star"></li>
                                <li class="l"><img src="../images/trained/star.png" alt="star"></li>
                                <li class="l"><img src="../images/trained/star.png" alt="star"></li>
                            </ul>
                            <span class="g8c">10.0分</span>
                        </div></div>
                </div>
                <h5 class="g3c"></h5>
                <ul>
                    <li class="l rel">
                        <p class="g8c">开课时间</p>
                        <p class="g3c">2016.11.10</p>
                    </li>
                    <li class="l rel">
                        <p class="g8c">授课地点</p>
                        <p class="g3c">上海</p>
                    </li>
                    <li class="l rel">
                        <p class="g8c">市场价格</p>
                        <p class="g3c">1888</p>
                    </li>
                    <li class="l hidden-xs">
                        <p class="g8c">培训讲师</p>
                        <p class="g3c">上海家</p>
                    </li>
                </ul>
                </div>
            </div>
        </div>
        <div class="contentR">

        </div>
    </div>
</div>
</body>
</html>