<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="__PUBLIC__/scripts/html5shiv.min.js"></script>
    <script src="__PUBLIC__/scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="__PUBLIC__/scripts/common.js"></script>
    <script src="__PUBLIC__/scripts/jquery-1.12.4.min.js"></script>
    <link href="__PUBLIC__/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/styles/header.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/footer.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/postDetails.css">
    <title>经验交流-主题帖子</title>
</head>
<body class="articleDetails">
<!--帖子详情articleDetails-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <div class="topNav f14 g8c fn-clear">
        <div class="l">
            <p class="dib hidden-xs">维沃珂企业自助营销推广平台欢迎您！</p>
            <a href="#" class="g8c">登录</a>
            <span>  |  </span>
            <a href="#" class="g8c">注册</a>
        </div>
        <div class="r">
            <a href="#" class="g9a"> 收藏本站</a>
            <span>  |  </span>
            <a href="#"  class="g8c">在线留言</a>
            <span>  |  </span>
            <a href="#"  class="g8c">网站地图</a>
        </div>
    </div>
</div>
<!--header登录注册 end-->
<!--header logo-->
<div class="logo bgwh fn-clear">
    <div>
        <a class="l dib" href="#"><img src="__PUBLIC__/images/index/logo.png" alt="logo"></a>
        <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
    </div>
</div>
<!--header logo end-->
<!--导航条-->
<div class="menu rel">
    <div class="navbar-nav  navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--折叠部分-->
        <div class="collapse navbar-collapse" id="mycollapse">
            <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
            <ul class="nav navbar-nav">
                <li><a href="{:U('Home/index')}" >首页 </a></li>
                <li><a href="{:U('Home/Company/index')}" >企业展示 </a></li>
                <li><a href="{:U('Home/Shop/index')}" >企业店铺 </a></li>
                <li><a href="{:U('Home/Course/trained')}" >企业培训 </a></li>
                <li><a href="{:U('Home/Job/talents')}" >人才对接   </a></li>
                <li class="listBg"><a href="{:U('Home/Article/experience')}" >经验交流  </a></li>
                <li><a href="{:U('Home/Index/Cloudally')}" >商家云盟</a></li>
            </ul>
        </div>
    </div>
</div>
<!--导航条 end-->
<!--content-->
<div class="content fn-clear">
    <div class="contentL l bgwh">
        <div class="title">
            <h3 class="g3c">上海市维沃珂企业自助营销平台热门文贴、关乎产品、企业推广</h3>
            <h4 class="g8c f12">本帖子由余秋雨于2016.12.19编辑完成</h4>
            <ul class="interaction hidden-xs">
                <li class="dib f12 g8c">
                    <label for="see">浏览</label>
                    <span id="see">8653497&nbsp&nbsp|</span>
                </li>
                <li class="dib f12 g8c">
                    <label for="comment">&nbsp&nbsp评论</label>
                    <span id="comment">497</span>
                </li>
            </ul>
            <p class="g8c">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人需求分析的具体流程，通过掌握行之有效的用人需求分析工具，帮助HR完美匹配人才，提升工作效率,企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生。</p>
            <img class="pic"  src="__PUBLIC__/images/postDetails/pic.jpg" alt="pic">
            <p class="g8c">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人需求分析的具体流程，通过掌握行之有效的用人需求分析工具，帮助HR完美匹配人才，提升工作效率,企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生。</p>
            <img class="pic" src="__PUBLIC__/images/postDetails/pic.jpg" alt="pic">
            <p class="g8c">当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人需求分析的具体流程，通过掌握行之有效的用人需求分析工具，帮助HR完美匹配人才，提升工作效率,企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生。</p>
            <p class="g8c">      当企业出现用人过剩，用人需求与实际不成正比，企业效率难以提升，HR应该如何做好用人需求分析才能避免这些问题的发生？本课程为你系统介绍用人需求分析的具体流程。</p>
            <div class="g3c">
                <p class="dib collect">收藏&nbsp:</p>
                <div class="share-platform dib">
                    <p class="dib">分享：</p>
                    <div class="bdsharebuttonbox dib">
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div>
            <table class="pinghuifu">
                <tr>
                    <td valign="top"  align="left" >
                        <div class="pl-touxang"></div>
                    </td>
                    <td valign="top" class="commentTitle">
                        <h5 class="dib g3c">众筹发现</h5>
                        <i class="dib">3天前</i>
                        <p class="phPar g8c">项目不错，就想知道盈利点在哪里。 还有我们也是一个大学生创业团队，我们也有项目在众筹网上线，我觉得我们完全有合作的空间 20 beyond 20 飞翔梦想计划第一期</p><!--phPar/-->
                        <div class="g8c">
                            <div class="huifu-s dib">
                                <span class="re-show">回复</span>
                                <span class="re-hide">收起回复</span>
                            </div><!--huifu-s/-->
                            <div class="dib support">支持</div>
                        </div>
                        <div class="reply">
                            <form action="#" method="get">
                                <textarea></textarea>
                                <div class="re-tijiao">
                                    <input class="b9a wh" type="submit" value="提交回复" />
                                </div><!--re-tijiao/-->
                            </form>
                        </div><!--reply/-->
                    </td>
                </tr>
                <tr>
                    <td valign="top"  align="left" >
                        <div class="pl-touxang"></div>
                    </td>
                    <td valign="top" class="commentTitle">
                        <h5 class="dib g3c">众筹发现</h5>
                        <i class="dib">3天前</i>
                        <p class="phPar g8c">项目不错，就想知道盈利点在哪里。 还有我们也是一个大学生创业团队，我们也有项目在众筹网上线，我觉得我们完全有合作的空间 20 beyond 20 飞翔梦想计划第一期</p><!--phPar/-->
                        <div class="g8c">
                            <div class="huifu-s dib">
                                <span class="re-show">回复</span>
                                <span class="re-hide">收起回复</span>
                            </div><!--huifu-s/-->
                            <div class="dib support">支持</div>
                        </div>
                        <div class="reply">
                            <form action="#" method="get">
                                <textarea></textarea>
                                <div class="re-tijiao">
                                    <input class="b9a wh" type="submit" value="提交回复" />
                                </div><!--re-tijiao/-->
                            </form>
                        </div><!--reply/-->
                    </td>
                </tr>
                <tr>
                    <td valign="top"  align="left" >
                        <div class="pl-touxang"></div>
                    </td>
                    <td valign="top" class="commentTitle">
                        <h5 class="dib g3c">众筹发现</h5>
                        <i class="dib">3天前</i>
                        <p class="phPar g8c">项目不错，就想知道盈利点在哪里。 还有我们也是一个大学生创业团队，我们也有项目在众筹网上线，我觉得我们完全有合作的空间 20 beyond 20 飞翔梦想计划第一期</p><!--phPar/-->
                        <div class="g8c">
                            <div class="huifu-s dib">
                                <span class="re-show">回复</span>
                                <span class="re-hide">收起回复</span>
                            </div><!--huifu-s/-->
                            <div class="dib support">支持</div>
                        </div>
                        <div class="reply">
                            <form action="#" method="get">
                                <textarea></textarea>
                                <div class="re-tijiao">
                                    <input class="b9a wh" type="submit" value="提交回复" />
                                </div><!--re-tijiao/-->
                            </form>
                        </div><!--reply/-->
                    </td>
                </tr>
            </table>
            <form action="#" method="get" class="tjpl-form">
                <textarea></textarea>
                <div class="tjpl">
                    <input class="b9a wh" type="submit" value="发表评论" />
                </div><!--tjpl/-->
            </form>
        </div>
    </div>
    <div class="contentR r">
        <div class="g3c bgwh case hidden-xs hidden-sm">
            <h3 class="rel">热门主题<i class="g8c">hot</i></h3>
            <ul>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
            </ul>
        </div>
        <div class="g3c bgwh case hidden-xs hidden-sm">
            <h3 class="rel">精品文贴<i class="g8c">Auslese</i></h3>

            <ul>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
                <li class="fn-clear g3c">
                    <p class="l">1  企业培训案例...</p>
                    <p class="r">&lt 2016.11.28 &gt</p>
                </li>
            </ul>
        </div>
        <img class="hidden-xs hidden-sm" src="__PUBLIC__/images/postDetails/bar.png" alt="pic">
    </div>
</div>
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
<!--分享-->
<script src="__PUBLIC__/scripts/ZeroClipboard.js"></script>
<script src="__PUBLIC__/scripts/postDetails.js"></script>
</body>
</html>