<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>广告管理>模板图片列表</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Banner/addPicture')}" class="ul_button">添加模板图片</a>
        </div>
        <div class="fn-clear"></div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
            <!--<a href="{:U('Admin/Role/add', array('rpid' => $date['id'],'uid' => $_SESSION[C('USER_AUTH_KEY')]))}" class="ul_button">添加店铺组</a>-->
            <!--<a href="{:U('Admin/Activity/add')}" class="ul_button">添加店铺</a>-->
            <!--<a href="#" onclick="del();" class="ul_button">删除店铺组</a>-->
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="template_middle">
    <table class="ul_table">
         	<tbody class="ul_table">
    		<tr>
    		<td width="60%" style="text-align:left">
	    		<form action="{:U('Admin/Banner/picture')}" method="get">
                 <select name="status">
				<option value="">状态</option>
				<option value="1">正常</option>
				<option value="0">屏蔽</option>
				</select>
                <select name="pid">
                    <option value="">父类</option>
                    <foreach name="pLists" item="vo">
                        <option value={$vo.id}>{$vo.name}</option>
                    </foreach>
                </select>
				<input type="submit" value="查询" />
				<input type="reset" value="清空" />
	      		</form>
    		</td>
      	</tr></tbody>
     	</table>
        <table class="ul_table">
            <tbody class="ul_table">
            <tr class="ul_box">
            	<th style="width:5%">ID</th>
                <th style="width:15%">名称</th>
                <th style="width:15%">父类</th>
                <th style="width:15%">图片</th>
                <!--<th style="width:10%">联系方式</th>-->
                <th style="width:5%">比重</th>
                <th style="width:10%">日期</th>
                <th style="width:10%">状态</th>
                <th style="width:10%">操作</th>
            </tr>
                <foreach name="picture" item="v">
                    <tr class="ul_box1">
                        <td>{$v.id}</td>
                        <td>{$v.name}</td>
                        <td>{$v.pname}</td>
                        <td><if condition="$v.picture eq ''">暂无<else/><a href="__ROOT__/Public{$v.picture}" target="_blank">预览</a></if></td>
                        <td>{$v.weight}</td>
                        <td>{$v.created|date='y-m-d H:i',###}</td>
                        <td><if condition="$v.status eq 1">正常<else />屏蔽</if></td>
                        <if condition = "$v.pid eq 0">
                            <else/>
                            <td><a href="{:U('Admin/Banner/picview',array('id'=>$v['id']))}">编辑</a></td>
                        </if>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
</body>
</html>