<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>首页休闲管理>首页休闲详情</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Dict/relax')}" class="ul_button">返回</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="add">
    
    <form name="adminForm" method="post">
        <ul class="add_blank">                       
                        <li><div class="blank_left"><span class="blank_color">*</span>名称</div><div class="blank_right"><input type="text" name="name" value="{$index.name}" class="ul_text"/></div><div class="fn-clear"></div></li>            
            
            <li><div class="blank_left"><span class="blank_color">*</span>类型</div><div class="blank_right"><select name="type" class="ul_text" style="height:30px;">
				<option value="">请选择类型</option>
				<option value="1" <if condition="$index.type eq 1">selected</if>>生活服务</option>
				<option value="2" <if condition="$index.type eq 2">selected</if>>娱乐休闲</option>
				<option value="3" <if condition="$index.type eq 3">selected</if>>其他分类</option>
				
				</select></div><div class="fn-clear"></div></li>      
            <li><div class="blank_left">状态</div><div class="blank_right">
            <input type="radio" name="status" value="1"  class="ul_middle" <if condition="$index.status neq '0'">checked</if> />&nbsp;正常&nbsp;&nbsp;
            <input type="radio" name="status" value="0" class="ul_middle" <if condition="$index.status eq '0'">checked</if> />&nbsp;屏蔽
            </div><div class="fn-clear"></div></li>           
         
            
            <li><div class="blank_left">权重</div><div class="blank_right"><input type="number" name="weight" value="{$index.weight}" class="ul_text"/>值越大越靠前</div><div class="fn-clear"></div></li>            
            
            
            <input type="hidden" name="id" value="{$index.id}" />
            <li class="ul_word"><input type="submit" class="ul_add" value="保存"/><input type="button" class="ul_cancel" onclick="history.go(-1);"  value="取消"/></li>
        </ul></form>
    </div>
</div>
</body>
</html>