<include file="Public/header" />
<!-- 入驻申请 --><link rel="stylesheet" href="__PUBLIC__/css/decoration.css">
</head>

<body>
<!--页面头部-->
<include file="Public/top" />
<!--搜索框-->
<div id="top-main">
  <div class="breadcrumbs bbsbread">
    我的位置：<a href="{:U('Home/Index/index')}">首页</a>&nbsp;＞&nbsp;<a href="{:U('Home/Shop/index')}">建材商场</a>&nbsp;＞&nbsp;<a
    href="#">建材商</a>&nbsp;＞&nbsp;<span>审核</span>
  </div>
</div>
<!--主体内容-->
<section id="main">
  <div class="bcyellow audit auto">
    <div>
      <p>请稍后</p>
      <p>我们会在24小时审核</p>
    </div>
  </div>
</section>
<!--页面底部-->
<include file="Public/bottom" /> 
<include file="Public/footer" />