<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/recruit.css">
    <title>人才应聘</title>
</head>
<body>
<!--人才应聘recruit-->
<!--header登录注册-->
<include file="Public/top"/>
<!--header logo end-->
<!--导航条-->
<include file="Public/nav"/>
<!--导航条 end-->
<!--banner-->
<div class="banner">
    <if condition="$banner.picture eq ''">
        <img src="__PUBLIC__/images/talents/banner.jpg" alt="banner">
        <else/>
        <img src="__PUBLIC__{$banner.picture}" width="100%" alt="banner">
    </if>
</div>
<!--banner end-->
<!--content-->
<div class="content fn-clear">
    <div class="contentL l bgwh">
        <h3 class="f18 g3c rel">人才应聘<i class="f12 g8c dib">Apply</i></h3>
        <h4 class="f18 g9a">基本信息</h4>
        <div class="fn-clear list">
           <div class="l">
               <div>
                   <label class="f16 g3c">身份证</label>
                   <p class="f16 g8c">{$talent.card}</p>
               </div>
               <div>
                   <label class="f16 g3c">姓名</label>
                   <p class="f16 g8c">{$talent.name}</p>
               </div>
               <div>
                   <label class="f16 g3c">学校名称</label>
                   <p class="f16 g8c">{$talent.school}</p>
               </div>
               <div>
                   <label class="f16 g3c">出生日期 </label>
                   <p class="f16 g8c">{$talent.birth}</p>
               </div>
               <div>
                   <label class="f16 g3c">民族 </label>
                   <p class="f16 g8c">{$talent.national}</p>
               </div>
               <div>
                   <label class="f16 g3c">身高 </label>
                   <p class="f16 g8c">{$talent.height}cm</p>
               </div>
               <div>
                   <label class="f16 g3c">体重</label>
                   <p class="f16 g8c">{$talent.weight}KG</p>
               </div>
               <div>
                   <label class="f16 g3c">电子邮箱 </label>
                   <p class="f16 g8c">hr@qcnetvip.com</p>
                   <!--<p class="f16 g8c">{$talent.email}</p>-->
               </div>
               <div>
                   <label class="f16 g3c">户口所在 </label>
                   <p class="f16 g8c">{$talent.hometown}</p>
               </div>
               <div>
                   <label class="f16 g3c">联系电话</label>
                   <p class="f16 g8c">17187484777</p>
                   <!--<p class="f16 g8c">{$talent.phone}</p>-->
               </div>
               <div>
                   <label class="f16 g3c">驾照类型</label>
                   <p class="f16 g8c"> {$talent.drivertype}</p>
               </div>
           </div>
            <div class="l">
                <div>
                    <label class="f16 g3c">推荐人</label>
                    <p class="f16 g8c">{$talent.refere}</p>
                </div>
                <div>
                    <label class="f16 g3c">性别</label>
                    <p class="f16 g8c"><if condition="$talent.sex eq 1">男<else/>女</if></p>
                </div>
                <div>
                    <label class="f16 g3c">照片</label>
                    <img src="__PUBLIC__{$talent.picture}" alt="">
                </div>
                <div>
                    <label class="f16 g3c">微信 </label>
                    <p class="f16 g8c">{$talent.openid}</p>
                </div>
                <div>
                    <label class="f16 g3c">现居住地 </label>
                    <p class="f16 g8c">{$talent.address}</p>
                </div>
                <div>
                    <label class="f16 g3c">紧急联系人 </label>
                    <p class="f16 g8c">{$talent.secondcontact}</p>
                </div>
                <div>
                    <label class="f16 g3c">技术职称 </label>
                    <p class="f16 g8c">{$talent.title}</p>
                </div>
            </div>
        </div>
        <h4 class="f18 g9a">教育经历</h4>
        <div class="fn-clear  list">
            <div class="l">
                <div>
                    <label class="f16 g3c">开始时间</label>
                    <p class="f16 g8c">{$talent['education'][0]['start']}</p>
                </div>
                <div>
                    <label class="f16 g3c">教育形式 </label>
                    <p class="f16 g8c">{$talent['education'][0]['type']}</p>
                </div>
                <div>
                    <label class="f16 g3c">学位</label>
                    <p class="f16 g8c">{$talent['education'][0]['degree']}</p>
                </div>
            </div>
            <div class="l">
                <div>
                    <label class="f16 g3c">结束时间 </label>
                    <p class="f16 g8c">{$talent['education'][0]['end']}</p>
                </div>
                <div>
                    <label class="f16 g3c">学历</label>
                    <p class="f16 g8c">{$talent['education'][0]['record']}</p>
                </div>
                <div>
                    <label class="f16 g3c">专业</label>
                    <p class="f16 g8c">{$talent['education'][0]['professional']}</p>
                </div>
            </div>
        </div>
        <h4 class="f18 g9a">工作经历</h4>
        <div class="fn-clear  list">
            <div class="l">
                <div>
                    <label class="f16 g3c">开始时间</label>
                    <p class="f16 g8c">{$talent['experience'][0]['start']}</p>
                </div>
                <div>
                    <label class="f16 g3c">公司名称 </label>
                    <p class="f16 g8c">{$talent['experience'][0]['company']}</p>
                </div>
                <div>
                    <label class="f16 g3c">前台座机</label>
                    <p class="f16 g8c">{$talent['experience'][0]['telphone']}</p>
                </div>
            </div>
            <div class="l">
                <div>
                    <label class="f16 g3c">结束时间 </label>
                    <p class="f16 g8c">{$talent['experience'][0]['end']}</p>
                </div>
                <div>
                    <label class="f16 g3c">职位</label>
                    <p class="f16 g8c">{$talent['experience'][0]['position']}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentR r bgwh">
        <div class="g3c bgwh case hidden-xs hidden-sm">
            <h3 class="rel f18">企业培训精彩瞬间<i class="g8c dib f12">case</i></h3>
            <if condition="$courseArticle neq null">
                <a href="{:U('Home/Course/moments',array('id'=>$courseArticle[0]['id']))}">
                    <img class="caseBar" src="__PUBLIC__{$courseArticle[0]['picture']}" alt="bar">
                    <h4 class="g3c f12">{:mb_substr($courseArticle[0]['title'],0,10)}</h4>
                </a>
            </if>
            <ul>
                <foreach name="courseArticle" item='v' key="k">
                    <li class="fn-clear g3c f12">
                        <a class="g3c" href="{:U('Home/Course/moments',array('id'=>$v['id']))}">
                            <p class="l">{$k+1}  {:mb_substr($v['title'],0,10)}</p>
                            <p class="r">&lt {$v.created|date='Y-m-d',###} &gt</p>
                        </a>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<!--底部导航&footer-->
<inlcude file="Public/footer3"/>
<!--底部导航&footer end-->
</body>
</html>