<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>新闻管理>新闻列表</h1>
        </div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
            <!--<a href="{:U('Admin/Role/add', array('rpid' => $date['id'],'uid' => $_SESSION[C('USER_AUTH_KEY')]))}" class="ul_button">添加案例组</a>-->
            <a href="{:U('Admin/News/add')}" class="ul_button">添加平台新闻资讯</a>
            <!--<a href="#" onclick="del();" class="ul_button">删除案例组</a>-->
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="template_middle">
    <table class="ul_table">
         	<tbody class="ul_table">
    		<tr>
    		<td width="60%" style="text-align:left">
	    		<form action="{:U('Admin/News/index')}" method="get">
				新闻标题：<input type="text" name="keyword" value="{$Think.get.keyword}" />
				<select name="status">
				<option value="">状态</option>
				<option value="1" <if condition="$Think.get.status eq 1">selected</if>>正常</option>
				<option value="0" <if condition="$Think.get.status eq '0'">selected</if>>屏蔽</option>
				</select>
                <select name="row">
                <option value="">分组</option>
                <option value="1" <if condition="$Think.get.row eq 1">selected</if>>新闻资讯</option>
                <option value="2" <if condition="$Think.get.row eq '2'">selected</if>>企业咨询</option>
                </select>
				<select name="type">
				<option value="">类型</option>
				<option value="1" <if condition="$Think.get.type eq 1">selected</if>>精品</option>
				<option value="2" <if condition="$Think.get.type eq '2'">selected</if>>热门</option>
				</select>
				<input type="submit" value="查询" />
				<input type="reset" value="清空" />
	      		</form>
    		</td>
      	</tr></tbody>
     	</table>
        <table class="ul_table">
            <tbody class="ul_table">
            <tr class="ul_box">
            	<th style="width:5%">ID</th>
                <th style="width:10%">新闻标题</th>
                <th style="width:5%">图片</th>
                <th style="width:5%">分组</th>
                <th style="width:5%">类型</th>
                <th style="width:25%">摘要</th>
                <th style="width:15%">日期</th>
                <th style="width:10%">状态</th>
                <th style="width:10%">操作</th>
                <th style="width:5%">删除</th>
            </tr>
                <foreach name="news" item="v">
                    <tr class="ul_box1">
                        <td>{$v.id}</td>
                        <td>{$v.title}</td>
                        <td><if condition="$v.picture eq 1">暂无图片<else/><a href="__ROOT__/Public{$v.picture}" target="_blank">预览</a></if></td>
                        <td><if condition="$v.row eq 1">新闻资讯<else/>企业资讯</if></td>
                        <td><if condition="$v.type eq 1">精品<else/>热门</if></td>
                        <td>{:mb_substr($v['intro'],0,25)}</td>
                        <td>{$v.created|date='y-m-d H:i',###}</td>
                        <td><if condition="$v.status eq 1">正常<else />屏蔽</if></td>
                        <td>
                        <if condition="$v['row'] eq 2">
                            <if condition="$v['status']">
                                <a href="{:U('Admin/News/changeStatus',array('id'=>$v['id'],'status'=>0))}">屏蔽</a>
                                <else/>
                                <a href="{:U('Admin/News/changeStatus',array('id'=>$v['id'],'status'=>1))}">开启</a>
                            </if>
                      <else/>
                            <a href="{:U('Admin/News/view',array('id'=>$v['id']))}">编辑</a>
                      </if>
                           </td>
                        <td><a class="js-del" value="{$v['id']}" href="javascript:;">删除</a></td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(".js-del").click(function(){
            var status = confirm("删除后不可找回，你确认删除吗？");
            if(status){
                var id = $(this).attr("value");
                if(id==''){
                    alert("参数错误");
                    return false;
                }
                window.location.href="/index.php/Admin/News/del/id/"+id;
            }
        }) ;
    });
</script>
</body>
</html>