<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>报名管理>报名列表</h1>
        </div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
            <!--<a href="{:U('Admin/Role/add', array('rpid' => $date['id'],'uid' => $_SESSION[C('USER_AUTH_KEY')]))}" class="ul_button">添加申请组</a>-->
            <!--<a href="{:U('Admin/Node/index')}" class="ul_button">权限设置</a>-->
            <!--<a href="#" onclick="del();" class="ul_button">删除申请组</a>-->
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="template_middle">
    <table class="ul_table">
         	<tbody class="ul_table">
    		<tr>
    		<td width="60%" style="text-align:left">
	    		<form action="{:U('Admin/Course/apply')}" method="get">
				学员姓名：<input type="text" name="name" value="{$Think.get.name}" />
                课程标题：<input type="text" name="title" value="{$Think.get.title}" />
				<select name="status">
                    <option value =''>状态</option>
                    <option value ='1'>正常</option>
                    <option value ='0'>屏蔽</option>
                </select>
				<input type="submit" value="查询" />
				<input type="reset" value="清空" />
	      		</form>
    		</td>
      	</tr></tbody>
     	</table>
        <table class="ul_table">
            <tbody class="ul_table">
            <tr class="ul_box">
            	<th style="width:5%">ID</th>
                <th style="width:15%">学员姓名</th>
                <th style="width:10%">课程标题</th>
                <th style="width:10%">电话</th>
                <th style="width:10%">公司</th>
                <th style="width:10%">地址</th>
                <th style="width:5%">是否支付</th>
                <th style="width:10%">日期</th>
                <th style="width:10%">状态</th>
                <th style="width:10%">操作</th>
                <th style="width:5%">删除</th>
            </tr>
                <foreach name="applys" item="v">
                    <tr class="ul_box1">
                        <td>{$v.applyid}</td>
                        <td>{$v.name}</td>
                        <td>{$v.title}</td>
                        <td>{$v.mobile}</td>
                        <td>{$v.company}</td>
                        <td>{$v.address}</td>
                        <td><if condition="$v.ispay eq 1">已支付<else />未支付</if></td>
                        <td>{$v.created|date='y-m-d H:i',###}</td>
                        <td><if condition="$v.status eq 1">正常<else />屏蔽</if></td>
                        <td>
                            <if condition="$v.status eq 1"><a href="{:U('Admin/Course/apply',array('id'=>$v['applyid'],'status'=>0))}">屏蔽</a>
                            <else/>
                                <a href="{:U('Admin/Course/apply',array('id'=>$v['applyid'],'status'=>1))}">正常</a>
                            </if>
                        </td>
                        <td><a class="js-del" value="{$v['applyid']}" href="javascript:;">删除</a></td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(".js-del").click(function(){
            var status = confirm("删除后不可找回，你确认删除吗？");
            if(status){
                var id = $(this).attr("value");
                if(id==''){
                    alert("参数错误");
                    return false;
                }
                window.location.href="/index.php/Admin/Course/delApply/id/"+id;
            }
        }) ;
    });
</script>
</body>
</html>