<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>课程管理>课程列表</h1>
        </div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
            <a href="{:U('Admin/Course/add')}" class="ul_button">添加课程</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="template_middle">
    <table class="ul_table">
         	<tbody class="ul_table">
    		<tr>
    		<td width="60%" style="text-align:left">
	    		<form action="{:U('Admin/Course/index')}" method="get">
				课程名：<input type="text" name="keyword" value="{$Think.get.keyword}" />
				<select name="status">
				<option value="">状态</option>
				<option value="1">正常</option>
				<option value="0">屏蔽</option>
				</select>
				<select name="ispush">
				<option value="">推荐</option>
				<option value="1">是</option>
				<option value="0">否</option>
				</select>
				<input type="submit" value="查询" />
				<input type="reset" value="清空" />
	      		</form>
    		</td>
      	</tr></tbody>
     	</table>
        <table class="ul_table">
            <tbody class="ul_table">
            <tr class="ul_box">
            	<th style="width:5%">ID</th>
                <th style="width:15%">活动标题</th>
                <!--<th style="width:10%">简介</th>-->
                <th style="width:8%">授课讲师</th>
                <th style="width:10%">授课时间</th>
                <!--<th style="width:12%">授课地址</th>-->
                <th style="width:5%">推荐</th>
                <th style="width:5%">成功案例</th>
                <th style="width:8%">日期</th>
                <th style="width:5%">状态</th>
                <th style="width:5%">操作</th>
                <th style="width:5%">删除</th>
            </tr>
                <foreach name="course" item="v">
                    <tr class="ul_box1">
                        <td>{$v.courseid}</td>
                        <td>{$v.title}</td>
                        <!--<td>{$v.intro}</td>-->
                        <td>{$v.teacher}</td>
                        <td>{$v.starttime}</td>
                        <!--<td>{$v.address}</td>-->
                        <td><if condition="$v.ispush eq 0">否<else/>是</if></td>
                        <td><if condition="$v.success eq 0">否<else/>是</if></td>
                        <td>{$v.created|date='y-m-d H:i',###}</td>
                        <td><if condition="$v.status eq 1">正常<else />屏蔽</if></td>
                        <td><a href="{:U('Admin/Course/view',array('id'=>$v['courseid'],'status'=>0))}">编辑</a></td>
                        <td><a class="js-del" value="{$v['courseid']}" href="javascript:;">删除</a></td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(".js-del").click(function(){
            var status = confirm("删除后不可找回，你确认删除吗？");
            if(status){
                var id = $(this).attr("value");
                if(id==''){
                    alert("参数错误");
                    return false;
                }
                window.location.href="/index.php/Admin/Course/del/id/"+id;
            }
        }) ;
    });
</script>
</body>
</html>