<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>课程管理>定制课程列表</h1>
        </div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="template_middle">
    <table class="ul_table">
         	<tbody class="ul_table">
    		<tr>
    		<td width="60%" style="text-align:left">
	    		<form action="{:U('Admin/Course/needCourse')}" method="get">
				定制人：<input type="text" name="name" value="{$Think.get.name}" />
               描述：<input type="text" name="intro" value="{$Think.get.intro}" />
				<select name="status">
				<option value="">状态</option>
				<option value="1">正常</option>
				<option value="0">屏蔽</option>
				</select>
				<input type="submit" value="查询" />
				<input type="reset" value="清空" />
	      		</form>
    		</td>
      	</tr></tbody>
     	</table>
        <table class="ul_table">
            <tbody class="ul_table">
            <tr class="ul_box">
            	<th style="width:5%">ID</th>
                <th style="width:15%">姓名</th>
                <th style="width:10%">手机号</th>
                <th style="width:10%">公司</th>
                <th style="width:10%">地址</th>
                <th style="width:10%">描述</th>
                <th style="width:10%">日期</th>
                <th style="width:10%">状态</th>
                <th style="width:10%">操作</th>
            </tr>
                <foreach name="needs" item="v">
                    <tr class="ul_box1">
                        <td>{$v.needid}</td>
                        <td>{$v.name}</td>
                        <td>{$v.mobile}</td>
                        <td>{$v.company}</td>
                        <td>{$v.address}</td>
                        <td>{$v.intro}</td>
                        <td>{$v.created|date='y-m-d H:i',###}</td>
                        <td><if condition="$v.status eq 1">正常<else />屏蔽</if></td>
                        <td>
                            <if condition="$v.status eq 1">
                                <a href="{:U('Admin/Course/needCourse', array('id' => $v['needid'],'status'=>0))}">屏蔽</a>
                                <else/>
                                <a href="{:U('Admin/Course/needCourse',array('id'=>$v['needid'],'status'=>1))}">正常</a>
                            </if>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
</body>
</html>