<include file="Public/header"/>
    <link href="__PUBLIC__/styles/login.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/register.css" rel="stylesheet" />
    <title>协议</title>
</head>
<style>
    /*html{height:100%;}*/
    /*body{min-height:100%;margin:0;padding:0;position:relative;background:#fff;}*/
    /*.agreement_box{padding-bottom:110px;}/!* main的padding-bottom值要等于或大于footer的height值 *!/*/
    /*.footer,.footerT{position:absolute;bottom:0;width:100%;}*/
</style>

<body style="background:#fff;">
<div class="row bgwh">
    <div class="logo col-xs-10 col-xs-offset-1  col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
        <a class="dib logoImg" href="{:U('Home/Index/index')}"><img class="img-responsive" src="__PUBLIC__/images/login/logo.jpg" alt="logo"></a>
        <p class="f20 g3c dib">企业自助推广营销平台欢迎您！</p>
    </div>
</div>

<!--登录页面-->
<div class="agreement_box">
    <div class="agreement">
        <h1>【企业自助推广营销平台】使用协议</h1>
        <h2>一、接受条款</h2>
        <p>感谢您选择【企业自助推广营销平台】服务，【企业自助推广营销平台】是上海首扬信息科技有限公司（以下简称本公司）的主打产品，本公司通过用户使用【企业自助推广营销平台】的相关功能向用户提供服务，您在使用相关服务之前，需要仔细阅读本协议，并通过在线形式签署，您选择【我同意】，即表示协议生效。本协议由上海首扬信息科技有限公司与您签订。您以任何方式在【企业自助推广营销平台】注册即表示您同意自己已经与本公司订立本条款，且您将受本条款的条件约束。您应在第一次登录后仔细阅读修订后的“条款”，并有权选择与客服联系停止继续使用“服务”；一旦您继续使用“服务”， 则表示您已接受经修订的“条款”，当您与【企业自助推广营销平台】发生争议时，应以最新的服务条款为准。除另行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本条款约束。</p>
        <h2>二、注册</h2>
        <p>1、您确认，在您完成注册程序使用【企业自助推广营销平台】服务时，您应当是具备相应民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的家长或法定监护人（以下统称"监护人"）应承担因此而导致的一切后果，且【企业自助推广营销平台】有权注销您的账户，并向您及您的监护人索偿。</p>
        <p>2、【企业自助推广营销平台】非常重视对青少年个人信息搜集和使用的安全性的保护。【企业自助推广营销平台】建议，任何未满18周岁的未成年人参加网上活动应事先取得其监护人可经查证的同意并遵守《青少年网络文明公约》。监护人应承担未成年人网络活动风险及保护未成年人相关网络隐私的首要责任。</p>
        <p>3、在您签署本协议，完成注册程序时，【企业自助推广营销平台】会向您提供账户。您应对您的用户账户、登录密码、支付密码（如有）、验证码的安全，以及对通过您的账户和密码实施的行为负责；因此所衍生的任何损失或损害，【企业自助推广营销平台】无法也不承担任何责任。除非有法律规定或行政司法机关的指令，且征得【企业自助推广营销平台】的同意，否则您的用户账户、登录密码、支付密码（如有）和验证码不得以任何方式转让、借用、赠与或继承（与账户相关的财产权益除外）。否则，由此给您（或【企业自助推广营销平台】、任何第三方）造成的一切损失，概由您自行承担（或者负责赔偿）。</p>
        <p> 4、您了解并同意，如您符合并且遵守本协议条款，在通过【企业自助推广营销平台】完成注册程序之后，即可成为【企业自助推广营销平台】用户。对于您主动提交的相关信息，您授权【企业自助推广营销平台】网站运营者及关联服务提供方委托的第三方通过合法渠道（包括但不限于征信机构等）了解、咨询、审查您的个人市场交易风险的真实情况，并据此判断您的风险状况。</p>
        <p>5、您了解并同意，一经注册用户账号，即视为您同意【企业自助推广营销平台】通过短信或者电子邮件的方式向您注册时填写的手机号码或者电子邮箱发送相应的产品服务广告信息、促销优惠等营销信息；您如果不同意发送，您可以通过相应的退订功能进行退订。</p>
        <h2>三、使用规范</h2>
        <p>
        1、通过【企业自助推广营销平台】，您可以按照【企业自助推广营销平台】的规则发布各种文贴、新闻资讯以及活动等等。但所有发布之信息不得含有如下内容：
        <span>1) 反对宪法所确定的基本原则，煽动抗拒、破坏宪法和法律、行政法规实施的；</span>
            <span>2)煽动危害国家安全、泄露国家秘密、颠覆国家政权，推翻社会主义制度的；</span>
            <span>3)煽动分裂国家、破坏国家统一、损害国家荣誉和民族利益的；</span>
            <span>4)煽动民族仇恨、民族歧视，破坏民族团结的；</span>
            <span>5)捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</span>
            <span>6)进行政治宣传或破坏国家宗教政策、宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</span>
            <span>7)公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</span>
            <span>8)损害国家机关信誉的；</span>
            <span>9)其他违反宪法和法律法规的；</span>
        </p>
        <p>2、在接受【企业自助推广营销平台】服务的过程中，您不得从事下列行为：
            <span>1）发表、传送、传播、储存侵害他人知识产权、商业秘密权等合法权利的内容，包含病毒、木马、定时炸弹等可能对【企业自助推广营销平台】系统造成伤害或影响其稳定性的内容制造虚假身份以误导、欺骗他人；</span>
            <span>2）传送或散布以其他方式实现传送的含有受到知识产权法律保护的图像、相片、软件或其他资料的文件，作为举例（但不限于此）：包括版权或商标法（或隐私权或公开权），除非用户拥有或控制着相应的权利或已得到所有必要的认可；</span>
            <span>3）使用任何包含有通过侵犯商标、版权、专利、商业机密或任何一方的其他专有权利的方式利用本“软件”获得的图像或相片的资料或信息；</span>
            <span>4）进行危害计算机网络安全的行为，包括但不限于：使用未经许可的数据或进入未经许可的服务器/帐号；未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；未经许可，企图探查、扫描、测试本平台系统或网络的弱点或其它实施破坏网络安全的行为；企图干涉、破坏本平台系统或网站的正常运行，故意传播恶意程序或病毒以及其他破坏干扰正常网络信息服务的行为；伪造TCP/IP数据包名称或部分名称；</span>
            <span>5）修改或伪造软件作品运行中的指令、数据、数据包，增加、删减、变动软件 的功能或运行效果，不得将用于上述用途的软件通过信息网络向公众传播或者运营；</span>
            <span>6)违背【企业自助推广营销平台】页面公布之活动规则，包括但不限于发布虚假信息、作弊或通过其他手段进行虚假交易。</span>
        </p>
        <p>3、在【企业自助推广营销平台】上使用【企业自助推广营销平台】服务过程中，您承诺遵守以下约定：
            <span>1)在使用【企业自助推广营销平台】服务过程中实施的所有行为均遵守国家法律、法规等规范文件及【企业自助推广营销平台】各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责任，并确保【企业自助推广营销平台】免于因此产生任何损失或增加费用。</span>
            <span>2)不发布国家禁止发布的信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其它合法权益的信息，不发布违背社会公共利益或公共道德、公序良俗的信息，不发布其它涉嫌违法或违反本协议及各类规则的信息。</span>
            <span>3)不对【企业自助推广营销平台】上的任何数据作商业性利用，包括但不限于在未经【企业自助推广营销平台】事先书面同意的情况下，以复制、传播等任何方式使用【企业自助推广营销平台】站上展示的资料。</span>
            <span>4)不使用任何装置、软件或例行程序干预或试图干预【企业自助推广营销平台】的正常运作或正在【企业自助推广营销平台】上进行的任何活动。您不得采取任何将导致不合理的庞大数据负载加诸【企业自助推广营销平台】网络设备的行动。</span>
        </p>

        <p>4、您了解并同意：
            <span>1)您违反上述承诺时，【企业自助推广营销平台】有权依据本协议的约定，做出相应处理或终止向您提供服务，且无须征得您的同意或提前通知于您。</span>
            <span>2)根据相关法令的指定或者【企业自助推广营销平台】服务规则的判断，您的行为涉嫌违反法律法规的规定或违反本协议和/或规则的条款的，【企业自助推广营销平台】有权采取相应措施，包括但不限于直接屏蔽、删除侵权信息、降低您的信用值或直接停止提供服务。</span>
            <span>3)对于您在【企业自助推广营销平台】上实施的行为，包括您未在【企业自助推广营销平台】上实施但已经对【企业自助推广营销平台】及其用户产生影响的行为，【企业自助推广营销平台】有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并据此采取相应的处理措施。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据承担不利后果。</span>
            <span>4)对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保【企业自助推广营销平台】免于承担因此产生的损失或增加的费用。</span>
            <span>5)如您涉嫌违反有关法律或者本协议之规定，使【企业自助推广营销平台】遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿【企业自助推广营销平台】因此造成的损失及（或）发生的费用，包括合理的律师费用。</span>
        </p>
        <h2>四、产品和服务开通计费说明</h2>
        <p>您同意：【企业自助推广营销平台】有权随时对本系统服务条款及相应的服务规则内容进行单方面的变更，并有权以消息推送、网页公告等方式予以公布，而无需另行单独通知您；若您在本系统服务的条款内容公告变更后继续使用本系统服务，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的条款内容使用本系统服务；若您不同意修改后的服务条款，您应立即停止使用本系统服务。
        <span>1）“自助建站”介绍
测试期注册需100元（获得1000维币），注册后可用维币（可充值或转发获得维币）自建网站，企业自助建站由平台提供三套模板，（后续还可自建商城），发布企业宣传形象，商品信息，企业活动召集帖，参与论坛各类交流等。</span>
            <span>2）“申请店铺”介绍
您了解【企业自助推广营销平台】仅向您提供【企业自助推广营销平台】服务，且【企业自助推广营销平台】上的的信息均系用户自行发布，可能存在风险和瑕疵。【企业自助推广营销平台】仅作为第三方交易平台。【企业自助推广营销平台】仅作为您获取物品或服务信息、物色交易对象、就物品和/或服务的交易进行协商及开展交易的场所，但【企业自助推广营销平台】无法控制交易所涉及的物品的质量、安全或合法性，商贸信息的真实性或准确性，以及交易各方履行其在贸易协议中各项义务的能力。因此，【企业自助推广营销平台】不对用户行为的合法性、有效性、真实性作任何明示或默示的担保，对此您应谨慎判断。</span>
            <span>3）“资源对接”介绍</span>
        </p>
        <h2>五、隐私保护</h2>
        <p>1、【企业自助推广营销平台】不会将您的个人信息转移或披露给任何非关联的第三方，除非
            <span>1）相关法律法规或法院、政府机关要求；</span>
            <span>2）为完成合并、分立、收购或资产转让而转移；或</span>
            <span>3）为提供您要求的服务所必需。</span>
        </p>
        <p>2、您知悉并认可：为保护您的个人信息的安全。我们使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。对此您表示理解和认同。
        </p>
        <p>3、【企业自助推广营销平台】不对用户所发布信息的删除或储存失败负责。【企业自助推广营销平台】并不承诺对用户的存储信息进行无限
            <span>1)为保障您的信息安全，我们努力采取各种合理的物理、电子和管理方面的安全措施来保护您的信息，使您的信息不会被泄漏、毁损或者丢失，包括但不限于SSL、信息加密存储、数据中心的访问控制。我们对可能接触到您的信息的员工或外包人员也采取了严格管理，包括但不限于根据岗位的不同采取不同的权限控制，与他们签署保密协议，监控他们的操作情况等措施。【企业自助推广营销平台】会按现有技术提供相应的安全措施来保护您的信息，提供合理的安全保障，【企业自助推广营销平台】将尽力做到使您的信息不被泄漏、毁损或丢失。</span>
            <span>2)您的账户均有安全保护功能，请妥善保管您的账户及密码信息。【企业自助推广营销平台】将通过向其它服务器备份、对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您理解，由于技术的限制以及可能存在的各种恶意手段，即便竭尽所能加强安全措施，在信息网络上也不存在“完善的安全措施”。</span>
            <span>3)在使用【企业自助推广营销平台】服务进行网上交易时，如您不可避免地要向交易对方或潜在的交易对方披露自己的个人信息（比如联系人、联络方式等），请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息已经被泄露或者存在被泄露的可能，且有可能会危及您注册获得的【企业自助推广营销平台】账户安全，或者给您造成其他的损失的，请您务必在第一时间通知【企业自助推广营销平台】客服，以便【企业自助推广营销平台】采取相应措施维护您的【企业自助推广营销平台】账户安全，防止损失的发生或者进一步扩大。为避免疑义，如果您未在第一时间通知【企业自助推广营销平台】客服，则您应自行承担由此给您造成的损失（及扩大的损失）。
            </span>
        </p>
        <h2>六、免责声明</h2>
        <p>1.【企业自助推广营销平台】负责按"现状"和"可得到"的状态向您提供微店平台服务。【企业自助推广营销平台】对本服务的适用性、完整性、持续性、准确性、可靠性以及满足用户的要求或符合用户的期望等不作任何担保，不论是明示的或默示的。同时，【企业自助推广营销平台】也不对本服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定性、完整性和及时性作出任何承诺和保证。</p>
        <p>2、【企业自助推广营销平台】有权基于您不可撤销的授权受理您与【企业自助推广营销平台】消费者因交易产生的争议，并有权单方判断与该争议相关的事实及应适用的规则，进而作出处理决定，包括但不限于调整相关订单的交易状态。该处理决定对您有约束力。如您未在限期内执行处理决定的，则【企业自助推广营销平台】有权利（但无义务）直接使用您在【企业自助推广营销平台】的款项，或您向【企业自助推广营销平台】交纳的保证金代为支付。您应及时补足保证金并弥补【企业自助推广营销平台】及其关联公司的损失，否则【企业自助推广营销平台】及其关联公司有权直接抵减您在其它合同项下的权益，并有权继续追偿。</p>
        <p>3、您理解并同意，【企业自助推广营销平台】并非司法机构，仅能以普通人的身份对证据进行鉴别，【企业自助推广营销平台】对争议的调处完全是基于您不可撤销得授权，其无法保证争议处理结果符合您的期望，也不对争议调处结论承担任何责任。如您因此遭受任何损失或承担任何法责任，均与【企业自助推广营销平台】无关。</p>
        <p>4、尽管本协议中可能含有相反的规定，在适用法律允许的最大范围内，您了解并同意，【企业自助推广营销平台】不对因您使用本服务引起的、或在任何方面与本服务有关的任何意外的、非直接的、特殊的利益损失承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形的损失（无论【企业自助推广营销平台】是否已被告知该等损害赔偿的可能性)</p>
        <p>5、不论在何种情况下，【企业自助推广营销平台】均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。</p>
        <p>5、最终解释权归上海首扬信息科技有限公司所有</p>
        <h2>七、知识产权归属</h2>
        <p>1.【企业自助推广营销平台】所包含的全部智力成果包括但不限于数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，软件编译、相关源代码和软件 (包括小应用程序和脚本) 的知识产权权利均归口袋时尚所有。用户不得为商业目的复制、更改、拷贝、发送或使用前述任何材料或内容。</p>
        <p>2.【企业自助推广营销平台】名称中包含的所有权利，包括但不限于著作权、商标权等，均归上海首扬信息科技有限公司所有。</p>
        <p>3.用户在使用【企业自助推广营销平台】服务过程中不得未经权利人的合法授权使用【企业自助推广营销平台】或他人的合法知识产权权利。
        </p>
    </div>

</div>
<include file="Public/footer3"/>
</body>
</html>