<include file="Public/header"/>
    <link href="__PUBLIC__/styles/login.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/changeCode.css" rel="stylesheet" />
    <title>修改密码</title>
</head>
<body>
<div class="">
    <!--修改密码页面changeCode-->
    <div class="row bgwh">
        <div class="logo col-xs-10 col-xs-offset-1  col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
            <a class="dib logoImg" href="{:U('Home/Index/index')}"><img class="img-responsive" src="__PUBLIC__/images/login/logo.jpg" alt="logo"></a>
            <p class="f20 g3c dib">企业自助推广营销平台欢迎您！</p>
        </div>
    </div>
    <div class="row loginForm ">
        <form id="loginform" action="{:U('Home/User/changePwd')}" method="post" class="bgwh col-xs-12">
            <h2 class="f22 g9a">修改密码</h2>
            <input class="regPhone js-phone" name="phone" type="text" placeholder="请输入手机号">
            <div class="rel identifyingCode">
                <input id="phone" class="js-code" name="code" type="text" placeholder="请输入验证码">
                <input class="abs code f14 wh" type="button" value="获取验证码"  onclick="clickButton(this)">
            </div>
            <input id="keyword" class="regKey js-pwd" name="pwd" type="password" placeholder="请输入密码">
            <input class="regKey js-repwd" name="repwd" type="password" placeholder="请确认密码">
            <a class="db" href="javascript:;"><input type="button"  class="b9a wh db btnRegister js-sub" value="确认修改"></a>
        </form>
    </div>
   <include file="Public/footer3"/>
</div>
<script src="__PUBLIC__/scripts/RegExp.js"></script>
<script>
    $(document).ready(function() {
        //记住密码
        $('.remPass').click(function(){
            $(this).find('a').toggleClass('confirm');
        });
        //发送验证码
        $()
        //提交表单
        $(".js-sub").click(function(){
           var phone = $(".js-phone").val();
            var code = $(".js-code").val();
            var pwd = $(".js-pwd").val();
            var repwd = $(".js-repwd").val();
            var status = true;
            var msg = '';
            if(phone==''){
                status = false;
                msg+='手机号不能为空';
            }else if(!(/^1[34578]\d{9}$/.test(phone))){
                status = false;
                msg+='手机号格式不正确';
            }
            if(code==''){
                status = false;
                msg+='验证码不能为空';
            }
            if(pwd==''){
                flag = false;
                msg+="密码不为空";
            }else if(pwd.length<6){
                flag = false;
                msg+="密码长度不能小于6位";
            }else if(pwd!==repwd){
                flag = false;
                msg+="密码前后不一致";
            }
            if(!status){
                alert(msg);
            }else{
                $("#loginform").submit();
            }
        });
    });
    //验证码
    function clickButton(obj){
        var phone = $(".js-phone").val();
        var status = true;
        var preg = /^1[34578]\d{9}$/;
        var obj = $(obj);
        if(phone==''){
            status = false;
            alert('手机号不能为空');
        }else if(!(preg.test(phone))){
            status = false;
          alert('手机号格式不正确');
        }
        if(status){
            $.post("{:U('Home/User/sendCode')}",{phone:phone},function(data){
               if(data.status){
                   obj.attr("disabled","disabled");/*按钮倒计时*/
                   var time = 60;
                   var set=setInterval(function(){
                       obj.val(--time+"(s)");
                   }, 1000);/*等待时间*/
                   setTimeout(function(){
                       obj.attr("disabled",false).val("重新获取验证码");/*倒计时*/
                       clearInterval(set);
                   }, 60000);
                   alert(data.msg);
               }else{
                   alert(data.msg);
               }
            });
            $(this).css({'background':'#eee','color':'#9ab126'});
        }

    }
</script>
</body>
</html>