<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/firmData.css">
<!--引入日期插件文件开始-->
<script language="javascript" type="text/javascript" src="__PUBLIC__/datepicker/WdatePicker.js"></script>
<!--引入日期插件文件结束-->
<!--引入地址三级联动插件文件开始-->
<script language="javascript" type="text/javascript" src="__PUBLIC__/scripts/varieties.data.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/scripts/jsAddress.js"></script>
<!--引入地址三级联动插件文件结束-->
<script src="__PUBLIC__/scripts/talents.js"></script>
    <title>个人中心-用户资料</title>
</head>
<body>
<!--firmData-->
<div class="mainBg">
    <!--header登录注册-->
    <include file="Public/top"/>
    <!--header登录注册 end-->
    <!--header logo-->
    <!--header logo end-->
    <!--导航条-->
    <include file="Public/nav"/>
    <!--导航条 end-->
    <!--banner-->
    <div class="banner rel">
        <img src="__PUBLIC__/images/personal/banner.png" alt="banner"/>
        <!--<a href="#" class="customization abs"><input class="f22 g9a" type="button" value="我要定制&gt&gt"></a>-->
    </div>
    <!--banner end-->
    <!--content-->
    <form class="content fn-clear">
        <div class="bgwh l tabList fn-clear" id="tabList">
            <a class="b9a poi" href="{:U('Home/User/editInfo')}" style="color:white;">用户资料</a>
            <a class="poi" href="{:U('Home/Activity/activityMange')}">活动管理</a>
           <a class="poi" href="{:U('Home/Order/orderMange')}">订单管理</a>
            <a class="poi" href="{:U('Home/Vcoin/myWallet')}">我的维币</a>
        </div>
        <div class="bgwh l f18 g6 baseCon">
            <h3 class="f18 g9a">基本信息</h3>
            <div>
                <label>公司全称</label>
                <input type="text">
            </div>
            <div>
                <label>公司类型</label>
                <input type="text">
            </div>
            <div>
                <label>营业执照号</label>
                <input type="text">
            </div>
            <div>
                <label>营业执照</label>
                <div class="dib upImg">
                    <lable  class="imgdiv" id="imgdiv" for="up_img">
                        <img id="imgShow" class="imgShow" src="../images/firmData/upImg.jpg" />
                    </lable>
                    <div class="dib">
                        <p class="gc f16 hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>
                        <div class="up_img rel">
                            <input type="file" id="up_img" value="上传"/>
                            <label class="abs f20 wh" for="up_img">上传</label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label>主营业务</label>
                <input type="text">
            </div>
            <div>
                <label>主营业务</label>
                <textarea></textarea>
            </div>
            <div class="logoUp">
                <label>LOGO图片</label>
                <div class="dib upImg">
                    <lable  class="imgdiv" id="logodiv" for="up_img">
                        <img id="logoShow" class="imgShow" src="../images/firmData/logoUp.jpg" />
                    </lable>
                    <div class="dib">
                        <p class="gc f16 hidden-xs">尺寸：120*120</p>
                        <p class="gc f16 hidden-xs">格式：jpg/png</p>
                        <p class="gc f16 hidden-xs">大小：不超过2M</p>
                        <div class="up_img rel">
                            <input type="file" id="up_logo" value="上传"/>
                            <label class="abs f20 wh" for="up_img">上传</label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label>网址</label>
                <input type="text">
            </div>
            <div class="registered">
                <label>地址</label>
                <div class="dib">
                    <div class="address" data-toggle="distpicker">
                        <select class="dib select f16">
                            <option>请选择</option>
                        </select>
                        <span class="f16 g3c province dib">省</span>
                        <select class="dib select f16">
                            <option>请选择</option>
                        </select>
                        <span class="f16 g3c">市</span>
                    </div>
                    <input type="text" placeholder="请输入详细地址">
                </div>
            </div>
            <div>
                <label>联系人</label>
                <input type="text">
            </div>
            <div>
                <label>联系人电话</label>
                <input type="text">
            </div>
            <div class="affirm"><input class="f22 wh b9a" type="button" value="确认修改"></div>
        </div>
    </form>
    <!--底部导航&footer-->
    <div class="footer">
        <div class="rel f16 wh">
            <img src="../images/index/footerEWM.png" alt="EWM">
            <h4 class="f16 wh">上海维沃珂自助营销平台版权所有</h4>
            <p class=" hidden-xs">地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇</p>
            <p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>
        </div>
    </div>
    <!--底部导航&footer end-->
</div>
<!--共用js-->
<script src="../scripts/base.js"></script>
<script src="../scripts/bootstrap.min.js"></script>
<!--城市选择-->
<script src="../scripts/distpicker.data.js"></script>
<script src="../scripts/distpicker.js"></script>
<script src="../scripts/firmData.js"></script>
</body>
</html>