<include file="Public/header"/>
    <link href="__PUBLIC__/styles/login.css" rel="stylesheet" />
    <title>登录</title>
</head>
<body>
<div class="">
    <!--登录页面login-->
    <div class="row bgwh">
        <div class="logo col-xs-10 col-xs-offset-1  col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
            <a class="dib logoImg" href="{:U('Home/Index/index')}"><img class="img-responsive" src="__PUBLIC__/images/login/logo.jpg" alt="logo"></a>
            <p class="f20 g3c dib">企业自助推广营销平台欢迎您！</p>
        </div>
    </div>
    <div class="row loginForm ">
        <form id="loginform" action="{:U('Home/User/login')}" method="post" class="bgwh col-xs-12">
            <h2 class="f22 g9a">登录</h2>
            <input id="text" class="16 g3c name js-name" name="phone" type="text" placeholder="请输入手机号码">
            <span class="f22 red db" id="tel"></span>
            <input id="code" class="16 g3c password js-pwd" name="pwd" type="password" placeholder="请输入密码">
            <span class="f22 red db" id="password"></span>
            <div  class="f14 g8c fn-clear addition">
                <div class="l remPass rel">
                    <a class="dib abs" href="javascript:void(0)"><input class="abs"  type="radio"></a>
                    <label>记住密码</label>
                </div>
                <a  class="r" href="changePwd.html"><p>忘记密码？</p></a>
            </div>
            <a class="db" href="javascript:void(0)"><input type="button" class="b9a wh db btnLogin js-sub" value="登录"></a>
            <a class="db" href="register.html"><input type="button"  class="g9a bgwh db btnRegister" value="注册"></a>
        </form>
    </div>
    <div class="row fotBot f16 wh">
        <h3 class="f16">企业自助推广营销平台版权所有</h3>
        <p>地址：上海嘉定南翔银翔路819弄中暨大厦主楼三楼维沃珂</p>
        <!--<p class="dib">电话：0000-0000-88</p>-->
        <!--<span class="g9a">传真：0000-0000-88</span>-->
        <!--<p class="dib">邮箱：9937088888@163.com</p>-->
    </div>
</div>
<!--报名表单-->
<!--<div class="apply rel">-->
    <!--<h4 class="g9a">报名信息</h4>-->
    <!--<img src="" alt="">-->
<!--</div>-->
<!--报名表单 end-->
<script src="__PUBLIC__/scripts/RegExp.js"></script>
<script>
    $(document).ready(function() {
        //记住密码
        $('.remPass').click(function(){
            $(this).find('a').toggleClass('confirm');
        });
        //登录
        $(".js-sub").click(function(){
           var phone = $(".js-name").val();
            var pwd = $(".js-pwd").val();
            var status = true;
            var msg = '';
            if(phone==''){
                status = false;
                msg+="手机号,";
            }
            if(pwd==''){
                status = false;
                msg+="密码,";
            }
            if(!status){
                var preg = /,$/gi;
                msg = msg.replace(preg,'');
                msg+="不能为空";
                alert(msg);
            }else{
                $("#loginform").submit();
            }

        });
    });
</script>
</body>
</html>