<include file="Public/header"/>
    <link href="__PUBLIC__/styles/login.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/register.css" rel="stylesheet" />
    <title>注册</title>
</head>
<body>
<!--注册页面register-->
<div>
    <!--登录页面-->
    <div class="row bgwh">
        <div class="logo col-xs-10 col-xs-offset-1  col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
            <a class="dib logoImg" href="{:U('Home/Index/index')}"><img class="img-responsive" src="__PUBLIC__/images/login/logo.jpg" alt="logo"></a>
            <p class="f20 g3c dib">企业自助推广营销平台欢迎您！</p>
        </div>
    </div>
    <div class="row loginForm">
        <!--注册表单填写-->
        <form class="bgwh col-xs-12">
            <ul id="tabMenu" class="tabMenu fn-clear">
                <li class="f18 gc4 user l js-company" style="width:100%;">企业注册</li>
                <!--<li class="f18 gc4 l user js-person">个人注册</li>-->
            </ul>
            <ul id="loginform"  class="information rel">
                <!--企业注册-->
                <li class="f16 g3c abs js-cvalue">
                    <input class="regName js-name"  type="text" placeholder="请输入企业名">
                    <input class="regPhone js-phone" type="text" placeholder="请输入电话">
                    <div class="rel identifyingCode">
                        <input id="phone" class="js-code" name="code" type="text" placeholder="请输入验证码">
                        <input class="abs code f14 wh js-code-click" type="button" value="获取验证码">
                    </div>
                    <input class="regKey js-pwd" type="password" placeholder="请输入密码">
                    <input class="regKey js-repwd" type="password" placeholder="请确认密码">
                    <input class="regKey js-role" type="hidden" value="2">
                    <div class="remPass rel">
                        <a class="dib abs js-abs js-abs-click" href="javascript:;"><input class="abs"  type="radio"></a>
                        <label class="js-agreement" onclick="window.open('/index.php/Home/User/agreement','_blank')">我已阅读并同意《企业自助推广营销平台使用协议》</label>
                    </div>
                    <!--<a class="db" href="login.html"><button class="b9a wh db btnLogin">登录</button></a>-->
                    <a class="db" href="javascript:;"><input type="button"  class="b9a wh db btnRegister js-sub" value="注册"></a>
                    <a class="db" href="login.html"><input type="button" class="g9a bgwh db btnLogin" value="登录"></a>
                </li>
                <!--&lt;!&ndash;个人注册&ndash;&gt;-->
                <!--<li class="f16 g3c abs js-pvalue information_per">-->
                    <!--<input class="regName js-name" type="text" placeholder="请输入用户名">-->
                    <!--<input class="regPhone js-phone" type="text" placeholder="请输入电话">-->
                    <!--<div class="rel identifyingCode">-->
                        <!--<input  class="js-code" name="code" type="text" placeholder="请输入验证码">-->
                        <!--<input class="abs code f14 wh js-code-click" type="button" value="获取验证码">-->
                    <!--</div>-->
                    <!--<input id="keyword" class="regKey js-pwd" type="password" placeholder="请输入密码">-->
                    <!--<input class="regKey js-repwd" type="password" placeholder="请确认密码">-->
                    <!--<input class="regKey js-role" type="hidden" value="1">-->
                    <!--<div class="remPass rel">-->
                        <!--<a class="dib abs js-abs" href="javascript:;"><input class="abs"  type="radio"></a>-->
                        <!--<label>我已阅读并同意《企业自助推广营销平台使用协议》</label>-->
                    <!--</div>-->
                    <!--<a class="db" href="javascript:;"><input type="button"  class="b9a wh db btnRegister js-sub" value="注册"></a>-->
                    <!--<a class="db" href="login.html"><input type="button" class="g9a bgwh db btnLogin" value="登录"></a>-->
                <!--</li>-->
            </ul>
        </form>
    </div>
   <include file="Public/footer3"/>
    <style>
        .footer{margin-top:0;}
    </style>
</div>
<script>
    $(document).ready(function() {
        //记住密码
        $('.js-abs-click').click(function(){
            $(this).toggleClass('confirm');
        });
        $(".js-agreement").click(function(){
//           alert('a');
        });
//        //tab切换
//        $("#tabMenu li").click(function(){
//            $(this).addClass('user').siblings().removeClass('user');
//            var index = $(this).index();
//            $("#loginform li").eq(index).css("display","block").siblings().css("display","none");
//        });
        //验证码
        $('.js-code-click').click(function(){
            var ads = $(".js-abs").hasClass("confirm");
            if($(".js-company").hasClass("user")){
                var pid = "js-cvalue";
            }else{
                var pid = "js-pvalue";
            }
            var phone = $("."+pid+" .js-phone").val();
            var status = true;
            var preg = /^1[34578]\d{9}$/;
            var obj = $(this);
            if(phone==''){
                status = false;
                alert('手机号不能为空');
            }else if(!(preg.test(phone))){
                status = false;
                alert('手机号格式不正确');
            }
//            obj.attr("disabled","disabled");/*按钮倒计时*/
//            console.log(obj);
//            console.log(this);
//            var time = 60;
//            var set=setInterval(function(){
//                obj.val(--time+"(s)");
//            }, 1000);/*等待时间*/
//            console.log(obj);
//            setTimeout(function(){
//                obj.attr("disabled",false).val("重新获取验证码");/*倒计时*/
//                clearInterval(set);
//            }, 60000);
//            console.log(obj);
//            return false;
            if(status){
                $.post("{:U('Home/User/sendCode')}",{phone:phone},function(data){
                    if(data.status){
                        obj.attr("disabled","disabled");/*按钮倒计时*/
                        var time = 60;
                        var set=setInterval(function(){
                            obj.val(--time+"(s)");
                        }, 1000);/*等待时间*/
                        setTimeout(function(){
                            obj.attr("disabled",false).val("重新获取验证码");/*倒计时*/
                            clearInterval(set);
                        }, 60000);
                        alert(data.msg);
                    }else{
                        alert(data.msg);
                    }
                });
                $(this).css({'background':'#eee','color':'#9ab126'});
            }
        });
        //注册
        $(".js-sub").click(function(){
           var ads = $(".js-abs").hasClass("confirm");
                if($(".js-company").hasClass("user")){
                    var pid = "js-cvalue";
                }else{
                    var pid = "js-pvalue";
                }
                var name = $("."+pid+" .js-name").val();
                var phone = $("."+pid+" .js-phone").val();
                var pwd = $("."+pid+" .js-pwd").val();
                var repwd = $("."+pid+" .js-repwd").val();
                var role = $("."+pid+" .js-role").val();
                var code = $("."+pid+" .js-code").val();
                var flag = true;
                var msg ='';
                if(name==''){
                    flag = false;
                    msg+="用户名不能为空";
                }
                if(phone==''){
                    flag = false;
                    msg+="手机号不能为空";
                }else{
                    var preg = /^1[34578]\d{9}$/gi;
                    if(!(preg.test(phone))){
                        flag = false;
                        msg+="手机号格式不正确";
                    }
                }
                if(pwd==''){
                    flag = false;
                    msg+="密码不为空";
                }else if(pwd.length<6){
                    flag = false;
                    msg+="密码长度不能小于6位";
                }else if(pwd!==repwd){
                    flag = false;
                    msg+="密码前后不一致";
                }
                if(role==''){
                    flag = false;
                    msg+="身份未选择";
                }
                if(code==''){
                    flag = false;
                    msg+="验证码不能为空";
                }
                if(!flag){
                    alert(msg);
                }else {
                    if (!ads) {
                        alert("请点击确认协议");
                    } else {
                        $.post("{:U('Home/User/register')}",{name:name,code:code,phone:phone,pwd:pwd,repwd:repwd,role:role},function(data){
                      if(data.status==1){
                        alert(data.msg);
                        location.href="{:U('Home/User/login')}";
                      }else{
                          alert(data.msg);
                      }
                        })
                    }
                }
        });
    });
</script>
</body>
</html>