<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/moments.css">
    <title>精彩瞬间</title>
</head>
<body>
<!--精彩瞬间moments-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <include file="Public/top1"/>
</div>
<!--header登录注册 end-->
<!--header logo-->
<div class="logo bgwh fn-clear">
    <div>
        <a class="l dib" href="#"><img src="__PUBLIC__/images/index/logo.png" alt="logo"></a>
        <h1 class="f40 dib g9a b">企业自助营销推广平台</h1>
    </div>
</div>
<!--header logo end-->
<!--分割线-->
<div class="line"></div>
<!--分割线 end-->
<!--content-->
<div class="content">
    <!--模块一-->
    <div class="model-one bgwh g3c contentL" >
        <h3 class="rel">{$course.title}<i class="dib g8c">Promotion</i></h3>
        <div id="edit">{$course.content}</div>
        <!--<div class="video videoO rel">-->
            <!--<video id="video">-->
                <!--<source src="../images/trained/video.mp4" type="video/mp4" />-->
                <!--<source src="../images/trained/video.ogg" type="video/ogg" />-->
                <!--<source src="../images/trained/video.webm" type="video/webm" />-->
                <!--<object data="../images/trained/video.mp4" width="242" height="188">-->
                    <!--<embed src="../images/trained/video.swf" width="242" height="188"/>-->
                <!--</object>-->
            <!--</video>-->
            <!--<div class="play abs" id="play"><img src="../images/trained/play.png" alt=""></div>-->
        <!--</div>-->
        <h4>{$course.intro}</h4>
        <!--<div class="video videoT rel">-->
            <!--<video id="videoT" >-->
                <!--<source src="../images/trained/video.mp4" type="video/mp4" />-->
                <!--<source src="../images/trained/video.ogg" type="video/ogg" />-->
                <!--<source src="../images/trained/video.webm" type="video/webm" />-->
                <!--<object data="../images/trained/video.mp4" width="242" height="188">-->
                    <!--<embed src="../images/trained/video.swf" width="242" height="188"/>-->
                <!--</object>-->
            <!--</video>-->
            <!--<div class="play abs" id="playT"><img src="../images/trained/play.png" alt=""></div>-->
        <!--</div>-->
        <!--<h4>上海市维沃珂企业自助营销平台培训精彩瞬间</h4>-->
        <!--<div class="video videoS rel">-->
            <!--<video id="videoS">-->
                <!--<source src="../images/trained/video.mp4" type="video/mp4" />-->
                <!--<source src="../images/trained/video.ogg" type="video/ogg" />-->
                <!--<source src="../images/trained/video.webm" type="video/webm" />-->
                <!--<object data="../images/trained/video.mp4" width="242" height="188">-->
                    <!--<embed src="../images/trained/video.swf" width="242" height="188"/>-->
                <!--</object>-->
            <!--</video>-->
            <!--<div class="play abs" id="playS"><img src="../images/trained/play.png" alt=""></div>-->
        <!--</div>-->
        <!--<h4>上海市维沃珂企业自助营销平台培训精彩瞬间</h4>-->
        <!--<div class="share-platform dib">-->
                <!--<p class="dib">分享：</p>-->
                <!--<div class="bdsharebuttonbox dib">-->
                    <!--<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>-->
                    <!--<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>-->
                    <!--<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>-->
                <!--</div>-->
            <!--</div>-->
    <!--</div>-->
    <!--模块二-->
    <div class="model-two bgwh">
        <div class="fn-clear title">
            <h3 class="g3c rel l">企业培训精彩瞬间<i class="dib g8c f12 hidden-xs">splendid moment</i></h3>
            <ul class="r business-click">
                <input type="hidden" class="js-review-num" value="{$num}"/>
                <li class="dib" id="left"><img src="__PUBLIC__/images/trained/left.png" alt="left"></li>
                <li class="dib" id="right"><img src="__PUBLIC__/images/trained/right.png" alt="right"></li>
            </ul>
        </div>
        <div class="business-over">
            <ul id="business" class="business fn-clear">
                <foreach name="pushs" item="vo">
                    <li class="f14 g3c l">
                        <a href="{:U('Home/Course/moments',array('id'=>$vo['id']))}"><img src="__PUBLIC__{$vo.picture}" alt="pic"/></a>
                        <p class="hidden-xs">{$vo.title}</p>
                    </li>
                </foreach>
                <!--<li class="f14 g3c l">-->
                    <!--<a><img src="__PUBLIC__/images/trained/moments02.jpg" alt="pic"/></a>-->
                    <!--<p>团队展示</p>-->
                <!--</li>-->
                <!--<li class="f14 g3c l">-->
                    <!--<a><img src="__PUBLIC__/images/trained/moments03.jpg" alt="pic"/></a>-->
                    <!--<p>企业内训</p>-->
                <!--</li>-->
                <!--<li class="f14 g3c l">-->
                    <!--<a><img src="__PUBLIC__/images/trained/moments04.jpg" alt="pic"/></a>-->
                    <!--<p>团队作业点评</p>-->
                <!--</li>-->
                <!--<li class="f14 g3c l">-->
                    <!--<a><img src="__PUBLIC__/images/trained/moments01.jpg" alt="pic"/></a>-->
                    <!--<p>团队展示</p>-->
                <!--</li>-->
                <!--<li class="f14 g3c l">-->
                    <!--<a><img src="__PUBLIC__/images/trained/moments02.jpg" alt="pic"/></a>-->
                    <!--<p>企业内训</p>-->
                <!--</li>-->
                <!--<li class="f14 g3c l">-->
                    <!--<a><img src="__PUBLIC__/images/trained/moments03.jpg" alt="pic"/></a>-->
                    <!--<p>团队作业点评</p>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>
    </div>
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<!--共用js-->
<script src="__PUBLIC__/scripts/base.js"></script>
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
<!--视频播放-->
<script src="__PUBLIC__/scripts/trained.js"></script>
<!--分享-->
<script src="__PUBLIC__/scripts/ZeroClipboard.js"></script>
<script src="__PUBLIC__/scripts/postDetails.js"></script>
<script></script>
</body>
</html>