<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/personal.css">
    <title>订单管理</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<include file="Public/top"/>
<!--header logo end-->
<!--导航条-->
<include file="Public/nav"/>
<div class="carousel slide" id="myCarousel">
    <div class="carousel-inner imgco">
        <div class="item active">
            <img src="__PUBLIC__/images/personal/banner.png" alt="banner"/>
        </div>
    </div>
</div>
<!--导航条 end-->

<!--主要内容部分 start-->
<section>
    <div class="main">
        <!--左边导航-->
        <div class="leftNav">
            <ul>
                <if condition="$Think.session.userinfo.role eq 1">
                    <li ><a class="poi g3c" href="{:U('Home/User/editInfo')}">用户资料</a></li>
                    <else/>
                    <li class="poi"><a  class="g3c" href="{:U('Home/Company/editComInfo')}">企业资料</a></li>
                </if>
                <li ><a class="poi g3c" href= "{:U('Home/Activity/activityMange')}" >活动管理</a></li>
                <li ><a class="b9a poi wh" href="{:U('Home/Order/orderMange')}" >订单管理</a></li>
                <li ><a class="poi g3c" href="{:U('Home/Vcoin/myWallet')}">我的维币</a></li>
            </ul>
        </div>
        <!--右边切换-->
        <!--订单管理-->
        <div class="rightTab activity orderMange">
            <div class="tabTitle ">
                <p class="b rel lastBottom">
                    <span class="actLi g9a poi">商品订单</span>
                    <span class="actLi g9 poi">活动订单</span>
                    <span class="actLi g9 poi">课程订单</span>
                </p>
            </div>
            <div class="tabDetail signMangeTab">
                <!--<div class="searchWrap">-->
                    <!--<input class="search bdd" type="search" />-->
                    <!--<select class="allOrder bdn bde" >-->
                        <!--<option value="">全部订单</option>-->
                    <!--</select>-->
                <!--</div>-->
                <table class="table orderList actMangeTab ">
                        <tr class="bgf0 orderFirst">
                            <td class="orderTitle">名称</td><td class="num">数量</td>
                            <td class="receiver">收货人</td><td class="money">金额</td><td class="status1">状态</td><td class="operate1">操作</td>
                        </tr>
                        <tr class="space"><td colspan="6"></td></tr>
                    <foreach name="goods" item="v">
                        <tr>
                        <tr class="bgf0" >
                            <td colspan="6" style="text-align: left;">
                                订单号: <span class="orderNum ">{$v.ordernum}</span>
                                下单时间：<span class="orderTime">{$v.orderdate|date='Y-m-d H:i',###}</span>
                            </td>
                        </tr>
                            <td class="orderName">
                                <div class="orderImg"><img src="__PUBLIC__{$v.picture}" width="100%"></div>
                                <div class="name">{$v.goodname}</div>
                            </td>
                            <td>X1</td>
                            <td class="receiver">{$v.name}</td>
                            <td class="sinMoney">￥{$v.amount}</td>
                            <td>
                                <div class="statusSet">
                                    <div class="unPay rfc">
                                       <if condition="$v.orderstatus eq 0">
                                           待付款
                                           <elseif condition="$v.orderstatus eq 1"/>
                                           待发货
                                           <elseif condition="$v.orderstatus eq 2"/>
                                            待收货
                                           <elseif condition="$v.orderstatus eq 3"/>
                                           订单已取消
                                           <elseif condition="$v.orderstatus eq 4"/>
                                           已完成
                                           <else/>
                                       </if>
                                    </div>
                                    <!--<div class="lookOrder">查看订单</div>-->
                                </div>
                            </td>
                            <td >
                                <div class="operate" >
                                    <if condition="$v.orderstatus eq 0">
                                        <p> <a href="{:U('Home/Wxpay/payVcoin',array('type'=>4,'ordernum'=>$v['ordernum']))}"><input class="pay bdn b9a wh" type="button" value="立即付款"/></a></p>
                                        <p> <a href="{:U('Home/Shop/closeOrder',array('orderId'=>$v['id']))}"><input class="pay bdn b9a wh" type="button" value="取消订单"/></a></p>
                                        <elseif condition="$v.orderstatus eq 2"/>
                                        <p> <a href="{:U('Home/Order/confirmOrder',array('id'=>$v['id'],'type'=>$v['type']))}" onclick="return confirm('确认收货吗？');"><input class="pay bdn b9a wh" type="button" value="确认收货"/></a></p>
                                        <elseif condition="$v.orderstatus eq 4"/>
                                        <p><input class="b9a wh" type="button" value="交易完成"/></a></p>
                                        <else/>
                                    </if>
                                    <!--<p class="cancel"> 取消订单</p>-->
                                </div>
                            </td>
                        </tr>
                        <tr class="space"><td colspan="6"></td></tr>
                    </foreach>
                </table>
                <table class="table  actMangeTab actOrder dn" >
                    <tr class="bgf0 orderFirst">
                        <td class="orderTitle">名称</td><td class="num">时间</td>
                        <td class="receiver">地点</td><td class="money">金额</td><td class="operate1">操作</td>
                    </tr>
                    <foreach name="activitys" item="val">
                        <tr class="space"><td colspan="5"></td></tr>
                        <tr>
                            <td class="orderName" valign="bottom">
                                {$val.title}
                            </td>
                            <td>X1</td>
                            <td class="receiver">{$val.city}</td>
                            <td >￥{$val.amount}</td>
                            <td >
                                <if condition="$val.orderstatus eq 0">
                                    <p> <a href="{:U('Home/Activity/actDetail',array('id'=>$val['shopid']))}"><input class="bdn b9a wh" type="button" value="报名失败，前去报名"/></a></p>                     <else/>
                                    <a href="{:U('Home/Activity/actDetail',array('id'=>$val['shopid']))}"><input class="bdn b9a wh" type="button" value="查看详情"/></a></p>
                                </if>
                            </td>
                        </tr>
                    </foreach>
                </table>
                <table class="table  actMangeTab actOrder dn">
                    <tr class="bgf0 orderFirst">
                        <td class="orderTitle">名称</td><td class="num">时间</td>
                        <td class="receiver">老师</td><td class="money">金额</td><td class="operate1">操作</td>
                    </tr>
                    <foreach name="coures" item="v">
                        <tr class="space"><td colspan="5"></td></tr>
                        <tr>
                            <td class="orderName" valign="bottom">
                                {$v.title}
                            </td>
                            <td>&nbsp&nbspX1&nbsp&nbsp</td>
                            <td class="receiver">陈&nbsp老&nbsp师</td>
                            <td >￥{$v.amount}</td>
                            <td >
                                <if condition="$v.orderstatus eq 0">
                                <p> <a href="{:U('Home/Course/applyPay',array('id'=>$v['id']))}"><input class="bdn b9a wh" type="button" value="付款"/></a></p></if>
                                <p class="cancel"> <a href="{:U('Home/Course/trainedDetails',array('id'=>$v['shopid']))}">查看详情</a></p></if>
                            </td>
                        </tr>
                    </foreach>
                    <!--<tr >-->
                        <!--<td class="orderName">-->
                            <!--商品名称商品名称商品名称-->
                        <!--</td>-->
                        <!--<td>&nbsp;X1&nbsp;</td>-->
                        <!--<td class="receiver">张老师</td>-->
                        <!--<td >￥658.00</td>-->
                        <!--<td >-->
                            <!--<p> <input class="receive bdn b9a wh" type="button" value="报名成功"/></p>-->
                            <!--<p class="cancel"> 查看详情</p>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr class="space"><td colspan="5"></td></tr>-->
                </table>
            </div>
        </div>
    </div>
</section>
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<!--主要内容部分 end-->
<script src="__PUBLIC__/scripts/distpicker.data.js"></script>
<script src="__PUBLIC__/scripts/distpicker.js"></script>
<script src="__PUBLIC__/scripts/personal.js"></script>
<script>
    $('.leftNav li:nth-child(3) a').hover(function () {
        $(this).css('color','#fff');
    });
</script>
</body>
</html>