<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="__PUBLIC__/scripts/html5shiv.js"></script>
    <script src="__PUBLIC__/scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="__PUBLIC__/scripts/common.js"></script>
    <script src="__PUBLIC__/scripts/jquery-1.12.4.min.js"></script>
    <link href="__PUBLIC__/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/base.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="styles/reset.css"/>-->
    <link rel="stylesheet" href="__PUBLIC__/styles/footer.css"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/personal.css">
    <title>订单管理-支付成功</title>
</head>
<body>
<!--维沃柯首页-->
<!--header登录注册-->
<div class="topNavBg fn-clear">
    <include file="Public/top1"/>

</div>
<section>
    <div class="main">
        <div class=" payMoney paySuccess bgwh">
            <div class="tabDetail g6">
                <div>
                    <img src="__PUBLIC__/images/personal/pay_success.png" alt=""/>
                </div>
                <p class="g3">支付成功！</p>
                <div>
                    <input class="wh b9a bdn" type="button" value="返回店铺"/>
                    <input class="g9a bdn bgwh back" type="button" value="留在订单管理"/>
                </div>
            </div>
        </div>
    </div>
</section>
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<script src="__PUBLIC__/scripts/distpicker.data.js"></script>
<script src="__PUBLIC__/scripts/distpicker.js"></script>
<script src="__PUBLIC__/scripts/personal.js"></script>
</body>
</html>