<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/shopsForm.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/businessForm.css">
    <title>企业入驻申请</title>
</head>
<body>
<!--企业入驻申请businessForm-->
<!--header登录注册-->
<include file="Public/top"/>
<!--header logo end-->
<!--导航条-->
<include file="Public/nav" />
<!--导航条 end-->
<!--content-->
<form action="{:U('Home/company/apply')}" id="myForm" method="post" enctype="multipart/form-data" class="content g3c bgwh">
    <h3 class="g3c rel">入驻申请信息<i class="dib g8c f12">Application</i></h3>
    <div>
        <label for="name">公司全称</label>
        <input id="name" name="name" notNull="公司全称" class="required" type="text">
    </div>
    <div>
        <label>类型</label>
        <select name="type" notNull="类型" class="required">
            <option value="">选择企业类型</option>
            <foreach  name="types" item="v">
                <option value="{$v.name}">{$v.name}</option>
            </foreach>
        </select>
        <!--<input type="text" placeholder="请输入公司类型" >-->
    </div>
    <div>
        <label>营业执照号</label>
        <input type="text" notNull="营业执照号" class="" name="licensenum" placeholder="请输入公司类型" >
    </div>
    <div>
        <label>营业执照</label>
        <div class="dib upImg fn-clear">
            <lable  class="imgdiv l" id="imgdiv" for="up_img"><img id="imgShow" width="100" height="100" /></lable>
            <div class="l">
                <p class="g8c  hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>
                <p class="g8c  hidden-xs">推荐尺寸 472*280 px的图片</p>
                <p class="g8c  hidden-xs">温馨提示：一张漂亮的海报，会起到意想不到的效果，</p>
                <p class="g8c  hidden-xs">它会让你的活动显得更加有吸引力，更有品质；</p>
                <p class="g8c  hidden-xs">它会让你的活动显得更加有吸引力，更有品质；</p>
                <div class="up_img rel">
                    <input type="file" id="up_img" notNull="营业执照图片"  class="" name="picture[0]" value="上传"/>
                    <label class="abs" for="up_img">上传</label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <label for="tel">主营业务</label>
        <input id="tel"  name="business" type="text">
    </div>
    <div>
        <label for="introduce">企业简介</label>
        <textarea id="introduce" name="intro" ></textarea>
        <div class="dib g8c explain fn-clear">
            <h4 class="l hidden-xs">上传海报:</h4>
            <ul class="l">
                <li class="hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</li>
                <li class="hidden-xs">推荐尺寸 472*280 px的图片</li>
                <li class="hidden-xs">温馨提示：一张漂亮的海报，会起到意想不到的效果,</li>
                <li class="hidden-xs">它会让你的活动显得更加有吸引力，更有品质；</li>
                <li class="hidden-xs">这将会为您的活动带来更多的用户报名哦！</li>
            </ul>
        </div>
    </div>
    <div>
        <label>logo图片</label>
        <div class="dib upImg fn-clear">
            <lable  class="imgdiv l" id="logodiv" for="up_img"><img id="logoShow" width="100" height="100" /></lable>
            <div class="l">
                <p class="g8c  hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>
                <p class="g8c  hidden-xs">推荐尺寸 472*280 px的图片</p>
                <p class="g8c  hidden-xs">温馨提示：一张漂亮的海报，会起到意想不到的效果，</p>
                <p class="g8c  hidden-xs">它会让你的活动显得更加有吸引力，更有品质；</p>
                <p class="g8c  hidden-xs">它会让你的活动显得更加有吸引力，更有品质；</p>
                <div class="up_img rel">
                    <input type="file" id="up_logo" notNull="企业LOGO" class="" name="picture[1]" value="上传"/>
                    <label class="abs" for="up_logo">上传</label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <label>网址</label>
        <input type="text" name="link" placeholder="请输入公司网址" >
    </div>
    <div class="registered">
        <label>地址</label>
        <div class="dib">
            <div class="address" data-toggle="distpicker">
                <select name="prov"  class="dib select f16">
                    <option>请选择</option>
                </select>
                <span class="f16 g3c province dib">省</span>
                <select name="city" notNull="地址" class="dib select f16">
                    <option>请选择</option>
                </select>
                <span class="f16 g3c">市</span>
            </div>
            <textarea name="address" notNull="详细地址" class="" placeholder="请输入详细地址"></textarea>
        </div>
    </div>
    <div>
        <label>联系人</label>
        <input type="text" name="contact" notNull="联系人" class="required" placeholder="请输入联系人" >
    </div>
    <div>
        <label>联系电话</label>
        <input type="text" name="mobile" notNull="联系电话" class="required" placeholder="请输入电话" >
    </div>
    <a href="javascript:void(0)">
        <input class="b9a wh js-sub" type="button" value="提交申请并支付">
        <span class="f18 g8c red hidden-xs">完善资料及支付100元后，即可自助建站，开展推广等</span>
    </a>
</form>
<!--content end-->
<!--底部导航&footer-->
<include file="Public/footer"/>
<!--底部导航&footer end-->
<!--共用js-->
<script src="__PUBLIC__/scripts/base.js"></script>
<!--表单验证-->
<script src="__PUBLIC__/scripts/talents.js"></script>
<!--图片上传-->
<script src="__PUBLIC__/scripts/uploadPreview.js" ></script>
<script>
    $(document).ready(function () {
        $(".navbar-nav li:nth-child(2)").mouseout(function () {
            $(this).addClass('listBg') ;
        });
        // 上传图片预览
        window.onload = function () {
            new uploadPreview({ UpBtn: "up_img", DivShow: "imgdiv", ImgShow: "imgShow" });
            new uploadPreview({ UpBtn: "up_logo", DivShow: "logodiv", ImgShow: "logoShow" });
        };
        $(".js-sub").click(function(){
            verification();
        });
    })
</script>
<!--城市选择-->
<script src="__PUBLIC__/scripts/distpicker.data.js"></script>
<script src="__PUBLIC__/scripts/distpicker.js"></script>
</body>
</html>