<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="__PUBLIC__/scripts/html5shiv.min.js"></script>
    <script src="__PUBLIC__/scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="__PUBLIC__/scripts/common.js"></script>
    <script src="__PUBLIC__/scripts/jquery-1.12.4.min.js"></script>
    <link href="__PUBLIC__/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/styles/footer.css">
    <link href="__PUBLIC__/styles/template.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/shopsManagement.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/styles/businessManagement.css">
    <title>企业管理</title>
</head>
<body>
<div class="bgwh">
    <!--企业理businessManagement-->
    <include file="Public/top1"/>
    <hr>
    <div class="shops fn-clear">
        <!--<input class="f16 wh l" type="button" value="管理店铺">-->
        <a href="javascript:void(0);"><img src="__PUBLIC__{$company.logo}" alt="logo"></a>
        <!--<div class="r search rel hidden-xs"><input class="f16 g3c" type="search" placeholder="搜索您感兴趣的内容"></div>-->
    </div>
    <!--导航-->
    <!--<div class=" navbar-nav  navbar-inverse">-->
        <!--<div class="navbar-header">-->
            <!--<button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        <!--</div>-->
        <!--&lt;!&ndash;折叠部分&ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="mycollapse" >-->
            <!--&lt;!&ndash;当屏幕宽度小于768px时 会将ul列表隐藏&ndash;&gt;-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="indexNav rel"><a href="#">首页</a></li>-->
                <!--<li><a href="#">全部商品 </a></li>-->
                <!--<li><a href="#">最新商品 </a></li>-->
                <!--<li><a href="#">店铺活动</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--导航 end-->
</div>
<!--banner上传-->
<div id="banner" class="dib upImg fn-clear rel">
    <form action="{:U('Home/Company/editCompany')}" method="post" id="js-edit-form" enctype="multipart/form-data">
    <if condition="$company.banner eq ''">
        <lable  class="imgdiv" id="imgdiv" for="up_img"><img id="imgShow" class="imgShow" src="__PUBLIC__/images/exhibition/banner.jpg"  /></lable>
        <else/>
        <lable  class="imgdiv" id="imgdiv" for="up_img"><img id="imgShow" class="imgShow" src="__PUBLIC__{$company.banner}"  /></lable>
    </if>
    <input class="abs up_img" name="banner" type="file" id="up_img" value="上传"/>
    <label class="abs upBtn f22" for="up_img">上传图片</label>
</div>
<!--banner上传 end-->
<!--content-->
<div class="content bgwh fn-clear">
    <ul class="contentL l" id="">
        <li class="f18 g3c l"><a href="{:U('Home/Company/businessManagement')}">公司资料</a></li>
        <li class="f18 g3c l"><a href="{:U('Home/Company/newsManagement')}">新闻管理</a></li>
        <li class="f18 g3c l"><a href="{:U('Home/Company/productManagement')}">产品管理</a></li>
        <li class="f18 g3c balckBg l"><a href="{:U('Home/Company/articleManagement')}">帖子管理</a></li>
    </ul>
    <ul class="contentR r rel" id="content">
        <!--产品管理-->
        <li class="abs model-two model-three">
            <div class="title fn-clear">
                <h3 class="f18 rel l">帖子管理</h3>
                <a class="f14 g8c r" href="{:U('Home/Article/posted')}">发布帖子</a>
            </div>
            <ul class="product fn-clear">
                <foreach name="articles" item="v" key="k">
                    <li class="l <?php if(($k+1)%4==0){echo 'mr0';} ?>">
                        <img src="__PUBLIC__{$v.picture}" alt="pic">
                        <h4 class="f16 g3c">{:mb_substr($v['title'],0,15)}</h4>
                        <ul>
                            <li  onclick="window.open('/index.php/Home/Article/posted/id/{$v.articleid}','_self')"  class="f14 g3c dib edit">编辑</li>
                            <li value="{$v.articleid}" class="f14 g3c dib js-article-del delete">删除</li>
                        </ul>
                    </li>
                </foreach>
            </ul>
            <div class="template_page paging" id="paging" style="font-size: 20px;text-align: center;">
                {$page}
            </div>
        </li>
    </ul>
</div>
<!--footer-->
<include file="Public/footer3"/>
<!--footer end-->
<!--图片上传-->
<script src="__PUBLIC__/scripts/uploadPreview.js" ></script>
<script src="__PUBLIC__/scripts/shopsManagement.js"></script>
<!--城市选择-->
<script src="__PUBLIC__/scripts/distpicker.data.js"></script>
<script src="__PUBLIC__/scripts/distpicker.js"></script>
<script type="text/javascript">
//    $(function(){
//        //编辑企业资料
//       $(".js-sub").click(function(){
//           $("#js-edit-form").submit();
//       });
//    });
//    //省份变换改变城市列表
//    $(".js-provs").change(function(){
//        var id = $(this).val();
//        $.post("{:U('Home/Dict/getAreas')}",{'id':id},function(data){
//            $('.js-citys').html('');
//            var htmls = "<option value=''>请选择</option>";
//            $.each(data,function(i,vo){
//                htmls+="<option value="+vo.name+">"+vo.name+"</option>";
//            });
//            $('.js-citys').append(htmls);
//        })
//    });
</script>
</body>
</html>