<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="__PUBLIC__/scripts/html5shiv.min.js"></script>
    <script src="__PUBLIC__/scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="__PUBLIC__/scripts/common.js"></script>
    <script src="__PUBLIC__/scripts/jquery-1.12.4.min.js"></script>
    <link href="__PUBLIC__/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/styles/footer.css">
    <link href="__PUBLIC__/styles/template.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/shopsManagement.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/styles/businessManagement.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/editComInfo.css">
    <title>企业资料编辑</title>
</head>
<body>
<div class="bgwh">
    <!--企业理businessManagement-->
  <include file="Public/top1"/>
    <hr>
    <div class="shops fn-clear">
        <!--<input class="f16 wh l" type="button" value="管理店铺">-->
        <a href="javascript:void(0);"><img src="__PUBLIC__{$company.logo}" alt="logo"></a>
        <!--<div class="r search rel hidden-xs"><input class="f16 g3c" type="search" placeholder="搜索您感兴趣的内容"></div>-->
    </div>
    <!--导航-->
    <!--<div class=" navbar-nav  navbar-inverse">-->
        <!--<div class="navbar-header">-->
            <!--<button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        <!--</div>-->
        <!--&lt;!&ndash;折叠部分&ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="mycollapse" >-->
            <!--&lt;!&ndash;当屏幕宽度小于768px时 会将ul列表隐藏&ndash;&gt;-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="indexNav rel"><a href="#">首页</a></li>-->
                <!--<li><a href="#">全部商品 </a></li>-->
                <!--<li><a href="#">最新商品 </a></li>-->
                <!--<li><a href="#">店铺活动</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--导航 end-->
</div>
<!--banner上传-->
<div id="banner" class="dib upImg fn-clear rel">
    <form action="{:U('Home/Company/editCompany')}" method="post" id="js-edit-form" enctype="multipart/form-data">
    <if condition="$company.banner eq ''">
        <lable  class="imgdiv" id="imgdiv" for="up_img"><img id="imgShow" class="imgShow" src="__PUBLIC__/images/exhibition/banner.jpg"  /></lable>
        <else/>
        <lable  class="imgdiv" id="imgdiv" for="up_img"><img id="imgShow" class="imgShow" src="__PUBLIC__{$company.banner}"  /></lable>
    </if>
    <input class="abs up_img" name="banner" type="file" id="up_img" value="上传"/>
    <label class="abs upBtn f22" for="up_img">上传图片</label>
</div>
<!--banner上传 end-->
<!--content-->
<div class="content fn-clear">
    <ul class="contentL l bgwh" id="tab-icons">
        <li class="b9a poi" style="color:white;"><a class="wh "  href="{:U('Home/Company/editComInfo')}">企业资料</a></li>
        <li><a class="g3c" href="{:U('Home/Activity/activityMange')}">活动管理</a></li>
        <li><a class="g3c" href="{:U('Home/Order/orderMange')}">订单管理</a></li>
        <li ><a class="g3c" href="{:U('Home/Vcoin/myWallet')}">我的维币</a></li>
    </ul>
    <ul class="contentR l rel bgwh" id="content">
        <!--公司资料-->
        <li class="g3c abs model-one">
            <h3 class="f18 rel">基本信息<a href="{:U('Home/Company/company',array('id'=>$company['companyid']))}"><span class="f26 b rel fr">返回主页</span></a></h3>
            <div>
                <label class="f16">公司全称</label>
                <input class="f16 required" value="{$company.name}" name="name" type="text">
                <span class="f16 g8c dib hidden-xs">例如：某某信息技术有限公司</span>
            </div>
            <div>
                <label class="f16">公司类型</label>
                <select name="type" class="comtype">
                    <if condition="$company.type eq ''">
                        <option>请选择</option>
                    </if>
                    <foreach name="types" item="v">
                        <option value="{$v.name}" <if condition="$company.type eq $v['name']">selected='selected'</if> >{$v.name}</option>
                    </foreach>
                </select>
                <!--<input class="f16"  type="text" placeholder="请输入公司类型">-->
            </div>
            <div>
                <label class="f16">营业执照号</label>
                <input class="f16" value="{$company.licensenum}" name="licensenum" type="text">
            </div>
            <div>
                <label class="f16">营业执照</label>
                <div class="dib upImgT fn-clear">
                    <lable class="l  logoDiv" id="licenseDiv"><img src="__PUBLIC__{$company.licensepic}" id="licenseImg" class="logoImg" /></lable>
                    <div class="l f16 upImgTitle">
                        <!--<br/><br/><br/>-->
                        <p class="g8c hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>
                        <p class="g8c hidden-xs">推荐尺寸 472*280 px的图片</p>
                        <!--<br/><br/>-->
                        <!--<p class="g8c hidden-xs hidden-sm"></p>-->
                        <!--<p class="g8c hidden-xs hidden-sm"></p>-->
                        <!--<p class="g8c hidden-xs hidden-sm"></p>-->
                        <div class="up_imgT rel">
                            <input class="abs"  name="lic"  type="file" id="license_up" value="上传"/>
                            <label class="abs logo_up f18 wh" for="license_Up">上传</label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label class="f16">关于图片</label>
                <div class="dib upImgT fn-clear">
                    <lable class="l logoDiv" id="comDiv"><img id="comImg" src="__PUBLIC__{$company.companypic}" class="logoImg" /></lable>
                    <div class="l f16 upImgTitle">
                        <!--<br/><br/><br/>-->
                        <p class="g8c hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>
                        <p class="g8c hidden-xs">推荐尺寸 472*280 px的图片</p>
                        <!--<br/><br/>-->
                        <!--<p class="g8c hidden-xs hidden-sm"></p>-->
                        <!--<p class="g8c hidden-xs hidden-sm"></p>-->
                        <!--<p class="g8c hidden-xs hidden-sm"></p>-->
                        <div class="up_imgT rel">
                            <input class="abs logo_up" name="companypic" type="file" id="com_up" value="上传"/>
                            <label class="abs logo_up f18 wh" for="com_Up">上传</label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label class="f16">主营业务</label>
                <input class="f16 required" value="{$company.business}" name="business" type="text">
            </div>
            <div>
                <label class="f16">企业简介</label>
                <textarea name="intro" class="f16" >{$company.intro}</textarea>
            </div>
            <div>
                <label class="f16">企业关键字</label>
                <textarea name="keywords" class="f16" >{$company.keywords}</textarea>
            </div>
            <div>
                <label class="f16">logo图片</label>
                <div class="dib upImgT fn-clear">
                    <lable class="l logoDiv" id="logoDiv"><img id="logoImg" src="__PUBLIC__{$company.logo}" class="logoImg" /></lable>
                    <div class="l f16 upImgTitle">
                        <p class="g8c hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>
                        <p class="g8c hidden-xs">推荐尺寸 472*280 px的图片</p>
                        <div class="up_imgT rel">
                            <input class="abs logo_up" name="logo" type="file" id="logo_up" value="上传"/>
                            <label class="abs logo_up f18 wh" for="logo_Up">上传</label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label class="f16">网址</label>
                <input class="f16" value="{$company.link}" name="link"  type="text">
            </div>
            <div class="registered">
                <label  class="f16">地址</label>
                <div class="dib">
                    <div class="address js-add-data1">
                        <select name="prov" class="dib select f16 js-provs">
                            <foreach name="provs" item="vo">
                                <option value="{$vo.id}" <if condition="$vo.name eq $company['prov']"> selected="selected"</if> >{$vo.name}</option>
                            </foreach>
                        </select>
                        <span class="f16 g3c province dib">省</span>
                        <select name="city" class="dib select f16 js-citys">
                            <if condition="$company.city neq ''">
                                <option value="{$company.city}" selected>{$company.city}</option>
                                <else/>
                                <option value="">请选择区市</option>
                            </if>
                        </select>
                        </select>
                        <span class="f16 g3c required">市</span>
                    </div>
                    <textarea name="address" placeholder="请输入详细地址">{$company.address}</textarea>
                </div>
            </div>
            <div>
                <label class="f16">联系人</label>
                <input class="f16 required" value="{$company.contact}" name="contact" type="text">
            </div>
            <div>
                <label class="f16">联系电话</label>
                <input class="f16 required" value="{$company.mobile}" name="mobile"  type="text">
            </div>
            <input class="f18 wh save js-sub" type="button" value="保存">
            </form>
        </li>
        <!--新闻管理-->
        <li   style="display: none"  class="abs model-two">
            <div class="title fn-clear">
                <h3 class="f18 rel l">新闻管理</h3>
                <a href="{:U('Home/News/editNews')}" class="f14 g8c r" >添加新闻</a>
            </div>
            <ul class="news">
                <foreach name="news"  item="v">
                    <li class="fn-clear">
                        <a class="l dib pic" href="javascript:volid(0);"><img src="__PUBLIC__{$v.picture}" alt="pic"></a>
                        <div class="r news-con">
                            <p class="g3c">{$v.intro}</p>
                            <ul class="fn-clear">
                                <li class="f14 g3c r js-news-delete" value="{$v.id}">删除</li>
                                <li onclick="window.open('/index.php/Home/News/editNews/id/{$v.id}','_self')" class="f14 g3c r edit">编辑</li>
                            </ul>
                        </div>
                    </li>
                </foreach>
            </ul>
        </li>
        <!--产品管理-->
        <li  style="display: none" class="abs model-two model-three">
            <div class="title fn-clear">
                <h3 class="f18 rel l">产品管理</h3>
                <a class="f14 g8c r" href="{:U('Home/Company/addProduct')}">添加产品</a>
            </div>
            <ul class="product fn-clear">
                <foreach name="products" item="v">
                    <li class="l">
                        <img src="__PUBLIC__{$v.picture}" alt="pic">
                        <h4 class="f16 g3c">{$v.title}</h4>
                        <ul>
                            <li  onclick="window.open('/index.php/Home/Company/addProduct/id/{$v.productid}','_self')"  class="f14 g3c dib edit">编辑</li>
                            <li value="{$v.productid}" class="f14 g3c dib js-product-del">删除</li>
                        </ul>
                    </li>
                </foreach>
            </ul>
        </li>
    </ul>
</div>
<!--footer-->
<include file="Public/footer3"/>
<!--footer end-->
<!--图片上传-->
<script src="__PUBLIC__/scripts/uploadPreview.js" ></script>
<script src="__PUBLIC__/scripts/shopsManagement.js"></script>
<!--城市选择-->
<script src="__PUBLIC__/scripts/distpicker.data.js"></script>
<script src="__PUBLIC__/scripts/distpicker.js"></script>
<script type="text/javascript">
    $(function(){
        //编辑企业资料
       $(".js-sub").click(function(){
           $("#js-edit-form").submit();
       });
    });
    //省份变换改变城市列表
    $(".js-provs").change(function(){
        var id = $(this).val();
        $.post("{:U('Home/Dict/getAreas')}",{'id':id},function(data){
            $('.js-citys').html('');
            var htmls = "<option value=''>请选择</option>";
            $.each(data,function(i,vo){
                htmls+="<option value="+vo.name+">"+vo.name+"</option>";
            });
            $('.js-citys').append(htmls);
        })
    });
//     上传图片预览
    window.onload = function () {
        new uploadPreview({UpBtn: "com_up", DivShow: "comDiv", ImgShow: "comImg"});
        new uploadPreview({UpBtn: "logo_up", DivShow: "logoDiv", ImgShow: "logoImg"});
        new uploadPreview({UpBtn: "license_up", DivShow: "licenseDiv", ImgShow: "licenseImg"});
    };
//    a标签
    $('.contentL a').hover(function () {
        $(this).css('color','#3c3c3c');
    });
    $('.contentL li:first-child a').hover(function () {
        $(this).css('color','#fff');
    });
</script>
</body>
</html>