<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/exhibition.css">
    <title>企业展示</title>
</head>
<body>
<!--企业展示exhibition-->
<div class="mainBg">
    <!--header登录注册-->
    <include file="Public/top"/>
    <include file="Public/nav" />
    <!--header登录注册 end-->
    <!--header logo-->
    <!--导航条 end-->
    <!--banner-->
    <div class="banner rel">
        <img src="__PUBLIC__/images/exhibition/banner.jpg" alt="banner">
        <if condition="$status eq 0">
            <a class="applyFor abs" href="{:U('Home/Company/apply')}"><input class="f20 wh" type="button" value="申请入驻"></a>
            <else/>
            <a class="applyFor abs" href="{:U('Home/Company/company',array('temptype'=>$company['temptype'],'id'=>$company['uid']))}"><input class="f20 wh" type="button" value="我的企业"></a>
        </if>
    </div>
    <!--banner end-->
    <!--企业-->
    <div class="company bgwh">
        <div class="title fn-clear">
            <h3 class="f20 g3c l rel">企业<i class="gf12 g8c dib">company</i></h3>
            <ul class="r type-tab hidden-xs" id="type-tab">
                <a href="{:U('Home/Company/index',array('isgood'=>0))}"><li class="f16 g8c dib greenColor">最新更新</li></a>
                <a href="{:U('Home/Company/index',array('isgood'=>0))}"><li  class="f16 g8c dib">优秀企业</li></a>
            </ul>
        </div>
        <ul id="type-list" class="rel type-list bgwh">
            <!--最近更新-->
            <li  class="update">
                <ul class="typeList fn-clear">
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic01.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic02.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic03.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic04.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic05.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic06.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic07.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic08.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic09.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic10.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic11.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic12.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic13.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic14.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li>
                        <img  src="__PUBLIC__/images/exhibition/pic15.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                    <li class="hidden-xs">
                        <img  src="__PUBLIC__/images/exhibition/pic16.jpg" alt="pic">
                        <h4 class="f16 g3c">阿里巴巴</h4>
                        <p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                        <ul class="interaction">
                            <li class="f12 gc4 seeIcon dib"><p class="hidden-xs">8653497</p> </li>
                            <li class="f12 gc4 commentIcon dib"> <p class="hidden-xs">497</p></li>
                        </ul>
                    </li>
                </ul>
                <!--<ul class="paging" id="paging">-->
                    <!--<li id="first">首页</li>-->
                    <!--<li id="top" onclick="topclick()">上一页</li>-->
                    <!--<li class="xifenye fn-clear" id="xifenye">-->
                        <!--<a id="xiye" class="l xiye whiteness" >1</a>-->
                        <!--<a id="mo" class="r mo">{$page}</a>-->
                        <!--<div class="xab" id="xab" style="display:none">-->
                            <!--<ul id="uljia">-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li id="down" onclick="downclick()">下一页</a></li>-->
                    <!--<li id="last">末页</li>-->
                <!--</ul>-->
            </li>
            <!--精选推荐-->
            <!--<li>-->
                <!--<ul class="typeList fn-clear">-->
                    <!--<li>-->
                        <!--<img  src="__PUBLIC__/images/exhibition/pic01.jpg" alt="pic">-->
                        <!--<h4 class="f14 g3c">阿里巴巴</h4>-->
                        <!--<p class="f12 g8c hidden-xs">以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="template_page paging">
        {$page}
    </div>
    <!--企业 end-->
    <!--底部导航&footer-->
    <div class="footer">
        <div class="rel f16 wh">
            <include file="Public/footer1"/>
    <!--底部导航&footer end-->
    <!--悬浮链接-->
    <!--悬浮链接 end-->
</div>
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
<!--分页效果-->
<script src="__PUBLIC__/scripts/public.js"></script>
<!--共用js-->
<include file="Public/bottom"/>