<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>企业模板三</title>

    <!-- core CSS -->
    <link href="__PUBLIC__/styles/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/styles/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/styles/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/scripts/html5shiv.js"></script>
    <script src="__PUBLIC__/scripts/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/styles/base.css"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/reset.css"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/modelThree.css"/>


</head><!--/head-->
<body>

<header id="header">
    <div class="top-bar ">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="top-number">
                        <a href="#" class="top_b">维沃珂企业自助营销推广平台欢迎您！</a>
                        <a class="top_a" href="#">登录 </a>
                        <a class="top_a" href="#">| </a>
                        <a class="top_a" href="#">注册</a>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="social">
                        <ul class="social-share">
                            <li><a class="social-a" href="#">收藏本站  </a></li>
                            <li><a href="#"> | </a></li>
                            <li><a href="#">在线留言  </a></li>
                            <li><a href="#"> | </a></li>
                            <li><a href="#">网站地图 </a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->
    <nav class="navbar" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="nav_img" src="__PUBLIC__/images/model/orange.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar">
                <ul class="nav navbar-nav navbar_na">
                    <li ><a class="orange_a" href="#">首页 </a></li>
                    <li><a href="#">产品展示 </a></li>
                    <li><a href="#">新闻动态 </a></li>
                    <li><a href="#">关于我们 </a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
        </div>
    </nav>

</header><!--header-->
<div class="share-dialog">
    <!--<div class="share-close"></div>-->

    <div class="share-dialog-cont">

        <div class="share-platform">

            <div class="share-platform-r">
                <div class="bdsharebuttonbox">
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="carousel slide" id="myCarousel"  data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators icon">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
    <div class="carousel-inner imgco" >
        <div class="item active">
            <img src="__PUBLIC__/images/model/lunbo.jpg" alt="" width="100%" height="550px"/>
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-sm-8 col-sm-offset-4">
                        <div class="carousel-content">
                            <p class="hh1">建构家企业自助营销平台</p>
                            <p>以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                            <a href="#" class="active">申请店铺</a>
                            <a href="#">进入店铺</a>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div class="item">
            <img src="__PUBLIC__/images/model/lunbo.jpg" alt="" width="100%" height="550px"/>
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-sm-8 col-sm-offset-4">
                        <div class="carousel-content">
                            <p class="hh1">建构家企业自助营销平台</p>
                            <p>以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                            <a href="#" class="active">申请店铺</a>
                            <a href="#">进入店铺</a>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div class="item ">
            <img src="__PUBLIC__/images/model/lunbo.jpg" alt="" width="100%" height="550px"/>
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-sm-8 col-sm-offset-4">
                        <div class="carousel-content">
                            <p class="hh1">建构家企业自助营销平台</p>
                            <p>以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来</p>
                            <p></p>
                            <a href="#" class="active">申请店铺</a>
                            <a href="#">进入店铺</a>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>

</div>


<section id="manage" class="manage">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <a href="{:U('Home/Company/businessManagement')}"  class="acti">管理企业</a>
                    <a href="#">加入平台</a>
                </p>

            </div>

        </div>
    </div>


</section><!--manage-->

<section id="detaile" class="detail">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <!--左边三个列表-->
                <div class="row  ">
                    <div class="col-xs-12 de_left">
                        <div class="de_top">
                            <p><span class="ic_left"></span> 关于我们</p>
                        </div>
                        <div class="de_bottom">
                            <img src="__PUBLIC__/images/model/deta.jpg" alt=""/>
                            <div class="right_p">
                                <p>以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来以精益求精的生产工艺，严格的品质理，周到的服务体系与客户共同营造双赢的未来，周到的服务体系与客户共同营造双赢的未来！</p>
                                <p>以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来以精益求精的生产工艺，严格的品质理，周到的服务体系与客户共同营造双赢的未来，周到的服务体系与客户共同营造双赢的未来！周到的服务体系与客户共同营造双赢的未来，周到的服务体系与客户共同营造双赢的未来！</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 de_left">
                        <div class="de_p ">
                            <p>
                                <span class="ic_left"></span>
                                产品展示
                                <a href="#" class="ic_right">更多</a>
                            </p>
                        </div>
                        <div class="row ">
                            <div class="col-xs-6 col-sm-3">
                                <img class="de_img" src="__PUBLIC__/images/model/se_1.jpg"  alt=""/>
                                <p class="text_center ">企业产品展示</p>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <img class="de_img" src="__PUBLIC__/images/model/se_2.jpg"   alt=""/>
                                <p class="text_center">企业产品展示</p>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <img class="de_img de_none" src="__PUBLIC__/images/model/se_3.jpg"   alt=""/>
                                <p class="text_center">企业产品展示</p>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <img class="de_img de_none" src="__PUBLIC__/images/model/se_4.jpg"  alt=""/>
                                <p class="text_center">企业产品展示</p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row  ">
                    <div class="col-xs-12 de_left">
                        <div class="de_top">
                            <p><span class="ic_left"></span>
                                新闻资讯
                                <a href="#" class="right_red">更多</a>
                            </p>
                        </div>
                        <div class="de_bottom">
                            <img class="fo_img" src="__PUBLIC__/images/model/fo_03.png" alt=""/>
                            <div class="right_pp">
                                <p>以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来以精益求精的生产工艺，严格的品质理，周到的服务体系与客户共同营造双赢的未来，周到的服务体系与客户共同营造双赢的未来！周到的服务体系与客户共同营造双赢的未来，周到的服务体系与客户共同营造双赢的未来！</p>
                                <p>以精益求精的生产工艺，严格品质管理，周到的服务体系与客户共同营造双赢的发展未来以精益求精的生产工艺!</p>

                            </div>
                            <ul class="foot_ul">
                                <li>
                                    周到的服务体系与客户营造双赢的周到的服务体系与客户营造双赢的
                                    <span class="foot_right">2016-11-11</span>
                                </li>
                                <li>周到的服务体系与客户营造双赢的周到的服务体系与客户营造双赢的
                                    <span class="foot_right">2016-11-11</span>
                                </li>
                                <li>周到的服务体系与客户营造双赢的周到的服务体系与客户营造双赢的
                                    <span class="foot_right">2016-11-11</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section><!--detaile-->

<footer id="footer">
    <p>
        <a href="#">首页</a>
        <a href="#">|</a>
        <a href="#">关于我们</a>
        <a href="#">|</a>
        <a href="#">联系我们</a>
    </p>
    <p>
        <a href="#">本站使用维沃珂企业模板搭建 </a>
        <a href="#">| </a>
        <a href="#">管理登录</a>
    </p>
    <p>2016 - 版权所有</p>

</footer>
<script src="__PUBLIC__/scripts/jquery-1.12.4.min.js"></script>
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/scripts/ZeroClipboard.js"></script>


<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"分享","bdMini":"1","bdMiniList":["bdxc","tqf","douban","bdhome","sqq","thx","ibaidu","meilishuo","mogujie","diandian","huaban","duitang","hx","fx","youdao","sdo","qingbiji","people","xinhua","mail","isohu","yaolan","wealink","ty","iguba","fbook","twi","linkedin","h163","evernotecn","copy","print"],"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>




</body>
</html>