<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/reset.css"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/modelTwo.css"/>
<!--微信分享显示图片描述的配置-->
<script>
    $(function(){
        var description = $("meta[name=description]");
        var desc = description.attr("content");
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '<?php echo $signPackage["appId"];?>', // 必填，公众号的唯一标识
            timestamp: '<?php echo $signPackage["timestamp"];?>', // 必填，生成签名的时间戳
            nonceStr: '<?php echo $signPackage["nonceStr"];?>', // 必填，生成签名的随机串
            signature: '<?php echo $signPackage["signature"];?>',// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone','startRecord', 'stopRecord','onVoiceRecordEnd'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function () {
            // 在这里调用 API
            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: '{$company.name}', // 分享标题
                link:"http://www.91wework.com/index.php/Home/Company/company/id/{$company.companyid}/fromid/{$info.uid}", // 分享链接
                imgUrl: "http://www.91wework.com/Public{$company.logo}", // 分享图标
                success: function () {
                    share();
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            //分享给微信好友
            wx.onMenuShareAppMessage({
                title: '{$company.name}', // 分享标题
                desc:desc,
                link:"http://www.91wework.com/index.php/Home/Company/company/id/{$company.companyid}/fromid/{$info.uid}", // 分享链接
                imgUrl: "http://www.91wework.com/Public{$company.logo}", // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    share();
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
        var share =  function(){
            var id = $(".js-companyid").val();
            if(id==''||id==undefined){
                alert("参数错误");
                return false;
            }
            $.post("{:U('Home/Company/addShare')}",{'id':id},function(data){
                if(data.status==1){
//                    alert(data.msg);
                }else{
//                    alert(data.msg);
                }
            });
        }
    });
</script>
<!--微信分享显示图片描述的配置-->
    <meta name="description" content="{$company.intro}">
    <meta name="keywords" content="{$company.keywords}">
    <meta name="author" content="">
    <title>{$company.name}</title>
</head><!--/head-->
<body>
<header id="header">
    <div class="top-bar ">
        <div class="container">
            <include file="Public/top1"/>
        </div><!--/.container-->
    </div>
<!--/.container-->
    <!--/.top-bar-->
</header><!--header-->
<!--logo&banner-->
<div class="logo bgwh">
    <div>
        <a href="#" class="dib"><img src="__PUBLIC__{$company.logo}" alt="logo"></a>
        <h1 class="f30 g3 dib">{$company.name}</h1>
    </div>
</div>
<div class="banner">
    <img src="__PUBLIC__{$company.banner}" alt="banner">
</div>
<!--logo&banner end-->
<section id="manage" class="manage">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <if condition="$company.self eq 1">
                        <a href="{:U('Home/Company/businessManagement')}" target="_blank" class="acti">管理企业</a>
                        <else/>
                        <a href="{:U('Home/Company/apply')}" target="_blank">加入平台</a>
                    </if>
                </p>

            </div>

        </div>
    </div>


</section><!--manage-->
<section id="detaile" class="detail">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <!--左边三个列表-->
                <div class="row  ">
                    <div class="col-xs-12 de_left">
                        <div class="de_top">
                            <p><span class="ic_left"></span> 关于我们&nbsp;&nbsp;&nbsp;&nbsp;V币：<span>{$company.vcoin}</span></p>
                        </div>
                        <div class="de_bottom" onclick="window.open('/index.php/Home/Company/aboutUs/id/{$company.companyid}','_blank')">
                            <if condition="$company.companypic eq ''">
                                <img src="__PUBLIC__{$company.logo}" alt="你还没上传自己的环境图片"/>
                                <else/>
                                <img src="__PUBLIC__{$company.companypic}" alt=""/>
                            </if>
                            <div class="right_p">
                                <p>{$company.intro}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 de_left">
                        <div class="de_p ">
                            <p>
                                <span class="ic_left"></span>
                                产品展示
                                <a href="{:U('Home/Company/productMore',array('id'=>$company['companyid']))}" class="ic_right" target="_blank">更多</a>
                            </p>
                        </div>
                        <div class="row ">
                            <foreach name="products" item="v">
                                <div class="col-xs-6 col-sm-3">
                                    <a href="{:U('Home/Company/productDetail',array('id'=>$v['productid']))}" target="_blank">
                                    <img class="de_img" src="__PUBLIC__{$v.picture}"  alt=""/>
                                    <p class="text_center ">{:mb_substr($v['title'],0,15)}</p>
                                    </a>
                                </div>
                            </foreach>

                        </div>

                    </div>
                </div>
                <div class="row  ">
                    <div class="col-xs-12 de_left">
                        <div class="de_top">
                            <p><span class="ic_left"></span>
                                新闻资讯
                                <a href="{:U('Home/Company/newsMore',array('id'=>$company['companyid']))}" target="_blank" class="right_red">更多</a>
                            </p>
                        </div>
                        <div class="de_bottom">
                            <if condition="$news[0]['id'] neq 0">
                            <a href="{:U('Home/News/newsDetails',array('id'=>$news[0]['id']))}" target="_blank"><img class="fo_img" src="__PUBLIC__{$news[0]['picture']}"  alt=""/></a>
                            </if>
                            <div class="right_pp">
                                <a href="{:U('Home/News/newsDetails',array('id'=>$news[0]['id']))}" target="_blank"><p>{:mb_substr($news[0]['intro'],0,50)}</p></a>
                            </div>
                            <ul class="foot_ul">
                                <foreach name="news" item="v">
                                    <a href="{:U('Home/News/newsDetails',array('id'=>$v['id']))}" target="_blank"><li>
                                        {:mb_substr($v['title'],0,25)}
                                        <span class="foot_right hidden-xs">{$v.created|date='Y-m-d',###}</span>
                                    </li></a>
                                </foreach>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4">
                <!--<div  class="search">-->
                    <!--<input type="text" placeholder="搜索您感兴趣的内容">-->
                    <!--<img src="__PUBLIC__/images/model/search.jpg" alt=""/>-->
                <!--</div>-->

                <div class="right_deta">
                    <div class="de_top">
                        <p><span class="right_span"></span>
                            热门产品
                        </p>
                    </div>
                    <div class="ri_bottom">
                        <foreach name="pushProducts" item="vo">
                            <div class="ri_detail">
                                <div class="min_center">
                                    <a href="{:U('Home/Company/productDetail',array('id'=>$vo['productid']))}" target="_blank">
                                        <if condition="$vo.picture eq ''">
                                            <img src="__PUBLIC__/images/model/detail_3.jpg" alt=""/>
                                            <else/>
                                            <img  src="__PUBLIC__{$vo.picture}"  alt=""/>
                                        </if>
                                        <p><span>{:mb_substr($vo['title'],0,10)}</span></p>
                                        <p>热度：<span>{$vo.num}</span></p>
                                    </a>
                                </div>

                            </div>
                        </foreach>
                        <!--<div class="ri_detail">-->
                            <!--<div class="min_center">-->
                                <!--<img src="__PUBLIC__/images/model/detail_3.jpg" alt=""/>-->
                                <!--<p>产品类型 <span>5</span></p>-->
                                <!--<p>热度：<span>666</span></p>-->
                            <!--</div>-->

                        <!--</div>-->
                    </div>


                </div>
                <div class="right_deta">
                    <div class="de_top">
                        <p><span class="right_span"></span>
                            热门资讯
                        </p>
                    </div>
                    <div class="ri_bottom">
                        <foreach name="pushNews" item="v">
                            <div class="ri_detail">
                                <div class="min_center">
                                    <a href="{:U('Home/News/newsDetails',array('id'=>$v['id']))}" target="_blank">
                                        <if condition="$v.picture eq ''">
                                            <img src="__PUBLIC__/images/model/detail_3.jpg" alt=""/>
                                            <else/>
                                            <img  src="__PUBLIC__{$v.picture}"  alt=""/>
                                        </if>
                                        <p><span>{:mb_substr($v['title'],0,10)}</span></p>
                                        <p>热度：<span>{$v.num}</span></p>
                                    </a>
                                </div>
                            </div>
                        </foreach>
                        <!--<div class="ri_detail">-->
                            <!--<div class="min_center">-->
                                <!--<img src="__PUBLIC__/images/model/detail_3.jpg" alt=""/>-->
                                <!--<p>产品类型 <span>5</span></p>-->
                                <!--<p>热度：<span>666</span></p>-->
                            <!--</div>-->

                        <!--</div>-->
                    </div>


                </div>
                <div class="right_deta">
                    <div class="de_top">
                        <p><span class="right_span"></span>
                            联系方式
                        </p>
                    </div>
                    <div class="ri_bottom">
                        <div class="foot_p">
                            <div class="ri_p">
                                <p><label class="dib">联系人：</label><span class="dib">{$company.contact}</span></p>
                                <p><label class="dib">电 话&nbsp&nbsp：</label><a class="dib g3c"  href="{$company.mobile}">{$company.mobile}</a></p>
                                <!--<p>邮 箱：<span>{$company.mobile}</span></p>-->
                                <p><label class="dib">地 址&nbsp&nbsp：</label><span class="dib">{$company.prov}&nbsp;&nbsp;{$company.city}&nbsp;&nbsp;{$company.address}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="right_deta">-->
                    <!--<a href="{:U('Home/Index/aboutUs')}">-->
                        <!--<div class="ri_bot">-->
                            <!--<img src="__PUBLIC__/images/model/cax.jpg" alt=""/>-->
                            <!--<h3>关于维沃珂</h3>-->
                <!--</div></a>-->
            <!--</div>-->
        </div>
    </div>
        </div>
</section><!--detaile-->
<include file="Public/footer3"/>
<!--分享-->
<div class="share-platform dib">
    <!--<p class="dib">分享：</p>-->
    <input type="hidden" name="id" class="js-companyid" value="{$company.companyid}"/>
    <div class="bdsharebuttonbox dib">
        <a href="javascript:;" class="bds_weixin js-share" data-cmd="weixin" title="分享到微信"></a>
        <a href="javascript:;" class="bds_tsina js-share" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="javascript:;" class="bds_qzone js-share" data-cmd="qzone" title="分享到QQ空间"></a>
    </div>
</div>
<!--分享 end-->
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/scripts/ZeroClipboard.js"></script>
<script src="__PUBLIC__/scripts/postDetails.js"></script>
<script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    window._bd_share_config={"common":{"bdSnsKey":{},"bdUrl": "<?php  echo 'http://'.$_SERVER['SERVER_NAME'].':'.$_SERVER['SERVER_PORT'].$_SERVER['REQUEST_URI'].'/fromid/'.$info['uid'] ?>", "bdPopTitle":"<?php echo $company['name'] ?>","bdText":"<?php echo $company['name'] ?>","bdMini":"1","bdMiniList":["bdxc","tqf","douban","bdhome","sqq","thx","ibaidu","meilishuo","mogujie","diandian","huaban","duitang","hx","fx","youdao","sdo","qingbiji","people","xinhua","mail","isohu","yaolan","wealink","ty","iguba","fbook","twi","linkedin","h163","evernotecn","copy","print"],"bdPic":"<?php echo $_SERVER['SERVER_NAME'].'/Public'.$company['logo'] ?>","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
//        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<script type="text/javascript">
    $(function(){
        //分享
        $('.js-share').click(function(){
            var id = $(".js-companyid").val();
            if(id==''||id==undefined){
                alert("参数错误");
                return false;
            }
            $.post("{:U('Home/Company/addShare')}",{'id':id},function(data){
                if(data.status==1){
//                    alert(data.msg);
                }else{
                    alert(data.msg);
                }
            });
//            $(this).toggleClass('collect-green')
        });
    });
 </script>
</body>
</html>