h3,
h4,
h2,
h5 {
  margin: 0;
}
.content h2 {
  text-align: center;
}
.content .titleT,
.content .titleO {
  text-align: justify;
}
.banner img {
  width: 100%;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .content {
    width: 320px;
    margin: 24px auto;
    padding: 0 12px;
  }
  .content h2 {
    padding: 24px 0 14px;
  }
  .content .titleO {
    width: 180px;
  }
  .content p {
    line-height: 16px;
    margin-bottom: 6px;
    text-indent: 12px;
  }
  .content .picO {
    height: 120px;
    margin: 8px 0 24px;
  }
  .content .picT {
    height: 120px;
    margin: 22px 0 44px;
  }
  .content .titleT {
    width: 160px;
    margin-top: 14px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .content {
    width: 768px;
    margin: 24px auto;
    padding: 0 32px;
  }
  .content h2 {
    padding: 34px 0 26px;
  }
  .content .titleO {
    width: 400px;
  }
  .content p {
    line-height: 28px;
    margin-bottom: 12px;
    text-indent: 24px;
  }
  .content .picO {
    height: 300px;
    margin: 8px 0 24px;
  }
  .content .picT {
    height: 300px;
    margin: 22px 0 44px;
  }
  .content .titleT {
    width: 320px;
    margin-top: 14px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .content {
    width: 992px;
    margin: 32px auto;
    padding: 0 44px;
  }
  .content h2 {
    padding: 44px 0 36px;
  }
  .content .titleO {
    width: 500px;
  }
  .content p {
    line-height: 28px;
    margin-bottom: 12px;
    text-indent: 24px;
  }
  .content .picO {
    height: 380px;
    margin: 8px 0 24px;
  }
  .content .picT {
    height: 400px;
    margin: 22px 0 44px;
  }
  .content .titleT {
    width: 460px;
    margin-top: 14px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .content {
    width: 1200px;
    margin: 40px auto;
    padding: 0 50px;
  }
  .content h2 {
    padding: 40px 0 52px;
  }
  .content .titleO {
    width: 680px;
  }
  .content p {
    line-height: 30px;
    margin-bottom: 16px;
    text-indent: 26px;
  }
  .content .picO {
    height: 402px;
    margin: 8px 0 26px;
  }
  .content .picT {
    height: 470px;
    margin: 22px 0 44px;
  }
  .content .titleT {
    width: 506px;
    margin-top: 14px;
  }
}
