/* 超小屏幕（手机，小于 768px） */
.logoPay a img {
  height: 48px;width:48px;
  margin: 8px 20px 20px 20px;
}
.logoPay h1{line-height:76px;}
.logoPay h1{}
.personal .title i,
.personal .title ul li label {
  margin: 0;
}
.succeed input {
  border: 1px solid #9ebd00;
  border-radius: 1px;
}
.succeed .succeed-con a .bgGreen {
  background: #9ab126;
  color: #fff;
}
@media (max-width: 768px) {
  .personal .title {
    padding: 28px 16px 14px;
  }
  .personal .title ul li {
    margin-bottom: 14px;
  }
  .personal .title ul li label {
    width: 72px;
  }
  .personal .title h3 {
    margin-top:98px;
  }
  .succeed .succeed-con a input {
    margin: 6px 0 0 0;
  }
  .succeed-con {
    padding-bottom:30px;
  }
  .succeed-con p {
    margin-bottom: 24px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .logoPay a img {
    height: 78px;width:78px;
    margin: 8px 40px 20px 30px;
  }
  .logoPay h1{line-height: 106px;}
  .personal .title {
    padding: 28px 20px 14px;
  }
  .personal .title ul li {
    margin-bottom: 14px;
  }
  .personal .title ul li label {
    width: 72px;
  }
  .personal .title h3 {
    margin-top: 104px;
  }
  .succeed .succeed-con a input {
    margin: 10px 0 0 0;
  }
  .succeed-con {
    padding-bottom: 46px;
  }
  .succeed-con p {
    margin-bottom: 44px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .logoPay a img {
    height: 78px;width: 78px;
    margin: 8px 60px 20px 30px;
  }
  .logoPay h1{line-height: 106px;}
  .personal .title {
    padding: 32px 20px 14px;
  }
  .personal .title ul li {
    margin-bottom: 14px;
  }
  .personal .title ul li label {
    width: 72px;
  }
  .personal .title h3 {
    margin-top: 104px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .logoPay a img {
    height: 118px;width:120px;
    margin: 8px 60px 20px 30px;
  }
  .logoPay h1{line-height: 146px;}
  .personal .title {
    padding: 40px 20px 16px;
  }
  .personal .title ul li {
    margin-bottom: 18px;
  }
  .personal .title ul li label {
    width: 72px;
  }
  .personal .title h3 {
    margin-top: 116px;
  }
}
