/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .upImg p {
    line-height: 14px;
    margin-bottom: 14px;
  }
  .imgdiv img,
  .imgdiv {
    width: 120px;
    height: 120px;
  }
  .upImg input,
  .content .upImg label {
    margin-top: 24px;
  }
  .explain {
    margin-top: 0;
    width: 340px;
  }
  .explain h4,
  .explain ul li {
    line-height: 16px;
    margin: 0 10px 14px 0;
    font-size: 14px;
  }
  .explain ul li {
    margin: 0 0 6px 0;
  }
  .content select {
    width: 80px;
    height: 30px;
  }
  .province {
    margin-right: 10px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .upImg p {
    line-height: 14px;
    margin-bottom: 14px;
  }
  .imgdiv img,
  .imgdiv {
    width: 180px;
    height: 180px;
  }
  .upImg input,
  .content .upImg label {
    margin-top: 24px;
  }
  .explain {
    margin-top: 0;
    width: 340px;
  }
  .explain h4,
  .explain ul li {
    line-height: 16px;
    margin: 0 10px 14px 0;
    font-size: 14px;
  }
  .explain ul li {
    margin: 0 0 6px 0;
  }
  .content select {
    width: 180px;
    height: 40px;
  }
  .province {
    margin-right: 20px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .upImg p {
    line-height: 14px;
    margin-bottom: 14px;
  }
  .imgdiv img,
  .imgdiv {
    width: 214px;
    height: 214px;
  }
  .upImg input,
  .content .upImg label {
    margin-top: 24px;
  }
  .explain {
    margin-top: 0;
    width: 380px;
  }
  .explain h4,
  .explain ul li {
    line-height: 16px;
    margin: 0 10px 14px 0;
    font-size: 16px;
  }
  .explain ul li {
    margin: 0 0 6px 0;
  }
  .content select {
    width: 180px;
    height: 40px;
  }
  .province {
    margin-right: 20px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .upImg p {
    line-height: 14px;
    margin-bottom: 14px;
  }
  .imgdiv img,
  .imgdiv {
    width: 214px;
    height: 214px;
  }
  .upImg input,
  .content .upImg label {
    margin-top: 24px;
  }
  .explain {
    margin-top: 0;
  }
  .explain h4,
  .explain ul li {
    line-height: 16px;
    margin: 0 14px 0 0;
  }
  .explain ul li {
    margin: 0 0 14px 0;
  }
  .content select {
    width: 180px;
    height: 40px;
  }
  .province {
    margin-right: 20px;
  }
}
