body {
  background: #fff;
}
.mainBg {
  background: url("../images/Cloudally/bg.png") no-repeat 100%;
  width: 100%;
}
.processList .option {
  background: #9ab126;
  border: 1px solid #9ab126;
}
.processList li:first-child {
  background: #9ab126;
  border: 1px solid #9ab126;
}
.content {
  margin: auto;
  text-align: center;
}
hr {
  height: 1px;
  background: #9ebd00;
}
.processList li {
  border: 1px solid #ececec;
  border-radius: 4px;
  position: relative;
  float: left;
}
.processList li a {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 100%;
}
.advantage li {
  float: left;
  border-radius: 4px;
  overflow: hidden;
}
.registerBtn input {
  background: #9ab126;
  text-align: center;
  border: none;
  border-radius: 4px;
}
.join a {
  border: 1px solid #3c3c3c;
  color: #3c3c3c;
  margin: auto;
}
.footer {
  margin-top: 0;
}
.banner img {
  width: 100%;
}
.advantage p{ text-align: left!important;}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .content {
    width: 320px;
  }
  h3 {
    margin: 16px 0 6px;
  }
  hr {
    width: 22px;
    margin: 10px auto 16px;
  }
  .processList li {
    width: 72px;
    height: 32px;
    font-size: 12px;
    margin: 0 4px;
    text-indent: 8px;
    overflow: hidden;
  }
  .processList li a {
    width: 70px;
    line-height: 32px;
    overflow: hidden;
  }
  .processList li .register {
    background: url("../images/Cloudally/process1.png") no-repeat 2px 8px;
    background-size: 1px;
  }
  .processList li .apply {
    background: url("../images/Cloudally/process2.png") no-repeat 2px 8px;
    background-size: 18px;
  }
  .processList li .from {
    background: url("../images/Cloudally/process3.png") no-repeat 2px 8px;
    background-size: 18px;
  }
  .processList li .generalize {
    background: url("../images/Cloudally/process4.png") no-repeat 2px 8px;
    background-size: 18px;
  }
  .processList li .registerOption {
    background: url("../images/Cloudally/processOption1.png") no-repeat 2px 8px;
    color: #fff;
    background-size: 18px;
  }
  .processList li .applyOption {
    background: url("../images/Cloudally/processOption2.png") no-repeat 2px 8px;
    color: #fff;
    background-size: 18px;
  }
  .processList li .fromOption {
    background: url("../images/Cloudally/processOption3.png") no-repeat 2px 8px;
    color: #fff;
    background-size: 18px;
  }
  .processList li .generalizeOption {
    background: url("../images/Cloudally/processOption4.png") no-repeat 2px 8px;
    color: #fff;
    background-size: 18px;
  }
  .processList li:last-child {
    overflow: hidden;
  }
  .processList li:after {
    content: "";
    background: url("../images/Cloudally/processArrow.png") no-repeat;
    background-size: 18px;
    width: 8px;
    height: 18px;
    position: absolute;
    right: -32px;
    top: 34px;
  }
  .advantage ul {
    margin: 0 10px;
  }
  .advantage li img {
    height: 54px;
    width: 90px;
    margin: 0 4px 8px;
  }
  .advantage h4 {
    font-size: 12px;
    width: 288px;
    text-align: justify;
    line-height: 14px;
    margin: auto;
    text-indent: 14px;
  }
  .registerBtn {
    margin: 10px auto 20px;
  }
  .registerBtn input {
    width: 120px;
    line-height: 24px;
    font-size: 14px;
  }
  .join {
    background: url("../images/Cloudally/joinBar.png") no-repeat 100%;
    background-size: 100% 150px;
    width: 100%;
    height: 150px;
    text-align: center;
  }
  .join h5 {
    font-size: 14px;
    margin: 0;
  }
  .join p {
    margin: 4px 0 8px;
    font-size: 12px;
  }
  .join a {
    width: 100px;
    line-height: 24px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .advantage p{ margin:  0 30px}
  .content {
    width: 768px;
  }
  h3 {
    margin: 40px 0 6px;
  }
  hr {
    width: 22px;
    margin: 12px auto 40px;
  }
  .processList li {
    width: 172px;
    height: 58px;
    font-size: 16px;
    margin: 0 10px;
    text-indent: 18px;
  }
  .processList li a {
    width: 172px;
    line-height: 58px;
    overflow: hidden;
  }
  .processList li .register {
    background: url("../images/Cloudally/process1.png") no-repeat 16px 14px;
    background-size: 30px;
  }
  .processList li .apply {
    background: url("../images/Cloudally/process2.png") no-repeat 16px 14px;
    background-size: 30px;
  }
  .processList li .from {
    background: url("../images/Cloudally/process3.png") no-repeat 16px 14px;
    background-size: 30px;
  }
  .processList li .generalize {
    background: url("../images/Cloudally/process4.png") no-repeat 16px 14px;
    background-size: 30px;
  }
  .processList li .registerOption {
    background: url("../images/Cloudally/processOption1.png") no-repeat 16px 14px;
    color: #fff;
    background-size: 30px;
  }
  .processList li .applyOption {
    background: url("../images/Cloudally/processOption2.png") no-repeat 16px 14px;
    color: #fff;
    background-size: 30px;
  }
  .processList li .fromOption {
    background: url("../images/Cloudally/processOption3.png") no-repeat 16px 14px;
    color: #fff;
    background-size: 30px;
  }
  .processList li .generalizeOption {
    background: url("../images/Cloudally/processOption4.png") no-repeat 16px 14px;
    color: #fff;
    background-size: 30px;
  }
  .processList li:last-child {
    overflow: hidden;
  }
  .processList li:after {
    content: "";
    background: url("../images/Cloudally/processArrow.png") no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    right: -24px;
    top: 18px;
  }
  .advantage ul {
    margin: 0 24px;
  }
  .advantage li img {
    height: 134px;
    width: 222px;
    margin: 0 8px 16px;
  }
  .advantage h4 {
    font-size: 14px;
    width: 700px;
    text-align: justify;
    line-height: 20px;
    margin: auto;
    text-indent: 20px;
  }
  .registerBtn {
    margin: 28px auto 50px;
  }
  .registerBtn input {
    width: 200px;
    line-height: 32px;
    font-size: 18px;
  }
  .join {
    background: url("../images/Cloudally/joinBar.png") no-repeat 100%;
    background-size: 100% 300px;
    width: 100%;
    height: 300px;
    text-align: center;
  }
  .join h5 {
    font-size: 26px;
    margin: 0;
  }
  .join p {
    margin: 10px 0 12px;
    font-size: 18px;
  }
  .join a {
    width: 100px;
    line-height: 32px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .advantage p{ margin:  0 46px; }
  .content {
    width: 992px;
  }
  h3 {
    margin: 60px 0 12px;
  }
  hr {
    width: 22px;
    margin: 16px auto 40px;
  }
  .processList li {
    width: 210px;
    height: 88px;
    font-size: 20px;
    margin: 0 16px;
    text-indent: 38px;
  }
  .processList li a {
    width: 210px;
    line-height: 88px;
    overflow: hidden;
  }
  .processList li .register {
    background: url("../images/Cloudally/process1.png") no-repeat 12px 22px;
    background-size: 44px;
  }
  .processList li .apply {
    background: url("../images/Cloudally/process2.png") no-repeat 12px 22px;
    background-size: 44px;
  }
  .processList li .from {
    background: url("../images/Cloudally/process3.png") no-repeat 12px 22px;
    background-size: 44px;
  }
  .processList li .generalize {
    background: url("../images/Cloudally/process4.png") no-repeat 12px 22px;
    background-size: 44px;
  }
  .processList li .registerOption {
    background: url("../images/Cloudally/processOption1.png") no-repeat 12px 22px;
    color: #fff;
    background-size: 44px;
  }
  .processList li .applyOption {
    background: url("../images/Cloudally/processOption2.png") no-repeat 12px 22px;
    color: #fff;
    background-size: 44px;
  }
  .processList li .fromOption {
    background: url("../images/Cloudally/processOption3.png") no-repeat 12px 22px;
    color: #fff;
    background-size: 44px;
  }
  .processList li .generalizeOption {
    background: url("../images/Cloudally/processOption4.png") no-repeat 12px 22px;
    color: #fff;
    background-size: 44px;
  }
  .processList li:last-child {
    overflow: hidden;
  }
  .processList li:after {
    content: "";
    background: url("../images/Cloudally/processArrow.png") no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -32px;
    top: 34px;
  }
  .advantage ul {
    margin: 0 34px;
  }
  .advantage li img {
    height: 172px;
    width: 286px;
    margin: 0 10px 22px;
  }
  .advantage h4 {
    font-size: 14px;
    width: 900px;
    text-align: justify;
    line-height: 24px;
    margin: auto;
    text-indent: 20px;
  }
  .registerBtn {
    margin: 48px auto 80px;
  }
  .registerBtn input {
    width: 264px;
    line-height: 40px;
    font-size: 18px;
  }
  .join {
    background: url("../images/Cloudally/joinBar.png") no-repeat 100%;
    background-size: 100% 400px;
    width: 100%;
    height: 400px;
    text-align: center;
  }
  .join h5 {
    font-size: 32px;
    margin: 0;
  }
  .join p {
    margin: 12px 0 18px;
  }
  .join a {
    width: 152px;
    line-height: 40px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .advantage p{ margin:  0 56px; }
  .content {
    width: 1200px;
  }
  h3 {
    margin: 80px 0 14px;
  }
  hr {
    width: 28px;
    margin: 16px auto 20px;
  }
  .processList li {
    width: 266px;
    height: 98px;
    font-size: 22px;
    margin: 0 16px;
    text-indent: 58px;
  }
  .processList li a {
    width: 266px;
    line-height: 98px;
    overflow: hidden;
  }
  .processList li .register {
    background: url("../images/Cloudally/process1.png") no-repeat 24px 20px;
    background-size: 60px;
  }
  .processList li .apply {
    background: url("../images/Cloudally/process2.png") no-repeat 24px 20px;
    background-size: 60px;
  }
  .processList li .from {
    background: url("../images/Cloudally/process3.png") no-repeat 24px 20px;
    background-size: 60px;
  }
  .processList li .generalize {
    background: url("../images/Cloudally/process4.png") no-repeat 24px 20px;
    background-size: 60px;
  }
  .processList li .registerOption {
    background: url("../images/Cloudally/processOption1.png") no-repeat 24px 20px;
    color: #fff;
    background-size: 60px;
  }
  .processList li .applyOption {
    background: url("../images/Cloudally/processOption2.png") no-repeat 24px 20px;
    color: #fff;
    background-size: 60px;
  }
  .processList li .fromOption {
    background: url("../images/Cloudally/processOption3.png") no-repeat 24px 20px;
    color: #fff;
    background-size: 60px;
  }
  .processList li .generalizeOption {
    background: url("../images/Cloudally/processOption4.png") no-repeat 24px 20px;
    color: #fff;
    background-size: 60px;
  }
  .processList li:last-child {
    overflow: hidden;
  }
  .processList li:after {
    content: "";
    background: url("../images/Cloudally/processArrow.png") no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -34px;
    top: 34px;
  }
  .advantage ul {
    margin: 0 44px;
  }
  .advantage li img {
    height: 206px;
    width: 342px;
    margin: 0 14px 28px;
  }
  .advantage h4 {
    font-size: 14px;
    width: 1084px;
    text-align: justify;
    line-height: 28px;
    margin: auto;
    text-indent: 20px;
  }
  .registerBtn {
    margin: 68px auto 160px;
  }
  .registerBtn input {
    width: 264px;
    line-height: 40px;
    font-size: 18px;
  }
  .join {
    background: url("../images/Cloudally/joinBar.png") no-repeat 100%;
    width: 100%;
    height: 460px;
    text-align: center;
    background-size: 100% 460px;
  }
  .join h5 {
    font-size: 36px;
    margin: 0;
  }
  .join p {
    margin: 20px 0 24px;
  }
  .join a {
    width: 172px;
    line-height: 44px;
  }
}
