h3,
h4,
h2,
h5 {
    margin: 0;
}
.content{background:#fff;margin:auto;}
.content h2{text-align:center;}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
    .content{width:300px;margin-top:10px;padding:0 10px 20px 10px;}
    .content h2{line-height:30px;}
    .content img{margin:20px auto;width:236px;height:140px;display:block;}
    .content p{line-height:18px;}

}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    .content{width:728px;margin-top:30px;padding:0 20px 30px 20px;}
    .content h2{line-height:40px;}
    .content img{margin:20px auto;width:354px;height:210px;display:block;}
    .content p{line-height:24px;}

}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
    .content{width:932px;margin-top:40px;padding:0 30px 30px 30px;}
    .content h2{line-height:60px;}
    .content img{margin:20px auto;width:472px;height:280px;display:block;}
    .content p{line-height:30px;}
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
    .content{width:1140px;margin-top:40px;padding:0 30px 30px 30px;}
    .content h2{line-height:80px;}
    .content img{margin:20px auto;width:472px;height:280px;display:block;}
    .content p{line-height:30px;}
}


