.content {
  border-radius: 4px;
}
.content h3 {
  border-bottom: 1px solid #dfdfdf;
}
.content h3:before {
  content: "";
  background: #323232;
  position: absolute;
  left: 0;
}
.content label {
  text-align: right;
}
.content input[type="text"],
.content textarea {
  border: 1px solid #dfdfdf;
}
.logoDiv,
.editImg {
  background: #fff;
  border: none;
}
.up_imgT input,
.up_imgT label {
  border-radius: 1px;
  text-align: center;
}
.recommend {
  margin: 0;
}
.recommend > li span,
.recommend > li input,
.recommend > li .recommendY {
  left: 0;
  top: 0;
}
.save {
  display: block;
  text-align: center;
  margin: auto;
}
.navbar-brand{height: 100%;}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .edui-default .edui-toolbar .edui-button,
  .edui-default .edui-toolbar .edui-splitbutton,
  .edui-default .edui-toolbar .edui-menubutton,
  .edui-default .edui-toolbar .edui-combox {
    margin:0 4px!important;
  }
  .edui-editor-iframeholder,#edui1{width: 280px;}
  .js-content{margin-left:0;width: 280px;}
  .js-content,.edui-editor{width: 280px;}
  .content {
    padding: 16px 12px 74px;
  }
  .content h3 {
    line-height: 32px;
    text-indent: 10px;
    margin-bottom: 24px;
  }
  .content h3:before {
    width: 2px;
    height: 16px;
    top: 8px;
  }
  .content label {
    width: 52px;
    line-height: 24px;
    margin-right: 4px;
  }
  .content input[type="text"],
  .content textarea {
    width: 124px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .logoDiv,
  .editImg {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
  }
  .upImgTitle {
    width: 100px;
  }
  .content span {
    line-height: 24px;
  }
  .up_imgT {
    margin-top: 36px;
  }
  .up_imgT input,
  .up_imgT label {
    width: 70px;
    line-height: 24px;
    height: 24px;
  }
  .recommend > li span,
  .recommend > li input,
  .recommend > li .recommendY {
    height: 24px;
    line-height: 24px;
  }
  .recommend > li span,
  .recommend > li .recommendY {
    background-position: 0 6px;
  }
  .save {
    width: 120px;
    line-height: 24px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .js-content{margin-left: 122px;}
  .js-content,.edui-editor{width: 600px;}
  .content {
    padding: 16px 20px 74px;
  }
  .content h3 {
    line-height: 48px;
    text-indent: 12px;
    margin-bottom: 32px;
  }
  .content h3:before {
    width: 3px;
    height: 18px;
    top: 14px;
  }
  .content label {
    width: 64px;
    line-height: 32px;
    margin-right: 20px;
  }
  .content input[type="text"],
  .content textarea {
    width: 450px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  .logoDiv,
  .editImg {
    width: 130px;
    height: 130px;
    margin-bottom: 32px;
  }
  .upImgTitle {
    width: 300px;
  }
  .content span {
    line-height: 36px;
  }
  .up_imgT {
    margin-top: 36px;
  }
  .up_imgT input,
  .up_imgT label {
    width: 120px;
    line-height: 32px;
    height: 32px;
  }
  .recommend > li span,
  .recommend > li input,
  .recommend > li .recommendY {
    height: 32px;
    line-height: 32px;
  }
  .recommend > li span,
  .recommend > li .recommendY {
    background-position: 0 12px;
  }
  .save {
    width: 200px;
    line-height: 32px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .js-content{margin:0 0 20px 40px;width: 700px;}
  .content {
    padding: 16px 20px 74px;
  }
  .content h3 {
    line-height: 48px;
    text-indent: 12px;
    margin-bottom: 32px;
  }
  .content h3:before {
    width: 3px;
    height: 18px;
    top: 14px;
  }
  .content label {
    width: 64px;
    line-height: 38px;
    margin-right: 20px;
  }
  .content input[type="text"],
  .content textarea {
    width: 450px;
    line-height: 38px;
    margin-bottom: 38px;
  }
  .logoDiv,
  .editImg {
    width: 130px;
    height: 130px;
    margin-bottom: 38px;
  }
  .content span {
    line-height: 38px;
  }
  .up_imgT {
    margin-top: 36px;
  }
  .up_imgT input,
  .up_imgT label {
    width: 130px;
    line-height: 38px;
    height: 38px;
  }
  .recommend > li span,
  .recommend > li input,
  .recommend > li .recommendY {
    height: 38px;
    line-height: 38px;
  }
  .recommend > li span,
  .recommend > li .recommendY {
    background-position: 0 12px;
  }
  .save {
    width: 220px;
    line-height: 38px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  #editor{width:700px;}
  .js-content{margin:0 0 20px 40px;}
  .content {
    padding: 16px 20px 74px;
  }
  .content h3 {
    line-height: 48px;
    text-indent: 12px;
    margin-bottom: 36px;
  }
  .content h3:before {
    width: 3px;
    height: 18px;
    top: 14px;
  }
  .content label {
    width: 68px;
    line-height: 40px;
    margin-right: 20px;
  }
  .content input[type="text"],
  .content textarea {
    width: 450px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .logoDiv,
  .editImg {
    width: 130px;
    height: 130px;
    margin-bottom: 40px;
  }
  .content span {
    line-height: 40px;
  }
  .up_imgT {
    margin-top: 36px;
  }
  .up_imgT input,
  .up_imgT label {
    width: 130px;
    line-height: 40px;
    height: 40px;
  }
  .recommend > li span,
  .recommend > li input,
  .recommend > li .recommendY {
    height: 40px;
    line-height: 40px;
  }
  .recommend > li span,
  .recommend > li .recommendY {
    background-position: 0 12px;
  }
  .save {
    width: 220px;
    line-height: 40px;
  }
}
