.tabList > a:first-child {
  background: #9ab126;
  color: #fff;
}
.banner img {
  width: 100%;
}
.up_img {
  width: 100%;
  height: 100%;
}
.tabList {
  text-align: center;
}
.tabList > a {
  border-bottom: 1px solid #f0f0f0;
}
.baseCon h3 {
  border-bottom: 1px solid #9ab126;
}
.baseCon input[type="text"],
.baseCon textarea,
.baseCon select {
  border: 1px solid #e6e6e6;
}
.baseCon textarea {
  resize: none;
  vertical-align: top;
}
input:focus {
  outline: none;
}
.imgShow {
  border: 1px solid #e6e6e6;
}
.up_img input,
.up_img label {
  background: #9ab126;
  border: none;
  text-align: center;
  text-indent: 0!important;
  border-radius: 2px;
}
.up_img input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 99;
}
.affirm {
  text-align: center;
}
.affirm input {
  border-radius: 2px;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .content {
    width: 320px;
    margin: 20px auto 0;
  }
  .tabList {
    height: 50px;
    width: 320px;
    margin-right: 10px;
  }
  .tabList > a {
    line-height: 50px;
    height: 50px;
    width: 80px;
  }
  .baseCon {
    width: 320px;
  }
  .baseCon h3 {
    padding: 24px 0 10px 0;
    text-indent: 24px;
    margin-bottom: 10px;
  }
  .baseCon label {
    width: 80px;
    line-height: 24px;
    text-indent: 10px;
  }
  .baseCon input[type="text"],
  .baseCon textarea,
  .baseCon select {
    width: 200px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    text-indent: 2px;
  }
  .baseCon textarea {
    height: 100px;
  }
  .imgShow {
    width: 120px;
    height: 120px;
    margin-right: 10px;
  }
  .upImg {
    margin-bottom: 50px;
  }
  .up_img input,
  .up_img label,
  .up_img {
    width: 50px;
    height: 24px;
    line-height: 24px;
    margin-top: 20px;
  }
  #logoShow {
    width: 100px;
    height: 120px;
  }
  .logoUp .up_img input,
  .logoUp .up_img label {
    margin-top: 90px;
  }
  .baseCon select {
    width: 90px;
  }
  .affirm {
    margin: 40px 0 60px;
  }
  .affirm input {
    width: 220px;
    height: 60px;
    line-height: 60px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .content {
    width: 768px;
    margin: 20px auto 0;
  }
  .tabList {
    height: 1382px;
    width: 120px;
    margin-right: 10px;
  }
  .tabList > a {
    line-height: 50px;
    height: 50px;
    width: 120px;
  }
  .baseCon {
    width: 638px;
  }
  .baseCon h3 {
    padding: 24px 0 10px 0;
    text-indent: 24px;
    margin-bottom: 30px;
  }
  .baseCon label {
    width: 100px;
    line-height: 36px;
    text-indent: 24px;
  }
  .baseCon input[type="text"],
  .baseCon textarea,
  .baseCon select {
    width: 340px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 30px;
    text-indent: 10px;
  }
  .baseCon textarea {
    height: 120px;
  }
  .imgShow {
    width: 200px;
    height: 100px;
    margin-right: 20px;
  }
  .upImg {
    margin-bottom: 50px;
  }
  .up_img input,
  .up_img label,
  .up_img {
    width: 130px;
    height: 50px;
    line-height: 50px;
    margin-top: 28px;
  }
  #logoShow {
    width: 200px;
    height: 200px;
  }
  .logoUp .up_img input,
  .logoUp .up_img label {
    margin-top: 90px;
  }
  .baseCon select {
    width: 142px;
  }
  .affirm {
    margin: 40px 0 60px;
  }
  .affirm input {
    width: 220px;
    height: 60px;
    line-height: 60px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .content {
    width: 992px;
    margin: 20px auto 0;
  }
  .tabList {
    height: 1834px;
    width: 200px;
    margin-right: 12px;
  }
  .tabList > a {
    line-height: 60px;
    height: 60px;
    width: 200px;
  }
  .baseCon {
    width: 780px;
  }
  .baseCon h3 {
    padding: 30px 0 10px 0;
    text-indent: 30px;
    margin-bottom: 40px;
  }
  .baseCon label {
    width: 182px;
    line-height: 50px;
    text-indent: 40px;
  }
  .baseCon input[type="text"],
  .baseCon textarea,
  .baseCon select {
    width: 340px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 40px;
    text-indent: 10px;
  }
  .baseCon textarea {
    height: 200px;
  }
  .imgShow {
    width: 300px;
    height: 180px;
    margin-right: 32px;
  }
  .upImg {
    margin-bottom: 50px;
  }
  .up_img input,
  .up_img label,
  .up_img {
    width: 130px;
    height: 50px;
    line-height: 50px;
    margin-top: 110px;
  }
  #logoShow {
    width: 200px;
    height: 200px;
  }
  .logoUp .up_img input,
  .logoUp .up_img label {
    margin-top: 90px;
  }
  .baseCon select {
    width: 142px;
  }
  .affirm {
    margin: 60px 0 90px;
  }
  .affirm input {
    width: 220px;
    height: 60px;
    line-height: 60px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .content {
    width: 1200px;
    margin: 20px auto 0;
  }
  .tabList {
    height: 1984px;
    width: 240px;
    margin-right: 20px;
  }
  .tabList > a {
    line-height: 60px;
    height: 60px;
    width: 240px;
  }
  .baseCon {
    width: 940px;
  }
  .baseCon h3 {
    padding: 30px 0 10px 0;
    text-indent: 30px;
    margin-bottom: 50px;
  }
  .baseCon label {
    width: 182px;
    line-height: 50px;
    text-indent: 40px;
  }
  .baseCon input[type="text"],
  .baseCon textarea,
  .baseCon select {
    width: 340px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 50px;
    text-indent: 10px;
  }
  .baseCon textarea {
    height: 200px;
  }
  .imgShow {
    width: 350px;
    height: 220px;
    margin-right: 32px;
  }
  .upImg {
    margin-bottom: 50px;
  }
  .up_img input,
  .up_img label,
  .up_img {
    width: 130px;
    height: 50px;
    line-height: 50px;
    margin-top: 154px;
  }
  #logoShow {
    width: 200px;
    height: 200px;
  }
  .logoUp .up_img input,
  .logoUp .up_img label {
    margin-top: 90px;
  }
  .baseCon select {
    width: 142px;
  }
  .affirm {
    margin: 60px 0 90px;
  }
  .affirm input {
    width: 220px;
    height: 60px;
    line-height: 60px;
  }
}
