/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .contentL .intro label {
    width: 260px;
    text-align: justify;
    margin: 4px 0 0 36px;
    line-height: 18px;
    display: block;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .contentL .intro label {
    width: 320px;
    text-align: justify;
    margin:0 0 0 36px;
    line-height: 30px;
    display: block;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .contentL .intro label {
    width: 320px;
    text-align: justify;
    margin: 8px 0 0 36px;
    line-height: 30px;
    display: block;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .contentL .intro label {
    width: 360px;
    text-align: justify;
    margin: 8px 0 0 36px;
    line-height: 30px;
    display: block;
  }
}
