body {
  background: #f0f0f0;
  color: #3C3C3C;
}
.bdsharebuttonbox{
  width: 32px;
}
.share-platform{
  position: fixed;
  right: 30px;bottom: 30px;
}
a {
  color: #3C3C3C;
  transition: color 300ms, background-color 300ms;
}
a:hover,
a:focus {
  color: #FE6C16;
  text-decoration: none;
}
/*企业名称集中*/
.Ctitle{line-height: 70px;}
.Ctitle{text-align: center;margin: auto;}
/* ��С��Ļ���ֻ���С�� 768px�� */
@media (min-width: 320px) and (max-width: 768px) {
  /*����*/
  .top-bar {
    padding: 10px 0;
    background: #1E1E1E;
    line-height: 28px;
    font-size: 10px;
    /*margin-bottom: -28px;*/
  }
  .top-bar .top_b {
    display: none;
  }
  .top-bar .top-number {
    font-size: 12px!important;
  }
  .top-bar a {
    color: #ffffff;
  }
  .top-bar a:hover {
    color: #FE6C16;
  }
  .top-bar .social {
    text-align: right;
  }
  .top-bar .social .social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-top: -28px;
  }
  .top-bar .social-share li {
    display: inline-block;
  }
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navbar-brand .nav_img {
    width: 84px;
    height: auto;
  }
  .navbar {
    height: 60px;
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 0;
    background: #ffffff;
  }
  .navbar_na {
    width: 287px;
    height: 237px;
    background: #1E1E1E;
  }
  .navbar_na li {
    width: 80px;
    margin-left: 20px;
    margin-top: 15px;
  }
  .navbar_na li a {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 5px;
    border: 1px solid transparent;
    border-radius: 48px;
  }
  .navbar_na li a:hover {
    background: #FE6C16;
  }
  .navbar-collapse {
    border-top: 0;
    padding-bottom: 0;
    position: absolute;
    z-index: 1000;
  }
  button.navbar-toggle {
    width: 31px;
    height: 30px;
    color: #ffffff;
    background: #EEEEEE!important;
    margin-top: 4px;
  }
  button.navbar-toggle .icon-bar {
    background: #666666;
    margin-left: -6px;
  }
  .imgco {
    width: 100%;
  }
  .icon li {
    width: 5px;
    height: 5px;
    background: #99928c;
    border: 1px solid #99928c;
    border-radius: 50%;
  }
  .icon .active {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  .item {
    position: relative;
  }
  .item .slide-margin {
    margin-top: -151px;
  }
  .item .carousel-content p {
    color: #ffffff;
    font-size: 18px;
    margin-left: -139px;
    margin-top: 30px;
    display: none;
  }
  .item .carousel-content a {
    display: none;
    width: 90px ;
    height: 27px;
    text-align: center;
    line-height: 27px;
    border: 1px solid #FE6C16;
    border-radius: 28px;
    color: #FE6C16;
    font-size: 12px;
    margin-top: 40px;
    margin-left: 10px;
  }
  .item .carousel-content a:hover {
    background: #FE6C16;
    color: #ffffff;
  }
  .manage {
    width: 100%;
    height: 60px;
  }
  .manage a {
    display: inline-block;
    width: 75px;
    height: 25px;
    border: 1px solid #FE6C16;
    text-align: center;
    margin-top: 30px;
    line-height: 25px;
    border-radius: 28px;
    margin-right: 15px;
    color: #FE6C16;
    font-size: 12px;
  }
  .manage a:hover {
    background: #FE6C16;
    color: #ffffff;
  }
  .detail {
    width: 100%;
    height: auto;
  }
  .detail .de_left {
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-top: 8px;
  }
  .detail .de_left .text_center {
    text-align: center;
    color: #3C3C3C;
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 10px;
    display: none;
  }
  .detail .de_left .de_img {
    height: 100%;
    height: 75px;
    margin-bottom: 10px;
  }
  .detail .de_left .de_none {
    display: none;
  }
  .detail .de_top,
  .detail .de_p {
    width: 100%;
    height: 42px;
    color: #3C3C3C;
  }
  .detail .de_top p,
  .detail .de_p p {
    line-height: 50px;
    font-size: 14px;
  }
  .detail .de_top .ic_left,
  .detail .de_p .ic_left,
  .detail .de_top .right_span,
  .detail .de_p .right_span {
    display: inline-block;
    width: 4px;
    height: 18px;
    background: #FE6C16;
    margin: 0px 5px -4px 0px;
  }
  .detail .de_top .ic_right,
  .detail .de_p .ic_right {
    float: right;
    color: #8C8C8C;
    font-size: 12px;
    margin-bottom: -10px;
  }
  .detail .de_top .right_red,
  .detail .de_p .right_red {
    float: right;
    color: #FE6C16;
    font-size: 12px;
  }
  .detail .de_top {
    border-bottom: 1px solid #DFDFDF;
  }
  .detail .de_bottom {
    margin-top: 10px;
  }
  .detail .de_bottom img {
    width: 100px;
    height: 72px;
    background: url("../images/model/deta.jpg") no-repeat;
    background-size: cover;
    float: left;
    border-radius: 4px;
  }
  .detail .de_bottom .right_p {
    width: 127px;
    height: 79px;
    overflow: hidden;
    float: left;
    margin: 6px 0px 0px 3px;
    display: block;
  }
  .detail .de_bottom .right_p p {
    line-height: 29px;
    font-family: "΢���ź�";
    text-indent: 2em;
    font-size: 12px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: -18px;
  }
  .detail .de_bottom .fo_img {
    width: 100px;
    height: auto;
    border-radius: 4px;
    margin-top: 12px;
  }
  .detail .de_bottom .right_pp {
    width: 126px;
    height: 67px;
    overflow: hidden;
    float: left;
    margin: 25px 0px 0px 3px;
    display: block;
  }
  .detail .de_bottom .right_pp p {
    line-height: 25px;
    font-family: "΢���ź�";
    text-indent: 2em;
    font-size: 12px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: -18px;
  }
  .detail .foot_ul {
    clear: both;
    list-style: disc;
    padding: 10px auto;
    color: #3C3C3C;
    font-size: 12px;
  }
  .detail .foot_ul li:nth-of-type(1) {
    margin-top: 10px;
  }
  .detail .foot_ul li {
    margin: 10px 0px 10px -5px;
  }
  .detail .foot_ul .foot_right {
    float: right;
    color: #3C3C3C;
    font-size: 12px;
  }
  #footer {
    width: 100%;
    height: 95px;
    background: #1E1E1E;
    margin-top: 20px;
    padding-top: 17px;
    color: #ffffff;
    font-size: 14px;
  }
  #footer a {
    color: #ffffff;
  }
  #footer p {
    text-align: center;
  }
}
/* С��Ļ��ƽ�壬���ڵ��� 768px�� */
@media (min-width: 768px) {
  /*����*/
  .top-bar {
    padding: 10px 0;
    background: #1E1E1E;
    line-height: 28px;
    font-size: 12px;
  }
  .top-bar .top-number {
    width: 370px;
  }
  .top-bar a {
    color: #ffffff;
  }
  .top-bar a:hover {
    color: #FE6C16;
  }
  .top-bar .social {
    text-align: right;
  }
  .top-bar .social .social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    font-size: 12px;
  }
  .top-bar .social-share li {
    display: inline-block;
  }
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navbar-brand .nav_img {
    width: 141px;
    height: auto;
    margin-left: 21px;
  }
  .navbar {
    height: 89px;
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 0;
    padding-bottom: 20px;
    background: #ffffff;
  }
  .navbar_na {
    margin-left: 191px;
    width: 511px;
    height: 78px;
    background: transparent;
    margin-top: 12px;
  }
  .navbar_na li {
    margin-left: 17px;
    padding-bottom: 28px;
  }
  .navbar_na li a {
    padding: 5px 12px;
    margin: 0;
    color: #3C3C3C;
    border-radius: 40px;
    line-height: 16px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 12px;
    transition: color 300ms, border 300ms;
  }
  .navbar_na li a:hover {
    color: #FE6C16;
    border: 1px solid #FE6C16;
    background: transparent;
    transition: color 300ms, border 300ms;
  }
  .navbar_na li img {
    margin-top: -1px;
  }
  .navbar-collapse {
    border-top: 0;
    padding-bottom: 0;
    position: absolute;
    z-index: 1000;
  }
  button.navbar-toggle {
    color: #ffffff;
    background: #EEEEEE!important;
    margin-top: 23px;
  }
  button.navbar-toggle .icon-bar {
    background: #666666;
  }
  .imgco {
    width: 100%;
  }
  .icon li {
    width: 41px;
    height: 3px;
    background: #99928c;
    border: 1px solid #99928c;
    border-radius: 0px;
    margin-top: 0px;
  }
  .icon .active {
    width: 41px;
    height: 3px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0px;
  }
  .item {
    position: relative;
  }
  .item .slide-margin {
    margin-top: -212px;
  }
  .item .carousel-content .hh1 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-left: 40px;
    display: none;
  }
  .item .carousel-content p {
    color: #ffffff;
    font-size: 18px;
    margin-left: -139px;
    margin-top: 30px;
    display: none;
  }
  .item .carousel-content a {
    display: inline-block;
    width: 135px ;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #FE6C16;
    border-radius: 28px;
    color: #FE6C16;
    font-size: 12px;
    margin-top: 61px;
  }
  .item .carousel-content a:hover {
    background: #FE6C16;
    color: #ffffff;
  }
  .manage {
    width: 100%;
    height: 79px;
  }
  .manage a {
    display: inline-block;
    width: 135px;
    height: 35px;
    border: 1px solid #FE6C16;
    text-align: center;
    margin-top: 30px;
    line-height: 35px;
    border-radius: 28px;
    margin-right: 15px;
    color: #FE6C16;
    font-size: 12px;
  }
  .manage a:hover {
    background: #FE6C16;
    color: #ffffff;
  }
  .detail {
    width: 100%;
    height: auto;
  }
  .detail .de_left {
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .detail .de_left .text_center {
    text-align: center;
    color: #3C3C3C;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 10px;
    display: none;
  }
  .detail .de_left .de_img {
    height: 108px;
    margin-bottom: 10px;
  }
  .detail .de_left .de_none {
    display: block;
  }
  .detail .de_top,
  .detail .de_p {
    width: 100%;
    height: 50px;
    color: #3C3C3C;
    padding: 15px auto;
  }
  .detail .de_top p,
  .detail .de_p p {
    line-height: 50px;
    font-size: 14px;
  }
  .detail .de_top .ic_left,
  .detail .de_p .ic_left,
  .detail .de_top .right_span,
  .detail .de_p .right_span {
    display: inline-block;
    width: 4px;
    height: 18px;
    background: #FE6C16;
    margin: 0px 5px -4px 0px;
  }
  .detail .de_top .ic_right,
  .detail .de_p .ic_right {
    float: right;
    color: #8C8C8C;
    font-size: 12px;
  }
  .detail .de_top .right_red,
  .detail .de_p .right_red {
    float: right;
    color: #FE6C16;
    font-size: 12px;
  }
  .detail .de_top {
    border-bottom: 1px solid #DFDFDF;
  }
  .detail .de_bottom {
    margin-top: 10px;
  }
  .detail .de_bottom img {
    width: 220px;
    height: auto;
    background: url("../images/model/deta.jpg") no-repeat;
    background-size: cover;
    margin-top: 14px;
    float: left;
    border-radius: 4px;
  }
  .detail .de_bottom .right_p {
    width: 422px;
    height: auto;
    float: right;
    margin: 15px 0px 0px 3px;
    display: block;
  }
  .detail .de_bottom .right_p p {
    line-height: 23px;
    font-family: "΢���ź�";
    text-indent: 2em;
    font-size: 12px;
    display: block;
    overflow: inherit;
    white-space: normal;
    text-overflow: clip;
  }
  .detail .de_bottom .fo_img {
    width: 220px;
    height: 149px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 23px;
  }
  .detail .de_bottom .right_pp {
    width: 425px;
    height: auto;
    float: right;
    margin: 25px 0px 0px 3px;
  }
  .detail .de_bottom .right_pp p {
    line-height: 25px;
    font-family: "΢���ź�";
    text-indent: 2em;
    font-size: 12px;
    display: block;
    overflow: inherit;
    white-space: normal;
    text-overflow: clip;
  }
  .detail .foot_ul {
    clear: both;
    margin-left: -22px;
    padding: 10px auto;
    color: #3C3C3C;
    font-size: 10px;
  }
  .detail .foot_ul li:nth-of-type(1) {
    margin-top: 10px;
  }
  .detail .foot_ul li {
    list-style: disc;
    margin-left: 37px;
  }
  .detail .foot_ul .foot_right {
    float: right;
    color: #3C3C3C;
    font-size: 12px;
    display: inline-block;
  }
  .detail .search {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 20px;
  }
  .detail .search input[type=text] {
    width: 100%;
    height: 37px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    text-indent: 1rem;
  }
  .detail .search img {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .detail .right_deta {
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-top: 9px;
  }
  .detail .right_deta p {
    font-size: 12px;
  }
  .detail .right_deta p .right_span {
    margin-left: 1rem;
  }
  .detail .right_deta .ri_bottom {
    width: 100%;
    height: auto;
  }
  ::-webkit-input-placeholder {
    font-size: 10px;
    color: #8C8C8C;
  }
  .ri_detail {
    width: 100%;
    height: 70px;
    padding-bottom: 10px;
  }
  .ri_detail .min_center {
    width: 94%;
    height: 70px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
    margin: 0px 4%;
  }
  .min_center img {
    width: 71px;
    height: 62px;
    margin-top: 2px;
    float: left;
  }
  .min_center p {
    line-height: 64px;
    margin-left: 84px;
    font-size: 12px;
  }
  .min_center p:nth-of-type(1) {
    margin-bottom: -45px;
    margin-top: 9px;
  }
  .foot_p {
    width: 100%;
    height: auto;
    background: #ffffff;
    padding-bottom: 20px;
  }
  .foot_p .ri_p {
    margin-top: 20px;
  }
  .foot_p p {
    margin-left: 14px;
    font-size: 14px;
  }
  .ri_bot {
    width: 100%;
    height: auto;
    position: relative;
  }
  .ri_bot img {
    width: 100%;
    height: 149px;
  }
  .ri_bot h3 {
    position: absolute;
    color: #ffffff;
    margin-top: -97px;
    margin-left: 38px;
    font-size: 14px;
  }
  #footer {
    width: 100%;
    height: 200px;
    background: #1E1E1E;
    margin-top: 20px;
    padding-top: 60px;
    color: #ffffff;
    font-size: 12px;
  }
  #footer a {
    color: #ffffff;
  }
  #footer p {
    text-align: center;
  }
}
/* �е���Ļ��������ʾ���� */
@media (min-width: 992px) {
  .de_left{cursor:pointer;}
  .top-bar {
    padding: 10px 0;
    background: #1E1E1E;
    line-height: 28px;
    font-size: 14px;
  }
  .top-bar .top-number {
    width: 370px;
  }
  .top-bar a {
    color: #ffffff;
  }
  .top-bar a:hover {
    color: #FE6C16;
  }
  .top-bar .social {
    text-align: right;
  }
  .top-bar .social .social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .top-bar .social-share li {
    display: inline-block;
    font-size: 14px;
    margin: 0px 4px;
  }
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navbar-brand .nav_img {
    width: 141px;
    height: auto;
    margin-left: 20px;
  }
  .navbar {
    height: 94px;
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 0;
    padding-bottom: 20px;
    background: #ffffff;
  }
  .navbar_na {
    margin-top: 17px;
    margin-left: 191px;
  }
  .navbar_na li {
    margin-left: 17px;
    padding-bottom: 25px;
  }
  .navbar_na li a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 40px;
    line-height: 15px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid transparent;
    transition: color 300ms, border 300ms;
  }
  .navbar_na li a:hover {
    color: #FE6C16;
    border: 1px solid #FE6C16;
    background: transparent;
    transition: color 300ms, border 300ms;
  }
  .navbar_na li img {
    margin-top: -1px;
  }
  .navbar-collapse {
    border-top: 0;
    padding-bottom: 0;
    position: absolute;
    z-index: 1000;
  }
  button.navbar-toggle {
    color: #ffffff;
    background: #EEEEEE!important;
    margin-top: 23px;
  }
  button.navbar-toggle .icon-bar {
    background: #666666;
  }
  .imgco {
    width: 100%;
  }
  .icon li {
    width: 41px;
    height: 3px;
    background: #99928c;
    border: 1px solid #99928c;
    border-radius: 0px;
  }
  .icon .active {
    width: 41px;
    height: 3px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0px;
  }
  .item {
    position: relative;
  }
  .item .slide-margin {
    margin-top: -212px;
  }
  .item .carousel-content {
    margin-top: -19px;
  }
  .item .carousel-content .hh1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-left: 40px;
    display: block;
  }
  .item .carousel-content p {
    color: #ffffff;
    font-size: 14px;
    margin-left: -139px;
    margin-top: 30px;
    display: block;
  }
  .item .carousel-content a {
    display: inline-block;
    width: 150px ;
    height: 38px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #FE6C16;
    border-radius: 28px;
    color: #FE6C16;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .item .carousel-content a:hover {
    background: #FE6C16;
    color: #ffffff;
  }
  .manage {
    width: 100%;
    height: 77px;
  }
  .manage a {
    display: inline-block;
    width: 150px;
    height: 38px;
    border: 1px solid #FE6C16;
    text-align: center;
    margin-top: 30px;
    line-height: 38px;
    border-radius: 28px;
    margin-right: 15px;
    color: #FE6C16;
    font-size: 16px;
  }
  .manage a:hover {
    background: #FE6C16;
    color: #ffffff;
  }
  .detail {
    width: 100%;
    height: auto;
  }
  .detail .de_left {
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .detail .de_left .text_center {
    text-align: center;
    color: #3C3C3C;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
  }
  .detail .de_left .de_img {
    height: 146px;
  }
  .detail .de_top,
  .detail .de_p {
    width: 100%;
    height: 50px;
    color: #3C3C3C;
    padding: 15px auto;
  }
  .detail .de_top p,
  .detail .de_p p {
    line-height: 50px;
    font-size: 14px;
  }
  .detail .de_top .ic_left,
  .detail .de_p .ic_left,
  .detail .de_top .right_span,
  .detail .de_p .right_span {
    display: inline-block;
    width: 4px;
    height: 18px;
    background: #FE6C16;
    margin: 0px 5px -4px 0px;
  }
  .detail .de_top .ic_right,
  .detail .de_p .ic_right {
    float: right;
    color: #8C8C8C;
    font-size: 12px;
  }
  .detail .de_top .right_red,
  .detail .de_p .right_red {
    float: right;
    color: #FE6C16;
    font-size: 12px;
  }
  .detail .de_top {
    border-bottom: 1px solid #DFDFDF;
  }
  .detail .de_bottom {
    margin-top: 10px;
  }
  .detail .de_bottom img {
    width: 168px;
    height: auto;
    background: url("../images/model/deta.jpg") no-repeat;
    background-size: cover;
    margin-top: 10px;
    float: left;
    border-radius: 4px;
  }
  .detail .de_bottom .right_p {
    width: 713px;
    height: auto;
    float: right;
    margin: 19px 0px 0px 3px;
    display: block;
  }
  .detail .de_bottom .right_p p {
    line-height: 23px;
    font-family: "΢���ź�";
    text-indent: 2em;
    font-size: 12px;
  }
  .detail .de_bottom .fo_img {
    width: 142px;
    height: 81px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 9px;
  }
  .detail .de_bottom .right_pp {
    width: 743px;
    height: auto;
    float: right;
    margin: 0px 0px 0px 3px;
    display: block;
  }
  .detail .de_bottom .right_pp p {
    line-height: 25px;
    font-family: "΢���ź�";
    text-indent: 2em;
    font-size: 12px;
  }
  .detail .foot_ul {
    clear: both;
    margin-left: -22px;
    padding: 10px auto;
    color: #3C3C3C;
    font-size: 12px;
  }
  .detail .foot_ul li:nth-of-type(1) {
    margin-top: 10px;
  }
  .detail .foot_ul li {
    list-style: disc;
    margin-left: 38px;
  }
  .detail .foot_ul .foot_right {
    float: right;
    color: #3C3C3C;
    font-size: 12px;
    display: inline-block;
  }
  .foot_p {
    width: 100%;
    height: auto;
    background: #ffffff;
    padding-bottom: 20px;
  }
  .foot_p .ri_p {
    margin-top: 20px;
  }
  .foot_p p {
    margin-left: 14px;
    font-size: 12px;
  }
  #footer {
    width: 100%;
    height: 233px;
    background: #1E1E1E;
    margin-top: 20px;
    padding-top: 80px;
    color: #ffffff;
    font-size: 12px;
  }
  #footer a {
    color: #ffffff;
  }
  #footer p {
    text-align: center;
  }
}
/* ����Ļ����������ʾ���� */
@media (min-width: 1200px) {
  .de_left{cursor:pointer;}
  .top-bar {
    padding: 10px 0;
    background: #1E1E1E;
    line-height: 28px;
    font-size: 14px;
  }
  .top-bar a {
    color: #ffffff;
  }
  .top-bar a:hover {
    color: #FE6C16;
  }
  .top-bar .social {
    text-align: right;
  }
  .top-bar .social .social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .top-bar .social-share li {
    display: inline-block;
    font-size: 14px;
    margin: 0px 4px;
  }
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navbar-brand .nav_img {
    width: 150px;
    height: auto;
    margin-left: 21px;
  }
  .navbar {
    height: 100px;
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 0;
    padding-bottom: 20px;
    background: #ffffff;
  }
  .navbar_na {
    margin-top: 18px;
    margin-left: 191px;
    width: 1200px;
  }
  .navbar_na li {
    margin-left: 17px;
    padding-bottom: 28px;
  }
  .navbar_na li a {
    padding: 5px 32px;
    margin: 0;
    border-radius: 40px;
    line-height: 24px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    transition: color 300ms, border 300ms;
  }
  .navbar_na li a:hover {
    color: #FE6C16;
    border: 1px solid #FE6C16;
    background: transparent;
    transition: color 300ms, border 300ms;
  }
  .navbar_na li img {
    margin-top: -1px;
  }
  .navbar-collapse {
    border-top: 0;
    padding-bottom: 0;
    position: absolute;
    z-index: 1000;
  }
  button.navbar-toggle {
    color: #ffffff;
    background: #EEEEEE!important;
    margin-top: 23px;
  }
  button.navbar-toggle .icon-bar {
    background: #666666;
  }
  .imgco {
    width: 100%;
  }
  .icon li {
    width: 41px;
    height: 4px;
    background: #99928c;
    border: 1px solid #99928c;
    border-radius: 0px;
  }
  .icon .active {
    width: 41px;
    height: 4px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0px;
  }
  .item {
    position: relative;
  }
  .item .slide-margin {
    margin-top: -212px;
  }
  .item .carousel-content {
    margin-top: -70px;
  }
  .item .carousel-content .hh1 {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-left: 30px;
    display: block;
  }
  .item .carousel-content p {
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    display: block;
  }
  .item .carousel-content a {
    display: inline-block;
    width: 180px ;
    height: 47px;
    text-align: center;
    line-height: 47px;
    border: 1px solid #FE6C16;
    border-radius: 28px;
    color: #FE6C16;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .item .carousel-content a:hover {
    background: #FE6C16;
    color: #ffffff;
  }
  .manage {
    width: 100%;
    height: 90px;
  }
  .manage a {
    display: inline-block;
    width: 180px;
    height: 47px;
    border: 1px solid #FE6C16;
    text-align: center;
    margin-top: 30px;
    line-height: 47px;
    border-radius: 28px;
    margin-right: 15px;
    color: #FE6C16;
    font-size: 18px;
  }
  .manage a:hover {
    background: #FE6C16;
    color: #ffffff;
  }
  .detail {
    width: 100%;
    height: auto;
  }
  .detail .de_left {
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .detail .de_left .text_center {
    text-align: center;
    color: #3C3C3C;
    font-size: 14px;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .detail .de_left .de_img {
    height: 187px;
  }
  .detail .de_top,
  .detail .de_p {
    width: 100%;
    height: 50px;
    color: #3C3C3C;
    padding: 15px auto;
  }
  .detail .de_top p,
  .detail .de_p p {
    line-height: 50px;
    font-size: 14px;
  }
  .detail .de_top .ic_left,
  .detail .de_p .ic_left,
  .detail .de_top .right_span,
  .detail .de_p .right_span {
    display: inline-block;
    width: 4px;
    height: 18px;
    background: #FE6C16;
    margin: 0px 5px -4px 0px;
  }
  .detail .de_top .ic_right,
  .detail .de_p .ic_right {
    float: right;
    color: #8C8C8C;
    font-size: 12px;
  }
  .detail .de_top .right_red,
  .detail .de_p .right_red {
    float: right;
    color: #FE6C16;
    font-size: 12px;
  }
  .detail .de_top {
    border-bottom: 1px solid #DFDFDF;
  }
  .detail .de_bottom {
    margin-top: 10px;
  }
  .detail .de_bottom img {
    width: 226px;
    height: 170px;
    background: url("../images/model/deta.jpg") no-repeat;
    background-size: cover;
    margin-top: 15px;
    float: left;
    border-radius: 4px;
  }
  .detail .de_bottom .right_p {
    width: 864px;
    height: auto;
    float: right;
    margin: 32px 0px 0px 3px;
  }
  .detail .de_bottom .right_p p {
    line-height: 30px;
    font-family: "΢���ź�";
    text-indent: 2em;
    font-size: 14px;
  }
  .detail .de_bottom .fo_img {
    width: 188px;
    height: 121px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .detail .de_bottom .right_pp {
    width: 903px;
    height: auto;
    float: right;
    margin: 25px 0px 0px 3px;
  }
  .detail .de_bottom .right_pp p {
    line-height: 25px;
    font-family: "΢���ź�";
    text-indent: 2em;
    font-size: 14px;
  }
  .detail .foot_ul {
    clear: both;
    margin-left: 15px;
    color: #3C3C3C;
    font-size: 14px;
  }
  .detail .foot_ul li:nth-of-type(1) {
    margin-top: 10px;
  }
  .detail .foot_ul li {
    margin: 10px auto;
    list-style: disc;
  }
  .detail .foot_ul .foot_right {
    float: right;
    color: #3C3C3C;
    font-size: 14px;
    display: inline-block;
  }
  #footer {
    width: 100%;
    height: 233px;
    background: #1E1E1E;
    margin-top: 20px;
    padding-top: 80px;
    color: #ffffff;
    font-size: 14px;
  }
  #footer a {
    color: #ffffff;
  }
  #footer p {
    text-align: center;
  }
}
@media (width: 414px) {
  .right_p {
    width: 209px;
  }
  .right_pp {
    width: 209px;
  }
}
