.contentL h2 {
  text-align: left;
}
.contentL > ul > li:last-child {
  border: none;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .contentL {
    padding: 0 10px;
  }
  .contentL img {
    height: 220px;
    width: 290px;
  }
  .contentL > ul > li {
    padding: 28px 0 22px;
    border-bottom: 1px solid #dfdfdf;
  }
  .contentL > ul > li .title {
    width: 300px;
  }
  .contentL > ul > li .title h2 {
    padding: 12px 0 10px;
  }
  .contentL > ul > li .title h3 {
    line-height: 18px;
    /*margin-bottom: 20px;*/
  }
  .contentL > ul > li .title ul > li {
    margin-right: 10px;
  }
  #more {
    text-align: center;
    padding: 34px 0 20px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .contentL {
    padding: 0 20px;
  }
  .contentL img {
    height: 180px;
    width: 240px;
  }
  .contentL > ul > li {
    padding: 28px 0 22px;
    border-bottom: 1px solid #dfdfdf;
  }
  .contentL > ul > li .title {
    width: 450px;
  }
  .contentL > ul > li .title h2 {
    padding: 18px 0 14px;
  }
  .contentL > ul > li .title h3 {
    line-height: 24px;
    height: 92px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .contentL > ul > li .title ul > li {
    margin-right: 24px;
  }
  #more {
    text-align: center;
    padding: 44px 0 30px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .contentL {
    padding: 0 20px;
  }
  .contentL img {
    height: 160px;
    width: 210px;
  }
  .contentL > ul > li {
    padding: 28px 0 22px;
    border-bottom: 1px solid #dfdfdf;
  }
  .contentL > ul > li .title {
    width: 450px;
  }
  .contentL > ul > li .title h2 {
    padding: 18px 0 14px;
  }
  .contentL > ul > li .title h3 {
    line-height: 22px;
    height: 80px;
    margin-bottom: 20px;
  }
  .contentL > ul > li .title ul > li {
    margin-right: 24px;
  }
  #more {
    text-align: center;
    padding: 44px 0 30px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .contentL {
    padding: 0 20px;
  }
  .contentL img {
    height: 174px;
    width: 230px;
  }
  .contentL > ul > li {
    padding: 30px 0 24px;
  }
  .contentL > ul > li .title {
    width: 586px;
  }
  .contentL > ul > li .title h2 {
    padding: 14px 0 20px;
  }
  .contentL > ul > li .title h3 {
    line-height: 30px;
    height: 92px;
    margin-bottom: 16px;
  }
  .contentL > ul > li .title ul > li {
    margin-right: 24px;
  }
  #more {
    text-align: center;
    padding: 50px 0 36px;
  }
}
