/* 超小屏幕（手机，小于 768px） */
/* 小屏幕（平板，大于等于 768px） */
/* 中等屏幕（桌面显示器） */
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .content {
    width: 1200px;
    margin: 40px auto 0;
  }
  .contentL {
    width: 872px;
    padding: 0 20px 10px;
  }
  .contentR {
    width: 310px;
  }
}
