h2, h3, h4, h5 {
    margin: 0
}

.shops input[type=button] {
    background: #323232
}

input {
    background: #fff
}

.mainBg {
    background: #f0f0f0
}

.indexNav:before {
    content: "";
    background: url(../images/shops/twoIndexNav.png) no-repeat;
    background-size: 157px 7px;
    width: 157px;
    height: 7px;
    position: absolute;
    top: -7px;
    left: 0
}

.shops .search:before {
    background: #323232
}

.indexNav {
    background: #1e1e1e
}
/*����ڶ�����ʼ*/
body .share-platform .bds_weixin_color {
    background: url('../images/postDetails/css-bg.png') no-repeat;
    background-position: -32px -13px !important;
}
body .share-platform .bds_tsina_color {
    background: url('../images/postDetails/css-bg.png') no-repeat;
    background-position: -67px -13px !important;
}
body .share-platform .bds_qzone_color {
    background-image: url('../images/postDetails/css-bg.png');
    background-position: -101px -13px !important;
}

/*����ڶ�������*/
/*���ۻظ����ֳߴ繲�ò���*/
.commentTitle{border-bottom:1px solid #dfdfdf;padding-bottom:20px;}
.tjpl {
    position: relative;
}
.tjpl span {
    position: absolute;
    right: 0;
    top: 2em;
    cursor: pointer;
}
.pinghuifu {
    width: 100%;
    background-position:center center;
}
.pl-touxang img{
    /*background: url("../images/postDetails/header.png") no-repeat;*/
    border-radius: 50%;
    overflow: hidden;
}
.huifu-s {
    text-align: right;
}
.re-tijiao {
    text-align: right;
}
.re-hide,
.reply {
    display: none;
}
.contentL .title h3 {
    border-bottom: 1px solid #dfdfdf;
}
.share-platform a {
    width: 32px;
    height: 32px;
}
.huifu-s {
    background: url("../images/postDetails/comment.png") no-repeat;
    cursor: pointer;
}
.support {
    background: url("../images/postDetails/support.png") no-repeat;
    cursor: pointer;
}
.contentL .huifu-s-green{background: url("../images/postDetails/commentGreen.png") no-repeat;color: #9ab126;}
.contentL .support-green{background: url("../images/postDetails/supportGreen.png") no-repeat;color: #9ab126;}
textarea {width: 100%;border: 1px solid #dfdfdf;}
.tjpl input,.re-tijiao input {border: none;border-radius:2px;background:#3c3c3c;}
.pl_more{color:#3c3c3c;text-align:center;display:block;}
.pl_more:hover{color:#3c3c3c;text-decoration:none;}
/*���ۻظ�����*/

@media (max-width: 768px) {
    .content {
        margin: 20px auto 0
    }

    .content, .contentL, .contentR {
        width: 320px
    }
    .model-one {
        padding:0 2px;
        margin-top:20px
    }

    .model-one .pic img {
        width:316px;
    }

    .model-one .title {
        width:320px;
        padding:0 2px;
    }

    .model-one h4 {
        margin:8px 0 8px
    }

    .model-one p {
        line-height:22px;
    font-size:12px;
    }
    .share-platform .bds_weixin {
        background: url('../images/postDetails/css-bg_share.png') no-repeat;
        background-position: -32px -13px !important;margin:0 10px 0 0;
    }
    .share-platform .bds_tsina {
        background: url('../images/postDetails/css-bg_share.png') no-repeat;
        background-position: -67px -13px !important;margin:0 10px 0 0;
    }
    .share-platform .bds_qzone {
        background-image: url('../images/postDetails/css-bg_share.png');
        background-position: -101px -13px !important;margin:0 10px 0 0;
    }
    .collect{line-height:32px;padding-right:35px;background:url("../images/postDetails/collect.png") no-repeat right;margin-right:10px;}
    .collect-green{line-height:32px;padding-right:35px;background:url("../images/postDetails/collectGreen.png") no-repeat right;margin-right:10px;}
    .model-one .collect{line-height:32px;padding-right:35px;background:url("../images/postDetails/collect.png") no-repeat right;margin-right:10px;}
    .model-one .dib{line-height:32px;}
    .dib{line-height:32px;}
    .model-one h5 {
        margin: 16px 0 20px
    }
    .model-one input[type=button] {
        border: none;
        border-radius: 1px;
        width: 80px;
        line-height: 30px;
        background: #323232
    }
    /*zuo*/
    h3 {
        font-size: 18px;
        line-height: 48px;
        text-indent: 14px;
        border-bottom: 1px solid #e6e6e6
    }

    h3:before {
        content: "";
        background: #323232;
        position: absolute;
        width: 3px;
        height: 18px;
        left: 0;
        top: 16px
    }

    h3 i {
        font-size: 12px;
        font-style: normal;
        text-transform: uppercase;
        margin-left: 14px
    }

    .details {
        padding: 0 10px;
        margin: 10px 0
    }

    .details h4 {
        margin: 10px 0
    }

    .details .parameter ul {
        width: 100%
    }
    /*���ۻظ�*/
    .pl-touxang {
        background-size: 38px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        overflow: hidden;
        margin: 20px 12px 0 0;
    }
    .commentTitle h5 {
        margin: 24px 0 8px ;
        font-size: 12px;
    }
    .commentTitle i {
        font-size: 12px;
        margin: 24px 0 8px 10px;
    }
    .commentTitle .phPar {
        line-height: 18px;
        margin: 0 0 24px;
        font-size: 12px;
        width: 250px;
    }
    .huifu-s {
        background-size: 18px;
        text-indent: 24px;
        line-height: 18px;
        margin-right: 16px;
    }
    .support {
        background: url("../images/postDetails/support.png") no-repeat;
        background-size: 18px;
        line-height: 18px;
        text-indent: 24px;
    }
    textarea {
        width: 100%;
        height: 98px;
        margin: 6px 0 10px;
    }
    .tjpl input,
    .re-tijiao input {
        width: 108px;
        line-height: 32px;
        margin:0 96px 10px 96px;
    }
.pl_more{line-height:30px;}
    /*���ۻظ�����*/
    .market{overflow:hidden;padding:0 8px 12px 8px;margin:10px auto;}
    .market_one{width:20%;float:left;margin-top:10px;}
    .market_one img{width:40px;height:40px;margin:auto;border-radius:50%;display:block;}
    .market_one h2{height:12px;text-align:center;margin-top:12px;}

    /*you*/
    .contentR {
        float: left
    }
    .head_pic{width:100%;background:#fff;padding:20px 0;}
    .head_pic img{width:130px;height:130px;margin:auto;display:block;}
    .head_pic h1{text-align:center;margin-top:20px;color:#3c3c3c;}
    .inter{display:block;width:120px;height:30px;text-align:center;background:#323232;line-height:30px;color:#fff;border-radius:2px;margin:20px auto 0 auto;}
    .inter:hover{color:#fff;text-decoration:none;}
    .pro_intro{width:100%;padding:0 26px;background:#fff;margin-top:10px;}
    .pro_intro img{width:120px;margin:20px auto 0 auto;display:block;}
    .pro_intro h4{color:#323232;text-align:center;margin-top:20px;}
    .pro_intro h5{color:#323232;text-align:center;margin-top:12px;padding-bottom:12px;border-bottom:1px solid #ebebeb;}
    /*�ײ�*/
    .fot{width:100%;background:#1e1e1e;padding:32px 0;}
    .fot_link{width:160px;margin: 0 auto 12px auto;overflow:hidden;}
    .fot_link a{float:left;color:#ffffff;}
    .fot_mag{width:225px;margin: 0 auto 14px auto;overflow:hidden;}
    .fot_mag a{float:left;color:#ffffff;}
    .fot p{text-align:center;color:#ffffff;}
}
@media (min-width: 768px) {
    .content, .contentL, .contentR {
        width: 768px
    }
    .model-one {
        padding: 20px;
        margin-top: 40px
    }

    .model-one .pic img {
        width:260px;
        height:290px;
    }

    .model-one .title {
        width:450px
    }

    .model-one h4 {
        margin: 12px 0 14px
    }

    .model-one p {
        line-height:22px;
        font-size:12px;

    }
    .share-platform .bds_weixin {
        background: url('../images/postDetails/css-bg_share.png') no-repeat;
        background-position: -32px -13px !important;margin:0 10px 0 0;
    }
    .share-platform .bds_tsina {
        background: url('../images/postDetails/css-bg_share.png') no-repeat;
        background-position: -67px -13px !important;margin:0 10px 0 0;
    }
    .share-platform .bds_qzone {
        background-image: url('../images/postDetails/css-bg_share.png');
        background-position: -101px -13px !important;margin:0 10px 0 0;
    }

    .collect{line-height:32px;padding-right:35px;background:url("../images/postDetails/collect.png") no-repeat right;margin-right:20px;}
    .collect-green{line-height:32px;padding-right:35px;background:url("../images/postDetails/collectGreen.png") no-repeat right;margin-right:10px;}
    .model-one .dib{line-height:32px;}

    .model-one h5 {
        margin: 36px 0 44px
    }
    .model-one input[type=button] {
        border: none;
        border-radius: 1px;
        width: 140px;
        line-height: 36px;
        background: #323232
    }

    .content {
        margin: 40px auto 0
    }
    /*zuo*/
    h3 {
        font-size: 18px;
        line-height: 58px;
        margin-bottom: 24px;
        text-indent: 14px;
        border-bottom: 1px solid #e6e6e6
    }

    h3:before {
        content: "";
        background: #323232;
        position: absolute;
        width: 3px;
        height: 18px;
        left: 0;
        top: 22px
    }

    h3 i {
        font-size: 12px;
        font-style: normal;
        text-transform: uppercase;
        margin-left: 14px
    }

    .details {
        padding: 0 20px;
        margin: 20px 0
    }

    .details h4 {
        margin: 10px 0
    }

    .details .parameter ul {
        width: 50%
    }
    /*���ۻظ�*/
    .pl-touxang img{
        background-size: 58px;
        width: 58px;
        height: 58px;
        margin: 28px 16px 0 0;
    }
    .commentTitle h5 {
        margin: 44px 0 30px ;
        font-size: 16px;
    }
    .commentTitle i {
        font-size: 14px;
        margin: 44px 0 30px 10px;
    }
    .commentTitle .phPar {
        line-height: 24px;
        margin: 0 0 24px;
        font-size: 14px;
        width: 658px;
    }
    .huifu-s {
        background-size: 18px;
        text-indent: 24px;
        line-height: 18px;
        margin-right: 16px;
    }
    .support {
        background: url("../images/postDetails/support.png") no-repeat;
        background-size: 18px;
        line-height: 18px;
        text-indent: 24px;
    }
    textarea {
        width: 100%;
        height: 118px;
        margin: 40px 0 20px;
    }
    .tjpl input,
    .re-tijiao input {
        width: 158px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .pl_more{line-height:40px;}
    /*���ۻظ�����*/
    .market{overflow:hidden;padding:0 12px 22px 12px;}
    .market_one{width:20%;float:left;}
    .market_one img{width:100px;height:100px;margin:auto;border-radius:50%;display:block;}
    .market_one h2{height:12px;text-align:center;margin-top:16px;}

    /*you*/
    .contentR {
        float: left

    }
    .head_pic{width:100%;background:#fff;padding:40px 0;margin-top:20px;}
    .head_pic img{width:130px;height:130px;margin:auto;display:block;}
    .head_pic h1{text-align:center;margin-top:30px;color:#3c3c3c;}
    .inter{display:block;width:160px;height:40px;text-align:center;background:#323232;line-height:40px;color:#fff;border-radius:3px;margin:30px auto 0 auto;}
    .inter:hover{color:#fff;text-decoration:none;}
    .pro_intro{width:100%;padding:0 26px;background:#fff;margin-top:20px;}
    .pro_intro img{width:120px;margin:28px auto 0 auto;display:block;}
    .pro_intro h4{color:#323232;text-align:center;margin-top:30px;}
    .pro_intro h5{color:#323232;text-align:center;margin-top:16px;padding-bottom:16px;border-bottom:1px solid #ebebeb;}
    /*�ײ�*/
    .fot{width:100%;background:#1e1e1e;padding:32px 0;}
    .fot_link{width:160px;margin: 0 auto 22px auto;overflow:hidden;}
    .fot_link a{float:left;color:#ffffff;}
    .fot_mag{width:225px;margin: 0 auto 16px auto;overflow:hidden;}
    .fot_mag a{float:left;color:#ffffff;}
    .fot p{text-align:center;color:#ffffff;}

}

@media (min-width: 992px) {
    .content {
        width: 992px;
        margin: 40px auto 40px auto;
    }
    .model-one {
        padding: 30px;
        margin-top: 90px
    }

    .model-one .pic img {
        width: 400px;
        height: 320px;
        margin-right:20px
    }

    .model-one .title {
        width:512px
    }

    .model-one h4 {
        margin: 22px 0 24px
    }

    .model-one p {
        line-height:26px

    }
    .collect{line-height:32px;padding-right:35px;background:url("../images/postDetails/collect.png") no-repeat right;margin-right:20px;}
    .collect-green{line-height:32px;padding-right:35px;background:url("../images/postDetails/collectGreen.png") no-repeat right;margin-right:10px;}
    .dib{line-height:32px;}

    .model-one h5 {
        margin: 36px 0 44px
    }
    .model-one input[type=button] {
        border: none;
        border-radius: 1px;
        width: 140px;
        line-height: 36px;
        background: #323232
    }
    /*zuo*/
    .contentL {
        width: 720px
    }
    h3 {
        font-size: 18px;
        line-height: 58px;
        margin-bottom: 24px;
        text-indent: 14px;
        border-bottom: 1px solid #e6e6e6
    }

    h3:before {
        content: "";
        background: #323232;
        position: absolute;
        width: 3px;
        height: 18px;
        left: 0;
        top: 22px
    }

    h3 i {
        font-size: 12px;
        font-style: normal;
        text-transform: uppercase;
        margin-left: 14px
    }

    .details {
        padding: 0 30px;
        margin: 20px 0
    }

    .details h4 {
        margin: 20px 0
    }

    .details .parameter ul {
        width: 50%
    }
    /*���ۻظ�*/
    .pl-touxang img{
        background-size: 52px;
        width: 52px;
        height: 52px;
        margin: 20px 16px 0 0;
    }
    .commentTitle h5 {
        margin: 24px 0 12px ;
        font-size: 16px;
    }
    .commentTitle i {
        font-size: 14px;
        margin: 24px 0 12px 24px;
    }
    .commentTitle .phPar {
        line-height: 24px;
        margin: 0 0 16px;
        width: 600px;
    }
    .huifu-s {
        background-size: 18px;
        text-indent: 24px;
        line-height: 18px;
        margin-right: 16px;
    }
    .support {
        background: url("../images/postDetails/support.png") no-repeat;
        background-size: 18px;
        line-height: 18px;
        text-indent: 24px;
    }
    textarea {
        width: 100%;
        height: 118px;
        margin: 40px 0 20px;
    }
    .tjpl input,
    .re-tijiao input {
        width: 148px;
        line-height: 38px;
        margin-bottom: 16px;
    }
.pl_more{line-height:40px;}
    /*���ۻظ�����*/
    .market{overflow:hidden;padding:0 12px 22px 12px;}
    .market_one{width:20%;float:left;}
    .market_one img{width:110px;height:110px;margin:auto;border-radius:50%;display:block;}
    .market_one h2{height:18px;text-align:center;margin-top:26px;}

    /*you*/
    .contentR {
        float: right;
        width: 256px
    }
    .head_pic{width:100%;background:#fff;padding:40px 0;margin-top:20px;}
    .head_pic img{width:130px;height:130px;margin:auto;display:block;}
    .head_pic h1{text-align:center;margin-top:30px;color:#3c3c3c;}
    .inter{display:block;width:160px;height:40px;text-align:center;background:#323232;line-height:40px;color:#fff;border-radius:3px;margin:30px auto 0 auto;}
    .inter:hover{color:#fff;text-decoration:none;}
    .pro_intro{width:100%;padding:0 26px;background:#fff;margin-top:20px;}
    .pro_intro img{width:120px;margin:28px auto 0 auto;display:block;}
    .pro_intro h4{color:#323232;text-align:center;margin-top:30px;}
    .pro_intro h5{color:#323232;text-align:center;margin-top:16px;padding-bottom:16px;border-bottom:1px solid #ebebeb;}
    /*�ײ�*/
    .fot{width:100%;background:#1e1e1e;padding:42px 0;}
    .fot_link{width:160px;margin: 0 auto 22px auto;overflow:hidden;}
    .fot_link a{float:left;color:#ffffff;}
    .fot_mag{width:225px;margin: 0 auto 16px auto;overflow:hidden;}
    .fot_mag a{float:left;color:#ffffff;}
    .fot p{text-align:center;color:#ffffff;}

}

@media (min-width: 1200px) {

    .content {
        width: 1200px;
        margin: 0 auto 40px auto;
    }

    .model-one {
        padding: 30px;
        margin-top: 90px
    }

    .model-one .pic img {
        width: 450px;
        height: 320px;
        margin-right: 30px
    }

    .model-one .title {
        width: 658px
    }

    .model-one h4 {
        margin: 22px 0 24px
    }

    .model-one p {
        line-height:26px

    }
    .model-one h5 {
        margin: 36px 0 44px
    }

    .model-one input[type=button] {
        border: none;
        border-radius: 1px;
        width: 160px;
        line-height: 40px;
        background: #323232
    }
    /*zuo*/
    .contentL {
        width: 872px
    }
    .parameter{
        padding:0 60px;
    }

    h3 {
        font-size: 18px;
        line-height: 58px;
        margin-bottom: 24px;
        text-indent: 14px;
        border-bottom: 1px solid #e6e6e6
    }

    h3:before {
        content: "";
        background: #323232;
        position: absolute;
        width: 3px;
        height: 18px;
        left: 0;
        top: 22px
    }

    h3 i {
        font-size: 12px;
        font-style: normal;
        text-transform: uppercase;
        margin-left: 14px
    }

    .details {
        padding: 0 30px;
        margin: 20px 0
    }

    .details h4 {
        margin: 40px 0
    }

    .details .parameter ul {
        width: 50%
    }
    .contentL img{width:500px;height:400px;margin:auto;display:block;}
    /*���ۻظ�*/
    .pl-touxang img{
        background-size: 58px;
        width: 58px;
        height: 58px;
        margin: 28px 16px 0 0;
    }
    .commentTitle h5 {
        margin: 44px 0 30px ;
        font-size: 16px;
    }
    .commentTitle i {
        font-size: 14px;
        margin: 44px 0 30px 10px;
    }
    .commentTitle .phPar {
        line-height: 24px;
        margin: 0 0 24px;
        width: 700px;
    }
    .huifu-s {
        background-size: 18px;
        text-indent: 24px;
        line-height: 18px;
        margin-right: 16px;
    }
    .support {
        background: url("../images/postDetails/support.png") no-repeat;
        background-size: 18px;
        line-height: 18px;
        text-indent: 24px;
    }
    textarea {
        width: 100%;
        height: 118px;
        margin: 40px 0 20px;
    }
    .tjpl input,
    .re-tijiao input {
        width: 158px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .pl_more{line-height:50px;}
    /*���ۻظ�����*/
    .market{overflow:hidden;padding:0 12px 22px 12px;}
    .market_one{width:20%;float:left;}
    .market_one img{width:126px;height:126px;margin:auto;border-radius:50%;}
    .market_one h2{height:18px;text-align:center;margin-top:26px;}
    /*you*/
    .contentR {
        width: 310px
    }
    .head_pic{width:100%;background:#fff;padding:40px 0;margin-top:20px;}
    .head_pic img{width:130px;height:130px;margin:auto;display:block;}
    .head_pic h1{text-align:center;margin-top:30px;font-size:18px;color:#3c3c3c;}
    .inter{display:block;width:160px;height:40px;text-align:center;background:#323232;line-height:40px;font-size:18px;color:#fff;border-radius:3px;margin:30px auto 0 auto;}
    .inter:hover{color:#fff;text-decoration:none;}
    .pro_intro{width:100%;padding:0 26px;background:#fff;margin-top:20px;}
    .pro_intro img{width:120px;margin:28px auto 0 auto;display:block;}
    .pro_intro h4{color:#323232;text-align:center;margin-top:30px;}
    .pro_intro h5{color:#323232;text-align:center;margin-top:16px;padding-bottom:16px;border-bottom:1px solid #ebebeb;}
    /*�ײ�*/
    .fot{width:100%;background:#1e1e1e;padding:62px 0;}
    .fot_link{width:160px;margin: 0 auto 22px auto;overflow:hidden;}
    .fot_link a{float:left;color:#ffffff;}
    .fot_mag{width:225px;margin: 0 auto 16px auto;overflow:hidden;}
    .fot_mag a{float:left;color:#ffffff;}
    .fot p{text-align:center;color:#ffffff;}
}