h4,
p,
label {
  margin: 0;
}
.contentL,
.contentR {
  border-radius: 4px;
}
.content h3 {
  border-bottom: 1px solid #dfdfdf;
}
.content h3:before {
  content: "";
  background: #9ab126;
  position: absolute;
  left: 0;
}
.list > div {
  width: 50%;
}
.contentL label,
.contentL p {
  display: inline-block;
}
.contentL label {
  text-align: right;
}
.banner img {
  width: 100%;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .content {
    width: 320px;
    margin: 20px auto 0;
  }
  .contentL {
    width: 320px;
    padding: 0 4px 0;
  }
  .contentR {
    width: 320px;
    float: left;
  }
  .content h3 {
    line-height: 32px;
    padding-top: 4px;
    text-indent: 10px;
    border-bottom: 1px solid #dfdfdf;
  }
  .content h3:before {
    content: "";
    width: 2px;
    height: 14px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 14px;
  }
  .list > div {
    width: 100%;
  }
  .contentL h4 {
    margin: 16px 0 8px;
    text-indent: 10px;
  }
  .contentL label,
  .contentL p {
    line-height: 24px;
    display: inline-block;
  }
  .contentL label {
    width: 80px;
    margin-right: 6px;
    text-align: right;
  }
  .contentL img {
    height: 80px;
    margin-top: 10px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case h4 {
    line-height: 20px;
  }
  .contentR .case li p {
    line-height: 24px;
  }
  .contentR .case .caseBar {
    margin: 30px 0 16px;
    height: 64px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .content {
    width: 768px;
    margin: 40px auto 0;
  }
  .contentL {
    width: 768px;
    padding: 0 18px 8px;
  }
  .contentR {
    width: 768px;
    float: left;
  }
  .content h3 {
    line-height: 44px;
    padding-top: 8px;
    text-indent: 10px;
    border-bottom: 1px solid #dfdfdf;
  }
  .content h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 24px;
  }
  .list > div {
    width: 50%;
  }
  .contentL h4 {
    margin: 20px 0 10px;
    text-indent: 10px;
  }
  .contentL label,
  .contentL p {
    line-height: 32px;
    display: inline-block;
  }
  .contentL label {
    width: 86px;
    margin-right: 20px;
    text-align: right;
  }
  .contentL img {
    height: 140px;
    margin-top: 20px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case h4 {
    line-height: 20px;
  }
  .contentR .case li p {
    line-height: 24px;
  }
  .contentR .case .caseBar {
    margin: 30px 0 16px;
    height: 64px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .content {
    width: 992px;
    margin: 30px auto 0;
  }
  .contentL {
    width: 720px;
    padding: 0 20px;
  }
  .contentR {
    float: right;
    width: 256px;
  }
  .content h3 {
    line-height: 52px;
    padding-top: 8px;
    text-indent: 14px;
    border-bottom: 1px solid #dfdfdf;
  }
  .content h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 24px;
  }
  .list > div {
    width: 50%;
  }
  .contentL h4 {
    margin: 28px 0 12px;
    text-indent: 10px;
  }
  .contentL label,
  .contentL p {
    line-height: 40px;
    display: inline-block;
  }
  .contentL label {
    width: 86px;
    margin-right: 20px;
    text-align: right;
  }
  .contentL img {
    height: 180px;
    margin-top: 20px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case h4 {
    line-height: 20px;
  }
  .contentR .case li p {
    line-height: 24px;
  }
  .contentR .case .caseBar {
    margin: 30px 0 16px;
    height: 64px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .content {
    width: 1200px;
    margin: 40px auto 0;
  }
  .contentL {
    width: 872px;
    padding: 0 20px;
    border-radius: 4px;
  }
  .contentR {
    width: 310px;
    padding: 0 20px;
    border-radius: 4px;
  }
  .content h3 {
    line-height: 58px;
    padding-top: 8px;
    text-indent: 14px;
    border-bottom: 1px solid #dfdfdf;
  }
  .content h3:before {
    content: "";
    width: 3px;
    height: 18px;
    background: #9ab126;
    position: absolute;
    left: 0;
    top: 28px;
  }
  .list > div {
    width: 50%;
  }
  .contentL h4 {
    margin: 30px 0 14px;
    text-indent: 10px;
  }
  .contentL label,
  .contentL p {
    line-height: 46px;
    display: inline-block;
  }
  .contentL label {
    width: 86px;
    margin-right: 20px;
    text-align: right;
  }
  .contentL img {
    height: 213px;
    margin-top: 20px;
  }
  .contentR .case {
    padding: 0 20px 24px;
    margin-bottom: 20px;
  }
  .contentR .case h4 {
    line-height: 20px;
  }
  .contentR .case li p {
    line-height: 28px;
  }
  .contentR .case .caseBar {
    margin: 30px 0 16px;
    height: 84px;
  }
}
