.searchBg {
  background: #1e1e1e;
  border-top: 2px solid #9ab126;
}
i{font-style:normal!important;}
.banner img {
  width: 100%;
}
.contentL,
.contentR .case,
.contentR img {
  border-radius: 4px;
}
.contentR h3:before {
  content: "";
  background: #9ab126;
  position: absolute;
  left: 0;
}
.contentL .SeaEnterprise p {
  text-align: justify;
}
/*.contentL hr {*/
  /*background: #dfdfdf;*/
  /*height: 1px;*/
/*}*/
.contentR h3 {
  border-bottom: 1px solid #dfdfdf;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .content {
    width: 320px;
    margin: 20px auto 30px
  }
  .contentL {
    width: 320px;
    padding: 0 4px 0;
  }
  .contentR {
    width: 320px;
    float: left;
    margin-top: 10px;
  }
  .contentL h4 {
    padding: 8px 0 2px;
  }
  .contentL img {
    width: 140px;
    height: 96px;
  }
  .contentL p {
    line-height: 20px;
  }
  .contentL .SeaEnterprise p {
    width: 310px;
    margin-top: 6px;
  }
  .contentL hr {
    margin: 16px 0 0;
  }
  .contentR .case {
    padding: 0 20px;
  }
  .contentR h3 {
    line-height: 32px;
    text-indent: 14px;
    padding-top: 2px;
    margin-bottom: 12px;
  }
  .contentR h3:before {
    width: 2px;
    height: 12px;
    top: 14px;
    margin-right: 14px;
  }
  .contentR ul li {
    margin-bottom: 12px;
  }
  .contentR img {
    width: 256px;
    height: 124px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .content {
    width: 768px;
    margin: 40px auto;
  }
  .contentL {
    width: 768px;
    padding: 0 18px 8px;
  }
  .contentR {
    width: 768px;
    float: left;
    margin-top: 20px;
  }
  .contentL h4 {
    padding: 20px 0 12px;
  }
  .contentL img {
    width: 140px;
    height: 96px;
  }
  .contentL p {
    line-height: 20px;
  }
  .contentL .SeaEnterprise p {
    width: 560px;
    margin-top: 6px;
  }
  .contentL hr {
    margin: 16px 0 0;
  }
  .contentR .case {
    padding: 0 20px;
  }
  .contentR h3 {
    line-height: 40px;
    text-indent: 14px;
    padding-top: 2px;
    margin-bottom: 12px;
  }
  .contentR h3:before {
    width: 3px;
    height: 18px;
    top: 12px;
    margin-right: 14px;
  }
  .contentR ul li {
    margin-bottom: 12px;
  }
  .contentR img {
    width: 256px;
    height: 124px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .content {
    width: 992px;
    margin: 30px auto 80px;
  }
  .contentL {
    width: 720px;
    padding-bottom: 10px;
  }
  .contentR {
    float: right;
    width: 256px;
    margin-top: 0;
  }
  .contentL h4 {
    padding: 20px 0 12px;
  }
  .contentL img {
    width: 120px;
    height: 80px;
  }
  .contentL p {
    line-height: 20px;
  }
  .contentL .SeaEnterprise p {
    width: 540px;
    margin-top: 6px;
  }
  .contentL hr {
    margin: 16px 0 0;
  }
  .contentR .case {
    padding: 0 20px;
  }
  .contentR h3 {
    line-height: 48px;
    text-indent: 14px;
    padding-top: 8px;
    margin-bottom: 20px;
  }
  .contentR h3:before {
    width: 3px;
    height: 18px;
    top: 28px;
    margin-right: 14px;
  }
  .contentR ul li {
    margin-bottom: 12px;
  }
  .contentR img {
    width: 256px;
    height: 124px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .content {
    width: 1200px;
    margin: 40px auto 100px;
  }
  .contentL {
    width: 872px;
    padding: 0 20px 10px;
  }
  .contentR {
    width: 310px;
  }
  .contentL h4 {
    padding: 28px 0 16px;
  }
  .contentL img {
    width: 140px;
    height: 96px;
  }
  .contentL p {
    line-height: 24px;
  }
  .contentL .SeaEnterprise p {
    width: 670px;
    margin-top: 6px;
  }
  .contentL hr {
    margin: 20px 0 0;
  }
  .contentR .case {
    padding: 0 20px;
  }
  .contentR h3 {
    line-height: 58px;
    font-size: 18px;
    text-indent: 14px;
    padding-top: 8px;
    margin-bottom: 24px;
  }
  .contentR h3:before {
    width: 3px;
    height: 18px;
    top: 28px;
    margin-right: 14px;
  }
  .contentR ul li {
    margin-bottom: 14px;
  }
  .contentR img {
    width: 310px;
    height: 160px;
  }
}
