<include file="Public/header" />
  <link rel="stylesheet" href="__PUBLIC__/css/decoration.css">
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/js/html5shiv.min.js"></script>
  <script src="__PUBLIC__/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!--页面头部-->
<include file="Public/top" />
<!--搜索框-->
<div id="top-main">
  <div class="breadcrumbs bbsbread">
    当前位置：<a href="{:U('Home/Index/index')}">首页</a>&nbsp;＞&nbsp;<a href="{:U('Home/Design/index')}">找设计师</a>&nbsp;＞&nbsp;<a
    href="{:U('Home/Design/desi',array('id'=>session('uid')))}">设计师</a>&nbsp;＞&nbsp;<span>作品添加</span>
  </div>
</div>
<!--主导航-->
<!--侧边栏-->
<!--主体内容-->
<section id="main" class="bcyellow">
  <div class="decorationTitle">
    作品添加
  </div>
  <div class="decorationBox w60">
    <form id="tform" action="{:U('Home/Design/addwork')}" method="post" enctype="multipart/form-data">
    <ul>
      <input type="hidden" name="uid" value="{$Think.session.uid}"/>
      <!--编辑是post传入workid-->
      <input type="hidden" name="workid" value="{$works.id}"/>
      <li class="clear">
        <h3 class="dib">作品名称<i class="selectColor dib">*</i>:</h3>
        <input type="text" class="dib bcyellow form-base formg w90" name="name" value="{$works.name}">
      </li>
      <li class="clearfix">
        <h3 class="dib lh42">作品分类<i class="selectColor dib">*</i>:</h3>
        <div class="dib w90 rtImg">
          <select name="firid" id="kind" class="bcyellow seladdress form-base formg w23 mr17">
            <option value="0" selected>默认风格</option>
            <option value="1">住宅空间</option>
            <option value="2">公共空间</option>
          </select>
          <select name="secid" id="subkind" class="bcyellow seladdress form-base formg w23 mr17">
            <option value="0" selected>默认风格</option>
            <option value="1" >第二风格1</option>
            <option value="2">第二风格2</option>
          </select>
          <select name="thirid" id="subsubkind" class="bcyellow seladdress form-base formg w23 mr17">
            <option value="0" selected>默认风格</option>
            <option value="1">第三风格1</option>
            <option value="2">第三风格2</option>
          </select>
          <select name="fourid" id="style" class="bcyellow seladdress form-base formg w23">
            <option value="0" selected>默认风格</option>
            <option value="1">混搭风格</option>
            <option value="2">欧式风格</option>
          </select>
        </div>
      </li>
      <li class="rel clearfix">
        <h3 class="dib">作品信息<i class="selectColor dib">*</i>:</h3>
        <input type="text" name="area" class="dib bcyellow form-base formg w44" placeholder="请填写项目面积" maxlength="9" value="{$works.area}">
        <em class="area_text">m²</em>
        <input type="text" name="price" class="dib bcyellow form-base formg w44 rt" placeholder="请填写项目造价(选填)" maxlength="9" value="{$works.price}">
        <em>万元</em>
      </li>
      <li>
        <h3 class="dib info appInfo">作品描述<i class="selectColor dib">*</i>:</h3>
        <textarea name="content" class="dib f08 w90 formg appSize">{$works.content}</textarea>
      </li>
      <li>
        <h3 class="dib info">上传图片<i class="selectColor dib">*</i>:</h3>
        <div class="dib w90 rtImg">
          <div class="dib f08 addPic container formg">
            <!--<div class="row ">-->
              <!--<div class="col-xs-4 col-md-2">-->
                <!--<div class="imgInnerBox bcyellow">-->
                  <!--<div class="dummy"></div>-->
                  <!--<img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">-->
                  <!--<input type="file" name="picture[]">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-xs-4 col-md-2">-->
                <!--<div class="imgInnerBox bcyellow">-->
                  <!--<div class="dummy"></div>-->
                  <!--<img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">-->
                  <!--<input type="file" name="picture[]">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-xs-4 col-md-2">-->
                <!--<div class="imgInnerBox bcyellow">-->
                  <!--<div class="dummy"></div>-->
                  <!--<img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">-->
                  <!--<input type="file" name="picture[]">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-xs-4 col-md-2">-->
                <!--<div class="imgInnerBox bcyellow">-->
                  <!--<div class="dummy"></div>-->
                  <!--<img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">-->
                  <!--<input type="file" name="picture[]">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-xs-4 col-md-2">-->
                <!--<div class="imgInnerBox bcyellow">-->
                  <!--<div class="dummy"></div>-->
                  <!--<img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">-->
                  <!--<input type="file" name="picture[]">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-xs-4 col-md-2">-->
                <!--<div class="imgInnerBox bcyellow">-->
                  <!--<div class="dummy"></div>-->
                  <!--<img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">-->
                  <!--<input type="file" name="picture[]">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <div class="row">
              <!--<div class="col-xs-4 col-md-2">-->
                <!--<div class="imgInnerBox bcyellow">-->
                  <!--<div class="dummy"></div>-->
                  <!--<img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">-->
                  <!--<input type="file" name="picture[]">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-xs-4 col-md-2">-->
                <!--<div class="imgInnerBox bcyellow">-->
                  <!--<div class="dummy"></div>-->
                  <!--<img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">-->
                  <!--<input type="file" name="picture[]">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-xs-4 col-md-2">-->
                <!--<div class="imgInnerBox bcyellow">-->
                  <!--<div class="dummy"></div>-->
                  <!--<img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">-->
                  <!--<input type="file" name="picture[]">-->
                <!--</div>-->
              <!--</div>-->
              <div class="col-xs-4 col-md-2">
                <div class="imgInnerBox bcyellow">
                  <div class="dummy"></div>
                  <img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">
                  <input type="file" name="picture[]">
                </div>
              </div>
              <div class="col-xs-4 col-md-2">
                <div class="imgInnerBox bcyellow">
                  <div class="dummy"></div>
                  <img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">
                  <input type="file" name="picture[]">
                </div>
              </div>
              <div class="col-xs-4 col-md-2">
                <div class="imgInnerBox bcyellow">
                  <div class="dummy"></div>
                  <img src="__PUBLIC__/images/decoration-add.png" alt="" class="selImg">
                  <input type="file" name="picture[]">
                </div>
              </div>
            </div>
          </div>
          <div class="f08 rules clear">
            <span class="dib chkStyle bcyellow">
            <input type="checkbox">
          </span>
            我保证所上传的商品是正品，并非无质量保障的商品,如果有侵权，我将承担一些版权纠纷责任。
          </div>
          <div>
            <span id="sub" class="btnSubmit">开始上传</span>
          </div>
          <form>
        </div>
      </li>
    </ul>
  </div>
</section>
<!--页面底部-->
<div class="returnHome">
  <a href="/">返回首页</a>
</div>
<include file="Public/bottom" /> 

<include file="Public/footer" />
<script>
$(document).ready(function(){
  $('#sub').click(function(){
    $('#tform').submit();
  })
})
</script>


<!-- javascript 图片预览 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script>
    function previewFile(objs) {
        // var preview = document.querySelector(objs).parentNode;
        var file  = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            $(objs).parent().find('img').attr('src',reader.result);
        }
        if (file) {
            reader.readAsDataURL(file);
        } else {
            // preview.src = "";
        }
    }
</script>