<include file="Public/header" />
  <link rel="stylesheet" href="__PUBLIC__/css/designer.css">
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/js/html5shiv.min.js"></script>
  <script src="__PUBLIC__/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!--页面头部-->
<include file="Public/top" />
<!--搜索框-->
<div id="top-main">
  <div class="banner-box">
    <img src="__PUBLIC__/images/designer/design-banner_03.png" alt="">
  </div>
</div>
<!--主导航-->
<nav id="nav">
  <div class="breadcrumbs breadDetail">
    我的位置：<a href="{:U('Home/Index/index')}">首页</a>
    &nbsp;＞&nbsp;
    <a href="{:U('Home/Design/index')}">找设计师</a>
    &nbsp;＞
    <a href="{:U('Home/Design/desi',array('id'=>$info['uid']))}">设计师</a>
    &nbsp;＞<span>设计作品</span>
  </div>
</nav>
<!--主体内容-->
<section id="main">

  <div class="ctnLf lf">
    <h2 class="shopName">{$work.name}</h2>
    <div class="square">
      <h1 class="case">案例简介 Case description</h1>
      <p class="description">{$work.content}</p>
    </div>
    <div class="shopContent">
      <div><img src="__PUBLIC__/{$work['picture'][0]}" alt="" width="70%"></div>
      <p class="mainContent">{$vo.desp}</p>
    </div>
    <div>
      {$page}
    </div>
    <div style="margin: 50px auto;width: 50%;">
      <a name="reply"></a>
      <form id="tform" method="post">
        <ul>
          <li>
            <input type="radio" name="type" class="js-type" value="1" checked="checked" />好评 &nbsp;&nbsp;&nbsp;
            <input type="radio" name="type" class="js-type" value="2" />中评 &nbsp;&nbsp;&nbsp;
            <input type="radio" name="type" class="js-type" value="1" />差评 &nbsp;&nbsp;&nbsp;
          </li>
          <br/>
          <li>
            <textarea style="resize: none; padding: 10px; border: 1px dashed #FFF100; height: 100px;background: #FAFAFA;width:560px;" id="comment" name="comment" placeholder="只要登录用户才可以评价，填写评价内容"></textarea>
          </li>
          <li>
            <input type="hidden" id="workid" value="{$work.id}" />
            <input type="button" id="js-comment-btn" value="我要评价" style="padding: 6px; margin-top: 10px; background-color: #f2f2f2; border: 1px solid #ccc;">
          </li>
        </ul>
      </form>
    </div>
    <div class="returnHome">
      <a href="/">返回首页</a>
    </div>
  </div>
  <div class="ctnRt rt hidden-xs">
    <div class="asideBox clear">
      <div class="clear titleWrapper">
        <h2 class="asideBoxTitle lf">TA基本信息</h2>
      </div>
      <div class="lf profileInfo infoMore">
        <dl>
          <dt><img width="113px" height="117px" src="__PUBLIC__/{$info.avatar}" ></dt>
          <dd>全部作品({$info.num})</dd>
        </dl>
      </div>
      <div class="lf infoMoreRt">
        <h1>{$info.realname}</h1>
        <ul class="detail">
          <li>设计经验：{$info.workexp}年</li>
          <li>擅长空间：{$info.goodat}</li>
          <li>所在地：{$info.prov}-{$info.city}</li>
        </ul>
      </div>
    </div>
    <div class="asideBox">
      <div class="clear titleWrapper">
        <h2 class="asideBoxTitle lf">推荐作品</h2>
      </div>
      <div class="recommandPro">
        <volist name="pushWork" id="vo" >
        <dl>
          <dt>
            <a href="{:U('Home/Design/designer',array('id'=>$vo['id']))}"><img width="300px" height="195px" src="__PUBLIC__/{$vo['picture'][0]}" alt=""></a>
          </dt>
          <dd><a href="{:U('Home/Design/designer',array('id'=>$vo['id']))}">{$vo.name}</a></dd>
        </dl>
        </volist>
      </div>
    </div>
    <div class="asideBox">
      <div class="clear titleWrapper">
        <h2 class="asideBoxTitle lf">推荐话题</h2>
      </div>
      <ul class="hotSearch">
        <volist name="BBS" id="vo" key="k">
        <a href="{:U('Home/Bbs/Show',array('id'=>$vo['id']))}"><li>{$k}.{$vo.title}</li></a>
        </volist>
      </ul>
    </div>
  </div>
</section>
<!--页面底部-->
<include file="Public/bottom" /> 
<script>
  $('#js-comment-btn').on('click', function() {
    var obj = $(this);
    var comment = $('#comment').val();
    if ($.trim(comment) == '') {
      $('#comment').focus();
      alert("评价内容不能为空")
      return false;
    }
    $.post("{:U('Home/Design/addComment')}", { comment : comment,type:$(".js-type:radio:checked").val() ,id: $('#workid').val() }, function(data){
      alert(data.message);
//      if (data.code) {
//        window.location.reload();
//      }
    }, 'json');

  });
</script>
<include file="Public/footer" />