<include file="Public/header" />
  <link rel="stylesheet" href="__PUBLIC__/css/decoration.css">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!--页面头部-->
<include file="Public/top" />
<!--搜索框-->
<div id="top-main">
  <div class="breadcrumbs bbsbread">
    当前位置：<a href="{:U('Home/Index/index')}">首页</a>&nbsp;＞&nbsp;<a href="{:U('Home/Design/index')}">找设计师</a>&nbsp;＞&nbsp;<a
    href="{:U('Home/Design/desi')}">设计师</a>&nbsp;＞&nbsp;<span>资料编辑</span>
  </div>
</div>
<!--主体内容-->
<section id="main" class="bcyellow editMain editDesign">
  <h1>基本信息</h1>
  <p class="editInfo">填写以下表单,工作人员审核通过后，即可成为入驻设计师。带<span class="selectColor">*</span>为必填内容</p>
  <form id="tform" action="" method="post" enctype="multipart/form-data">
  <ul class="editDetail">
    <li class="clearfix">
      <h3 class="dib">真实姓名<i class="selectColor dib">*</i>:</h3>
      <input type="text" name="realname" class="dib bcyellow form-base formg w40">
      <select name="workexp" id="" class="dib bcyellow formg form-base w40 rt">
        <foreach name="workexp" item="vo" key="k">
          <option value="{$vo}" <if condition="$k eq 2">selected</if>>{$vo}</foreach>
        </foreach>
        <!--<option value="0">无设计经验</option>-->
        <!--<option value="1">1-2年</option>-->
        <!--<option value="2">2年以上</option>-->
      </select>
      <h3 class="dib rt lh42">设计年限:</h3>
    </li>
    <li>
      <h3 class="dib lh42">所在地<i class="selectColor dib">*</i>:</h3>
      <div class="dib w40 place">
        <select name="provid" class="dib bcyellow formg form-base address js-provs">
          <option value="">请选择</option>
          <foreach name="provs" item="vo">
            <option value="{$vo.id}">{$vo.name}</option>
          </foreach>
          <!--<option value="">山东</option>-->
          <!--<option value="">辽宁</option>-->
        </select>
        <select name="cityid" class="dib bcyellow formg form-base  address rt js-citys">
          <option value="">请选择</option>
        </select>
      </div>
    </li>
    <li>
      <h3 class="dib">擅长空间<i class="selectColor dib">*</i>:</h3>
      <input type="text" name="goodat" class="dib bcyellow form-base formg space">
    </li>
    <li>
      <h3 class="dib">手机号码<i class="selectColor dib">*</i>:</h3>
      <input type="text" name="tel" class="dib bcyellow form-base formg w40">
      <input type="text" name="qq" class="dib bcyellow form-base formg w40 rt">
      <h3 class="dib rt lh42 qq">QQ<i class="selectColor dib">*</i>:</h3>
    </li>
  </ul>
  <h1>个人简介</h1>
  <ul class="editDetail">
    <li>
      <h3 class="dib">简介<i class="selectColor dib">*</i>:</h3>
      <input type="text" name="intro" class="dib bcyellow form-base formg space">
    </li>
    <li>
      <h3 class="dib info appInfo">自我介绍<i class="selectColor dib">*</i>:</h3>
      <textarea name="content"  class="dib f08  formg appSize bcyellow"></textarea>
    </li>
    <li>
      <h3 class="dib info appInfo">证书与奖项:</h3>
      <p class="dib f08 w10 formg appInfoStyle appSize clear">
        <input type="file" name="certified" >选择文件(原件)
      </p>
    </li>
  </ul>
  <h1>服务信息</h1>
  <ul class="editDetail">
    <li>
      <h3 class="dib">收费标准<i class="selectColor dib">*</i>:</h3>
      <input type="text" name="min" class="dib bcyellow form-base formg w10 ">
      <span class="vm">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span>
      <input type="text" name="max" class="dib bcyellow form-base formg w10 standard">
      <span class="vm">&nbsp;&nbsp;(元/m²)不填表示面议</span>
    </li>
    <li>
      <h3 class="dib">收费备注:</h3>
      <input type="text" name="note"  class="dib bcyellow form-base formg space">
    </li>
    <li>
      <h3 class="dib">服务类型:</h3>
      <div class="dib f08">
        <p class="smtype f10 gc">
          请勾选您能提供的服务类型,并填好该服务的收费情况
        </p>
        <span class="dib chkStyle bcyellow">
            <input type="checkbox" name="type[]" value="1">
        </span>
        家装设计&nbsp;&nbsp;&nbsp;
        <span class="dib chkStyle bcyellow">
            <input type="checkbox" name="type[]" value="2">
        </span>
        工装设计&nbsp;&nbsp;&nbsp;
        <span class="dib chkStyle bcyellow">
            <input type="checkbox" name="type[]" value="3">
        </span>
        软装设计&nbsp;&nbsp;&nbsp;
        <span class="dib chkStyle bcyellow">
            <input type="checkbox" name="type[]" value="4">
        </span>
        建筑设计
      </div>
    </li>
    <li>
      <h3 class="dib">远程设计:</h3>
      <div class="dib">
        <p class="smtype f10 gc">
          您是否可提供远程设计服务(即与业主通过远程沟通并进行设计)？
        </p>
        <span class="rdoStyle  dib">
      <input type="radio" id="rdoFun" name="remote" value="1">
        </span>
        <label for="rdoFun" class="f08">家具设计&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <span class="rdoStyle  dib">
      <input type="radio" id="rdoGong" name="remote" value="2">
        </span>
        <label for="rdoGong" class="f08">工装设计</label>
      </div>
    </li>
    <li>
      <span class="dib chkStyle bcyellow js-check">
            <input type="checkbox">
        </span>
      <span class="f08">&nbsp;
        我保证作品的原创性，上传的图片没有法律纠纷，我对因虚假资料或图片版权引起的法律纠纷负全部责任
      </span>
    </li>
    <li>
      <h3 class="dib"></h3>
      <span  id="sub" class="btnSubmit">提交</span>
    </li>
  </ul>
</form>
</section>
<div class="returnHome">
  <a href="/">返回首页</a>
</div>
<include file="Public/bottom" /> 

<include file="Public/footer" />
<script>
$(document).ready(function(){
  $('#sub').click(function(){
    if($('.js-check').hasClass('backgroundshow')){
      $('#tform').submit();
    }else{
      alert('请勾选保证项');
    }
  });
  //省份变换改变城市列表
  $(".js-provs").change(function(){
      var id = $(this).val();
    $.post("{:U('Home/Dict/areas')}",{'id':id},function(data){
        $('.js-citys').html('');
        var htmls = "<option value=''>请选择</option>";
      $.each(data,function(i,vo){
        htmls+="<option value="+vo.id+">"+vo.name+"</option>";
      });
      $('.js-citys').append(htmls);
    })
  });
})
</script>