<include file="Public/header" />
  <link rel="stylesheet" href="__PUBLIC__/Css/decoration.css">
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/js/html5shiv.min.js"></script>
  <script src="__PUBLIC__/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!--页面头部-->
<div height="46px">
  <include file="Public/top" />
</div>
<!--搜索框-->
<div id="top-main">
  <div class="breadcrumbs bbsbread">
    当前位置：<a href="{:U('Home/Index/index')}">首页</a>&nbsp;＞&nbsp;<a href="{:U('Home/Design/index')}">找设计师</a>&nbsp;＞&nbsp;<a href="{:U('Home/Design/desi',array('id'=>session('uid')))}">设计师</a>&nbsp;＞&nbsp;<span>作品管理</span>
  </div>
</div>
<!--主体内容-->
<section id="main" class="bcyellow">
  <div class="decorationTitle">
    作品管理
  </div>
  <div class="container">
    <div class="row rowCtn">
      <foreach name="works" item="vo">
      <div class="col-xs-6 col-md-3">
        <dl>
          <dt><img width="265px" height="205px" src="{$vo.picture}" alt="{$vo.name}"/></dt>
          <dd>{$vo.name}</dd>
          <dd>作品分类 ：公共空间</dd>
          <dd>
            <a href="/Home/Design/addwork?id={$vo['id']}"><span class="bcyellow formg">编辑</span></a>
            <a href="/Home/Design/desiDel?id={$vo['id']}"><span class="bcyellow formg">删除</span></a>
          </dd>
        </dl>
      </div>
      </foreach>
    </div>
  </div>
</section>
<div class="returnHome">
  <a href="/">返回首页</a>
</div>
<include file="Public/bottom" /> 

<include file="Public/footer" />