<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>店铺管理>商品详情</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Order/goods')}" class="ul_button">返回</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="add">
        <ul class="add_blank">
            <li><div class="blank_left">订单号</div><div class="blank_right">{$order.ordernum}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">商品名称</div><div class="blank_right">{$order.goodname}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">商品数量</div><div class="blank_right">{$order.shopnum}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">金额</div><div class="blank_right">{$order.amount}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">收货人</div><div class="blank_right">{$order.name}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">收货人电话</div><div class="blank_right">{$order.phone}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">收货人地址</div><div class="blank_right">{$order.address}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">下单日期</div><div class="blank_right">{$v.orderdate|date='y-m-d H:i',###}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">支付日期</div><div class="blank_right">{$v.paydate|date='y-m-d H:i',###}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">支付方式</div><div class="blank_right"><if condition="$v.payment eq 'alipay' ">支付宝<elseif conditon="$v.payment eq 'wxpay' ">微信<else/>维币</if></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">日期</div><div class="blank_right">{$v.created|date='y-m-d H:i',###}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">订单状态</div><div class="blank_right"><if condition="$v.orderstatus eq 0">未支付<elseif condition="$v.orderstatus eq 1" />待发货<else />已发货</if></div><div class="fn-clear"></div></li>
        </ul>
    </div>
</div>
</body>
</html>