<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/Cloudally.css">
<meta name="description" content="{$key.intro}" />
<meta name="keywords" content="{$key.keyword}" />
<title>{$key.title}</title>
</head>
<body>
<!--商家云盟Cloudally-->
<div class="mainBg">
    <!--header登录注册-->
    <include file="Public/top"/>
    <!--header登录注册 end-->
    <!--header logo-->
    <!--header logo end-->
    <!--导航条-->
    <include file="Public/nav"/>
    <!--导航条 end-->
    <!--banner-->
    <div class="banner">
        <if condition="$banner.picture eq ''">
            <img src="__PUBLIC__/images/trained/banner.jpg" alt="banner">
            <else/>
            <img src="__PUBLIC__{$banner.picture}" alt="banner">
        </if>
    </div>
    <!--banner end-->
    <div class="content">
        <!--入驻流程-->
        <div class="process">
            <h3 class="f24 g3c b">入驻流程 </h3>
            <p class="f18 g8c">只需4步，便可轻松入驻 </p>
            <hr>
            <ul class="processList fn-clear">
                <li><a href="{:U('Home/User/register')}" class="dib g3c dib registerOption">注册账号</a></li>
                <li><a href="{:U('Home/Company/apply')}" class="dib g3c dib apply">申请入驻</a></li>
                <li><a class="dib g3c dib from">填写并提交表单</a></li>
                <li><a class="dib g3c dib generalize">自助推广</a></li>
            </ul>
        </div>
        <!--入驻流程 end-->
        <!--公司优势-->
        <div class="advantage">
            <h3 class="f24 g3c b">平台优势  </h3>
            <p class="f18 g8c  hidden-xs">企业自助推广营销平台。凭借着强大的资源对接、默契的经验交流、便捷的自助系统、覆盖广阔的传播信息，致力于为传统企业提供自助建站，自助推广，活动发布，互助互利等一体化网络营销推广解决方案，帮助传统企业进行网络推广，让更多人在互联网上看到你的企业产品、服务、品牌。携手共建企业网销空间命运共同体。</p>
            <hr>
            <ul class="fn-clear">
                <foreach name="advs" item="vo">
                    <li>
                        <img src="__PUBLIC__{$vo.picture}" alt="pic"><br/><span>{$vo.title}</span>
                    </li>
                </foreach>
            </ul>
        </div>
        <!--公司优势 end-->
        <!--免费注册-->
        <a class="registerBtn dib" href="{:U('Home/User/register')}"><input class="wh" type="text" value="免费注册" readonly="readonly"></a>
        <!--免费注册 end-->
    </div>
    <!--我要加盟banner-->
    <div class="join">
        <h5 class="g3c">企业自助推广营销平台</h5>
        <p  class="g3c">合作共赢全面展示您的企业形象及项目产品，让企业信息遍布网络提升传播效率</p>
        <!--<a class="db" href="{:U('Home/Company/apply')}">申请入驻</a>-->
    </div>
    <!--我要加盟banner end-->
    <!--底部导航&footer-->
    <!--悬浮链接 end-->
    <include file="Public/footer3"/>
    <!--底部导航&footer end-->
    <!--悬浮链接-->
    <include file="Public/footer2"/>

</div>

<!--共用js-->
<script src="__PUBLIC__/scripts/base.js"></script>
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
<script src="__PUBLIC__/scripts/Cloudally.js"></script>
</body>
</html>