@charset "utf-8";
/* CSS Document */
#wrap {
	width: 94%;
	height:auto;
	margin:20px auto;
	padding:10px 20px;
	border: 1px solid #CCC;
	overflow: hidden;
}
#wrap .add-app {
	line-height: 30px;
	color: #FFF;
	background-color: #393;
	text-align: center;
	display: block;
	height: 30px;
	width: 100px;
	border-radius:4px;
}
#wrap .app {
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #CCC;	
	border-radius:4px;
}
#wrap .app p {
	line-height: 28px;
	height: 28px;	
}
#wrap .app p strong {
	font-size: 16px;
	color: #666;
}
#wrap .app dl {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

#wrap .app dl dt {
	line-height: 28px;
	background-color: #f1f1f1;
	text-indent: 10px;
	display: block;
	height: 28px;
}
#wrap .app dt strong {
	font-size: 14px;
	color: #666;
}

#wrap .app dl dd {
	padding: 10px;
	color: #666;
	float: left;
}