@charset "utf-8";

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
    font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", \5b8b\4f53;
}
body {
	
}
input, select, textarea {
    font-size: 100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align: inherit;
}

/* 去除默认边框 */
fieldset, img {
    border: 0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display: block;
}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
    border: 0;
    font-variant: normal;
}

/* 一致的 del 样式 */
del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}

/* 去掉列表前的标识, li 会继承 */
ol, ul {
    list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
    text-align: left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500;
}

q:before, q:after {
    content: '';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* 正常链接 未访问 */
a:link {
    color: #08c;
}

/* 鼠标悬停 */
a:hover {
    color: #08c;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
    text-decoration: none;
}
.w100{
    width:100%;
}
.w75{
    width:75%;
}
.w50{
    width:50%;
}
.w40{
    width:40%;
}
.w30{
    width:30%;
}
.w25{
    width:25%;
}
.w15{
    width:15%;
}
.h-35{
    height:35px;
}
.h-25{
    height:25px;
}
.h-20{
    height:20px
}
.h-15{
    height:15px;
}
.h-10{
    height:10px;
}
.h-5{
    height:5px;
}
.h-80{
    height:80px;
}
.fs20{
    font-size: 20px;
}
.b{
    font-weight:bold;;
}
/* 清理浮动 */
.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0px;
    line-height: 0px;
}

.fn-clear {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0px;
    line-height: 0px;
    zoom: 1; /* for IE6 IE7 */
}
body{font-family:"微软雅黑";}
/*以下为右边模版样式*/
.template{width:998px;background:#ffffff;margin:10px;}
.template_top{width:998px;height:34px;line-height:34px;background:#e6e6e6;border-top-left-radius:5px;border-top-right-radius:5px;margin-bottom:20px;}
.template .template_top_left{float:left;width:200px}
.template .template_top_left h1{font-size:14px;padding-left:5px;height:34px;line-height:34px;margin:0px;font-weight:normal;}
.template .template_top_right{float:left;width:798px;text-align:right;height:34px;line-height:34px;}
.template .template_top_right a{color:#333;}
/*分页样式*/
.template_page{height:25px;line-height:25px;padding:10px 0px;text-align:right;}
.template_page a{text-decoration:none;background:#fff;color:#333;font-size:12px;padding:0px 10px;height:22px;line-height:22px;display:inline-block;border-radius:5px;border:1px solid #e60012;margin-right:5px;}
.template_page .page_click{background:#e60012;color:#ffffff;border:1px solid #e60012;}
.template_page .page_clear{border:1px solid #ffffff;}
/*通用样式*/
.ul_table{border:1px solid #e6e6e6;border-collapse:collapse;width:100%;text-align:center;}
.ul_table td,.ul_table th,.ul_table tr{border:1px solid #e6e6e6;border-collapse:collapse;text-align:center; padding:2px 3px;}
.ul_table a{display:inline-block;text-decoration:none;color:#333;}
.ul_box{background:#edf7f9;font-size:14px;color:#333;height:32px;line-height:32px;border:1px solid #e6e6e6;border-collapse:collapse;text-align:center;}
.ul_box1{height:28px;line-height:28px;border:1px solid #e6e6e6;border-collapse:collapse;text-align:center;font-size:12px;}
.ul_box1:hover{background:#f4fafb;}
.ul_span{padding:0px 5px;}
.ul_button{font-size:12px;color:#333333;height:24px;border-radius:5px;padding:0px 10px 0px 35px;background:url("../Image/input_button.png") 8px center no-repeat #ffffff;display:inline-block;margin:5px 10px 0px 0px;line-height:24px;}
.ul_text{height:20px;line-height:20px;padding:3px;margin:0px;outline:none;width:200px;border-radius:5px;border:1px solid #e6e6e6; font-size:12px;}
.ul_text2{height:28px;line-height:28px;padding:3px;margin:0px;outline:none;width:200px;border-radius:5px;border:1px solid #e6e6e6; font-size:12px;}
.ul_text1{height:20px;line-height:20px;padding:3px;margin:0px;outline:none;width:80px;border-radius:5px;border:1px solid #e6e6e6; font-size:12px;}
.ul_add{width:80px;background:#f00;color:#fff;font-size:14px;height:28px;line-height:1em;border:1px solid #f00;margin:auto 10px;outline:none;text-align:center;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius: 5px;-ms-border-radius:5px;behavior:url("../Css/iecss3.htc");position:relative;z-index:2;cursor:pointer;}
.ul_cancel{width:80px;background:#fff;color:#333;font-size:14px;height:28px;line-height:1em;border:1px solid #f00;margin:auto 10px;outline:none;text-align:center;border-radius:5px;vert-align:middle;display:inline-block;cursor:pointer;}
.ul_word{padding-left:210px;}
.ul_textarea{width:580px;display:block}
.ul_textarea1{width:460px;height:60px;display:block}
.ul_file{position:absolute;top:0px;left:10px;width:80px;height:28px;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;z-index:999;outline:none;cursor:pointer;display:block;}
.ul_middle{margin-top:8px;margin-right:5px;}
/*添加商品页面*/
.add_blank li{font-size:14px;color:#333;margin-bottom:10px;}
.blank_left{width:200px;float:left;text-align:right;height:30px;line-height:30px;}
.blank_right{width:600px;float:left;padding-left:18px;padding-top:4px;}
.blank_color{color:#f00;padding-right:5px;}
.blank_box{position:relative;background:url("../Image/button_bj.png") 10px center no-repeat;}
/*上传图片页面*/
#textfield{margin-left:100px;}
.file_top{background:#e6e6e6;border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-top-left-radius:5px;-moz-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-ms-border-top-left-radius:5px;-ms-border-top-right-radius:5px;font-size:14px;color:#666666;height:34px;line-height:34px;padding-left:10px;}
.file_mail{width:450px;margin-left:205px;margin-top:30px;padding-bottom:30px;border-bottom:1px solid #e6e6e6;}
.file_mail p{font-size:14px;color:#333;line-height:2em;}
.file_down{text-align:center;margin-top:20px;padding-bottom:20px;}
/*上传图片页面*/
.remarker{line-height:24px; font-size:14px;}
/*追加样式*/
.index_top{color:#4c4c4c;font-size:18px;border-bottom:1px solid #cccccc;height:35px;line-height:35px;}
.index_right{display:inline-block;font-size:16px;float:right;}
.index_middle{width:998px;margin:50px 0px;overflow:hidden;}
.index_blank{width:1000px;}
.index_blank a{display:block;width:120px;float:left;margin:0px 18px;background:url("../Image/index_bj.png") center -584px no-repeat;text-align:center;padding-top:90px;color:#4c4c4c;font-size:16px;}
.index_blank .index_one{background-position:center -438px;}
.index_blank .index_two{background-position:center -292px;}
.index_blank .index_there{background-position:center -146px;}
.index_blank .index_four{background-position:center 0px;}
.index_box{width:450px;float:left;margin:0px 24px}
.index_box h1{height:30px;line-height:30px;background:url("../Image/index_h1.png") 5px center no-repeat #f22d3c;padding-left:30px; padding-right:15px;font-size:14px;color:#fff;font-weight:normal;border-top-left-radius:5px;border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-top-left-radius:5px;-moz-border-top-right-radius:5px;-ms-border-top-left-radius:5px;-ms-border-top-right-radius:5px;-o-border-top-left-radius:5px;-o-border-top-right-radius:5px;border:1px solid #f22d3c;}
.index_box h1 a{float:right;color:#ffffff;font-size:12px;font-weight:normal;}
.index_box ul{border:1px solid #cccccc;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-bottom-left-radius:5px;-moz-border-bottom-right-radius:5px;-ms-border-bottom-left-radius:5px;-ms-border-bottom-right-radius:5px;-o-border-bottom-left-radius:5px;-o-border-bottom-right-radius:5px;}
.index_box ul li a{display:block;padding:0px 20px;font-size:14px;height:30px;line-height:30px;color:#333333;background:url("../Image/indexa_bj.png") -5px center no-repeat;}
.index_box ul li a:hover{background:url("../Image/indexa_bj.png") -5px center no-repeat #e6f7f2;}
.index_box ul li a span{float:right;}
