<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>产品管理>产品列表</h1>
        </div>
        <div class="template_top_right">
        	<script>
		      function del(){
		      	if(window.confirm('请确认是否删除？')){
		         	document.adminForm.submit();
		        }
		      }
			</script>
            <!--<a href="{:U('Admin/Role/add', array('rpid' => $date['id'],'uid' => $_SESSION[C('USER_AUTH_KEY')]))}" class="ul_button">添加案例组</a>-->
            <!--<a href="{:U('Admin/Node/index')}" class="ul_button">权限设置</a>-->
            <!--<a href="#" onclick="del();" class="ul_button">删除案例组</a>-->
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="template_middle">
    <table class="ul_table">
         	<tbody class="ul_table">
    		<tr>
    		<td width="60%" style="text-align:left">
	    		<form action="{:U('Admin/Company/product')}" method="get">
				产品名：<input type="text" name="keyword" value="{$Think.get.keyword}" />
				<select name="status">
				<option value="">状态</option>
				<option value="1" <if condition="$Think.get.status eq 1">selected</if>>正常</option>
				<option value="0" <if condition="$Think.get.status eq '0'">selected</if>>屏蔽</option>
				</select>
				<select name="recommend">
				<option value="">类型</option>
				<option value="1" <if condition="$Think.get.recommend eq 1">selected</if>>精品</option>
				<option value="2" <if condition="$Think.get.recommend eq '2'">selected</if>>热门</option>
				</select>
				<input type="submit" value="查询" />
				<input type="reset" value="清空" />
	      		</form>
    		</td>
      	</tr></tbody>
     	</table>
        <table class="ul_table">
            <tbody class="ul_table">
            <tr class="ul_box">
            	<th style="width:5%">ID</th>
                <th style="width:12%">公司名称</th>
                <th style="width:10%">产品标题</th>
                <th style="width:10%">图片</th>
                <th style="width:5%">类型</th>
                <th style="width:25%">内容</th>
                <th style="width:12%">日期</th>
                <th style="width:5%">状态</th>
                <th style="width:8%">操作</th>
            </tr>
                <foreach name="products" item="v">
                    <tr class="ul_box1">
                        <td>{$v.productid}</td>
                        <td>{$v.companyname}</td>
                        <td>{$v.title}</td>
                        <td><if condition="$v.picture eq 1">暂无图片<else/><img src="/Public/{$v.picture}" width="70",height="70"/></if></td>
                        <td><if condition="$v.type eq 1">精品<else/>热门</if></td>
                        <td>{:mb_substr($v['content'],0,50)}</td>
                        <td>{$v.created|date='y-m-d H:i',###}</td>
                        <td><if condition="$v.status eq 1">正常<else />屏蔽</if></td>
                        <td>
                            <if condition="$v['status']">
                                <a href="{:U('Admin/Company/changeProductStatus',array('productid'=>$v['productid'],'status'=>0))}">屏蔽</a>
                                <else/>
                                <a href="{:U('Admin/Company/changeProductStatus',array('productid'=>$v['productid'],'status'=>1))}">开启</a>
                            </if>
                           </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="template_page">
		{$page}    
    </div>
</div>
</body>
</html>