<include file='Common:top'/>
</head>
<body>
<div class="template">
    <div class="template_top">
        <div class="template_top_left">
            <h1>企业管理>企业详情</h1>
        </div>
        <div class="template_top_right">
            <a href="{:U('Admin/Company/index')}" class="ul_button">返回</a>
        </div>
        <div class="fn-clear"></div>
    </div>
    <div class="add">
    
    <form name="adminForm" action="{:U('Admin/Company/view')}" method="post" enctype="multipart/form-data">
        <ul class="add_blank">
            <li><div class="blank_left">企业名称</div><div class="blank_right"><input type="text" name="name" value="{$company.name}" disabled class="ul_text"/></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">Logo</div><div class="blank_right"><if condition="$company.logo neq ''"><a href="/Public{$company.logo}" target="_blank">预览</a><else/>暂无</if></div><div class="fn-clear"></div></li>
            <li><div class="blank_left">企业主营业务</div><div class="blank_right">{$company.business}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left">企业简介</div><div class="blank_right">{$company.intro}</div><div class="fn-clear"></div></li>
            <li><div class="blank_left"><span class="blank_color">*</span>状态</div><div class="blank_right">
            <input type="radio" name="companystatus" value="1"  class="ul_middle" <eq name="company['companystatus']" value="1">checked</eq>/>&nbsp;正常&nbsp;&nbsp;
            <input type="radio" name="companystatus" value="0" class="ul_middle" <eq name="company['companystatus']" value="0">checked</eq>/>&nbsp;屏蔽
        </div><div class="fn-clear"></div></li>
            <li><div class="blank_left"><span class="blank_color">*</span>是否优秀企业</div><div class="blank_right">
                <input type="radio" name="isgood" value="1"  class="ul_middle" <eq name="company['isgood']" value="1">checked</eq>/>&nbsp;是&nbsp;&nbsp;
                <input type="radio" name="isgood" value="0" class="ul_middle" <eq name="company['isgood']" value="0">checked</eq>/>&nbsp;否
            </div><div class="fn-clear"></div></li>
            <li><div class="blank_left">权重</div><div class="blank_right"><input type="number" name="weight" value="{$company.weight}" class="ul_text"/>值越大越靠前</div><div class="fn-clear"></div></li>            
            
            
            <input type="hidden" name="id" value="{$company.companyid}" />
            <li class="ul_word"><input type="submit" class="ul_add" value="保存"/><input type="button" class="ul_cancel" onclick="history.go(-1);"  value="取消"/></li>
        </ul></form>
    </div>
</div>
</body>
</html>