<include file="Public/header"/>
    <link rel="stylesheet" href="__PUBLIC__/styles/shopsForm.css">
    <title>店铺入驻申请</title>
</head>
<body>
<!--店铺入驻申请shopsForm-->
<!--header登录注册-->
<include file="Public/top"/>
<!--header logo end-->
<!--导航条-->
<include file="Public/nav"/>
<!--导航条 end-->
<!--content-->
<form action ="{:U('Home/Shop/apply')}" id="js-form" method="post" class="content g3c bgwh">
    <h3 class="g3c rel">入驻申请信息<i class="dib g8c f12">Application</i></h3>
    <div>
        <label for="name">店铺名称</label>
        <input id="name" name="name" notNull="名称" class="js-data js-name" type="text">
    </div>
    <div>
        <label>营业执照</label>
        <div class="dib upImg fn-clear">
            <lable  class="imgdiv l" id="imgdiv" for="up_img"><img src="__PUBLIC__{$company.licensepic}" id="imgShow" width="100" height="100" /></lable>
            <!--<div class="l">-->
                <!--<p class="g8c  hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>-->
                <!--<p class="g8c  hidden-xs">推荐尺寸 472*280 px的图片</p>-->
                <!--<div class="up_img rel">-->
                    <!--<input type="file" id="up_img" value="上传"/>-->
                    <!--<label class="abs" for="up_img">上传</label>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div>
        <div class="dib">
            <div>
                <label for="tel">联系人</label>
                <input id="tel" name="contact" notNull="联系人" class="js-data js-contact" type="text">
            </div>
            <div>
                <label for="introduce">店铺介绍</label>
                <textarea id="introduce" class="js-data" notNull="介绍" name="intro"></textarea>
            </div>
        </div>
        <!--<div class="dib g8c explain  hidden-xs">-->
            <!--<h4>申请说明:</h4>-->
            <!--<ul>-->
                <!--<li>图片不得大于4M (jpg、gif、png、bmp)</li>-->
                <!--<li>推荐尺寸 472*280 px的图片</li>-->
                <!--<li>温馨提示：一张漂亮的海报，会起到意想不到的效果,</li>-->
                <!--<li>它会让你的活动显得更加有吸引力，更有品质；</li>-->
                <!--<li>这将会为您的活动带来更多的用户报名哦！</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
    <a href="javascript:;" class="js-sub"><input class="b9a wh" type="button" value="提交申请"></a>
</form>
<!--content end-->
<!--底部导航&footer-->
<include file="Public/footer3"/>
<!--底部导航&footer end-->
<!--共用js-->
<script src="__PUBLIC__/scripts/base.js"></script>
<!--图片上传-->
<script src="__PUBLIC__/scripts/uploadPreview.js" ></script>
<script>
    $(document).ready(function () {
        $(".navbar-nav li:nth-child(3)").mouseout(function () {
            $(this).addClass('listBg') ;
        });
        // 上传图片预览
        window.onload = function () {
            new uploadPreview({ UpBtn: "up_img", DivShow: "imgdiv", ImgShow: "imgShow" });
        };
        //提交表单
        $(".js-sub").click(function(){
            var flag = true;
            var msg = '';
            $(".js-data").each(function(){
                if($(this).val()==''){
                    flag = false;
                    msg =' '+$(this).attr("notNull");
                }
            });
            if(!flag){
                msg+="不能为空";
                alert(msg);
            }else{
                $("#js-form").submit();
            }
        });
    })
</script>
</body>
</html>