<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ie-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [if lt IE 9]>-->
    <script src="__PUBLIC__/scripts/html5shiv.min.js"></script>
    <script src="__PUBLIC__/scripts/respond.min.js"></script>
    <!-- <![endif]-->
    <script src="__PUBLIC__/scripts/common.js"></script>
    <script src="__PUBLIC__/scripts/jquery-1.12.4.min.js"></script>
    <link href="__PUBLIC__/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/styles/footer.css">
    <link href="__PUBLIC__/styles/template.css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/shopsManagement.css" rel="stylesheet" />
    <title>店铺管理</title>
</head>
<body>
<div class="bgwh">
    <!--店铺管理shopsManagement-->
    <include file="Public/top1"/>
    <hr>
    <div class="shops fn-clear">
        <input class="f16 wh l" type="button" value="管理店铺">
        <a href="#"><img src="__PUBLIC__/images/shops/twoLogo.jpg" alt="logo"></a>
        <div class="r search rel hidden-xs"><input class="f16 g3c" type="search" placeholder="搜索您感兴趣的内容"></div>
    </div>
    <!--导航-->
    <div class=" navbar-nav  navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--折叠部分-->
        <div class="collapse navbar-collapse" id="mycollapse" >
            <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
            <ul class="nav navbar-nav">
                <li class="indexNav rel"><a href="#">首页</a></li>
                <li><a href="#">全部商品 </a></li>
                <li><a href="#">最新商品 </a></li>
                <li><a href="#">店铺活动</a></li>
            </ul>
        </div>
    </div>
    <!--导航 end-->
</div>
<!--banner上传-->
<form action="{:U('Home/Shop/editInfo',array('shopid'=>$shop.id,'uid'=>$shop.uid))}" method="post" enctype="multipart/form-data">
<div class="dib upImg fn-clear rel">
    <lable  class="imgdiv" id="imgdiv" for="up_img"><if condition="$shop.banner eq null"><img id="imgShow" src="__PUBLIC__/images/shops/twoBanner.jpg"/>
        <else/>
        <img id="imgShow" src="__PUBLIC__{$shop.banner}"/>
    </if>
    </lable>
    <input class="abs js-picture" name="picture['banner']" type="file" id="up_img" value="上传"/>
    <label class="abs upBtn f22" for="up_img">上传图片</label>
</div>
<!--banner上传 end-->
<!--content-->
<div class="content bgwh fn-clear">
    <ul class="contentL l" id="tab-icon">
        <li class="f18 g3c balckBg l">店铺资料 </li>
        <li class="f18 g3c l">商品管理 </li>
    </ul>
    <ul class="contentR r rel" id="content">
        <!--店铺资料-->
        <li class="g3c abs model-one">
            <h3 class="f18 rel">基本信息</h3>
            <div>
                <label class="f16">店铺全称</label>
                <input class="f16 js-name" name="name" value="{$shop.name}" type="text">
                <span class="f16 g8c dib hidden-xs">例如：某某信息技术有限公司</span>
            </div>
            <div>
                <label class="f16">店铺类型</label>
                <select name="type" class="dib select f20 js-type">
                    <option>请选择类型</option>
                    <foreach name="types" item="v">
                        <option value="{$v.name}" ><if condition="$shop.banner eq $v.name">selected</if>>{$v.name}</option>
                    </foreach>
                </select>
            </div>
            <div>
                <label class="f16">主营业务</label>
                <input class="f16 js-business" value="{$shop.business}" name="business" type="text">
            </div>
            <div>
                <label class="f16">介绍</label>
                <textarea class="f16 js-intro" name="intro" >{$shop.intro}</textarea>
            </div>
            <div>
                <label class="f16">logo图片</label>
                <div class="dib upImgT fn-clear">
                    <lable class="l" id="logoDiv"><img src="__PUBLIC__{$shop.logo}" id="logoImg" /></lable>
                    <div class="l f16 upImgTitle">
                        <p class="g8c hidden-xs">图片不得大于4M (jpg、gif、png、bmp)</p>
                        <p class="g8c hidden-xs">推荐尺寸 472*280 px的图片</p>
                        <p class="g8c hidden-xs hidden-sm">温馨提示：一张漂亮的海报，会起到意想不到的效果，</p>
                        <p class="g8c hidden-xs hidden-sm">它会让你的活动显得更加有吸引力，更有品质；</p>
                        <p class="g8c hidden-xs hidden-sm">这将会为您的活动带来更多的用户报名哦！</p>
                        <div class="up_imgT rel">
                            <input class="abs js-picture1" name="picture['logo']" type="file" id="logo_up" value="上传"/>
                            <label class="abs logo_up f18 wh" for="logo_Up">上传</label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label class="f16">联系人</label>
                <input class="f16 js-contact" name="contact" value="{$shop.contact}"  type="text">
            </div>
            <div>
                <label class="f16">联系电话</label>
                <input class="f16 js-mobile" name="mobile"  type="text">
            </div>
            <input class="f18 wh save js-info-sub" type="button" value="保存">
        </li>
        <!--商品管理-->
        <li style="display: none"  class="abs model-two">
            <div class="title fn-clear">
                <h3 class="f18 rel l">基本信息</h3>
                <a class="f14 g8c r" id="add-icon">添加产品</a>
            </div>
            <ul class="model-two-list fn-clear">
                <li class="l">
                    <a class="pic db rel" href="#"><img src="__PUBLIC__/images/shops/shopsManagement01.png" alt="pic"></a>
                    <h4 class="f16 g3c">企业产品展示</h4>
                    <p class="g8c f14">2017反光式取景照相机/拍出你的自信,抓拍生活细节。</p>
                    <ul class="fn-clear">
                        <li class="f14 g3c l edit">编辑</li>
                        <li class="f14 g3c r delete">删除</li>
                    </ul>
                </li>
                <li class="l">
                    <a class="pic db rel" href="#"><img src="__PUBLIC__/images/shops/shopsManagement02.png" alt="pic"></a>
                    <h4 class="f16 g3c">企业产品展示</h4>
                    <p class="g8c f14">2017反光式取景照相机/拍出你的自信,抓拍生活细节。</p>
                    <ul class="fn-clear">
                        <li class="f14 g3c l edit">编辑</li>
                        <li class="f14 g3c r delete">删除</li>
                    </ul>
                </li>
                <li class="l mr0">
                    <a class="pic db rel" href="#"><img src="__PUBLIC__/images/shops/shopsManagement03.png" alt="pic"></a>
                    <h4 class="f16 g3c">企业产品展示</h4>
                    <p class="g8c f14">2017反光式取景照相机/拍出你的自信,抓拍生活细节。</p>
                    <ul class="fn-clear">
                        <li class="f14 g3c l edit">编辑</li>
                        <li class="f14 g3c r delete">删除</li>
                    </ul>
                </li>
                <li class="l">
                    <a class="pic db rel" href="#"><img src="__PUBLIC__/images/shops/shopsManagement01.png" alt="pic"></a>
                    <h4 class="f16 g3c">企业产品展示</h4>
                    <p class="g8c f14">2017反光式取景照相机/拍出你的自信,抓拍生活细节。</p>
                    <ul class="fn-clear">
                        <li class="f14 g3c l edit">编辑</li>
                        <li class="f14 g3c r delete">删除</li>
                    </ul>
                </li>
                <li class="l">
                    <a class="pic db rel" href="#"><img src="__PUBLIC__/images/shops/shopsManagement02.png" alt="pic"></a>
                    <h4 class="f16 g3c">企业产品展示</h4>
                    <p class="g8c f14">2017反光式取景照相机/拍出你的自信,抓拍生活细节。</p>
                    <ul class="fn-clear">
                        <li class="f14 g3c l edit">编辑</li>
                        <li class="f14 g3c r delete">删除</li>
                    </ul>
                </li>
                <li class="l mr0">
                    <a class="pic db rel" href="#"><img src="__PUBLIC__/images/shops/shopsManagement03.png" alt="pic"></a>
                    <h4 class="f16 g3c">企业产品展示</h4>
                    <p class="g8c f14">2017反光式取景照相机/拍出你的自信,抓拍生活细节。</p>
                    <ul class="fn-clear">
                        <li class="f14 g3c l edit">编辑</li>
                        <li class="f14 g3c r delete">删除</li>
                    </ul>
                </li>
                <li class="l">
                    <a class="pic db rel" href="#"><img src="__PUBLIC__/images/shops/shopsManagement01.png" alt="pic"></a>
                    <h4 class="f16 g3c">企业产品展示</h4>
                    <p class="g8c f14">2017反光式取景照相机/拍出你的自信,抓拍生活细节。</p>
                    <ul class="fn-clear">
                        <li class="f14 g3c l edit">编辑</li>
                        <li class="f14 g3c r delete">删除</li>
                    </ul>
                </li>
                <li class="l">
                    <a class="pic db rel" href="#"><img src="__PUBLIC__/images/shops/shopsManagement02.png" alt="pic"></a>
                    <h4 class="f16 g3c">企业产品展示</h4>
                    <p class="g8c f14">2017反光式取景照相机/拍出你的自信,抓拍生活细节。</p>
                    <ul class="fn-clear">
                        <li class="f14 g3c l edit">编辑</li>
                        <li class="f14 g3c r delete">删除</li>
                    </ul>
                </li>
                <li class="l mr0">
                    <a class="pic db rel" href="#"><img src="__PUBLIC__/images/shops/shopsManagement03.png" alt="pic"></a>
                    <h4 class="f16 g3c">企业产品展示</h4>
                    <p class="g8c f14">2017反光式取景照相机/拍出你的自信,抓拍生活细节。</p>
                    <ul class="fn-clear">
                        <li class="f14 g3c l edit">编辑</li>
                        <li class="f14 g3c r delete">删除</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!--底部导航&footer-->
<div class="footer">
    <div class="rel f16 wh">
        <img src="__PUBLIC__/images/index/footerEWM.png" alt="EWM">
        <h4 class="f16 wh">上海维沃珂自助营销平台版权所有</h4>
        <p class=" hidden-xs">地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇凤新路158-6厂房地址：上海市嘉定区徐兴镇</p>
        <p class=" hidden-xs">电话：0000-0000-88<span class="dib">传真：0000-0000-88</span>邮箱：9937088888@163.com</p>
    </div>
</div>
    </form>
<!--底部导航&footer end-->
<!--编辑商品-->
<div id="popping" class="popping">
    <div class="poppingBg abs"></div>
    <div class="poppingCon abs bgwh">
        <div class="title rel">
            <h3 class="f22 g3c">编辑商品</h3>
            <img class="close abs" src="__PUBLIC__/images/shops/close.jpg" alt="close">
        </div>
        <div>
            <label class="f16 g3c">商品名称</label>
            <input type="text">
        </div>
        <div>
            <label class="f16">logo图片</label>
            <div class="dib upImgT fn-clear">
                <lable class="l" id="logoDiv"><img id="editImg02" /></lable>
                <div class="l f12 upImgTitle">
                    <p class="g8c hidden-xs">jpg或png格式，文件大小不超过2M</p>
                    <div class="up_imgT rel">
                        <input class="abs" type="file" id="edit_up02" value="上传"/>
                        <label class="abs logo_up f18 wh" for="logo_Up">上传</label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label class="f16 g3c">原价</label>
            <input type="text">
            <span>元</span>
        </div>
        <div>
            <label class="f16 g3c">优惠价</label>
            <input type="text">
            <span>元</span>
        </div>
        <div>
            <label class="f16 g3c">商品介绍</label>
            <textarea></textarea>
        </div>
        <div>
            <label class="f16 g3c">推荐</label>
            <ul id="recommend" class="recommend dib fn-clear recommend-Boutique">
                <li class="rel l">
                    <input class="abs" type="radio" value="精品" name="recommend">
                    <span class="f16 g78 abs recommendY">精品</span>
                </li>
                <li class="rel l">
                    <input class="abs" type="radio" value="热门" name="recommend">
                    <span class="f16 g78 abs">热门</span>
                </li>
            </ul>
        </div>
        <div>
            <label class="f16 g3c">商品状态</label>
            <ul class="recommend state dib fn-clear">
                <li class="rel l">
                    <input class="abs" type="radio" value="上架" name="state">
                    <span class="f16 g8c abs recommendY">上架</span>
                </li>
                <li class="rel l">
                    <input class="abs" type="radio" value="下架" name="state">
                    <span class="f16 g8c abs">下架</span>
                </li>
            </ul>
        </div>
        <input class="save f16 wh" type="button" value="保存">
    </div>
</div>
<!--编辑商品 end-->
<!--添加商品-->
<div class="popping" id="addition" >
    <div class="poppingBg abs"></div>
    <div class="poppingCon abs bgwh">
        <div class="title rel">
            <h3 class="f22 g3c">添加商品</h3>
            <img class="close abs" src="__PUBLIC__/images/shops/close.jpg" alt="close">
        </div>
        <div>
            <label class="f16 g3c">商品名称</label>
            <input type="text">
        </div>
        <div>
            <label class="f16">logo图片</label>
            <div class="dib upImgT fn-clear">
                <lable class="l" id="logoDiv"><img id="editImg" /></lable>
                <div class="l f12 upImgTitle">
                    <p class="g8c hidden-xs">jpg或png格式，文件大小不超过2M</p>
                    <div class="up_imgT rel">
                        <input class="abs" type="file" id="edit_up" value="上传"/>
                        <label class="abs logo_up f18 wh" for="logo_Up">上传</label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label class="f16 g3c">原价</label>
            <input type="text">
            <span>元</span>
        </div>
        <div>
            <label class="f16 g3c">优惠价</label>
            <input type="text">
            <span>元</span>
        </div>
        <div>
            <label class="f16 g3c">商品介绍</label>
            <textarea></textarea>
        </div>
        <div>
            <label class="f16 g3c">推荐</label>
            <ul  class="recommend dib fn-clear">
                <li class="rel l">
                    <input class="abs" type="radio" value="精品" name="recommend">
                    <span class="f16 g78 abs recommendY">精品</span>
                </li>
                <li class="rel l">
                    <input class="abs" type="radio" value="热门" name="recommend">
                    <span class="f16 g78 abs">热门</span>
                </li>
            </ul>
        </div>
        <div>
            <label class="f16 g3c">商品状态</label>
            <ul id="state" class="recommend state dib fn-clear">
                <li class="rel l">
                    <input class="abs" type="radio" value="上架" name="state">
                    <span class="f16 g8c abs recommendY">上架</span>
                </li>
                <li class="rel l">
                    <input class="abs" type="radio" value="下架" name="state">
                    <span class="f16 g8c abs">下架</span>
                </li>
            </ul>
        </div>
        <input class="save f16 wh" type="button" value="提交">
    </div>
</div>
<!--添加商品 end-->
    </form>
<!--图片上传-->
<script src="__PUBLIC__/scripts/uploadPreview.js" ></script>
<script src="__PUBLIC__/scripts/shopsManagement.js"></script>
</body>
</html>