<include file="Public/header"/>
<link href="__PUBLIC__/styles/template.css" rel="stylesheet" />
<link href="__PUBLIC__/styles/templateOne.css" rel="stylesheet" />
<link href="__PUBLIC__/styles/templateThree.css" rel="stylesheet" />
<title>{$shop.name}</title>
<a name="top"></a>
</head>
<body class="bgwh">
<!--店铺模板三templateThree-->
<div class="bgwh">
    <include file="Public/top1"/>
    <hr>
    <div class="shops fn-clear">
        <if condition="$status eq 1">
            <a href="{:U('Home/Shop/shopsManagement')}"><input class="f16 wh l" type="button" value="管理店铺"></a>
        </if>
        <if condition="$shop.logo eq ''">
            <a href="#"><img src="__PUBLIC__/images/shops/twoLogo.jpg" alt="logo"></a>
            <else/>
            <a href="#"><img src="__PUBLIC__{$shop.logo}" alt="logo"></a>
        </if>
        <!--<div class="r search rel hidden-xs"><input class="f16 g3c" type="search" placeholder="搜索您感兴趣的内容"></div>-->
    </div>
    <!--导航-->
    <div class=" navbar-nav  navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle " data-toggle="collapse" data-target="#mycollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--折叠部分-->
        <div class="collapse navbar-collapse" id="mycollapse" >
            <!--当屏幕宽度小于768px时 会将ul列表隐藏-->
            <ul class="nav navbar-nav">
                <li class="indexNav rel"><a href="{:U('Home/Index/index')}">首页</a></li>
                <li><a href="#all" class="js-all">全部商品 </a></li>
                <li><a href="#dis" class="js-dis">店铺活动</a></li>
                <li><a href="#new" class="js-new">最新商品 </a></li>
            </ul>
        </div>
    </div>
    <div class="banner rel">
        <!--<a href="#"><img class="img-responsive" src="../images/shops/sBanner.png" alt="bar"></a>-->
        <!--图片轮播-->
        <div class="carousel slide" id="myCarousel"  data-ride="carousel" data-interval="2000">
            <!--<ol class="carousel-indicators icon">-->
                <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
                <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
            <!--</ol>-->
            <div class="carousel-inner imgco">
                <div class="item active">
                    <if condition="$shop.banner eq ''">
                        <img src="__PUBLIC__/images/shops/threeBanner.jpg" alt="banner"/>
                        <else/>
                        <img src="__PUBLIC__{$shop.banner}" alt="banner"/>
                    </if>
                </div>
                <!--<div class="item">-->
                    <!--<img src="__PUBLIC__//images/shops/threeBanner.jpg" alt="banner" />-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<img src="__PUBLIC__/images/shops/threeBanner.jpg" alt="banner"/>-->
                <!--</div>-->
            </div>
            <a class="left carousel-control" href="#myCarousel"  data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel"  data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!--图片轮播 end-->
        <div class="barLink abs f14">
            <if condition="$info.uid neq 0">
                <a class="wh" href="{:U('Home/order/orderMange')}"><p class="bg20">我的<br/>订单</p></a>
            </if>
            <input type="hidden" value="{$info.uid}" class="js-uid"/>
            <input type="hidden" value="{$shop.shopid}" class="js-shopid"/>
            <a class="wh js-collect" href="javascript:;"><p class="b6">收藏<br/>本店</p></a>
            <a class="wh barTop" href="#top"><p class="bd1">TOP</p></a>
        </div>
    </div>
</div>
<!--导航 end-->
<!--content-->
<div class="content">
    <!--店家推荐-->
    <div class="recommend">
        <h2><img src="__PUBLIC__/images/shops/threeRecommend01.png" alt="recommend"></h2>
        <ul class="fn-clear">
            <volist name="hots" id="vo" offset="0" length="4">
                <li class="rel l bgwh">
                    <a class="pic rel" href="#"><img src="__PUBLIC__{$vo.picture}" alt="pic"></a>
                    <h3 class="f18 g3c">{$vo.name}</h3>
                    <p class="f20 g28">{$vo.vcoin}维币</p>
                    <a href="{:U('Home/Shop/shopPay',array('id'=>$vo['goodid']))}"><input class="f16 wh" type="button" value="立即购买"></a>
                </li>
            </volist>
        </ul>
    </div>
    <!--热门推荐-->
    <div class="hot">
        <h2 ><img src="__PUBLIC__/images/shops/threeRecommend02.png" alt="hot"></h2>
        <ul class="fn-clear bgwh">
            <volist name="pushs" id="vo" offset="0" length="3">
                <li class="l"><img src="__PUBLIC__{$vo.picture}" alt=""></li>
                <li class="l hover">
                    <h3 class="f20 g28">{$vo.vcoin}维币</h3>
                    <p class="f16 g3c">{$vo.name}</p>
                    <a href="{:U('Home/Shop/shopPay',array('id'=>$vo['goodid']))}"><input class="f16 wh" type="button" value="立即购买"></a>
                </li>
            </volist>
        </ul>
    </div>
    <!--更多分类-->
    <div class="classify">
        <h2 ><img src="__PUBLIC__/images/shops/sHot.png" alt="hot"></h2>
        <ul class="fn-clear classifyTab">
            <li class="f18 g3c l js-all-nav">所有商品</li>
            <li class="f18 g3c l btnClick js-dis-nav">最新活动</li>
            <li class="f18 g3c l js-new-nav">最新商品</li>
        </ul>
        <ul id="classifyList" class="classifyList rel bgwh">
            <li style="display: none" class="js-all-content">
                <a name="all"></a>
                <ul class="fn-clear classifyCon">
                    <foreach name="goods" item="vo">
                        <li class="l rel <?php if(($k+1)%3==0){echo 'marNone';};?> ">
                            <div class="pic"> <img src="__PUBLIC__{$vo.picture}" style ="width:100%;"  alt="classify01"></div>
                            <h4 class="f16 g3c">{$vo.name}</h4>
                            <h5 class="f20 g3c">{$vo.vcoin}<i class="f14">维币</i><i class="f14">({$vo.nowprice})</i><span class="f14 g8c rel">({$vo.price})</span></h5>
                            <div class="fn-clear">
                                <a href="{:U('Home/Shop/shopPay',array('id'=>$vo['goodid']))}"><input class="f16 g3c l bgwh" type="button" value="立即购买"></a>
                                <!--<p class="f14 gc4 r hidden-xs">还剩<span>16</span>件</p>-->
                            </div>
                        </li>
                    </foreach>
                </ul>
            </li>
            <li class="js-dis-content">
                <a name="dis"></a>
                <ul class="fn-clear classifyCon">
                    <foreach name="discount" item="vo" key="k">
                        <li class="l rel <?php if(($k+1)%3==0){echo 'marNone';}; ?> ">
                            <div class="pic"> <img src="__PUBLIC__{$vo.picture}" alt="classify01"></div>
                            <h4 class="f16 g3c">{$vo.name}</h4>
                            <h5 class="f20 g3c">{$vo.vcoin}<i class="f14">维币</i><i class="f14">(￥{$vo.nowprice})</i><span class="f14 g8c rel">(￥{$vo.price})</span></h5>
                            <div class="fn-clear">
                                <a href="{:U('Home/Shop/shopPay',array('id'=>$vo['goodid']))}"><input class="f16 g3c l bgwh" type="button" value="立即购买"></a>
                                <!--<p class="f14 gc4 r hidden-xs">还剩<span>16</span>件</p>-->
                            </div>
                            <span class="abs classifyLink f16 wh">特惠</span>
                        </li>
                    </foreach>
                </ul>
            </li>
            <li  style="display: none" class="js-new-content">
                <a name="new"></a>
                <ul class="fn-clear classifyCon">
                    <foreach name="newShops" item="vo">
                        <li class="l rel <?php if(($k+1)%3==0){echo 'marNone';};?> ">
                            <div class="pic"> <img src="__PUBLIC__{$vo.picture}" alt="classify01"></div>
                            <h4 class="f16 g3c">{$vo.name}</h4>
                            <h5 class="f20 g3c">{$vo.vcoin}<i class="f14">维币</i><i class="f14">(￥{$vo.nowprice})</i><span class="f14 g8c rel">(￥{$vo.price})</span></h5>
                            <div class="fn-clear">
                                <a href="{:U('Home/Shop/shopPay',array('id'=>$vo['goodid']))}"><input class="f16 g3c l bgwh" type="button" value="立即购买"></a>
                                <!--<p class="f14 gc4 r hidden-xs">还剩<span>16</span>件</p>-->
                            </div>
                        </li>
                    </foreach>
                </ul>
            </li>
        </ul>
    </div>
    <!--更多分类 end-->
</div>
<!--footer-->
<include file="Public/footer3" />
<!--footer end-->
<!--悬停订单..-->
<div class="barLink abs f14">
    <if condition="$info.uid neq 0">
        <a class="wh" href="{:U('Home/order/orderMange')}"><p class="bg20">我的<br/>订单</p></a>
    </if>
    <input type="hidden" value="{$info.uid}" class="js-uid"/>
    <input type="hidden" value="{$shop.shopid}" class="js-shopid"/>
    <a class="wh js-collect" href="javascript:;"><p class="b6">收藏<br/>本店</p></a>
    <a class="wh barTop" href="#top"><p class="bd1">TOP</p></a>
</div>
<!--悬停订单.. end-->
<script src="__PUBLIC__/scripts/postDetails.js"></script>
<script src="__PUBLIC__/scripts/template.js"></script>
<script src="__PUBLIC__/scripts/bootstrap.min.js"></script>
</body>
</html>